{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block head %}
<style>
p.email {
	margin-bottom: 31px;
    margin-top: -12px;
}
h3 {
	background: none;
}
</style>
{% endblock %}
{% block content %}

<div class="content about_team">
	<div class="col_9 col_top team">
		<h1 class="rule_btm">The Team</h1>

		<h3 class="no_rule">Founders</h3>

		<div class="section"> 
			<div class="col_4_5 "> 
				<img class="team_img" src="/media/photos/marci_harris_popvox_ceo.jpg" alt="Marci Harris" width="301" height="300"/> 
				<h3>Marci Harris</h3> 
				<h4>Chief Executive Officer</h4> 
				<p class="email">{% obfuscated_email "marci@popvox.com" %}</p>
				<p>Marci Harris began public service work as Tornado Recovery Coordinator for Jackson, Tenn., working with private and public organizations and state, local and federal agencies to marshall resources and rebuild. In 2007, she became Tax, Trade, and Health Counsel to Pete Stark, then-Chairman of the Health Subcommittee of Ways and Means, and was Committee lead for Medicare Program Integrity and Physician Payments Sunshine provisions of the House health reform bill. She left the Hill in February 2010 to build POPVOX.  She holds a J.D. from the University of Memphis and an LL.M from American University’s Washington College of Law.</p>
			</div> 
			
			<div class="col_4_5 col_last "> 
				<img class="team_img" src="/media/photos/rachna_choudhry_popvox_cmo.jpg" alt="Rachna Choudhry" width="301" height="300"/> 
				<h3>Rachna Choudhry</h3> 
				<h4>Chief Marketing Officer</h4>
				<p class="email">{% obfuscated_email "rachna@popvox.com" %}</p>
                <p>Rachna Choudhry is responsible for our outreach to advocacy organizations and trade associations, marketing to individual users and assists with outreach to Congressional staff.  She is based in Washington, DC. Rachna comes to POPVOX with a background in federal lobbying, issue advocacy and social media strategy for a variety of national issue-based and advocacy organizations. Most recently, she worked as a lobbyist for the National Partnership for Women & Families where she promoted policies that addressed the needs of working women. She earned a Master of Public Policy from Georgetown University and a Political Science degree from UCLA.</p> 
            </div> 
            <div class="clear"> </div> 
        
            
            <div class="col_4_5 col_last"> 
                <img class="team_img" src="/media/photos/tim_orielly_popvox_advisor.jpg" width="125" height="150"/> 
                <h3>Tim O&rsquo;Reilly</h3> 
                <h4>Founding Advisor</h4> 
                <p>Tim O'Reilly is the founder and CEO of O'Reilly Media, Inc., a book publisher and the host of conferences on technology topics, including the Web 2.0 Summit, the Web 2.0 Expo, the Gov 2.0 Summit, and the Gov 2.0 Expo. Since 1978, Tim has led the company&rsquo;s pursuit of its core goal: to be a catalyst for technology change by capturing and transmitting the knowledge of innovators. <span style="font-size: 75%; color: #666">(Photo by <a href="www.briansolis.com">Brian Solis</a>.)</span></p> 
			</div> 
			<div class="clear"> </div> 
		</div>
		
		<div class="col_12 rule team">
			<div class="section">
				<h3 class="no_rule">Staff</h3>
			
				<div class="col_4"> 
					<img class="team_img" src="/media/photos/william_donnell_popvox_lead_designtist.jpg" width="220" height="220"/> 
					<h3>William Donnell</h3> 
					<h4>Lead Designtist</h4> 
					<p>William Donnell, Lead Designtist, was a founding member of our team and is in charge of user experience, user interface and overall design for the site. William uses his nine years of experience running the award-winning <a href="http://sodiumhalogen.com/">Sodium Halogen</a> design shop in Jackson, Tenn., to make sure that POPVOX.com is intuitive, functional and visually appealing. As the team member with the least amount of background in the political arena, William champions the perspective of the average citizen.</p> 
				</div> 
				
				<div class="col_4"> 
					<img class="team_img" src="/media/photos/ben_harris_popvox_cfo.jpg" width="220" height="220"/> <br />
					<h3>Ben Harris</h3> 
					<h4>COO</h4> 
					<p>Ben is our spreadsheet master, paperwork wrangler and human resources artist. After completing his BS in 2001 at Embry Riddle Aeronautical University (yes, he's a pilot and mechanic), he found his calling as a bean counter through real estate development and as a successful small business entrepreneur.</p>
				</div>
	
				<div class="col_4 col_last"> 
					<img class="team_img" src="/media/photos/annalee_flower_horne_popvox_dev.jpg" width="220" height="220"/> 
					<h3>Annalee Flower Horne</h3> 
					<h4>Developer</h4> 
					<p>Annalee Flower Horne came to POPVOX from Capitol Hill, where she served as
					a staff assistant to a congressman. There, her responsibilities
					included managing the congressman&rsquo;s website and sorting the office&rsquo;s
					incoming email &mdash; a task that really made her appreciate POPVOX&rsquo;s mission. She
					joined POPVOX in May 2011.</p>
				</div>
				<div class="clear"> </div>
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/mackenzie_morgan_popvox.jpg" width="183" height="181"/> 
					<h3>Mackenzie Morgan</h3>
					<h4>Developer</h4>
					<p>Mackenzie got involved with open government data when she was trying to decide between an International Affairs degree and a Computer Science degree her second year of college. Computer Science won, and 5 years of open source development experience later, she came back to the open gov side of things by joining POPVOX.</p>
				</div>	

				<div class="col_3"> 
					<img class="team_img" src="/media/photos/nate_walton_popvox.jpg" width="183" height="181"/> 
					<h3>Nate Walton</h3>
					<h4>Political Consultant</h4>
					<p>Nate Walton advises on marketing strategies and assists with outreach to policy organizations, interest groups and congressional campaigns. He began his career in politics as state chairman of the nationally-recognized Maine College Republicans, and has held leadership roles on numerous campaigns on the local, state, and national levels. Currently, he serves as a member of the National Finance Committee for Gov. Mitt Romney's presidential campaign. Prior to founding his own political consulting firm, Sachem Strategies, Nate was a research assistant at Harvard, where he worked on a U.S. Defense Department grant. He holds a B.A. in political science from Bates College and is working toward a Master of Public Policy at Brown University.</p>
				</div>	
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/KEN_TAI!_popvox_ninja.jpg" width="183" height="181"/>			
					<h3>Ken Tai</h3>
					<h4>Data Assistant</h4>
					<p>Ken graduated from St. Mary&rsquo;s College of Maryland with degrees in Mathematics and Economics. He is also a skateboard designer. These unique skills come in handy at POPVOX: Ken is our resident &ldquo;numbers whisperer,&rdquo; creating info graphics that explain legislative outcomes and visualizations of POPVOX&rsquo;s most popular bills. Ken is also a concert-trained violinist and studied music at Rice University. He&rsquo;s originally from Bethesda, Maryland but currently lives in the District of Columbia.</p>		
				</div>
				
				<div class="col_3 col_last"> 
					<img class="team_img" src="/media/photos/peter_cook_popvox.jpg" width="183" height="181"/>			
					<h3>Peter Cook</h3>
					<h4>Intern</h4>
					<p>Peter is currently a George Washington University student, graduating in 2013 with degrees in Marketing and Political Science. He joined the POPVOX team in June 2011, and assists with managing POPVOXnation, from creating Issue Spotlights to hand-delivering messages to Congress. Peter is originally from Chatham, New Jersey. When he&rsquo;s not in class or working with the POPVOX team at various coffee shops around town, he enjoys competing in triathlons.	</p>
				</div>
				<div class="clear"> </div>
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/wesley_haines_popvox.jpg" width="183" height="181"/>
					<h3>Wesley Haines</h3>
					<h4>Intern</h4>
					<p>Wes is currently finishing his undergraduate career at American University in Washington, D.C., graduating with two degrees in Art History and Media and Government, as well as minor in Political Science. He&rsquo;s been a part of the POPVOX team since June 2011. Originally hailing from the San Francisco Bay Area, he grew up with an appreciation for neutrality in politics--living in a traditional conservative household while surrounded by the highly progressive and liberal political climate of Northern California. Yet after a few years in the District, Wesley considers our nation&#x27;s capital his new home.	</p>
				</div>
			
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/gordon_chaffin_popvox.jpg" width="183" height="181"/>
					<h3>Gordon A. Chaffin</h3>
					<h4>Intern</h4>
					<p>Gordon is our eyes and ears on Capitol Hill, tracking legislation and tailoring our message to what&#x27;s hot in Congress.  Having worked on both sides of the aisle, and in both the public and private sectors, he brings a versatile knowledge base to further the POPVOX mission. A veteran blogger, his work with the social web colors his passion for reforming the legislative process. Gordon is a University of Michigan graduate and is currently an M.P.P. candidate at George Washington University.</p>
				</div>
				<div class="clear"> </div>
			</div> <!-- e: section -->	
		</div> <!-- e: col_12 -->
		
		<div class="col_12 rule team">
			<div class="section">
				<h3 class="no_rule">Advisors</h3>
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/tim_orielly_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Tim O&rsquo;Reilly</h3> 
					<h4>Founding Advisor</h4> 
					<p>Tim O'Reilly is the founder and CEO of O'Reilly Media, Inc., a book publisher and the host of conferences on technology topics, including the Web 2.0 Summit, the Web 2.0 Expo, the Gov 2.0 Summit, and the Gov 2.0 Expo. Since 1978, Tim has led the company&rsquo;s pursuit of its core goal: to be a catalyst for technology change by capturing and transmitting the knowledge of innovators. <span style="font-size: 75%; color: #666">(Photo by <a href="www.briansolis.com">Brian Solis</a>.)</span></p> 
				</div> 
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/janice_frasier_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Janice Fraser</h3> 
					<h4>Advisor</h4>
					<p>Janice Fraser is CEO of <a href="http://luxr.posterous.com/">LUXr</a>, the Lean User Experience residency program. She was co-founder of Adaptive Path, a noted experience design firm, and served as the company’s first CEO. Adaptive Path developed and sold a product to Google and coined the term Ajax.</p>
				</div>			
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/laurence_gold_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Laurence Gold</h3> 
					<h4>Advisor</h4>
					<p>Laurence E. Gold focuses his law practice at Trister, Ross, Schadler &amp; Gold, PLLC in Washington, DC on advising advocacy groups and associations on navigating campaign finance, election, tax and lobbying laws to achieve their political and policy agendas.</p>
				</div> 
	
				<div class="col_3 col_last"> 
					<img class="team_img" src="/media/photos/jeremy_lizt_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Jeremy Lizt</h3> 
					<h4>Advisor</h4>
					<p>Jeremy Lizt is founder and Vice President of Engineering at <a href="http://www.rapleaf.com/">RapLeaf</a>, an internet personalization company. Previously, he was Senior Development Manager in Oracle's server division and a founding member of Oracle's application server team.</p>
				</div> 
				<div class="clear"> </div>
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/paul_martino_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Paul Martino</h3> 
					<h4>Advisor</h4>
					<p>Paul Martino, Managing Director of BullPen Capital, is the founder of four companies including Tribe Network, one of the first social networks, with Mark Pincus, Chris Law, and Valerie Syme; and most recently, <a href="http://www.aggregateknowledge.com/leadership.html">Aggregate Knowledge</a>.</p>
				</div>			
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/maria_thomas_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Maria Thomas</h3> 
					<h4>Advisor</h4>
					<p>Maria Thomas is the former CEO of craft marketplace <a href="http://www.etsy.com/">Etsy</a>. She most recently led judging for the Knight News Challenge “to create the future of news media.” Thomas was also the head of NPR digital for more than six years, and prior to that Thomas spent three years at Amazon.com.</p>
				</div>	
				<div class="clear"> </div>
				
			</div> <!-- e: section -->	
		</div> <!-- e: col_12 -->
		
		<div class="col_12 rule team">
			<div class="section">
				<h3 class="no_rule">Alumni</h3>
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/joshua_tauberer_popvox_alum.jpg" alt="Joshua Tauberer" width="183" height="181"/> 
					<h3>Joshua Tauberer</h3> 
					<h4>Founder</h4>
					<p><a href="http://razor.occams.info">Joshua Tauberer</a> has been transforming government data into people-empowering applications for the last 8 years. His award-winning website <a href="http://www.govtrack.us">GovTrack.us</a>, launched in 2004, tracks the U.S. Congress and spurred the national open government data community. He is published in <a href="http://www.amazon.com/Open-Government-Collaboration-Transparency-Participation/dp/0596804350"> Open Government: Collaboration, Transparency, and Participation in Practice</a> (2010, O’Reilly Media). He holds a Ph.D. from the University of Pennsylvania.</p>
				</div> 
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/devin_patel_popvox_alum.jpg" alt="Devin Patel" width="183" height="181"/> 
					<h3>Devin Patel</h3> 
					<p>Devin Patel is a graduate of James Madison University, where he lead the NetImpact Social Entrepreneurship chapter and garnered entrepreneurial accolades as a finalist in the Booz Allen Business Case Competition, winner of the JMU innovation challenge, regional winner of the Walmart Sustainable Business Plan competition at the Wharton School of Business and as a Dell "StartingBloc" Fellow.<br /><br />After interning with startups that include the Teaching Company, TroopSwap, and LivingSocial (and POPVOX!), Devin is joining the Salesforce product development team.</p>
				</div> 
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/miranda_gail_popvox_alum.jpg" alt="Miranda Gail" width="183" height="181"/> 
					<h3>Miranda Gale</h3> 
					<p>Miranda is a 2011 graduate of American University, where she studied Marketing and Public Communications. In her first position out of school, Miranda conducted Capitol Hill outreach for POPVOX, promoted launch events, and assisted with digital strategy.<br /><br />Currently, Miranda is the Special Events Assistant at the Smithsonian Institution's Freer and Sackler Galleries. </p>
				</div> 
				
				
				
				<div class="clear"> </div> 
			</div> <!-- e: section<em></em> -->
		
		</div> <!-- e: col_12 -->


</div><!-- e: content -->

{% endblock %}
