{% extends "master.html" %}
{% block title %}How POPVOX Works{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content howitworks">
	<div class="col_8 col_top">
		<h1>How POPVOX Works</h1>
	
		<p>POPVOX was designed by <a href="team">people who understand Congress</a> to get your message through in a way that Congress needs to receive it. POPVOX is different from other political sites.  It is not a discussion forum.  It is a place for action.</p>  
	
		<p>Individuals take action on POPVOX by writing messages in support of or opposition to bills before Congress. By tying your input to a <strong>specific bill</strong>, you are doing more than expressing an opinion, you are asking that your legislator take <strong>specific action</strong>. While your comment will be anonymous to the general public, you will provide your name and address which we will forward on to Members of Congress.</p>
	</div>
	
	<div class="col_4 col_top col_last">
		<img src="/media/master/about_tragedy.gif" title="The Tragedy of Advocacy"/>
		<center style="margin: 0 1em; font-size: 12px">The Tragedy of Advocacy: Much of the technology that simplifies contacting Congress has made it more difficult for Congress to get a read on what is being said.</center>
	</div>
	
	<div class="clear"> </div>
	
	<div class="col_1 col_top">
		&nbsp;
	</div>
	
	<div class="col_8 col_top">

		<h2>Be counted when decisions are made. With POPVOX your voice is:</strong></h2>
	
		<div class="col_3"><img src="/media/master/hm_verified.gif"/></div>
		<div class="col_5 col_last"><p>Congress takes messages more seriously when you stand behind your message with a name and address, and when they know whether or not you are one of their constituents. To maximize the effectiveness of your message, you must provide your name and address.</p></div>
		<div class="clear"> </div>
	
		<div class="col_3"><img src="/media/master/hm_quantified.gif"/></div>
		<div class="col_5 col_last"><p>POPVOX is a real-time metric of public sentiment in each district or state, tied to specific bills.  Since this information is public, transparent, and free, people across the country, as well as organizations and the media, can get the “real story” on what issues are truly important to us.</p></div>  
		<div class="clear"> </div>
	
		<div class="col_3"><img src="/media/master/hm_amplified.gif"/></div>
		<div class="col_5 col_last"><p>Advocacy organizations and other groups will send their members to POPVOX to take action on bills pending before Congress.  Quantified data is a great way to add leverage to your campaigns.</p></div>
		<div class="clear"> </div>
	
		<p>POPVOX puts your messages on an open and trusted (and nonpartisan) common ground. Congressional staff and lawmakers log into POPVOX to measure the pulse of their district, while members of the press will use POPVOX to research stories and hold Congress accountable.</p>
	
		<p>Participation is free for individuals, advocacy organizations, and Congress. Any nonprofit advocacy organization can be a part of the process.</p>
	</div>
	
	<div class="clear"> </div>
	
	<div class="col_9 col_top">
		<h2>Why it will work</h2>
	
		<p>The key to POPVOX is <strong>transparency and accountability</strong>.   POPVOX goes beyond just getting your message to Congress.  It ensures that your input is “counted.”  Instead of relying on overworked Congressional staff with inadequate tools to process your message through their office procedures, POPVOX counts the positions you take on a specific bill and catalogs your message so that Congressional staffers &mdash; and others looking for information on the issue &mdash; can assess what people are really saying.  When the information coming into your Members of Congress is public, counted, sorted and searchable, your voice is amplified &mdash; and Congress can’t ignore it.  </p>
		
		<h2>What do I do? (For Individuals)</h2>
	
		<p><strong>Find a bill endorsed by an organization.</strong> When you come to POPVOX with an issue in mind that is important to you, you can find a bill that’s related to the issue which you can support or oppose. A simple way to find relevant legislation is to search our <a href="/orgs">Advocacy Directory</a> for an organization that you support.</p>
	
		<p><strong>Advanced: Find a bill via search.</strong> The advanced route to finding a bill is to browse the <a href="/bills">“hot” legislation before Congress</a> for a bill you recognize from the news, or to <a href="/bills">search all bills</a> in Congress using keywords. But you may need to do some research to find out what each bill is about before commenting on it.</p>
	
		<h2>For Organization Staff / Legislative Staff</h2>
		
		<p>See <a href="/accounts/register/orgstaff">Registering Your Organization</a> or <a href="/accounts/register/legstaff">Resources for Legislative Staff</a>.</p>
		
		<h2>More about POPVOX</h2>
	
		<p>POPVOX is nonpartisan. Processes are automated to the greatest extent possible.  Information about bills comes from organizations across the political spectrum.  POPVOX just provides a platform for that information to be displayed in one place and in a way that enables you to find out more about the organizations providing the information. You can judge for yourself whether it comes from a trusted source. See our <a href="principles">Company Philosophy</a>.</p>
	
		<ul class="bullets">
		<li>Information about legislation including bill titles, summarizes, and status comes from the nonpartisan Library of Congress, via <a href="http://www.govtrack.us">GovTrack.us</a> (which is run by our CTO).</li>
		<li>Additional bill summaries are submitted by organizations that are registered on POPVOX. These summaries are clearly labeled with their author.</li>
		<li>We will be adding information about official positions taken by Members of Congress as submitted through a verified account.</li>
		</ul>
    </div>
    
	<div style="overflow: none; padding-top: 124px" class="col_3 col_last">
		<img src="/media/master/about_bills.gif" title="Quantifying Constituent Sentiment" style="float: right"/>
	</div>
	
</div>
{% endblock %}
