{% extends "master.html" %}
{% block title %}POPVOX - About - Company Philosophy{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Five principles guide our company/{% endblock %}
{% block content %}

<div class="section">
	
	<div class="col_12 col_top col_last company_philosophy">
		<h1>Company Philosophy</h1>
		<p>POPVOX’s founders came together in 2010 to tackle a big problem &mdash; that communication with the U.S. Congress was broken &mdash; and built this website with these guiding principles:</p> 
		
		<ol>
		<li>
			<strong>Solving the problem of communication with Congress.</strong>
			<div>Constituent communications are flooding Congressional offices, often prompted by third-party organizations. The resulting logjam makes it increasingly inefficient for individuals and advocacy groups to express their views to their elected officials. The solution involves bringing to the table the four stakeholders &mdash; individuals, Congressional staff, advocacy organization/trade group staff, and the media &mdash; to form a marketplace of ideas that is not ruled by those who shout the loudest.</div>
		</li>
		<li>
			<strong>Building a business without compromising our integrity.</strong>
			<div>POPVOX is a business. Like many web-based businesses, we sell advertising based on information users have entered into the site, such as their location and what issues interest them, and we will provide other subscription services. However, we will do so in a way that does not compromise our users’ privacy and the integrity of the website.</div>
		</li>
		<li>
			<strong>Never editorializing.</strong>
			<div>We don’t choose what issues are important or whose comments should be listed first, and we don’t delete comments or ban users except in cases of clear abuse of the platform POPVOX provides (see appropriate uses below). When there are too many comments on an issue to display them all, we unleash POPVOX’s artificial intelligence to pick out the most useful based on past user feedback.</div>
		</li>
		<li>
			<strong>Staying transparent.</strong>
			<div>Because we hope POPVOX will serve an important function in the political process, POPVOX is committed to remaining transparent in its own operations and making its aggregate statistics on constituent sentiment available to all. We will continue to be vested in the open government and open source software communities.</div>
		</li>
		<li>
			<strong>Protecting our users.</strong>
			<div>Social norms for online privacy are constantly changing, but we are committed to letting our users be in control of the information they provide to POPVOX. That means that privacy controls will always be opt-in and users will always be able to permanently remove any personal information from POPVOX.</div>
		</li>
		<li>
			<strong>Encouraging appropriate use of POPVOX.</strong>
			<div>POPVOX is a soapbox to quantify and amplify your voice on matters before the U.S. Congress. It is not a forum for general political discussion and we encourage the use of a civil tone. While we hope we will not have to interfere with comments posted on the website, comments threatening violence or inciting criminal behavior will be removed. There is no reason why a comment expressing your opinion should ever come close to crossing this line so we do not expect this to be a problem.</div>
		</li>
		</ol>
	</div>
</div>

{% endblock %}
