{% extends "static/about-sidebar.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content about_pg">
    <div class="col_9 col_top what_popvox">
        <h1>What is POPVOX?</h1>
        <div class="clear block">
			<img src="/media/images/about_map_example.jpg" alt="about_map_example" width="330px" class="img_r img_what" />
	        <h2>POPVOX is a direct connection to your Members of Congress</h2> 
	        <p>and a real time snapshot of the conversations others are having with lawmakers on the issues you care about. Each pending bill has its own page that gauges support and opposition in easy-to-understand graphs and pie charts.</p>
	        
			<h3>Why Use POPVOX?</h3>
			<p>Anyone can write to Congress, but lawmakers only want to hear from constituents, people who live in their district or state. <strong>POPVOX verifies that you’re a real person and an actual constituent — and guarantees delivery of your message.</strong> While we can’t promise that your lawmakers will read your letter, a verified constituent is hard to ignore.</p>
			<div class="clear"> </div>
		</div>

        <div class="clear block">
			<img src="/media/images/about_petition.jpg" alt="about_petition" width="330px" class="img_r img_sign" />
			<h3>Why not sign a petition?</h3>
			<p>There is power in numbers — but numbers of verified constituents who take the time to express their own thoughts. On the left is an actual petition launched by a major corporation. Obviously fake and even offensive “names” on the petition make a mockery of a serious issue, and seriously undercut all the well-meaning people who took the time to sign. Lawmakers expect these junk signatures — and view petitions as little more than spam. <strong>POPVOX’s verification process and real-time data makes petitions, whether they’re on paper or online, obsolete.</strong>
			<div class="clear"> </div>
		</div>

		<h3>Why does POPVOX need my personal information?</h3>
		<p>We use your information for one purpose only — verifying your address with the U.S. Postal Service and passing it on to your elected officials so they know you’re a real constituent. <strong>On POPVOX, we will NEVER share your private details with anyone.</strong></p>
       
        <div class="clear"></div>
    </div><!-- e: col_9 -->
</div>
{% endblock %}
