{% extends "static/about-sidebar.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content about_pg">
	<div class="col_9 col_top">
		<h1>About POPVOX.com</h1>
		<h2 class="brackets">POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.</h2> 
		<p>Constituent communications are flooding and overwhelming Congressional offices. POPVOX verifies, aggregates, and simplifies communication with Congress on an open and trusted (and nonpartisan) common ground.  Advocacy organizations, trade associations, unions and other groups send their members to POPVOX to take action on bills pending before Congress. Congressional staff and lawmakers log into POPVOX to measure the pulse of their district. POPVOX provides a curating interface for anyone &mdash; including Congressional staff, the public and the media &mdash; to access and understand the voice of the people.</p>
		<div><a href="/about/whyitworks" class="btn b_read_more">Read More</a></div>
		<div class="clear"></div>

		<div class="col_4_5 col_top">
			<h3>ABOUT THE TEAM</h3>
			<div class="team_img team_sm">
				<a href="/about/team"> <img class="team_img first" src="/media/photos/marci_harris_popvox_ceo.jpg" alt="Marci Harris" width="150px"/></a>
				<a href="/about/team"><img class="team_img" src="/media/photos/rachna_choudhry_popvox_cmo.jpg" alt="Rachna Choudhry" width="150px"/></a>
				<div class="clear"> </div>
			</div>
			<p>The unique expertise of POPVOX&rsquo;s founders drives POPVOX&rsquo;s mission and methods. Covering the three main users of the website, the founders are a former counsel for a U.S. congressman, a former lobbyist with 12 years of advocacy experience, and a technologist who has played a leading role in the new open government movement.</p>
			
			<div><a href="/about/team" class="btn b_read_more">Read more</a></div>
		</div>
	
		<div class="col_4_5 col_top col_last">
			<div class="mini-map">
				<h3>HR3 No Tax Payer Funding For Abortion</h3>
				<div class="map"></div>
				<div class="chart">
					<p class="chart_stats">
						<span class="pie"></span><br />
						<span class="bg_support">62% Support <!-- 8 --></span><br />
						<span class="bg_oppose">38% Oppose <!-- 5 --></span><br />
						<span class="users">(1790 total users)</span>
					</p>
				</div>
				<div id="chart_time_0">
					<p>put chart here</p>
				</div>
				<p class="foot_text">Real-time sentiment registered on <a href="http://www.popvox.com">www.popvox.com</a></p>	
					
			</div> 
			<div class="clear"> </div>
			 <iframe  src="https://annalee.popvox.com/services/widgets/w/account/DQZUTLYRW4K1FK1O/writecongress?franking=true&iframe=1&ocp=1469&sbg=B33220&sbg2=B7BEC0&sfg=ffffff&lnk=B33220&bg=ffffff&fg=254F66&fg2=555555" width="460" height="700" border="0" frameBorder="0"> </iframe>
			 <div style="margin-top: -40px;	z-index: 1000; padding: 6px 30% 0; text-align: center; width: 255px; background: #fff">
				<p style="font: 13px/18px helvetica,arial,sans-serif;"><a style="background: #fff url(https://www.popvox.com/media/icons/sm/logo_pv_small_o.png) right top no-repeat; color: #CC6A11; display: block; width: 200px; height: 22px; font-weight: bold;	margin: 0; text-align: left;" href="http://www.popvox.com" target="_blank">powered by <span style="text-indent: -999em;">popvox.com</span></a></p>
			 </div>
			
			<ol class="bullets">
				<li>Solving the problem of communication with Congress</li>
				<li>Building a business without compromising our integrity</li>
				<li>Never editorializing</li>
				<li>Staying transparent</li>
				<li>Protecting our users</li>
				<li>Encouraging appropriate use of POPVOX</li>
			</ol>
			
			<div><a href="/about/principles" class="btn b_read_more">Read More</a></div>

			<div class="block mar_top">
				<div class="widget">
					<h3 class="no_rule">Link to us:</h3>
					<a href="https://www.popvox.com/bills"><img src="https://www.popvox.com/media/buttons/popvox_bills_widget.gif" alt="write congress at POPVOX" width="158" height="100" border="0"/></a><br /><br />
					Copy this HTML: <input type="text" value="&lt;a href=&quot;https://www.popvox.com/bills&quot;>&lt;img src=&quot;https://www.popvox.com/media/buttons/popvox_bills_widget.gif&quot; alt=&quot;write congress at POPVOX&quot; width=&quot;158&quot; height=&quot;100&quot; border=&quot;0&quot;/>&lt;/a>" style="width: 200px; font-size: 85%"/>
				</div>
			</div><!-- e: block -->
		</div>
	</div><!-- e: col_9 -->
</div>
{% endblock %}
