{% extends "master.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="section">
	<div class="col_9 col_top col_last">
		<h1>About POPVOX.com</h1>
		<h2>POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.</h2> 
		<p>Constituent communications are flooding and overwhelming Congressional offices. POPVOX verifies, aggregates, and simplifies communication with Congress on an open and trusted (and nonpartisan) common ground.  Advocacy organizations, trade associations, unions and other groups send their members to POPVOX to take action on bills pending before Congress. Congressional staff and lawmakers log into POPVOX to measure the pulse of their district. POPVOX provides a curating interface for anyone &mdash; including Congressional staff, the public and the media &mdash; to access and understand the voice of the people. (<a href="/about/howitworks">More</a>)</p>
		<p>For inquiries, please <a href="/about/contact">contact us</a>.</p>
	</div>
</div>

<div class="content">
	<div class="col_6 col_top">
		<h3>The Team</h3>
		<p>The unique expertise of POPVOX&rsquo;s founders will be leveraged as the site is built out. Covering the three main users of the website, the founders are a former counsel for a U.S. congressman, a former lobbyist with 12 years of advocacy experience, and a technologist who has played a leading role in the new open government movement.</p>
		
		<div style="margin: .75em; text-align: center">
			<img src="/media/photos/marci.jpg" alt="Marci Harris" width="60" height="72"/>
			<img src="/media/photos/rachna.jpg" alt="Rachna Choudhry" width="60" height="72"/>
			<img src="/media/photos/josh.jpg" alt="Josh Tauberer" width="60" height="72"/>
			<img src="/media/photos/william.jpg" width="57.6" height="72"/>
		</div>
		
		<p>Read more about <a href="/about/team">POPVOX&rsquo;s founders, team, and advisors</a>.</p>
	</div>
	
	<div class="col_6 col_top col_last">
		<h3>Company Philosophy</h3>
		<p>POPVOX’s founders came together in 2010 to tackle a big problem &mdash; that communication with the U.S. Congress was broken &mdash; and built this website with these guiding principles:</p> 
		
		<ol class="bullets">
		<li>Solving the problem of communication with Congress.</li>
		<li>Building a business without compromising our integrity.</li>
		<li>Never editorializing.</li>
		<li>Staying transparent.</li>
		<li>Protecting our users.</li>
		<li>Encouraging appropriate use of POPVOX.</li>
		</ol>
		
		<p>Read the full version of our <a href="/about/principles">Company Philosophy</a>.</p>
	</div>
	
	<div class="clear col_12 rule">
		<h3>Additional Information</h3>
		
		<ul class="bullets">
			<li><a href="/blog">Our Blog</a></li>
			<li><a href="/press">Press Articles &amp; Mentions</a></li>
			<li><a href="/advertising">Advertising Information</a></li>
			<li><a href="/jobs">Job Opportunities</a></li>
			<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
		</ul>
	</div>
</div>
{% endblock %}
