{% extends "master.html" %}
{% block title %}Why POPVOX Works{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}A transparent, nonpartisan, neutral platform for advocacy and legislative data.{% endblock %}
{% block head %}
<style>
h2 {
	font: normal 24px/24px 'BebasNeueRegular', helvetica, arial, sans-serif;
	margin: 1.25em 0 .5em;
	border-bottom: 1px solid #AAA;
	color: #555;
	}
.deck {
	margin: 20px 50px;
	text-align: center;
	}
.name1 {
	margin: 0 0 8px 20px;
	}
.name1 span {
	font: normal 18px/12px 'BebasNeueRegular', helvetica, arial, sans-serif;
	letter-spacing: .02em;
	}
.name2 {
	margin: 0 0 8px 40px;
	}
.name3 {
	margin: 0 0 16px 40px;
	}
</style>
{% endblock %}
{% block content %}
<div class="content howitworks">
	<div class="col_6 col_top">
		<h1>Why POPVOX Works</h1>
		
		<div class="deck">A transparent, nonpartisan, neutral platform for advocacy and legislative data.</div>
		
		<div class="name1"><span>POPVOX</span> is derived from the Latin:</div>
		<div class="name2">vox populi (voks pop-yuh-lai)</div>
		<div class="name3">&mdash; n. the voice of the people; popular or public opinion</div>
	
		<p>POPVOX is a transformative advocacy platform that meshes legislative data with individuals’ personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government affairs professionals with bill status information, customized tracking, bill-specific advocacy information, and real-time constituent sentiment and comments.</p>
		
		<h2>Why POPVOX Works</h2>

		<p>POPVOX was designed by <a href="team">people who understand Congress</a> to get your message through in a way that Congress needs to receive it. POPVOX is different from other political sites.  It is not a discussion forum.  It is a place for action.</p>  
	
		<p>The key to POPVOX is transparency and accountability. POPVOX goes beyond just getting your message to Congress. It ensures that your input is counted. Instead of relying on overworked Congressional staff with inadequate tools to process your message through their office procedures, POPVOX counts the positions you take on a specific bill and catalogs your message so that Congressional staffers — and others looking for information on the issue — can assess what people are really saying. When the information coming into your Members of Congress is public, counted, sorted and searchable, your voice is amplified — and Congress can’t ignore it.</p>

		<p>You take action on POPVOX by selecting from bills pending in Congress, choosing to support or oppose, and writing a message to Congress. By tying your input to a specific bill, you are doing more than expressing an opinion, you are asking your legislator to take specific action.</p>

		<p>Your comment will be displayed publicly, with your screen name and district, on POPVOX as a part of the record for the bills you choose.  Your comment will also be forward onto your  Members of Congress with your real name, address, and phone number — information they need to know that you are a real constituent.</p>

		<p>Be counted when decisions are made. With POPVOX your voice is:</p>

		<h2>VERIFIED</h2>

		<p>Congress takes messages more seriously when you stand behind your message with a name and address, and when they know you are a constituent. To maximize the effectiveness of your message, you must provide your name and address (which we share with Congress, but with no one else.)</p>

		<h2>QUANTIFIED</h2>
		
		<p>POPVOX is a real-time metric of public sentiment in each district or state, tied to specific bills. Since this information is public, transparent, and free, people across the country, as well as organizations and the media, can get the real story on what issues are truly important to you.  Real-time tallies help advocacy organizations and interest groups validate claims and demonstrate tangible support in specific Congressional districts or states.</p>

		<h2>AMPLIFIED</h2>

		<p>POPVOX is designed to get your message heard — both in Congress and in the larger debate.   Social media tools allow you to share interesting comments via Facebook, Twitter or email, so that real stories and unique perspectives can get a wider view.  Making your message public and findable by search means that anyone looking for background on the bill in question, whether the media or a Congressional staffer looking for a hearing witness, can easily find your story.</p>  

		<h2>How POPVOX Works</h2>
		
		<p><b>1. POPVOX starts with real-time legislative data.</b> We list every bill that is introduced in Congress and create an Action Page and Bill Report.</p>

		<p><b>2. Advocacy groups register positions.</b> POPVOX helps advocacy organizations, associations and trade groups enhance their visibility with Congress. Organizations maintain a profile on POPVOX, register positions on bills, and access coalition-building tools and real-time aggregated data of bill support or opposition.</p>

		<p><b>3. Individuals weigh in on legislation and share with friends.</b> POPVOX users choose to support or oppose specific legislation and are encouraged to write a more detailed comment explaining their position. Comments are delivered to Members of Congress and become part of the POPVOX Bill Report, a public, searchable record of advocacy on each bill.</p>
		
		<p><b>4. POPVOX provides a groundbreaking independent metric for advocacy.</b> POPVOX provides a real-time metric of public sentiment for specific legislation, searchable by Congressional district or state. Each Bill Report includes an “opinion pie” chart and a line graph displaying support versus opposition over time. Since this information is public, transparent and free, people across the country, as well as organizations and the media, can get the real story on what issues are truly important to Americans.</p>
		
		<p><b>5. POPVOX provides a custom docket for Congress and legislative staff.</b> For Congressional staff, POPVOX provides a one-stop shop for legislative information, including support/opposition analysis, constituent comments and advocacy group positions. POPVOX’s customized docket for Congress lists:</p>
		
		<ul class="bullets">
			<li>Bills by hot issues in the state or district</li> 
			<li>Bills customizable by issue areas</li> 
			<li>Bill status, sponsor information and co-sponsor tallies</li> 
			<li>Constituent sentiment pie and line charts</li> 
			<li>Constituent comments</li>
			<li>Endorsing/opposing organizations by bill</li>
		</ul>

		<h2>How do I get started?</h2>
		
		<p>Visit the <a href="/bills">Bills</a> page to find bills in the news and those trending on POPVOX.</li>
		
		<p>Or, find a bill endorsed by an organization: Search our <a href="/orgs">Advocacy Directory</a> for an organization that you support to find their Legislative Agenda.</p>
		
		<p>Advanced: Find a bill via our <a href="/bills/search">bill search</a> using keywords. But you may need to do some research to find out what each bill is about before commenting on it.</p>

		<h2>More about POPVOX</h2>
		
		<p>POPVOX is nonpartisan. Processes are automated to the greatest extent possible. Information about bills comes from organizations across the political spectrum. POPVOX just provides a platform for that information to be displayed in one place and in a way that enables you to find out more about the organizations providing the information. You can judge for yourself whether it comes from a trusted source. See our <a href="/about/principles">Company Philosophy</a>.</p>

		<p>Information about legislation including bill titles, summarizes, and status comes from the nonpartisan Library of Congress. Additional bill summaries are submitted by organizations that are registered on POPVOX. These summaries are clearly labeled with their author. We will be adding information about official positions taken by Members of Congress as submitted through a verified account.</p>
		
	</div>
	
	<div class="col_6 col_top col_last">
	<div style="padding-left: 3em">
		<h2>For Organization Staff</h2>
		
		<p>See: <a href="/accounts/register/orgstaff">Registering Your Organization</a></p>

		<h2>For Congressional Staff</h2>
		
		<p>See <a href="/congress">Resources for Legislative Staff</a></p>
	</div>
	</div>
	
</div>
{% endblock %}
