{% extends "master.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content about_pg">
	<div class="col_9 col_top">
		<h1>About POPVOX.com</h1>
		<h2 class="brackets">POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.</h2> 
		<p>Constituent communications are flooding and overwhelming Congressional offices. POPVOX verifies, aggregates, and simplifies communication with Congress on an open and trusted (and nonpartisan) common ground.  Advocacy organizations, trade associations, unions and other groups send their members to POPVOX to take action on bills pending before Congress. Congressional staff and lawmakers log into POPVOX to measure the pulse of their district. POPVOX provides a curating interface for anyone &mdash; including Congressional staff, the public and the media &mdash; to access and understand the voice of the people.</p>
		<p><a href="/about/howitworks" class="btn b_read_more">Read More</a></p>
		<div class="clear"></div>

		<div class="col_4_5 col_top">
			<h3>ABOUT THE TEAM</h3>
			<div class="team_img">
				<img src="/media/photos/marci.jpg" alt="Marci Harris" title="Marci Harris" width="80" class="first"/>
				<img src="/media/photos/rachna.jpg" alt="Rachna Choudhry" title="Rachna Choudhry" width="80"/>
				<img src="/media/photos/josh.jpg" alt="Josh Tauberer" title="Josh Tauberer" width="80" />
				<img src="/media/photos/william.jpg" alt="William Donnell" title="William Donnell" width="80" />
			</div>
			<p>The unique expertise of POPVOX&rsquo;s founders will be leveraged as the site is built out. Covering the three main users of the website, the founders are a former counsel for a U.S. congressman, a former lobbyist with 12 years of advocacy experience, and a technologist who has played a leading role in the new open government movement.</p>
			
			<p><a href="/about/team" class="btn b_read_more">Read more</a></p>
		</div>
	
		<div class="col_4_5 col_top col_last">
			<h3>About the Company</h3>
			<p>POPVOX’s founders came together in 2010 to tackle a big problem &mdash; that communication with the U.S. Congress was broken &mdash; and built this website with these guiding principles:</p> 
			
			<ol class="bullets">
				<li>Solving the problem of communication with Congress</li>
				<li>Building a business without compromising our integrity</li>
				<li>Never editorializing</li>
				<li>Staying transparent</li>
				<li>Protecting our users</li>
				<li>Encouraging appropriate use of POPVOX</li>
			</ol>
			
			<p><a href="/about/principles" class="btn b_read_more">Read More</a></p>
		</div>
	</div><!-- e: col_9 -->
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
				<li><a href="/about/howitworks">About the Site</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Mentions</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<li><a href="/jobs">Job Opportunities</a></li>
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>DOCUMENTS</h2>
			<ul class="sub_side">
				<li><a href="/files/organization_intro.pdf">Organization Introduction to POPVOX</a></li>
				<li><a href="/files/staff_intro.pdf">Congressional Staff Introduction to POPVOX</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}
