{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block head %}
<style>
p.email {
	margin-bottom: 31px;
    margin-top: -12px;
}
h3 {
	background: none;
}
</style>
{% endblock %}
{% block content %}

<div class="content about_team">
	<div class="col_9 col_top team">
		<h1 class="rule_btm">The Team</h1>

		<h3 class="no_rule">Founders</h3>

		<div class="section"> 
			<div class="col_4_5 "> 
				<img class="team_img" src="/media/photos/marci_harris_popvox_ceo.jpg" alt="Marci Harris" width="301" height="300"/> 
				<h3>Marci Harris</h3> 
				<h4>Chief Executive Officer</h4> 
				<p class="email">{% obfuscated_email "marci@popvox.com" %}</p>
				<p>Marci Harris began public service work as Tornado Recovery Coordinator for Jackson, Tenn., working with private and public organizations and state, local and federal agencies to marshall resources and rebuild. In 2007, she became Tax, Trade, and Health Counsel to Pete Stark, then-Chairman of the Health Subcommittee of Ways and Means, and was Committee lead for Medicare Program Integrity and Physician Payments Sunshine provisions of the House health reform bill. She left the Hill in February 2010 to build POPVOX.  She holds a J.D. from the University of Memphis and an LL.M from American University’s Washington College of Law.</p>
			</div> 
			
			<div class="col_4_5 col_last "> 
				<img class="team_img" src="/media/photos/rachna_choudhry_popvox_cmo.jpg" alt="Rachna Choudhry" width="301" height="300"/> 
				<h3>Rachna Choudhry</h3> 
				<h4>Chief Marketing Officer</h4>
				<p class="email">{% obfuscated_email "rachna@popvox.com" %}</p>
                <p>Rachna Choudhry is responsible for our outreach to advocacy organizations and trade associations, marketing to individual users and assists with outreach to Congressional staff.  She is based in Washington, DC. Rachna comes to POPVOX with a background in federal lobbying, issue advocacy and social media strategy for a variety of national issue-based and advocacy organizations. She earned a Master of Public Policy from Georgetown University and a Political Science degree from UCLA.</p> 
            </div> 
            <div class="clear"> </div>  
		</div>
		
		<div class="col_12 rule team">
			<div class="section">
				<h3 class="no_rule">Team</h3>
			
				<div class="col_4"> 
					<img class="team_img" src="/media/photos/william_donnell_popvox_lead_designtist.jpg" width="220" height="220"/> 
					<h3>William Donnell</h3> 
					<h4>Lead Designtist</h4> 
					<p>William Donnell, Lead Designtist, was a founding member of our team and is in charge of user experience, user interface and overall design for the site. William uses his nine years of experience running the award-winning <a href="http://sodiumhalogen.com/">Sodium Halogen</a> design shop in Jackson, Tenn., to make sure that POPVOX.com is intuitive, functional and visually appealing. As the team member with the least amount of background in the political arena, William champions the perspective of the average citizen.</p> 
				</div> 
				
				<div class="col_4"> 
					<img class="team_img" src="/media/photos/ben_harris_popvox_cfo.jpg" width="220" height="220"/>
					<h3>Ben Harris</h3> 
					<h4>COO</h4> 
					<p>Ben is our spreadsheet master, paperwork wrangler and human resources artist. After completing his BS in 2001 at Embry Riddle Aeronautical University (yes, he's a pilot and mechanic), he found his calling as a bean counter through real estate development and as a successful small business entrepreneur.</p>
				</div>
	
				<div class="col_4 col_last"> 
					<img class="team_img" src="/media/photos/annalee_flower_horne_popvox_dev.jpg" width="220" height="220"/> 
					<h3>Annalee Flower Horne</h3> 
					<h4>Developer</h4> 
					<p>Annalee Flower Horne came to POPVOX from Capitol Hill, where she served as
					a staff assistant to a congressman. There, her responsibilities
					included managing the congressman&rsquo;s website and sorting the office&rsquo;s
					incoming email &mdash; a task that really made her appreciate POPVOX&rsquo;s mission. She joined POPVOX in May 2011.</p>
				</div>
				<div class="clear"> </div>

				<div class="col_4"> 
					<img src="/media/photos/priya_bonthu_popvox_developer.png" width="220" height="220"/> 
					<h3>Priya Bonthu</h3>
					<h4>Developer</h4>
					<p>Priya has over 15 years of software engineering experience with development and leadership expertise. She has worked on a variety of platforms including web and mobile platforms. She is passionate about technology and its impact on every day users, and its potential to connect people with government. She has tried her hand at entrepreneurship and enjoys the fun and challenges of a start-up environment.</p>				
				</div>

				<div class="col_4"> 
					<img src="/media/photos/namratha_rao_popvox_intern.png" width="220" height="220"/> 
					<h3>Namratha Rao</h3>
					<h4>Intern</h4>
					<p>Namratha helps research and create content on POPVOX &mdash; making it easier for our users to find information on issues important to them. She has a degree in electrical engineering and comes to POPVOX with a background in electrical consulting and software development. In her free time, she enjoys reading thrillers, medical and romantic novels.</p>				
				</div>

				<div class="col_4 col_last"> 
					<img src="/media/photos/tay_tufenkjian_popvox_front_end_developer.png" width="220" height="220"/> 
					<h3>Tay Tufenkjian</h3>
					<h4>Front-End Developer</h4>
					<p>Tay used to live on Capitol Hill and left DC during the 2013 shutdown. An English major who spent three years in human resources systems, she recently found front-end development through Startup Institute. She's excited to be working with POPVOX to bring the power of the web to the political process.</p>				
				</div>
				<div class="clear"> </div>
				
				<div class="col_4"> 
					<img src="/media/photos/nate_walton_popvox.jpg" width="220" height="220"/> 
					<h3>Nate Walton</h3>
					<h4>Political Consultant</h4>
					<p>Nate Walton advises on marketing strategies and assists with outreach to policy organizations, interest groups and congressional campaigns. He began his career in politics as state chairman of the nationally-recognized Maine College Republicans, and has held leadership roles on numerous campaigns on the local, state, and national levels. Currently, he serves as a member of the National Finance Committee for Gov. Mitt Romney's presidential campaign. Prior to founding his own political consulting firm, Sachem Strategies, Nate was a research assistant at Harvard, where he worked on a U.S. Defense Department grant. He holds a B.A. in political science from Bates College and is working toward a Master of Public Policy at Brown University.</p>				
				</div>



			</div> <!-- e: section -->	
		</div> <!-- e: col_12 -->
		
		<div class="col_12 rule team">
			<div class="section">
				<h3 class="no_rule">Advisors</h3>
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/tim_orielly_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Tim O&rsquo;Reilly</h3> 
					<h4>Founding Advisor</h4> 
					<p>Tim O'Reilly is the founder and CEO of O'Reilly Media, Inc., a book publisher and the host of conferences on technology topics, including the Web 2.0 Summit, the Web 2.0 Expo, the Gov 2.0 Summit, and the Gov 2.0 Expo. Since 1978, Tim has led the company&rsquo;s pursuit of its core goal: to be a catalyst for technology change by capturing and transmitting the knowledge of innovators. <span style="font-size: 75%; color: #666">(Photo by <a href="www.briansolis.com">Brian Solis</a>.)</span></p> 
				</div> 
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/janice_frasier_popvox_advisor.jpg" width="183" height="181"/>
					<h3>Janice Fraser</h3> 
					<h4>Advisor</h4>
					<p>Janice Fraser is CEO of <a href="http://luxr.posterous.com/">LUXr</a>, the Lean User Experience residency program. She was co-founder of Adaptive Path, a noted experience design firm, and served as the company&rsquo;s first CEO. Adaptive Path developed and sold a product to Google and coined the term Ajax.</p>
				</div>			
	
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/laurence_gold_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Laurence Gold</h3> 
					<h4>Advisor</h4>
					<p>Laurence E. Gold focuses his law practice at Trister, Ross, Schadler &amp; Gold, PLLC in Washington, DC on advising advocacy groups and associations on navigating campaign finance, election, tax and lobbying laws to achieve their political and policy agendas.</p>
				</div> 
	
				<div class="col_3 col_last"> 
					<img class="team_img" src="/media/photos/jeremy_lizt_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Jeremy Lizt</h3> 
					<h4>Advisor</h4>
					<p>Jeremy Lizt is founder and Vice President of Engineering at <a href="http://www.liveramp.com/">LiveRamp</a>, a data onboarding company. Prior to joining LiveRamp, Jeremy was co-founder and VP Engineering for Rapleaf. He was previously senior development manager in Oracle's server division. Jeremy was also a founding member of Oracle's application server team.</p>
				</div> 
				<div class="clear"> </div>
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/paul_martino_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Paul Martino</h3> 
					<h4>Advisor</h4>
					<p>Paul Martino, Managing Director of BullPen Capital, is the founder of four companies including Tribe Network, one of the first social networks, with Mark Pincus, Chris Law, and Valerie Syme; and most recently, <a href="http://www.aggregateknowledge.com/leadership.html">Aggregate Knowledge</a>.</p>
				</div>			
				
				<div class="col_3"> 
					<img class="team_img" src="/media/photos/maria_thomas_popvox_advisor.jpg" width="183" height="181"/> 
					<h3>Maria Thomas</h3> 
					<h4>Advisor</h4>
					<p>Maria Thomas is the former CEO of craft marketplace <a href="http://www.etsy.com/">Etsy</a>. She most recently led judging for the Knight News Challenge “to create the future of news media.” Thomas was also the head of NPR digital for more than six years, and prior to that Thomas spent three years at Amazon.com.</p>
				</div>	

				<div class="col_3"> 
					<img class="team_img" src="/media/photos/sam_mcafee_popvox_advisor.png" width="183" height="181"/> 
					<h3>Sam McAfee</h3> 
					<h4>Advisor</h4>
					<p>Sam has been building consumer and enterprise applications for fifteen years. He co-founded a web development agency in 2002 which he ran for a decade before joining Change.org as the Director of Web Engineering in 2012, and then serving as VP of Engineering for Luxr in 2013. He is an enthusiastic proponent of all things Lean and Agile, and is a frequent speaker, blogger, and process coach.</p>
				</div>	
				<div class="clear"> </div>
				
			</div> <!-- e: section -->	
		</div> <!-- e: col_12 -->


</div><!-- e: content -->

{% endblock %}
