{% extends "master.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content about_team">
	<div class="col_9 col_top">
		<p class="float_right">For inquiries, please <a href="/about/contact">contact us</a>.</p>
		<h1 class="rule_btm">The Team</h1>

		<h3 class="no_rule">Founders</h3>

		<div class="section team"> 
			<div class="col_4_5 "> 
				<img class="team_img" src="/media/photos/marci.jpg" alt="Marci Harris" width="125" height="150"/> 
				<h3>Marci Harris</h3> 
				<h4>Chief Executive Officer</h4> 
				<p>Marci Harris began public service work as Tornado Recovery Coordinator for Jackson, Tenn., working with private and public organizations and state, local and federal agencies to marshall resources and rebuild. In 2007, she became Tax, Trade, and Health Counsel to Pete Stark, then-Chairman of the Health Subcommittee of Ways and Means, and was Committee lead for Medicare Program Integrity and Physician Payments Sunshine provisions of the House health reform bill. She left the Hill in February 2010 to build POPVOX.  She holds a J.D. from the University of Memphis and an LL.M from American University’s Washington College of Law.</p>
			</div> 
			
			<div class="col_4_5 col_last "> 
				<img class="team_img" src="/media/photos/rachna.jpg" alt="Rachna Choudhry" width="125" height="150"/> 
				<h3>Rachna Choudhry</h3> 
				<h4>Chief Marketing Officer</h4> 
				<p>Rachna Choudhry is responsible for our outreach to advocacy organizations and trade associations, marketing to individual users and assists with outreach to Congressional staff.  She is based in Washington, DC. Rachna comes to POPVOX with a background in federal lobbying, issue advocacy and social media strategy for a variety of national issue-based and advocacy organizations. Most recently, she worked as a lobbyist for the National Partnership for Women & Families where she promoted policies that addressed the needs of working women. She earned a Master of Public Policy from Georgetown University and a Political Science degree from UCLA.</p> 
			</div> 
			<div class="clear"> </div> 
		
			<div class="col_4_5"> 
				<img class="team_img" src="/media/photos/josh.jpg" alt="Joshua Tauberer" width="125" height="150"/> 
				<h3>Joshua Tauberer</h3> 
				<h4>Chief Technology Officer</h4>
				<p><a href="http://razor.occams.info">Joshua Tauberer</a> has been transforming government data into people-empowering applications for the last 8 years. His award-winning website <a href="http://www.govtrack.us">GovTrack.us</a>, launched in 2004, tracks the U.S. Congress and spurred the national open government data community. He is a member of the Advisory Committee on Transparency to the Congressional Transparency Caucus and is published in <a href="http://www.amazon.com/Open-Government-Collaboration-Transparency-Participation/dp/0596804350"> Open Government: Collaboration, Transparency, and Participation in Practice</a> (2010, O’Reilly Media). He holds a Ph.D. from the University of Pennsylvania.</p>
			</div> 
			
			<div class="col_4_5 col_last"> 
				<img class="team_img" src="/media/photos/tim.jpg" width="125" height="150"/> 
				<h3>Tim O&rsquo;Reilly</h3> 
				<h4>Founding Advisor</h4> 
				<p>Tim O'Reilly is the founder and CEO of O'Reilly Media, Inc., a book publisher and the host of conferences on technology topics, including the Web 2.0 Summit, the Web 2.0 Expo, the Gov 2.0 Summit, and the Gov 2.0 Expo. Since 1978, Tim has led the company&rsquo;s pursuit of its core goal: to be a catalyst for technology change by capturing and transmitting the knowledge of innovators. <span style="font-size: 75%; color: #666">(Photo by <a href="www.briansolis.com">Brian Solis</a>.)</span></p> 
			</div> 
			<div class="clear"> </div> 

			<h3 class="no_rule">Senior Staff</h3>
		
			<div class="col_4_5 rule"> 
				<img class="team_img" src="/media/photos/william.jpg" width="125" height="150"/> 
				<h3>William Donnell</h3> 
				<h4>Lead Designtist</h4> 
				<p>William Donnell, Lead Designtist, is in charge of user experience, user interface and overall design for the site. William uses his nine years of experience running the award-winning <a href="http://sodiumhalogen.com/">Sodium Halogen</a> design shop in Jackson, Tenn., to make sure that POPVOX.com is intuitive, functional and visually appealing. As the team member with the least amount of background in the political arena, William champions the perspective of the average citizen.</p> 
			</div> 
		</div><!-- e: section --> 
	</div> <!-- e: col_9 -->
	
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
				<li><a href="/about/howitworks">About the Site</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
				<li><a href="/about/contact">Contact POPVOX</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Mentions</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<li><a href="/jobs">Job Opportunities</a></li>
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
	</div>
	
	<div class="col_12 col_top">
		<div class="section team_2"> 
			<h3 class="no_rule">Advisors</h3>

			<div class="col_4 rule"> 
				<img class="team_img" src="/media/photos/jeremy.jpg" width="100" height="125"/> 
				<h3>Jeremy Lizt</h3> 
				<h4>Advisor</h4>
				<p>Jeremy Lizt is founder and Vice President of Engineering at <a href="http://www.rapleaf.com/">RapLeaf</a>, an internet personalization company. Previously, he was Senior Development Manager in Oracle's server division and a founding member of Oracle's application server team.</p>
			</div> 
			
			<div class="col_4 rule"> 
				<img class="team_img" src="/media/photos/paulmartino.jpg" width="100" height="125"/> 
				<h3>Paul Martino</h3> 
				<h4>Advisor</h4>
				<p>Paul is the executive chairman and cofounder of <a href="http://www.aggregateknowledge.com/about_leadership.html">Aggregate Knowledge</a>, which is the fourth company that he has founded over his 20-year technology career. Paul was previously the CTO and founder of Tribe Network, which was acquired by Cisco.</p>
			</div>			
			
			<div class="col_4 col_last rule"> 
				<img class="team_img" src="/media/photos/larrygold.jpg" width="100" height="125"/> 
				<h3>Laurence Gold</h3> 
				<h4>Advisor</h4>
				<p>Laurence E. Gold focuses his law practice at Lichtman, Trister &amp; Ross, PLLC in Washington, DC on advising advocacy groups and associations on navigating campaign finance, election, tax and lobbying laws to achieve their political and policy agendas.</p>
			</div> 
			<div class="clear"> </div>
		</div><!-- e: section --> 
	</div><!-- e: col_12 -->
</div><!-- e: content -->

{% endblock %}
