{% extends "master.html" %}

{% block content %}{% endblock content %}
{% block sidebar %}
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
                <li><a href="/about/whatispopvox">What POPVOX Is</a></li>
				<li><a href="/about/whyitworks">Why POPVOX Works</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
				<li><a href="/faq">Frequently Asked Questions</a></li>
				<li><a href="/about/contact">Contact POPVOX</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Media Kit</a></li>
				<li><a href="/about/testimonials">What Our Users Say</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<!--<li><a href="/jobs">Job Opportunities</a></li>-->
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>DOCUMENTS</h2>
			<ul class="sub_side">
				<li><a href="/files/organization_intro.pdf">Organization Introduction to POPVOX</a></li>
				<li><a href="/files/staff_intro.pdf">Congressional Staff Introduction to POPVOX</a></li>
				<li><a href="/files/about_popvox.pdf">About POPVOX</a></li>
				<li><a href="/files/popvox_testimonials.pdf">What POPVOX Users Are Saying</a></li>
			</ul>
		</div>
	</div>
{% endblock sidebar %}

