{% extends "master.html" %}
{% block title %}POPVOX - Advertise With Us{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Advertising on POPVOX.com reaches a politically influential audience.{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}

<div class="content">

	<div class="col_9 col_top">
		<h1>Advertising with POPVOX</h1>
		<p>POPVOX.com is the premier destination for politically savvy individuals who want to access real-time legislative information and send messages to their Members of Congress. The metadata and aggregation available on POPVOX make it a valuable resource for policy decision-makers inside the Beltway—and influencers across the country.</p>
		<p>As a public, nonpartisan platform, POPVOX overlays comments from individuals, positions taken by organizations/trade groups and the Administration—on basic legislative information for every bill pending before Congress. <b>Our newly launched “Get to Know a District” pages offer a demographic profile for every Congressional district and a list of the trending bills among POPVOX users from that district or state.</b></p>
		<p>POPVOX users include people in every Congressional district, Congressional staffers and policy influencers. The average POPVOX user spends four minutes on POPVOX.com and views five pages per visit. <b>Users that are logged in to the platform see analytics customized for their Congressional district or state.</b></p>
		
		<h3>Advertising Units</h3>
		
		<p>Advertising is available on:</p>
		<ul class="bullets">
			<li><b>POPVOX main pages.</b> including the Bills Page, the Organization Directory and Users’ Home Page.</li>
			<li><b>Individual Bill Pages.</b> Every bill pending before Congress has its own bill page, where individuals can view organization statements, bill status information and then support or oppose the bill, sending a message to their Member of Congress or Senators. </li>
			<li><b>“Get to Know” Pages.<b/> Every Congressional district and state has its own page, which offers Census demographic data, the current Representative and/or Senators, and a list of the trending bills among POPVOX users from that district or state. </li>
		</ul>
		<h3>Advertising Details</H3>
		<ul class="bullets">
			<li>Advertising rectangles on the right side of bill pages</li>
			<li>180px width x 150px height</li>
			<li>jpg or png files</li>
			<li>Rates: starting at $1.50 CPM ($1.50 per 1,000 impressions)</li>
		</ul>
		<p>For more information, please contact Nate Walton at nate@popvox.com.</p>
		
	</div>

</div>

{% include "ads/rightbar.html" %}

{% endblock %}
