{% extends "master.html" %}
{% block title %}POPVOX - Advertise With Us{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Advertising on POPVOX.com reaches a politically influential audience.{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}

<div class="content">

	<div class="col_9 col_top">
		<h1>Advertising</h1>
		<h3>POPVOX is positioned to be the leading place for advertising targeted to:</h3>
		<ul class="bullets">
			<li>Members of Congress and their staff</li>
			<li>Citizens by locality, down to Congressional District!</li>
			<li>Citizens by interest</li>
		</ul>
		
		<p>If you would like to place an order or if you have any questions about advertising on POPVOX, please contact <a href="mailto:info@popvox.com">info@popvox.com</a>.</p>
	
	</div>

</div>

{% include "ads/rightbar.html" %}

{% endblock %}
