{% extends "master.html" %}
{% block title %}POPVOX - Congress - About Message Delivery for Legislative Correspondents and Mail Managers{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Information about how POPVOX delivers constituent messages for legislative correspondents and mail managers in House and Senate member offices.{% endblock %}
{% block head %}
<style>
p.subhead {
	font-style: italic;
	font-size: 15px;
}
h4 {
	margin-bottom: 1em;
}
p.exfield {
	margin: 1em;
	padding: 1em;
	background-color: white;
	font-family: georgia, serif;
}
</style>
{% endblock %}
{% block content %}
<div class="content">
	
	<div class="col_9 col_top company_philosophy">
		<h1>How We Deliver Mail</h1>
		
		<p class="subhead">Information for legislative correspondents and mail managers in House and Senate member offices.</p>
		
		<div style="float: right; margin-left: 15px">
			<div style="width:425px" id="__ss_10642377"> <!--<strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/POPVOX/popvox-presentation-to-hill-staff-mail-managers" title="POPVOX presentation to Hill Staff mail managers" target="_blank">POPVOX presentation to Hill Staff mail managers</a></strong>--> <iframe src="http://www.slideshare.net/slideshow/embed_code/10642377" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <!--<div style="padding:5px 0 12px"> View more presentations from <a href="http://www.slideshare.net/POPVOX" target="_blank">POPVOX</a> </div>--> </div>
		</div>
        
		<p>POPVOX is designed to address the needs of both constituents and Congressional staff.  Constituents want an easy and effective way to make their voices heard. Your boss wants to know what people are saying in the state or district and to respond promptly. The POPVOX team has worked on the Hill, we have answered those letters &mdash; we know that effective advocacy means not wasting your time.</p>  

        <p>If at any time we can tailor our process to better fit your system, please <a href="/about/contact">contact us</a>.</p>
        
        <h3 class="no_rule">POPVOX Philosophy</h3>
        
        <p>The best constituent input is both effective and efficient.</p>
        
        <h4>Effective Advocacy</h4>
        
        <ul>
			<li class="ol_1">
				<strong>Asks are actionable.</strong>
				<div>All constituent comments sent through POPVOX are associated with a particular bill introduced in Congress or a select set of proposals such as draft bill text or a sign-on letter. Constituents choose to &ldquo;support&rdquo; or &ldquo;oppose&rdquo; the bill or proposal. No constituent message on POPVOX is ambiguous about what the constituent would like their Member of Congress to do.</div>
			</li>
        
			<li class="ol_2">
				<strong>Messages are personal and informative.</strong>
				<div>The most useful constituent input tells a personal story. While not required, POPVOX encourages people to write personal stories and discourages form letters.</div>
			</li>
        
			<li class="ol_3">
				<strong>Metrics are public.</strong>
				<div>All input sent via POPVOX is public on POPVOX.com (with anonymous screen names).   Numbers of support and opposition are measured and sortable by Congressional district &mdash; while individual comments are viewable, sharable, and become part of the wider debate.</div>
			</li>
		</ul>
		
		<h4 class="clear">Efficient Process</h4>
		
		<ul>
			<li class="ol_1">
				<strong>Messages are sortable.</strong>
				<div>All comments delivered electronically to Congress are tagged to help staff identify the subject of the message and who sent it.</div>
			</li>
			<li class="ol_2">
				<strong>Delivery is electronic (mostly).</strong>
				<div>The vast majority of messages sent via POPVOX are delivered electronically. However, we make a commitment to our users to get their messages through despite any technical hurdles, so if we receive an error, you will receive backup delivery on paper (explained below).</div>
			</li>
			<li class="ol_3">
				<strong>Addresses are validated.</strong>
				<div>POPVOX validates constituent addresses with USPS databases and only deliveres messages to the constituent’s own senators or representative (or delegate). Messages are only delivered to the chamber of Congress in which a bill is pending. When a bill moves, messages are automatically be forwarded to the second chamber.</div>
			</li>
        </ul>
        
        <h3 class="no_rule clear">Anatomy of a Message</h3>
        
        <p>POPVOX submits constituent input electronically in the same way as other vendors: by filling out your website&rsquo;s constituent mail form with the information the user gave us. We have put great care into the details of how each field is entered.</p>
        
        <p>Constituent correspondence software varies somewhat across vendors. As they don&rsquo;t all accept the same fields, you may not see all of these fields in your backend.</p> 
        
        <h4>Standard Fields</h4>
        
        <p>The free-text <strong>subject</strong> field of each letter is filled in with the bill number, the word support or oppose, and the bill title, for example:</p>
        
        <p class="exfield"><strong>Subject:</strong> #hr1234 #oppose H.R. 1234: Example Bill Act.</p>
        
        <p>We add #-marks to the first two words as a hint that these can be found reliably in each POPVOX message. Use this text to search through your mail for all comments on this subject.</p>
        
        <p>There are three parts to the message body:</p>
        
        <p class="exfield"><strong>Message:</strong><br/> 11/29/11. I oppose H.R. 1234: Example Bill Act because the bill would affect my life in particular ways that I am writing to you about here.<br/>
-----<br/>
sent via popvox.com; ...@popvox.com; see http://www.popvox.com/bills/us/112/hr1234/report</p>

		<p>The message begins with the <strong>date</strong> it was written, typically a few days before you received it. However, because we deliver mail initially only to the chamber of Congress in which the bill is pending a vote, when a bill moves from the House to the Senate, or vice versa, we will send messages automatically to the second chamber. That means that you will occasionally see some that were written substantially earlier. We do this to avoid burdening your office with constituent sentiment on issues that your office cannot act on. (You can, however, <a href="/home">find the letters on POPVOX.com</a>.)</p>
		
		<p>Following the date is the <strong>constituent-written message</strong>. While we start the constituent off with a few suggested words based on whether the constituent chose to support or oppose the bill (such as &ldquo;I oppose H.R. 1234: Example Bill Act because&rdquo;), we do not provide any other pre-written text.</p>
		
		<p>A standard <strong>delivery footer</strong> comes at the end of each message to indicate that POPVOX was responsible for the delivery of the message. It includes our contact email address in case there are any problems with the delivery and a link to POPVOX for more information about the issue. You can also <strong>use the link</strong> to search for other messages on the same subject.</p>
		
		<p class="exfield"><strong>Reply Choice:</strong> Response Requested</p>
		
		<p>For most messages, if your webform asks the constituent whether they want a response, POPVOX answers in the affirmative. The exception to this is when a constituent chooses only to weigh in with “support” or “oppose” and does not leave a personal message (see below).</p>
		
		<h4>Additional &ldquo;Metadata&rdquo; Fields</h4>
		
		<p>Some webforms have hidden fields meant for delivery agents such as POPVOX that are used to submit additional details about the message. These fields will appear in your mail backend program if your system supports it. We fill out these fields when they are present on the webform.</p>
		
		<p>We fill out the <b>Campaign Info</b> and <b>Campaign ID</b> fields with text can be used to search for other messages on the same issue. The CampaignID is a web address (a URL) for convenience, which you can use either to get more information about the bill or as a search term to find other messages on the same issue.</p>
		
		<p class="exfield"><strong>CampaignInfo:</strong> Comments Opposing H.R. 1234: Example Bill Act</p>
		<p class="exfield"><strong>CampaignID:</strong> http://popvox.com/bills/us/112/hr1234#oppose</p>
		
		<p>When a message is submitted via one of our widgets placed on the website of an advocacy organization, we indicate the organization hosting the widget in the <strong>organization</strong> metadata field. If the message was submitted on POPVOX.com directly, this field is left blank. When there is an organization, we also fill out the <strong>campaign info</b> and <b>campaign ID</b> fields slightly differently:</p>
		
		<p class="exfield"><strong>Organization:</strong> Bald Eagle Example Association</p>
		<p class="exfield"><strong>CampaignInfo:</strong> Stop Example Bills</p>
		<p class="exfield"><strong>CampaignID:</strong> http://popvox.com/orgs/baldeaglesexampleassoc</p>
		
		<p>Finally, we use the <strong>delivery agent</strong> and <strong>delivery agent contact</strong> fields to help you identify that POPVOX submitted the message and to help you contact us with any concerns. We actually include the cell phone number of our chief technology officer in the delivery agent contact field.</p>
		
		<p class="exfield"><strong>DeliveryAgent:</strong> POPVOX.com</p>
		<p class="exfield"><strong>DeliveryAgentContact:</strong> Josh Tauberer, CTO, POPVOX.com -- ...@popvox.com -- cell: ...-...-....</p>
		
		<h4>Input Without a Personal Message</h4>
		
		<p>POPVOX allows users to submit a position on a bill without leaving a personal message. We allow this for two reasons. First, many users want to be “counted” on an issue but do not feel that they have original insight on the issue that they want to share with Congress.</p>
		
		<p>Second, offices have told us that they appreciate the information on their constituents’ opinions and opportunity to respond if they choose. POPVOX alerts users that they are unlikely to receive a response if they do not include a personal message.  By asking the user up-front whether they would like to write a personal message, we are able to mark the letters without messages in a way that you know how much effort was put into sending them. Some offices have a policy of putting in an effort to respond that is proportional to the effort the constituent took to write in, and we hope that this makes those choices easier to make.</p>
		
		<p>You can identify these messages in two ways. First, the message body is different:</p>
		
		<p class="exfield"><strong>Message:</strong><br/>
		11/29/11. Oppose H.R. 1234: Example Bill Act.<br/>
		<br/>
		[This constituent weighed in at POPVOX.com but chose not to leave a personal comment and is not expecting a response. See http://www.popvox.com/bills/us/112/hr1234/report. Contact ...@popvox.com with delivery concerns.]
		</p>
		
		<p>The single sentence expressing the constituent&rsquo;s view is written by POPVOX and appears uniformly this way in these sorts of messages. (If your webform accepts a free-text subject field, you will also see the same information there, as described above.)</p>
		
		<p>The <strong>footer</strong> of the message is also revised to indicate why there is no personal message.</p>
		
		<p>Secondly, for these messages we mark that the constituent does not expect a reply. The constituent is aware that he or she has written a letter to you but does not hold an expectation of receiving a reply. Thus you will see something like this:</p>

		<p class="exfield"><strong>Reply Choice:</strong> No Response Necessary</p>
		
		<h3 class="no_rule clear">Why We Sometimes Print Mail</h3>
		
		<p>Over 95% of constituent input sent via POPVOX is delivered in electronically using webforms. You may receive printed messages as if your webform...</p>
		
		<ul class="bullets">
		<li>uses Javascript in an unusual way</li>
		<li>has an unusual CAPTCHA</li>
		<li>doesn’t provide a confirmation page of a sucessful form submission</li>
		<li>has subscribe/unsubscribe options for your mail list but no “no change” option</li>
		<li>reports “technical difficulties” all the time</li>
		<li>rejects legitimate ZIP+4s / legitimate street addresses in your district</li>
		<li>requires extra address info (e.g. county) and we couldn’t verify the user’s address</li>
		</ul>
		
        <p class="clear">In any of these cases, you have the option of <a href="/home">downloading these messages in a CSV spreadsheet format</a> from POPVOX.com. Please <a href="/about/contact">contact us</a> for details about that.</p>
        
        <h3 class="no_rule clear">The Future of Correspondence Technology</h3>
        
        <p>Our goal is to apply technology to constituent correspondence processes. We have an eye on the future of constituent correspondence technology and are working with the Congressional Management Foundation and the House HIR office on new strategies for message delivery. We work very hard to be responsive to staff input and greatly appreciate your <a href="/about/contact">comments, feedback and questions</a>.</p>
	</div>
	
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
				<li><a href="/about/whyitworks">Why It Works</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
				<li><a href="/faq">Frequently Asked Questions</a></li>
				<li><a href="/about/contact">Contact POPVOX</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Mentions</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<!--<li><a href="/jobs">Job Opportunities</a></li>-->
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
