{% extends "master.html" %}
{% block title %}POPVOX -Congress - Letters{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}}Find out more about the letters you're getting through POPVOX{% endblock %}
{% block content %}

<div class="content">
	
	<div class="col_9 col_top company_philosophy">
		<h1>POPVOX Letters</h1>
		<h3>Greetings, Hill Staffer</h3>
        <p>Just received a ton of emails via POPVOX and wondering how it works?  We explain here.</p> 
        <p>We have tried to design a system that addresses your needs and the needs of your boss&rsquo; constituents.</p>

        <p>Constituents want an easy way to make their voices heard; your boss wants to know what people are saying in the district and be able to respond.</p>  

        <p>However, we know that the volume of incoming messages is already overwhelming, and we don't want to overload you, so we do a few things to try to make things easier.</p>

		
        <ul>
			<li class="ol_1">
				<strong>User addresses are verified by physical address and assigned to the correct Congressional district.</strong>
				<div>While no database is 100% accurate, we match districts using three different sources (including that used by the House of Representatives) to get the highest possible accuracy rate.</div>
			</li>
			<li class="ol_2">
				<strong>Input is funneled to a particular pending bill.</strong>
				<div>Users choose to "support" or "oppose" the bill, and whether to leave a personal comment.
                    <ul>
                        <li>a) A user position with a personal message is a "PV1" </li>
                        <li>b) A user expression of support or opposition without corresponding personal statement attached is a "PV2"</li>
                    </ul>
                </div>
			</li>
			<li class="ol_3">
				<strong>POPVOX delivers all messages to the appropriate legislative office,</strong>
				<div>determined by the bill's stage in the legislative process.  For example, input on a bill pending in the Senate is sent to the user's senators.  If the bill subsequently passes the Senate and moves to the House for consideration, the message is forwarded to the correct House Member.</div>
			</li>
            <li class="ol_4">
                <strong>POPVOX customizes delivery mechanisms based on the preference and processing systems of each legislative office:</strong>
                <div>
                    <ul>
                        <li>a) For approximately 90% of offices, POPVOX messages are delivered through the correspondence webform.</li>
                        <li>b) For offices for which POPVOX cannot send through the webform, printed letters are hand-delivered once per week.</li>
                        <li>c) Several offices opt to download messages directly into their constituent management system directly in CSV format through their POPVOX staff account</li>
                        <li>d) Offices also may choose to receive a weekly digest email summary of PV2 messages.</li>
                    </ul>
                </div> 
        </ul>
        <h3  class="clear">Our goal at POPVOX is to get your constituents' messages to you in the most useful and efficient way possible. If we can tailor our process to better fit your system, please <a href="https://annalee.popvox.com/about/contact">contact us</a>.</h3> 
	</div>
	
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
				<li><a href="/about/whyitworks">Why It Works</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
				<li><a href="/faq">Frequently Asked Questions</a></li>
				<li><a href="/about/contact">Contact POPVOX</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Mentions</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<!--<li><a href="/jobs">Job Opportunities</a></li>-->
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
