{% extends "master.html" %}
{% load registration_providers %}
{% block title %}POPVOX - Your Voice. Verified. Quantified. Amplified.{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block bodyattributes %}class="land hm_congress"{% endblock %}
{% block navattributes %}id="head_r"{% endblock %}
{% block disable_login_redirect %}{% endblock %}
{% block head %}
<style>
	.colorbox { width: 500px; height: 500px; }
</style>
<script>
function zoompop(id) {
	$.colorbox({
                transition: "none",
                inline: true,
                href: '#' + id,
                opacity: .5
		});
	return false;
}
function subscribe(validate) {
	if ($('#subscribe_email').hasClass("default")) return false;
	ajaxform("post/home/subscribe",
		{ "validate": (validate ? "validate" : "submit") },
		{ "email": "#subscribe_email" },
		{ "statusfield": "subscribe_status",
		   "statussuccess": (validate ? null : "Thanks!")} );
	return false;
}
</script>
{% endblock %}
{% block head_r_content %}
<h1 id="landing">Your Voice. Verified. Quantified. Amplified</h1>
{% endblock %}
{% block content %}
<div class="hm_slide">
	<div class="hm_slide_mid">
		<div class="hm_slide_div">
			<h1>Information you need to do your job better</h1>
			<ul>
				<li class="one">Track bills</li>
				<li class="two">Monitor advocacy</li>
				<li class="three">Guage public opinion</li>
			</ul>
			
			{% if user.is_anonymous %}
				<p><a class="b_get_started_l btn" href="/accounts/register/legstaff">Get Started</a></p>
			{% else %}
				<p><a class="b_get_started_l btn" href="/home">Get Started</a></p>
			{% endif %}

		</div>
	</div>
</div>
<div class="clear"> </div>

<div class="hm_btm_cols">
	<div class="hm_col hm_col_1">
		<div class="hm_col_wrap">
			<h3>Track Bills &amp; Organize<br />Your Docket</h3>
			<a href="#" class="zoom zoom_screen_docket" onclick="return zoompop('trackandorganize')"><span>zoom</span></a>
			<div style="display: none;">
			<div id="trackandorganize" class="colorbox">
				<h1>Track Bills Relevant to Your Work</h1>
				<div class="zoom zoom_screen_docket"> </div>
				<p>Customize your bill-tracking docket and stay on top of your legislative portfolio.</p>
				<p>POPVOX helps bring order to the myriad issues and bills you need to follow on a daily basis. We pre- populate bill tracking lists for you based on your unique profile, including bills your boss has sponsored, “Hot in the District” (for personal staff) and bills referred to your Committee (for Committee staff).</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="hm_col hm_col_2">
		<div class="hm_col_wrap">
			<h3>Build Support &amp;<br />Monitor Advocacy</h3>
			<a href="#" class="zoom zoom_screen_support" onclick="return zoompop('buildsupport')"><span>zoom</span></a>
			<div style="display: none;">
			<div id="buildsupport" class="colorbox">
				<h1>The Organization Directory</h1>
				<div class="zoom zoom_screen_support"> </div>
				<p>Build support for your boss’s issue priorities and be informed of what advocacy groups are saying about pending bills.</p>
				<p>Whether youʼre looking for an issue expert, a quote from an issue leader or to request that an organization endorse your bossʼs bill, POPVOXʼs Organization Directory allows you to search for organizations by issue or name. From there, the site lists an organizationʼs points of contact and their contact information (which is available to Hill staff only).</p>
			</div>
			</div>
		</div>
	</div>
	
	<div class="hm_col hm_col_3">
		<div class="hm_col_wrap">
			<h3>See What They Are<br />Saying Back Home</h3>
			<a href="#" class="zoom zoom_screen_report" onclick="return zoompop('whattheyaresaying')"><span>zoom</span></a>
			<div style="display: none;">
			<div id="whattheyaresaying" class="colorbox">
				<h1>Reports on Constituent Sentiment</h1>
				<div class="zoom zoom_screen_report"> </div>
				<p>Get a quick read on public sentiment—of your own constituents and others.</p>
				<p>POPVOX provides a public, nonpartisan platform for individuals to weigh in on pending bills and register their support or opposition. Our verification process ensures that each individualʼs comments are assigned to the appropriate Congressional district and restricts them to one comment per bill. You can be confident that comments on POPVOX are from constituents and not astroturf.</p>
			</div>
			</div>
		</div>
	</div>

</div>

<div class="content">
	<div class="col_6 rule">
		{% comment %}
		<div class="block hot">
			<h2>HOT TWEETS</h2>
			<img src="/media/master/_sh_twitterface.jpg" alt="_sh_twitterface" width="32" height="32" />
			<p class="tweet"><strong>sodiumhalogen</strong> <a href="http://popvox.com">http://popvox.com</a> - exciting new site we are working on where you can let congress know your opinion. effectively. <a href="#">#popvox</a></p>
			<div class="tweet_info">
				<p class="tweets">23</p>
				<a class="retweet btn" href="#">retweet</a>
			</div>
			<div class="clear"> </div>
		</div>
		{% endcomment %}
		
		<div class="block about">
			<h2>About POPVOX</h2>
			<p>POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive. Designed by <a href="/about/team">people who understand Congress</a>, POPVOX is different from other political sites. It is not a discussion forum. It is a place for action. For more about the site, see <a href="/about">About POPVOX</a> or <a href="/about/whyitworks">Why It Works</a>.</p>
			<p>POPVOX is a nonpartisan, transparent, public platform for activity on bills pending before Congress.</p>
		</div>
			
	</div><!-- e: col_6 -->
	
	<div class="col_3 rule">
		<div class="block signup">
			<h2>Email Signup</h2>
			<p>Want updates on what is new with POPVOX?</p>
			<form id="signup_form" action="#" method="post" name="signup"><br />
			
				<input id="subscribe_email" class="signup_input" name="email" size="25" maxlength="60" type="text"><br />
				
				<p id="subscribe_status" class="error"></p>
				
				<input value="join" id="subscribe_button" onclick="return subscribe(false)" type="button">
				<script>
				$('.subscribe_email').input_default("email");
				$('.signup_input').textchange(function() { subscribe(true); return true; });
				$('.signup_input').keydown_enter(function() { return subscribe(false); });
				</script>
			</form>
		</div>		
	</div><!-- e: col_3 -->
	
	<div class="col_3 col_last rule">
		<div class="block follow_us">
			<h2>Follow Us</h2>
			<ul class="social" style="height: 60px">
				<li><a class="twitter" href="http://www.twitter.com/popvox">twitter</a></li>
				<li><a class="facebook" href="http://www.facebook.com/POPVOXnation">facebook</a></li>
				<!--<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D150910028257528&amp;layout=box_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>-->
				<!--<li class="linked_in"></li>-->
			</ul>
		</div>
		
		
	</div><!-- e: col_3 -->
	<div class="clear"> </div>
</div>

{% endblock %}
