{% extends "master.html" %}
{% load registration_providers %}
{% block title %}POPVOX for Congress{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block bodyattributes %}class="land hm_congress"{% endblock %}
{% block navattributes %}id="head_r"{% endblock %}
{% block disable_login_redirect %}{% endblock %}
{% block head %}
<style>
	.colorbox { width: 500px; height: 500px; }
</style>
<script>
function zoompop(id) {
	$.colorbox({
                transition: "none",
                inline: true,
                href: '#' + id,
                opacity: .5
		});
	return false;
}
function subscribe(validate) {
	if ($('#subscribe_email').hasClass("default")) return false;
	ajaxform("post/home/subscribe",
		{ "validate": (validate ? "validate" : "submit") },
		{ "email": "#subscribe_email" },
		{ "statusfield": "subscribe_status",
		   "statussuccess": (validate ? null : "Thanks!")} );
	return false;
}
</script>
{% endblock %}
{% block head_r_content %}
<h1 id="landing">Your Voice. Verified. Quantified. Amplified</h1>
{% endblock %}
{% block content %}
<div class="hm_slide">
	<div class="hm_slide_mid">
		<div class="hm_slide_div">
			<h2>Hey Congress...</h2>
			<h1><span>Let&rsquo;s get some work done</span><br /> 
				Information you need to do your job better</h1>
			<div class="hex hex_1">
				<h2>Research<br /> <span>bills, issues, districts, states,<br /> orgs, members…</span></h2>
			</div>
			<div class="hex hex_2">
				<h2>Listen<br /> <span>Get the pulse of the<br /> nation on the bills you care about.</span></h2>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</div>
<div class="clear"> </div>
<div class="congress_mid">
	<span><h3><a href="/home">Let&rsquo;s get started</a></h3></span>
	<div id="boxes"><center><div style="width:465px" id="__ss_12607898"><iframe src="http://www.slideshare.net/slideshow/embed_code/12607898?rel=0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-top:10px" allowfullscreen></iframe></center></div>
	<div id="lists">
		<ul class="first">
			<li><a href="/services/widgets">Create Widgets</a></li>
			<li><a href="/ipad">Get our iPad App</a></li>
		</ul>
		<ul class="second">
			<li><a href="/orgs">View the Org Directory</a></li>
			<li><a href="/api/docs">Use our API</a></li>
		</ul>
		<ul class="third">
			<li><a href="/bills">Browse Bills</a></li>
			<li><a href="/gettoknow">Get To Know a District</a></li>
		</ul>
	</div>
	
	{% if user.is_anonymous %}
		<p><a class="b_get_started_l btn" href="/accounts/register/legstaff">Create an Account</a></p>
	{% else %}
		<p><a class="b_get_started_l btn" href="/home">Get Started</a></p>
	{% endif %}
</div><!-- e: congress_mid -->

<div class="content">
	<div class="col_6 rule">
		{% comment %}
		<div class="block hot">
			<h2>HOT TWEETS</h2>
			<img src="/media/master/_sh_twitterface.jpg" alt="_sh_twitterface" width="32" height="32" />
			<p class="tweet"><strong>sodiumhalogen</strong> <a href="http://popvox.com">http://popvox.com</a> - exciting new site we are working on where you can let congress know your opinion. effectively. <a href="#">#popvox</a></p>
			<div class="tweet_info">
				<p class="tweets">23</p>
				<a class="retweet btn" href="#">retweet</a>
			</div>
			<div class="clear"> </div>
		</div>
		{% endcomment %}
		
		<div class="block about">
			<h2>About POPVOX</h2>
			<p>POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive. Designed by <a href="/about/team">people who understand Congress</a>, POPVOX is different from other political sites. It is not a discussion forum. It is a place for action. For more about the site, see <a href="/about">About POPVOX</a> or <a href="/about/whyitworks">Why It Works</a>.</p>
			<p>POPVOX is a nonpartisan, transparent, public platform for activity on bills pending before Congress.</p>
		</div>
			
	</div><!-- e: col_6 -->
	
	<div class="col_3 rule">
		<div class="block signup">

		</div>		
	</div><!-- e: col_3 -->
	
	<div class="col_3 col_last rule">
		<div class="block follow_us">
			<h2>Follow Us</h2>
			<ul class="social" style="height: 60px">
				<li><a class="twitter" href="http://www.twitter.com/popvox">twitter</a></li>
				<li><a class="facebook" href="http://www.facebook.com/POPVOXnation">facebook</a></li>
				<!--<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D150910028257528&amp;layout=box_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>-->
				<!--<li class="linked_in"></li>-->
			</ul>
		</div>
		
		
	</div><!-- e: col_3 -->
	<div class="clear"> </div>
</div>

{% endblock %}
