{% extends "master.html" %}
{% load adserver_tags %}
{% block title %}POPVOX Frequently Asked Questions{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Learn about how POPVOX works through frequently asked questions.{% endblock %}
{% block head %}
<style>
	.active {
		font-weight: bold;
		}
	
	#searchbox.error {
		color: red;
		}
		
.faq .col_9 {
	padding-top: 0;
	}
	
.faq_item {
	border-top: 1px solid #a7a599;
	padding-bottom: 15px;
	}	

.faq h1 {
	background: url("/media/master/bg_rule.gif") repeat-x left bottom;
	}
	
.faq h2 {
	font: normal 28px/28px 'BebasNeueRegular', helvetica, arial, sans-serif;
	padding: 20px 0 10px 60px;
	border-top: 1px solid #a7a599;
	background-position: left center;
	background-repeat: none;
	}
	
	.faq h2.c_bills	{
		background: url(bg_icon_privacy.png) left top no-repeat;
		}
		
	.faq h2.c_orgs	{
		background: url(bg_icon_privacy.png) left center no-repeat;
		}

	.faq h2.c_message {
		background: url(bg_icon_privacy.png) left center no-repeat;
		}

	.faq h2.c_hill	{
		background: url(bg_icon_privacy.png) left center no-repeat;
		}

	.faq h2.c_first {
		border-top: 0;
		padding: 12px 0 20px 60px;
		background-position-x: top;
		}

.faq h3 {
	font: bold 18px/24px helvetica,arial,sans-serif;
	text-transform: none;
	color: #404045;
	background: none;
	margin: 20px 0 10px;
	padding: 0;
	}
	
#search_faq {
	display: block;
	float: right;
	height: 42px;
	width: 215px;
	background: #d4d1ca;
	}

	#search_faq input {
		border: 1px solid #b0aea3;
		border-radius: 12px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		-khtml-border-radius: 12px;
		background: #fff url(/media/master/bg_mag.png) 160px center no-repeat;
		margin: 10px 15px;
		padding: 3px 10px;
		width: 160px;
		}
		

.faq .img_r {
	border: 2px solid #CC6A11;
	margin: 0 0 10px 15px;
	cursor: pointer;
	}
	
.faq .b_expand, .faq .b_collapse {
	float: right;
	font-weight: bold;
	font-size: 11px;
	padding: 1px 5px;
	height: 16px;
	}
	
	.faq .b_expand:hover, .faq .b_collapse:hover {
		color: #fff;
		background: #CC6A11;
		cursor: pointer;
		}
		
.faq .tags {
	clear: both;
	margin-top: -5px;
	}

.faq .tags li {
	float: left;
	margin: 0 3px 3px 0;
	padding: 3px;
	background: #CC6A11;
	color: #fff;
	font: bold 11px/11px helvetica, arial, sans-serif;
	cursor: pointer;
	}			


/* faq col_right */

/* temp */
			.faq .ad {				
				background: #d4d1ca;
				/*height: 66px;*/
				margin-bottom: 15px;
				}
				
			.faq .item {
				display: none;
				}
	
.faq .sub {
	background: #d4d1ca;
	margin-bottom: 15px;
	}
	
	.faq .sub h2 {
		font: bold 18px/18px helvetica, arial, sans-serif;
		text-transform: uppercase;
		margin: 0 0 10px;
		padding: 0;
		border: 0;
		}

	.faq .sub ul li {
		line-height: 13px;
		}
		
		.faq .sub li a {
			color: #CC6A11;
			font-weight: bold;
			}
	
			.faq .sub li.active a {
				border: 1px solid #CC6A11;
				padding: 2px 10px;
				-moz-border-radius: 12px;
				-webkit-border-radius: 12px;
				-khtml-border-radius: 12px;
				border-radius: 12px;
				}
				
	#tags li {
		margin: 8px 0;
		height: 13px;
		text-transform: lowercase;
		}
		
	#tags li a {
		margin: 0 0 3px 0;
		padding: 3px;
		background: #CC6A11;
		color: #fff;
		font: bold 11px/11px helvetica, arial, sans-serif;
		}
		
</style>
<script>
	function populate_categories_tags() {
		$('.faq_category').each(function() {
			var tag = $("<li/>");
			var tag_a = $("<a href=\"#\"/>");
			var tag_n = $("<span class=\"name\"/>");
			var tag_s = $("<span/>");
			tag.append(tag_a);
			tag_a.append(tag_n);
			tag_n.text($(this).find("h2").text());
			tag_a.append(tag_s);
			tag_s.text(" (" + $(this).find(".faq_item").length + ")");
			$('#categories').append(tag);
			tag_a.click(function(e) { return show_cat_tag('categories', tag); });
		});
		
		var all_tags = { };
		var tag_count_max = 0;
		
		$('.faq_item ul.tags li').each(function() {
			var tag = $(this).text();
			if (!all_tags[tag]) all_tags[tag] = 0;
			all_tags[tag] += 1;
			tag_count_max = Math.max(all_tags[tag], tag_count_max);
		});
		
		// write out tags in descending order of number of questions with that tag
		for (var i = tag_count_max; i > 0; i--) {
			for (var j in all_tags) {
				if (all_tags[j] == i) {
					var f = function() {
						var tag = $("<li/>");
						var tag_a = $("<a href=\"#\"/>");
						var tag_n = $("<span class=\"name\"/>");
						var tag_s = $("<span/>");
						tag.append(tag_a);
						tag_a.append(tag_n);
						tag_a.append(tag_s);
						tag_n.text(j);
						tag_s.text(" (" + all_tags[j] + ")");
						$('#tags').append(tag);
						tag_a.click(function(e) { return show_cat_tag('tags', tag); });
					}();
				}
			}
		}
	}
	
	function show_cat_tag(cattag, item) {
		var is_active = item.hasClass("active");
		$('#' + cattag + ' li').removeClass("active");
		item.toggleClass("active", !is_active);
		do_search();
		return false;
	}
	
	function do_search(count_only) {
		// If no items match the result, don't hide them all. Just
		// indicate an error.
		if (!count_only) {
			if (!do_search(true)) {
				$('#searchbox').addClass("error")
				return false;
			}
			
			$('#searchbox').removeClass("error")
		}
		
		// hide and show each faq item
		var q = $('#searchbox').hasClass("default") ? "" : $('#searchbox').val().toLowerCase();
		var cat = $('#categories .active a span.name').text();
		var tag = $('#tags .active a span.name').text();
		
		var has_any_item = false;
		
		$('.faq_category').each(function() {
			var has_item = false; 
			$(this).find('.faq_item').each(function() {
					var matches_tag = false;
					$(this).find('ul.tags li').each(function() {
						if (tag == $(this).text()) matches_tag = true; 
					});
							
					var show =
						      (q == "" || $(this).text().toLowerCase().indexOf(q) >= 0)
						&& (cat == "" || $(this.parentNode).find("h2").text() == cat)
						&& (tag == "" || matches_tag)
						;
					if (show) has_item = true;
					if (!count_only) $(this).toggle(show);
					return 0;
			});
			if (!count_only) $(this).toggle(has_item);
			if (has_item) has_any_item = true;
		});
		
		if (!count_only) {
			$('h2').removeClass('c_first');
			$('h2:visible:first').addClass('c_first');
		}
		
		return has_any_item;
	}
	
	function show_popup() {
		$('#image_popup img').attr('src', this.getAttribute("src").replace("thumb_", ""));
	    $.colorbox({inline: true, href:"#image_popup", width: 800, height: 630, transition: "none"});
	}
	
	$(function() {
			populate_categories_tags();
			
			$('#searchbox').input_default("search faq");
			$('#searchbox').textchange(function() { do_search(false); });
			
			$('h2:first').addClass('c_first');
			
			$('.faq_item').each(function() {
					var p = $(this).find('p');
					if (p.length > 1) {
						$(p[0]).append('<a class="b_expand">read more [+]</a>');
						$(p[p.length-1]).append('<a class="b_collapse">collapse [-]</a>');
						$('.faq_item').find('p:not(:first)').hide();
					}
			});
			
			$('.b_expand').each(function() {
				var node = this;
				$(node).click(function() {
					$(node).fadeOut();
					$(node.parentNode.parentNode).find('p').fadeIn();
				});
			});

			$('.b_collapse').each(function() {
				var node = this;
				$(node).click(function() {
					$(node.parentNode.parentNode).find('p:not(:first)').fadeOut();
					$(node.parentNode.parentNode).find('.b_expand').fadeIn();
				});
			});
			
			$('.tags li').each(function() {
				$(this).click(function() {
					var tag = $(this).text();
					$('#tags li a').each(function() {
						if ($(this).find('span.name').text() == tag)
							$(this).click();
					});
				});
			});
			
			$('.faq_item .img_r').click(show_popup);
	});
	
</script>
{% endblock %}
{% block content %}

<div style="display: none">
	<div id="image_popup">
		<img/>
	</div>
</div>

<div class="content">
<div class="col_12 col_top faq">

	<div class="col_9">
		
		<h1>Frequently Asked Questions</h1>

		<p>Here are some questions frequently asked by real POPVOX users, and our answers to them. If you have a question, please email us at info@popvox.com. Chances are that other POPVOX users are thinking about the same question, so do us a favor and let us know!</p>

		<div id="search_faq">
			<form onsubmit="return false;">
				<input id="searchbox" type="text" />
			</form>
		</div>

		<div class="faq_category">
			
			<h2 class="c_bills">Bills</h2>
			
			<div class="faq_item">
				<a name="billtitles"><h3>Where do the bill titles come from? Some seem so biased.</h3></a>
				<p>The titles listed on each bill page are the official titles of the legislation.  The Congressional sponsor of the bill picks the bill's title.  Some official titles are short and sound like a traditional title (i.e., the <A HREF="/bills/us/112/hr1124">Fairness in Taxation Act</a>”) while others are long descriptions of what the bill actually does: "<a href="/bills/us/112/s797">S. 797: A bill to amend the Fair Labor Standards Act of 1938 to provide more effective remedies to victims of discrimination in the payment of wages on the basis ...</a>", (commonly known as the <a href="/bills/us/112/s797">Paycheck Fairness Act</a>.)</p>
				<p>Remember the 2010 Tax Cut Extension? Well, officially, it was “<A HREF="“<A HREF="/blog/2010/12/16/the-tax-cut-extension-or-senate-amendment-to-the-house-amendment-to-the-senate-amendment-to-h-r-4853/">the Senate amendment to the House amendment to the Senate amendment to H.R. 4853</a>.″ Seriously.</p>
				<p>For confusing, long-winded titles like these, POPVOX may display a popular “street” name for the bill instead. The street name comes either from Congress’s own research team, the Congressional Research Service, or a tag assigned by the POPVOX team based on use in the media or by the public. Our tagging system is still a work in progress, and we will unveil new search tools soon.</p>
				<ul class="tags">
					<li>bills</li>
					<li>balance</li>
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="howalerts"><h3>How are the POPVOX Alerts put together?</h3></a>
				<p>Some users receive occasional “POPVOX Alert” bill recommendations via email. These recommendations are our response to a large number of POPVOX users who told us they want two things: (1) bills related to their interests, and (2) bills that are especially popular among others on POPVOX.</p>

				<p>While we test this feature, Rachna compiles the lists manually. So, for example, if you weighed in on <A HREF="/bills/us/112/hr25">H.R. 25, the Fair Tax Act</a>, you may receive an email with a few other tax-related bills, along with a list of Trending Bills on POPVOX. Since you already weighed in on H.R. 25, it won&rsquo;t be included on the email Alerts list.  The list also won&rsquo;t include every tax-related bill (the email would be too long!), just a select few we think may interest you. POPVOX will never take positions on bills or issues.</p>
				<ul class="tags">
					<li>bills</li>
					<li>alerts</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="howtrends"><h3>How&rsquo;s the <A REF="/bills">Trending Bills of the Week</a> list compiled?</h3></a>
				<img class="img_r" src="/media/faq/thumb_trendingbills.jpg" alt="trending bills image thumbnail" width="102" height="71"/>
				<p>These are the most popular bills from the last seven days. It updates in real time, so keep checking back often to see what other POPVOX users are weighing in on!</p>
				<ul class="tags">
					<li>bills</li>
					<li>trending</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->
		</div> <!-- end of category -->

		<div class="faq_category">
			
			<h2 class="c_orgs">Organizations and Popvox</h2>
			
			<div class="faq_item">
				<a name="wheresorgx"><h3>Why isn&rsquo;t the American Association of You-Name-It listed on POPVOX? How does POPVOX list organizations?</h3></a>
				<p>POPVOX launched in January 2011 with a few hundred organizations seeded in our <A HREF="/orgs">Organization Directory</a>. Since then, hundreds of organizations have come to POPVOX to "claim their profiles." We encourage these organizations to upload position statements and press releases on specific bills, and to urge their membership and activist base to weigh in on bills on POPVOX.</p>

				<p>As campaigns around bills heat up in Congress, the POPVOX team also uploads the positions organizations take on these bills as an added value to our POPVOX users and Congressional staffers. From our conversations with our users, we know that they want to hear from trusted sources of information before weighing in on a bill—including issue experts and analysts, as well as other individuals in their community or state.</p>

				<p>If you know of an organization you&rsquo;d like to see on POPVOX, please let Rachna know at <a href="mailto:rachna@popvox.com?subject=I Want To See This Organization On Popvox!">rachna@popvox.com. We&rsquo;d also love a reference to that organization, so reach out and ask them to get on POPVOX! And feel free to share this <A HREF="/files/organization_intro.pdf">Organizational Overview</a> with them.</p>
				<ul class="tags">
					<li>orgs</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="convinceboss"><h3>I want my organization/trade association to start using POPVOX for their legislative campaigns. POPVOX is new and some folks are still skeptical. What can I tell them to change their minds?</h3></a>

				<p>Nonprofit organizations and community groups, especially nowadays, are stretched thin on resources and staff time and sometimes find it difficult to try out a new technology. We get many emails from organization staff requesting: "I know POPVOX makes sense and will help me get my organization&rsquo;s message to Congress. How do I convince my higher-ups?"</p>

				<p>Here are some points that make POPVOX unique and compelling for organizations:</p>

				<p>1. The POPVOX team knows advocacy. We created POPVOX to address the “<A HREF="http://www.huffingtonpost.com/jake-brewer/the-tragedy-of-political_b_773734.html">Tragedy of Advocacy</a>” and make campaigns more effective. <A HREF="/about/team">Our CMO and co-founder, Rachna Choudhry</a>, worked for various nonprofit advocacy organizations for a dozen years, lobbying Congress and mobilizing grassroots support. <A HREF="/about/team">CEO, Marci Harris</a>, worked for a Member of Congress for several years, on the receiving end of advocacy. (Read <A HREF="https://www.popvox.com/about">about us</a>, and <a HREF="http://www.popvox.com/blog/2010/09/09/why-im-excited-to-join-popvox">Rachna’s story</a>)</p>

				<p>2. POPVOX is not just for big organizations; there are many features for smaller, niche organizations. Big organizations have a team of full-time lobbyists pounding the halls of Congress. Congress wants to hear from smaller organizations too. Niche organizations and those outside the Beltway have their “feet on the ground” and may know an issue better than a DC-based organization. That&rsquo;s why the POPVOX Organization Directory is so important: Congressional staffers, trade associations and issue groups can reach out to organizations that may not be the biggest, but are the experts in their issue.</p>

				<p>3. Advocacy campaigns on POPVOX are public—so individuals can learn about an issue before they weigh in with their Members of Congress. For organizations, this means they can access quantified data on an issue. Look at our Bill Reports, chock-full of pie charts, line graphs and maps. This information especially helps when organization staff and their members are talking to Senators and Representatives, and with other organizations. (Imagine saying, "Congresswoman, 50 constituents in your district support this bill. Please cosponsor it.”)</p>

				<p>4. Think of POPVOX as the "Netflix" for bills. When a POPVOX user weighs in on a bill, we then offer them other bills they might be interested in on the home page. Using the Netflix example, if you rent a Meg Ryan/Tom Hanks movie, then Netflix prompts you with other romantic comedies. On POPVOX, this means that individuals with similar interests can easily find your issue or bill with our recommendations feature.</p>

				<p>5. POPVOX is a low-cost provider for advocacy tools. Every message or position that a POPVOX user takes on our site gets sent to their member of Congress at no cost to them. This isn&rsquo;t a petition site, which Congressional staffers agree is not as effective. Nor do we fax to Congress (unless an office specifically requests it), which in a <A HREF="http://pmpu.org/wp-content/uploads/CWC-Perceptions-of-Citizen-Advocacy.pdf">recent study</a> was deemed least effective for advocacy.</p>

				<p>6. <b>POPVOX also offers organizations (and individuals) "widgets" on their website for people to take action with their members of Congress—at no cost</b>. These widgets will enable organizations to embed fresh content on their own websites, as well as a Write-Congress tool. Visit <A HREF="https://www.popvox.com/services/widgets">our Widget Info page</a>.</p>
				<ul class="tags">
					<li>orgs</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->
		</div> <!-- end of category -->

		<div class="faq_category">
			
			<h2 class="c_hill">POPVOX and Congress</h2>
			
			<div class="faq_item">
				<a name="billtitles"><h3>What does Congress see on POPVOX? Does POPVOX seek feedback from Congressional staffers?</h3></a>
				<img class="img_r" src="/media/faq/thumb_legdash.jpg" alt="faq_thumb" width="102" height="71" />
				<p>We are regularly asking Congressional staffers to "beta test" various features of the site—before and after we launch major features. In addition, we regularly survey Congressional staffers about POPVOX.</p>

				<p>In fact, these conversations with Congressional staffers drove the functionality of the Congressional staffer "dashboard.” (To get an overview of that, please visit <A HREF="http://www.popvox.com/blog/2011/01/26/what-congress-sees-on-popvox/">What Congress Sees On POPVOX</a>.) The POPVOX team meets regularly with staffers from both sides of the aisle to get feedback.</p>

				<p>POPVOX is still a new tool for Congressional staffers, but the success of POPVOX and the effectiveness of letters written on POPVOX do not depend on Congressional staff coming to POPVOX. We are very committed to delivering our users&rsquo; messages to Congress, whether or not the Congressional office uses other tools POPVOX provides.</p>
				<ul class="tags">
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->
		</div> <!-- end of category -->

		<div class="faq_category">
			
			<h2 class="c_message">Your Message And Congress</h2>
			
			<div class="faq_item">
				<a name="howsent"><h3>How is my message sent to Congress?</h3></a>
				<p>Comments left on POPVOX are delivered to your Representative and/or Senators in Congress. Your POPVOX home page displays the status of the delivery of your message.</p>

				<p>POPVOX delivers messages to Congress electronically* because <A HREF="http://www.cmfweb.org/index.php?option=com_content&task=view&id=62&Itemid=">that’s how the offices prefer to receive them</a>.  Your message goes into the office’s database that lets them track their constituents’ sentiment on bills and group similar letters together for their replies. (Printed letters and faxes are so much harder for offices to process. Your name and address would be keyed into their database by the nearest intern, and what you wrote will probably never be seen by a policy staff member.)</p>

				<p>*A small number of Congressional offices do not accept electronic delivery from third party services. In those cases we will actually print out your message walk down to Capitol Hill and deliver your message in person.</p>

				<p>Either way, you’ll see a note on your POPVOX Home page that we’ve delivered your comment once we hand it off to the Congressional office.</p>
				<ul class="tags">
					<li>messages</li>
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="nocomment"><h3>What if I don’t leave a comment?</h3></a>
				<p>As you weigh in on bills, you have the option to skip the personal message. When you skip the personal message, POPVOX sends a simple notification to legislators (if they accept electronic delivery), which says: “(your name) supported/opposed this bill on POPVOX and chose not to leave a comment.  He/she is not expecting a response.”</p>

				<p>At this time if your Member of Congress is one of the few that does not accept electronic delivery, your position will be counted toward the totals on POPVOX but will not be delivered to your Member of Congress.</p>
				<ul class="tags">
					<li>messages</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="whogets"><h3>Who gets my letter?</h3></a>
				<p>One reason <A HREF="/about/whyitworks">POPVOX is effective</a> is that all letters to Congress sent through POPVOX are about something your Members of Congress can take action on, such as voting in favor or against a bill or cosponsoring a bill. That’s why POPVOX let’s you write messages only in support or opposition to bills in Congress.</p>

				<p>When we deliver your letter, we are also careful to initially deliver it only to either your Representative or to your two Senators, depending on whether the bill is up for a vote next in the House or Senate. If the bill is up for a vote in the House next, we send your letter initially only to your Representative in the House (since there is nothing your Senators can do about the bill at that time). However, if the bill passes the House, we will then send your original letter to your two senators (if you live in one of the 50 states and not a territory, of course).</p>
				<ul class="tags">
					<li>messages</li>
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="oldbills"><h3>What about letters I write regarding bills from previous years?</h3></a>
				<p>We also allow you to write comments in support of reintroducing a bill that “died” in a previous session of Congress. (Every two years Congress clears its list of pending bills and starts fresh.  See: <a href="http://www.popvox.com/blog/2010/12/22/what-happens-to-bills-after-congress-adjourns/">what happens to bills after Congress adjourns</a>)</p>

				<p>In this case, the former sponsor of the original bill is the most appropriate recipient, but we can’t deliver all messages to them because Members of Congress only want to hear from their own constituents. At this time, we do not deliver messages about reintroduction but leave it up to advocacy organizations to reach out to the original sponsor when they have grown a sufficient grassroots base.</p>

				<p>(To read more about what happens to the messages, please visit <A HREF="http://www.popvox.com/blog/2011/03/09/what-happens-after-you-click-submit-hold-the-middle-man-accountable/">What happens after you click submit? (Hold the middle man accountable.)</a>).</p>
				<ul class="tags">
					<li>messages</li>
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->

			<div class="faq_item">
				<a name="billpass"><h3>When the House passes a bill, it then goes to the Senate. Does the position I took (or the letter I wrote) about the bill go to my Senators as well? </h3></a>

				<p>Yes! When the House passes a bill you weighed in on, your position on the bill is automatically sent to your Senators. In some cases, you might receive a note from your Senator responding to your comment.  We are considering whether to send an update to POPVOX users when this happens, and <A HREF="/about/contact">we&rsquo;d love your thoughts</a>. Would you prefer to receive an update via email or on your POPVOX Home Page stating: "You weighed in on HR ###. It was passed by the House and has moved on to the Senate. POPVOX will deliver your comments on the bill to your Senators."</p>
				<ul class="tags">
					<li>messages</li>
					<li>congress</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->
		</div> <!-- end of category -->

		<div class="faq_category">
			
			<h2 class="c_popvox">About POPVOX</h2>
			
			<div class="faq_item">
				<a name="billtitles"><h3>How is POPVOX Funded?</h3></a>
				
				<p>We are a private company, currently financed with some friends and family investment and some seed money from our senior advisor, Tim O'Reilly (<A HREF="/blog/2010/11/17/popvox-announces-tim-oreilly-as-an-angel-investor/">Press release</a>).  We are  a "startup" in the truest sense, with three co-founders working nonstop for no pay and a few talented friends helping us for much less than they are worth.  We are currently trying to raise money, so we enter startup competitions like this one at <A HREF="http://sxsw.com/node/7079">South-by-Southwest</a> in Austin, (which we won!) and are "pitching" investors to try to convince them that our idea has merit.  We have also tried a few unconventional fundraising methods, like <A HREF="/blog/2011/03/22/328/">this "crowd-funding" effort for our iPad app</a>.</p>

				<p>We eventually plan to make money by selling "pro" services to organizations to help them track bills and organize their grassroots supporters through the site and advertising.</p>

				<p>Read more about <A HREF="/about/team">the team and advisors</a>, and about <A HREF="/about/principles">our company philosophy</a></p>
				<ul class="tags">
					<li>popvox</li>
					<li>business</li>
				</ul><div class="clear"> </div>
			</div> <!-- end of item -->
		</div> <!-- end of category -->
	</div>
	
	<div class="col_3 col_last col_top">
		
		<div class="ad">{% show_ad std180x150 "rightbar_slot1" %}</div>
		
		<div class="sub">
			<h2>Categories</h2>
			<ul id="categories">
			</ul>
		</div>

		<div class="sub">
			<h2>Tags</h2>
			<ul id="tags">
			
			</ul>
		</div>
		
		<div class="ad">{% show_ad std180x150 "rightbar_slot2" %}</div>
	</div>
	
</div>
</div>

{% endblock %}
