{% extends "master.html" %}
{% load registration_providers %}
{% block title %}POPVOX - Your Voice. Verified. Quantified. Amplified.{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block bodyattributes %}class="land"{% endblock %}
{% block navattributes %}id="head_r"{% endblock %}
{% block navbarlinks %}
	<li id="landing_home_link" style="display: none"><a href="/home">Home</a></li>
	<script>master_state(function(res) { if (res.user) $('#landing_home_link').show(); });</script>
{% endblock %}
{% block disable_login_redirect %}{% endblock %}
{% block finalscript %}<script>mpmetrics.track('splash page');</script>{% endblock %}
{% block head %}
<script>
{% comment %}
var slider_index = 0;
var auto_advance = true;
function slide(direction, new_index, isauto) {
	if (isauto && !auto_advance) return;
	if (isauto) direction = 1;
	else if (direction != null || new_index != null) auto_advance = false;
	var last_slider_index = slider_index;
	if (direction != null) {
		slider_index += direction;
		if (slider_index == -1) slider_index = 3;
		if (slider_index == 4) slider_index = 0;
	} else if (new_index != null) {
		slider_index = new_index;
	}
	$('.hm_ad_mid').animate( {"margin-left": (-slider_index*$('.hm_ad_div').width())}, 1000);
	$('#landing_button_' + last_slider_index).removeClass('active');
	$('#landing_button_' + slider_index).addClass('active');
	if (auto_advance) setTimeout("slide(null, null, 1)", 6000);
	return false; // important to cancel click;
}
$(function() {
	slide();
	$('#subscribe_email').input_default("email address");
	$('#subscribe_email').keyup_delayed(function () { subscribe(true); });
});
{% endcomment %}
function subscribe(validate) {
	if ($('#subscribe_email').hasClass("default") || $('#subscribe_email').val() == "") return false;
	ajaxform("post/home/subscribe",
		{ "validate": (validate ? "validate" : "submit") },
		{ "email": "#subscribe_email" },
		{ "statusfield": "subscribe_status",
		   "statussuccess": (validate ? null : "Thanks!")} );
	return false;
}

{% comment %}
var last_elem = 0; // prevent same one twice
function supercommittee_rotate() {
	var elems = $("#super_container ul li");
	elems.fadeOut();
	var item = Math.floor(Math.random()*(elems.length-1));
	if (item >= last_elem) item++;
	$(elems[item]).fadeIn();
	window.setTimeout("supercommittee_rotate()", 7500);
	last_elem = item;
}
window.setTimeout("supercommittee_rotate()", 7500);
{% endcomment %}
</script>
<style>
/* super committee ad */
#super_container {
	background: url("/media/features/ad-cong-match.jpg") no-repeat scroll left top transparent;
    display: block;
    height: 100px;
    width: 940px;
   	overflow: hidden;
	}
	
	#super_container ul li {
background: none repeat scroll 0 0;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 55px;
    margin-bottom: 10px;
	width: 980px;
	height: 80px;
	}
		
	#super_container ul li a {
color: #FFFFFF;
font-size: 16px;
    display: block;
    float: left;
    font-weight: bold;
    height: 55px;
    margin-bottom: 10px;
    padding: 25px 0 0 10px;
    width: 442px;
    background: url(/media/features/supercommittee/b_go_sc.png) 356px 14px no-repeat;
		}
		
			#super_container ul li a:hover {
				background-position: 356px -52px;
				border: none;
				}
				
	#super_container ul li a div {
		height: 17px;
		margin-bottom: 3px;
		overflow: hidden;
		width: 320px;
	}
		
	#super_container ul li > span {
background: url("/media/features/supercommittee/supercommittee_sprites_lg.png") no-repeat scroll left top transparent;
display: block;
float: left;
height: 80px;
margin-left: 418px;
width: 70px;
		}
		
		#super_container ul li.i_financial span.icon {
			background-position: -433px 2px;
			}

		#super_container ul li.i_health span.icon {
			background-position: -283px 2px;
			}

		#super_container ul li.i_tax span.icon {
			background-position: 6px 2px;
			}
	

	#super_container ul li a > span {	
		display: block;
		font-size: 14px;
		font-weight: normal; 
		}
</style>
{% endblock %}
{% block head_r_content %}
<h1 id="landing">Your Voice. Verified. Quantified. Amplified</h1>
{% endblock %}
{% block content %}
<div class="hm_slide">
	<div class="hm_slide_mid">
		<div class="hm_slide_div">
			<h1>Your Message in the Language of Congress</h1>
			<ul>
				<li class="one">Find a bill your care about.</li>
				<li class="two">Choose to Support or Oppose it.</li>
				<li class="three">Share your opinion with Congress &amp; the world.</li>
			</ul>
			
			<p style="margin-top: 15px"><a class="b_get_started_l btn" href="/bills">Get Started</a></p>
		</div>
	</div>
</div>
<div class="clear"> </div>

<a href="https://www.popvox.com/fiscalcliff"><img src="/media/master/b_weigh_in_fiscal_cliff.jpg"></a>
{% comment %}
<div id="super_container">
        
	<ul>
		{% for proposal in supercommittee_bill_list %}
		{% if proposal.category_icon == "i_financial" or proposal.category_icon == "i_tax" or proposal.category_icon == "i_health" %}
		<li class="{{proposal.category_icon}}"><span class="icon"></span><a href="/supercommittee"><div>{{proposal.title}}?</div> <span>reduces the deficit by ${{proposal.savings}} billion over 10 years</span></a></li>
		{% endif %}
		{% endfor %}
	</ul>

</div>
{% endcomment %}
<div class="clear"> </div>



<div class="hm_btm_cols">
	<div class="hm_col hm_col_1">
		<div class="hm_col_wrap">
			<h3 id="for_org">For Organizations</h3>
			<p>Increase your visibility on Capitol Hill with the searchable Organization Directory.</p>
			<p>Get bottom-line data with real-time reports on specific bills.</p>
			<p>Build grassroots support for bill re-introduction.</p>
		</div>
		<p><a class="b_register_org btn" href="/accounts/register/orgstaff">Register Now</a></p>
	</div>
	
	<div class="hm_col hm_col_2">
		<div class="hm_col_wrap">
			<h3 id="for_congress">For Congress</h3>
			<p>Stay on top of your legislative portfolio with bill-tracking tools.</p>
			<p>Find organizations by issue&mdash;and who to contact there.</p>
			<p>Get a real-time read on public sentiment on specific bills.</p>
		</div>
		<p><a class="b_register_con btn" href="/congress">Register Now</a></p>
	</div>
	
	<div class="hm_col hm_col_3" style="overflow: hidden; height: 280px">
		<h3 id="news_feed">News Feed</h3>
		
		{% for entry in news %}
			<h4>{{ entry.publish_date|date:"M j, Y" }}</h4>
			<p><a href="{{entry.get_absolute_url}}">{{ entry.title }}</a>. {{ entry.rendered_content|striptags|truncatewords:7}}</p>
		{% endfor %}
	</div>

</div>

<div class="content">
	<div class="col_6 rule">
		{% comment %}
		<div class="block hot">
			<h2>HOT TWEETS</h2>
			<img src="/media/master/_sh_twitterface.jpg" alt="_sh_twitterface" width="32" height="32" />
			<p class="tweet"><strong>sodiumhalogen</strong> <a href="http://popvox.com">http://popvox.com</a> - exciting new site we are working on where you can let congress know your opinion. effectively. <a href="#">#popvox</a></p>
			<div class="tweet_info">
				<p class="tweets">23</p>
				<a class="retweet btn" href="#">retweet</a>
			</div>
			<div class="clear"> </div>
		</div>
		{% endcomment %}
		
		<div class="block about">
			<h2>About POPVOX</h2>
			<p>POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive. Designed by <a href="/about/team">people who understand Congress</a>, POPVOX is different from other political sites. It is not a discussion forum. It is a place for action. For more about the site, see <a href="/about">About POPVOX</a> or <a href="/about/whyitworks">Why It Works</a>.</p>
		</div>
			
	</div><!-- e: col_6 -->
	
	<div class="col_3 rule">
		<div class="block signup">
			<h2>Email Signup</h2>
			<p>Want updates on what is new with POPVOX?</p>
			<form id="signup_form" action="#" method="post" name="signup"><br />
			
				<input id="subscribe_email" class="signup_input" name="email" size="25" maxlength="60" type="text"><br />
				
				<p id="subscribe_status" class="error"></p>
				
				<input value="join" id="subscribe_button" onclick="return subscribe(false)" type="button">
				<script>
				$('.subscribe_email').input_default("email");
				$('.signup_input').textchange(function() { subscribe(true); return true; });
				$('.signup_input').keydown_enter(function() { return subscribe(false); });
				</script>
			</form>
		</div>		
	</div><!-- e: col_3 -->
	
	<div class="col_3 col_last rule">
		<div class="block follow_us">
			<h2>Follow Us</h2>
			<ul class="social" style="height: 60px">
				<li><a class="twitter" href="http://www.twitter.com/popvox">twitter</a></li>
				<li><a class="facebook" href="http://www.facebook.com/POPVOXnation">facebook</a></li>
				<!--<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D150910028257528&amp;layout=box_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>-->
				<!--<li class="linked_in"></li>-->
			</ul>
		</div>
		
		
	</div><!-- e: col_3 -->
	<div class="clear"> </div>
</div>

{% endblock %}

