{% extends "master.html" %}
{% block title %}POPVOX Markup on the iPad - Welcome{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX iPad application for Congressional staff to browse, search, read, and annotate or take notes on bills in the U.S. Congress.{% endblock %}
{% block head %}
<style>
h1 { font-size: 48px; }
strong { font-weight: bold; color: #333; }
p { font-size: 17px; line-height: 24px; color: #555; }
</style>
{% endblock %}
{% block content %}

<div class="content" style="padding-top: 30px">

	<div class="col_5 col_top">
	<div style="padding: 0 15px 0 0">
		<h1>Registration Complete</h1>

		<p>Your POPVOX registration is complete.</p>

		<p><strong>Go back to POPVOX MarkUp on your iPad and log in.</strong></p>
		
		<p>Your registration also works here POPVOX.com.
		{% if user.userprofile.is_leg_staff %}You can use POPVOX.com to read your constituent mail coming from POPVOX, access bill reports, and <a href="/orgs">organization contact details</a>.
		{% else %}Use POPVOX.com to explore bill reports, <a href="/organization">create your organization profile</a>, or <a href="/bills">weigh-in on legislation</a>.{% endif %}</p>
	</div>
	</div>
	
	<div class="col_7 col_top col_last">
		<img src="/media/mobile/pub/ipad-markup-3.png" width="536" height="396"/>
	</div>
	
</div>

{% endblock %}
