{% extends "master.html" %}
{% block title %}POPVOX Markup on the iPad{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX iPad application for Congressional staff to browse, search, read, and annotate or take notes on bills in the U.S. Congress.{% endblock %}
{% block head %}
<style>
h1 span { font-family: Arial, Helvetica; font-size: 16px; color: #777; }
strong { font-weight: bold; }
</style>
{% endblock %}
{% block content %}

<div class="content">

	<div class="col_6 col_top">
		<img src="/media/mobile/pub/ipad-markup-1.png" width="466" height="387"/>
		
		<img src="/media/mobile/pub/ipad-markup-2.png" width="466" height="363"/>
	</div>
	
	<div class="col_6 col_top col_last">
	<div style="padding: 2em 0 0 2em;">
		<p><em>The first app designed specifically for Congressional staff and Members</em><p>
		
		<h1>POPVOX Markup <span>for the Apple iPad</span></h1>
		
		<p>Get it on the App Store. $49.99. Put the app icon here.</p>
		
		<p>Be prepared &mdash; without a ream of paper. Take POPVOX with you to meetings or use it in your down time to research and takes notes on bills in Congress. The app features:</p>
		
		<ul class="bullets">
			<li>Search all bills in the <strong>112<sup>th</sup> Congress</strong>.</li>
			<li>Sponsor, <strong>status</strong>, and cosponsor information.</li>
			<li>Endorsements/opposition statements from <strong>advocacy organizations</strong>.</li>
			<li><strong>Constituent letters</strong> about the bill from POPVOX users. (Note: Name and address is shown to app users working in the office to which the letter was addressed.)</li>
			<li>Summary <strong>statistics</strong> on constituent sentiment about the bill in the nation and in every state and congressional district (when available).</li>
			<li>Read the <strong>bill text</strong>.</li>
			<li><strong>Take notes</strong> on the bill as you are reading. Just type in your notes.</li>
			<li>Email your notes back to yourself or others.</li>
			<li><strong>Share</strong> bills via Facebook or Twitter.</li>
		</ul>
		
		<p>Works on all iPad models. The application currently requires an Internet connection at all times &mdash; we plan to address this in a future version. You do not need to be Congressional staff to use this app.</p>
		
		<p>Please <a href="/about/contact">contact us</a> with any feedback or questions.</p>
		
		<hr/>
		
			<p>In June 2010, Rep. Charles Djou (HI) was <a href="http://www.gop.gov/blog/10/07/01/djou-makes-ipad-history-on">the first congressman to use an iPad during a floor speech</a>. The new House rules of the 112th Congress, which started in 2011, permit the use of iPads on the House floor. Since then, iPad use has grown among staff and Members.</p>
			
			<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals’ personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX.com, and now POPVOX Markup, provide a legislative dashboard for Congress and government affairs professionals with bill status information, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments.</p>
	</div>
	</div>
	
</div>

{% endblock %}
