{% extends "master.html" %}
{% block title %}POPVOX Markup on the iPad{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX iPad application for Congressional staff to browse, search, read, and annotate or take notes on bills in the U.S. Congress.{% endblock %}
{% block head %}
<link rel="stylesheet" href="/media/mobile/css/ipad_landing_pg_style.css" type="text/css" />
{% endblock %}
{% block content %}

<div class="content ipad">

	<div class="col_6 col_top">
		<h2 id="coffee">Coffee in one hand, 10,000 bills in the other</h2>
	</div>
	
	<div class="col_6 col_top col_last">
	
		<h1>POPVOX Markup <span>for the Apple iPad</span></h1>
		
		<div id="ipad_block">
			<h2>The first app designed specifically for Congressional staff &amp; Members</h2>
			<a class="app_store" href="http://itunes.apple.com/gb/app/popvox.../id469953577">$9.99 <em>Available on the App Store</em></a>
			
			<p>Be prepared &mdash; without a ream of paper. Take POPVOX with you to meetings or use it in your down time to research and take notes on bills in Congress.</p>
		</div>
		
	</div>
	<div class="clear"> </div>
	
	<div class="col_6">			
		<ul class="ipad_icons">
			<li class="i_search"><strong>Search all bills</strong> in the 112<sup>th</sup> Congress.</li>
			<li class="i_notes"><strong>Take notes</strong> on the bill as you are reading. Just type in your notes.</li>
			<li class="i_toc"><strong>Jump to sections</strong> using a table of contents.</li>
			<li class="i_info"><strong>Find sponsor, status and cosponsor</strong> information.</li>
			<li class="i_org"><strong>Read endorsing and opposing statements</strong> from advocacy organizations.</li>
		</ul>

		<p class="ipad_note">Works on all iPad models. Internet connection required. A great tool for lobbyist and advocates in addition to Congressional staff!</p>
	</div>

	<div class="col_6 col_last">			
		<ul class="ipad_icons">
			<li class="i_stats"><strong>Get summary statistics</strong> on constituent sentiment about the bill nationally and in every state and congressional district <em>(when available)</em>.</li>
			<li class="i_read"><strong>Read constituent letters</strong> about specific bills from POPVOX users. <em>(Note: Name and address is shown to Congressional staff app users working in the office to which the letter was addressed.)</em></li>
			<li class="i_email"><strong>Email your notes</strong> back to yourself or others.</li>
			<li class="i_share"><strong>Share bills</strong> via Facebook or Twitter.</li>
		</ul>
		<p><a class="b_ipad_feedback" href="/about/contact">Please contact us with any <strong>feedback</strong> or <strong>questions</strong>.</a></p>
	</div>
	<div class="clear hr"> </div>
	
	<div class="center_it"><a class="app_store" href="http://itunes.apple.com/gb/app/popvox.../id469953577">$9.99 <em>Available on the App Store</em></a></div>
	<div class="clear hr"> </div>

	<div class="col_6">			
		<img src="/media/mobile/images_landing/ipad_screen_1.jpg" alt="popvox ipad screen" />
		<img src="/media/mobile/images_landing/ipad_screen_3.jpg" alt="popvox ipad screen" />
	</div>
	
	<div class="col_6 col_last">
		<img src="/media/mobile/images_landing/ipad_screen_2.jpg" alt="popvox ipad screen" />
		<img src="/media/mobile/images_landing/ipad_screen_4.jpg" alt="popvox ipad screen" />
	</div>
	<div class="clear"> </div>

	<div class="col_6">
		<h2>Congress and iPads</h2>
		<p>In June 2010, Rep. Charles Djou (HI) was <a href="http://www.gop.gov/blog/10/07/01/djou-makes-ipad-history-on">the first congressman to use an iPad during a floor speech</a>. The new House rules of the 112th Congress, which started in 2011, permit the use of iPads on the House floor. Since then, iPad use has grown among staff and members, with committees including <a href="http://thehill.com/homenews/house/184043-staffers-get-work-ipads-on-the-hill">Senate Veterans&rsquo; Affairs purchasing iPads for their Members and top staff</a>.</p>
	</div>
	
	<div class="col_6 col_last">
		<h2>Who POPVOX is</h2>
		<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals’ personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX.com, and now POPVOX Markup, provide a legislative dashboard for Congress and government affairs professionals with bill status information, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments.</p>
	</div>
</div>

{% endblock %}
