{% extends "master.html" %}
{% block title %}POPVOX - Job Opportunities{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX.com job opportunities.{% endblock %}
{% block content %}

<div class="content">

	<div class="col_9 col_top col_last">
		<h1>Job Opportunities at POPVOX</h1>
		
		<p>POPVOX is looking to add a few additional players to our team who are as excited about the intersection of civics and technology as we are. We are currently looking for:</p>
		
		<dl class="">
			<dt>Data Visualization Expert</dt>
			<dd>The data visualization expert will work with our team to develop a compelling presentation of user comments that serves the needs of Congressional legislative staff.</dd>
		</dl>
		
		<p>Please <a href="/about/contact">contact us</a> if you are interested. Serious candidates only. Include a summary of your relevant experience in the body of your email and attach a resume. Living in the DC area is a plus.</p>
	</div>
	
</div>

{% endblock %}
