{% extends "master.html" %}
{% block title %}POPVOX - Privacy Policy and Terms of Use{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Privacy Policy and Terms of Use{% endblock %}
{% block content %}

<div class="section">

	<h1>Privacy Policy and Terms of Use</h1>
	<div class="block rule">
		<h3>Privacy Policy</h3>
	   <p>We are currently developing our privacy policy.</p>
		<div class="clear"> </div>
	</div>
		
	<div class="block rule">
		<h3>Terms of Use</h3>
		<p>We are currently developing our terms of use.</p>
	</div>
</div>

{% endblock %}
