{% extends "master.html" %}
{% block title %}POPVOX - Media{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Media coverage of POPVOX.{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}

<div class="content">
<div class="col_9 col_top">

<h1>Media</h1>

<p>For media inquiries, please contact Marci Harris, POPVOX CEO, at <a href="mailto:info@popvox.com">info@popvox.com</a>.</p>

<h2>Press Articles &amp; Mentions</h2>

<ul class="bullets">
	<li>November 16, 2010. gov20.govfresh: <a href="http://gov20.govfresh.com/popvox-tries-to-bring-the-voice-of-the-people-into-congress/" class="blank">POPVOX tries to bring the voice of the people into Congress</a>, by Alex Howard.</li>
	<li>October 28, 2010. eDemocracyBlog: <a href="http://www.edemocracyblog.com/edemocracy-blog/fixing-broken-political-communication/" class="blank">Fixing 'broken political communication'</a>.</li>
	<li>October 25, 2010. Huffington Post: <a href="http://www.huffingtonpost.com/jake-brewer/the-tragedy-of-political_b_773734.html" class="blank">The Tragedy of Political Advocacy</a>, by Jake Brewer.</li>
	<li>Aug 27, 2010. IBM Center for The Business of Government: <a href="http://www.businessofgovernment.org/blog/implementation-recovery-act/can-you-hear-me-now" class="blank">Can you hear me now?</a></li>
</ul>

</div>

{% include "ads/rightbar.html" %}

</div>

{% endblock %}
