{% extends "master.html" %}
{% block title %}POPVOX - Media{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Media coverage of POPVOX.{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}

<div class="content">
<div class="col_9 col_top">

<h1>Media</h1>

<p>For media inquiries, please contact Marci Harris, POPVOX CEO, at <a href="mailto:info@popvox.com">info@popvox.com</a>.</p>

<h2>Press Articles &amp; Mentions</h2>

<ul class="bullets">
	<li>Aug 27, 2010. IBM Center for The Business of Government: <a href="http://www.businessofgovernment.org/blog/implementation-recovery-act/can-you-hear-me-now" class="blank">Can you hear me now?</a></li>
</ul>

</div>

{% include "ads/rightbar.html" %}

</div>

{% endblock %}
