{% extends "master.html" %}
{% block title %}POPVOX - Media{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Media coverage of POPVOX.{% endblock %}
{% block head %}
<style>
.logo.bullets li a { color: #CC6A11; letter-spacing: 1px; font-size: 14px; text-decoration: underline }
.logo.bullets li a:hover { border: none }
.pressreleases.bullets { margin: 25px 0 25px 0; }
.extras.bullets { clear: both; }
.extras.bullets .pub { font-style: italic; }
</style>
{% endblock %}
{% block content %}

<div class="content">
	<div class="col_9 col_top press">
	
		<h1>Press</h1>
		<h4>For media inquiries, please contact Marci Harris, POPVOX&rsquo;s CEO, at <a href="mailto:info@popvox.com">info@popvox.com</a>.</h4>
		
		<h3>Media Coverage &amp; Press Releases</h3>
		
		<!--<div class="hr"> </div>-->
		
		<div><small>July 2011</small></div>

		<ul class="extras bullets">
			<li><a href="http://www.chicagotalks.org/2011/07/02/be-your-own-lobbyist-with-popvox-and-be-heard-in-congress/">Be Your Own Lobbyist with POPVOX and Be Heard in Congress</a> in <span class="pub">ChicagoTalks</span>, <span class="date">July 2, 2011</span>.</li>
		</ul>

		<div class="hr"> </div>
		
		<div><small>June 2011</small></div>
		
		<ul class="pressreleases bullets">
			<li>PRESS RELEASE. June 21, 2011: <a href="/press/2011-06-21/privacy">Political Startup Shows Users “What We Know About You”: POPVOX Releases Cutting-edge Privacy Policy, Commits to Do Not Track Header</a></li>
			<li>PRESS RELEASE. June 6, 2011: <a href="/press/2011-06-06/widget">POPVOX Brings Professional Advocacy to Any Website: Free POPVOX Write Congress Widget empowers grassroots activism</a></li>
		</ul>

		<div class="hr"> </div>
		
        <div><small>May 2011</small></div>

		<ul class="pressreleases bullets">
			<li>VIDEO. May 17, 2011: <a href="http://www.youtube.com/watch?v=DpweRGejNEE">POPVOX presents at DC Tech Meetup 3</a></li>
		</ul>

        <div class="col_4_5">
            <a href="http://www.washingtonpost.com/business/capitalbusiness/popvox-connects-advocacy-groups-public-to-congress/2011/05/20/AGTwaGEH_story.html">
                <img src="media/press/press_washingtonpost_capitalbusiness.jpg" width="140" height="110"/>
            </a>
            <h4><a href="http://www.washingtonpost.com/business/capitalbusiness/popvox-connects-advocacy-groups-public-to-congress/2011/05/20/AGTwaGEH_story.html">Popvox connects advocacy groups, public to Congress</a></h4>
            <h5>The Washington Post &mdash; Capital Business</h5>
            <p>by Steven Overly<br/><span>May 29, 2011</span></p>
        </div>

        <div class="col_4_5 col_last">
            <a href="http://www.cbsnews.com/8301-504943_162-20063124-10391715.html">
                <img src="media/press/press_cbs_whatstrending.jpg" width="140" height="110"/>
            </a>
            <h4><a href="http://www.cbsnews.com/8301-504943_162-20063124-10391715.html">For today's politicians, it's all about the influence you hold online</a></h4>
            <h5>CBSNews</h5>
            <p>by Alexander B. Howard<br/><span>May 16, 2011</span></p>
        </div>

        <div class="hr"> </div>

		<div><small>April 2011</small></div>

		<div class="col_4_5">
			<a href="http://www.bizjournals.com/washington/print-edition/2011/04/22/after-years-of-hibernation-dcs.html">
				<img src="media/press/press_washington_business_journal.jpg" width="140" height="110"/>
			</a>
			<h4><a href="http://www.bizjournals.com/washington/print-edition/2011/04/22/after-years-of-hibernation-dcs.html">POPVOX: After years of hibernation, D.C.’s tech scene is finally re-emerging</a></h4>
			<h5>Washington Business Journal</h5>
			<p>by Bill Flook<br />
				<span>April 22, 2011</span></p>
		</div>

		<div class="col_4_5 col_last">
			<a href="http://www.epolitics.com/2011/04/04/popvox-the-newest-platform-for-eadvocacy/">
				<img src="media/press/press_epolitics.jpg" width="140" height="110"/>
			</a>
			<h4><a href="http://www.epolitics.com/2011/04/04/popvox-the-newest-platform-for-eadvocacy/">POPVOX: The Newest Platform for eAdvocacy</a></h4>
			<h5>e.politics</h5>
			<p>by Sandi Fox<br />
				<span>April 4, 2011</span></p>
		</div>
		
		<ul class="extras bullets">
			<li><a href="http://www.netties.be/v20/toon_artikel.php?id=13920&cat=Site&zoekdatum=2011-04-12">SXSW Awards: PopVox: informatie</a> in <span class="pub">Netties.be</span>, <span class="date">April 12, 2011</span>.</li>
			<li><a href="http://www.epolitics.com/2011/04/05/more-thoughts-about-popvox/">More Thoughts about PopVox</a> in <span class="pub">e.politics</span>, <span class="date">April 5, 2011</span>.</li>
		</ul>
		
		<div class="hr"> </div>
		
		<div><small>March 2011</small></div>

        <ul class="pressreleases bullets">
            <li>PRESS RELEASE. March 17, 2011: <a href="/press/2011-03-17/sxsw">POPVOX Honored at SxSW Microsoft BizSpark Accelerator: Takes First Prize in the Social Media Category</a></li>
            <li>PRESS RELEASE. March 14, 2011: <a href="/press/2011-03-14/sxsw">POPVOX Advances to Final Round in SxSW Accelerator Competition</a></li>
            <li>PRESS RELEASE. March 9, 2011: <a href="/press/2011-03-09/sxsw">DC Startup, POPVOX, to Showcase Online Advocacy Platform at SxSW</a></li>
        </ul>

		<div class="col_4_5">
			<a href="http://www.huffingtonpost.com/2011/03/21/huffpost-hill-tim-pawlent_n_838742.html">
				<img src="media/press/press_HuffingtonPost.jpg" width="140" height="110"/>
			</a>
			<h4><a href="http://www.huffingtonpost.com/2011/03/21/huffpost-hill-tim-pawlent_n_838742.html">HuffPost Hill</a></h4>
			<h5>HuffPost Politics</h5>
			<p><span>March 21, 2011</span></p>
		</div>

		<div class="col_4_5 col_last">
			<a href="http://www.readwriteweb.com/archives/sxsw_accelerator_finalists_and_winners.php">
				<img src="media/press/press_readwriteweb.png" width="140" height="110"/>
			</a>
			<h4><a href="http://www.readwriteweb.com/archives/sxsw_accelerator_finalists_and_winners.php">SXSW: Accelerator Finalists and Winners</a></h4>
			<h5>ReadWriteWeb</h5>
			<p>by  Sarah Perez<br/>
				<span>March 20, 2011</span></p>
		</div>

		<div class="col_4_5">
			<a href="http://www.politico.com/news/stories/0311/51457.html">
				<img src="media/press/press_politicopro.png" width="140" height="110"/>
			</a>
			<h4><a href="http://www.politico.com/news/stories/0311/51457.html">Next big thing in social media and politics</a></h4>
			<h5>Politico Pro</h5>
			<p>by Mike Zapler<br/>
				<span>March 16, 2011</span></p>
		</div>
		
		<div class="col_4_5 col_last">
			<a href="http://sxsw.com/node/7079">
				<img src="media/press/press_sxswaccel.png" width="140" height="110"/>
			</a>
			<h4><a href="http://sxsw.com/node/7079">SXSW Accelerator presented by Microsoft BizSpark Winners</a></h4>
			<h5>South by Southwest Interactive</h5>
			<p><span>March 16, 2011</span></p>
		</div>

		<div class="col_4_5">
			<a href="http://www.politico.com/morningtech/0311/morningtech181.html">
				<img src="media/press/press_politicomorningtech.png" width="140" height="110"/>
			</a>
			<h4><a href="http://www.politico.com/morningtech/0311/morningtech181.html">SXSW dispatches: Wu, Diller, POPVOX.com and more</a></h4>
			<h5>Politico</h5>
			<p>by Tony Romm<br />
				<span>March 15, 2011</span></p>
		</div>
		
		<ul class="extras bullets">
			<li><a href="http://www.yorokobu.es/popvox-la-voz-de-los-ciudadanos-en-los-oidos-de-sus-representantes/">Popvox: la voz de los ciudadanos en los oídos de sus representantes</a> in <span class="pub">Yorakobu</span>, <span class="date">March 22, 2011</span>.</li>
			<li><a href="http://socialtimes.com/social-media-in-politics-is-popvox-the-game-changer-weve-been-waiting-for-interview_b42515">Social Media in Politics: Is POPVOX the Game Changer We've Been Waiting For?</a> in <span class="pub">Social Times</span>, <span class="date">March 21, 2011</span>.</li>
			<li><a href="http://holykaw.alltop.com/popvox-gives-power-to-the-people-with-legisla">POPVOX gives power to the people with legislation info</a> in <span class="pub">Holy Kaw</span>, <span class="date">March 20, 2011</span.</li>
			<li><a href="http://pqasb.pqarchiver.com/jacksonsun/access/2295588321.html?FMT=ABS&date=Mar+18%2C+2011">POPVOX wins at festival: Award for the best social media and social networking website</a> in <span class="pub">The Jackson Sun</span>, <span class="date">March 18, 2011</span>.</li>
			<li><a href="http://techdrawl.com/winning-teams-in-bizsparks-bracket-sxswi-day?c=1">Winning Teams in BizSpark's Bracket - SXSWi Day 5</a> in <span class="pub">TechDrawl</span>, <span class="date">March 16, 2011</span>.</li>
			<li>VIDEO: <a href="http://www.youtube.com/watch?v=KmLWqXjxeSY">SXSW 2011: PopVox wins social media tech award at the 2011 SXSW Accelerator</a> in <span class="pub">RCRWirelessNews</span>, <span class="date">March 16, 2011</span>.</li>
			<li><a href="http://inventorspot.com/articles/pass_bill_giving_your_representative_informed_opinion">Pass The Bill - Giving Your Representative An Informed Opinion</a> in <span class="pub">InventorSpot</span>, <span class="date">March, 2011</span>.</li>
		</ul>

		<div class="hr"> </div>

		<div><small>February 2011</small></div>

		<div class="col_4_5">
			<a href="http://www.fastcompany.com/1722401/25-women-run-startups-to-watch">
				<img src="media/press/press_25_women-run_startups_to_watch.jpg" alt="press_25_women-run_startups_to_watch" width="140" height="110" />
			</a>
			<h4><a href="http://www.fastcompany.com/1722401/25-women-run-startups-to-watch" class="blank">25 Women-Run Startups to Watch</a></h4>
			<h5>Fast Company</h5>
			<p>by Allyson Kapin<br />
				<span>February 24, 2011</span></p>
		</div>
		
		<div class="col_4_5 col_last">
			<a href="http://techcocktail.com/dc-startup-popvox-delivers-your-message-to-congress-2011-02">
				<img src="media/press/press_tech_cocktail.jpg" alt="press_tech_cocktail" width="140" height="110" />
			</a>
			<h4><a href="http://techcocktail.com/dc-startup-popvox-delivers-your-message-to-congress-2011-02" class="blank">DC Startup POPVOX Delivers Your Message to Congress</a></h4>
			<h5>Tech Cocktail</h5>
			<p>by Monika Jansen<br />
				<span>February 11, 2011</span></p>
		</div>
		
		<div class="hr"> </div>

		<div><small>November 2010</small></div>

        <ul class="pressreleases bullets">
            <li>PRESS RELEASE. November 17, 2010: <a href="/press/2010-11-17/beta">POPVOX Translates the Voice of the People Into the Language of Congress</a></li>
        </ul>


		<div class="col_4_5">
			<a href="http://techpresident.com/blog-entry/can-we-people-use-internet-make-congress-smarter">
				<img src="media/press/press_tech_president.jpg" alt="press_tech_president" width="140" height="110" />
			</a>
			<h4><a href="http://techpresident.com/blog-entry/can-we-people-use-internet-make-congress-smarter" class="blank">Can We the People Use the Internet to Make Congress Smarter?</a></h4>
			<h5>techPresident</h5>
			<p>by Nancy Scola<br />
				<span>November 24, 2010</span></p>
		</div>
		
		<div class="col_4_5 col_last">
			<a href="http://gov20.govfresh.com/popvox-tries-to-bring-the-voice-of-the-people-into-congress/">
				<img src="media/press/press_govfresh.jpg" alt="press_govfresh" width="140" height="110" />
			</a>
			<h4><a href="http://gov20.govfresh.com/popvox-tries-to-bring-the-voice-of-the-people-into-congress/" class="blank">POPVOX tries to bring the voice of the people into Congress</a></h4>
			<h5>gov20.govfresh</h5>
			<p>by Alex Howard<br />
				<span>November 16, 2010</span></p>
		</div>

		<div class="hr"> </div>

		<div><small>October 2010</small></div>

		<div class="col_4_5">
			<a href="http://www.edemocracyblog.com/edemocracy-blog/fixing-broken-political-communication/">
				<img src="media/press/press_eDemocracyBlog.jpg" alt="press_eDemocracyBlog" width="140" height="110" />
			</a>
			<h4><a href="http://www.edemocracyblog.com/edemocracy-blog/fixing-broken-political-communication/" class="blank">Fixing 'broken political communication'</a></h4>
			<h5>eDemocracyBlog</h5>
			<p><span>October 28, 2010</span></p>
		</div>
		
		<div class="col_4_5 col_last">
			<a href="http://www.huffingtonpost.com/jake-brewer/the-tragedy-of-political_b_773734.html">
				<img src="media/press/press_HuffingtonPost.jpg" alt="press_HuffingtonPost" width="140" height="110" />	
			</a>
			<h4><a href="http://www.huffingtonpost.com/jake-brewer/the-tragedy-of-political_b_773734.html" class="blank">The Tragedy of Political Advocacy</a></h4>
			<h5>Huffington Post</h5>
			<p>by Jake Brewer<br />
			<span>October 25, 2010</span></p>
		</div>
		<div class="hr"> </div>
		
		<div><small>August 2010</small></div>
			
		<div class="col_4_5">
			<a href="http://www.businessofgovernment.org/blog/implementation-recovery-act/can-you-hear-me-now">
				<img src="media/press/press_ibm_business_of_govt.jpg" alt="press_ibm_business_of_govt" width="140" height="110" />
			</a>
			<h4><a href="http://www.businessofgovernment.org/blog/implementation-recovery-act/can-you-hear-me-now" class="blank">Can you hear me now?</a></h4>
			<h5>IBM Center for The Business of Government</h5>
			<p><span>Aug 27, 2010</span></p>
		</div>

		
	</div><!-- e: col_9 -->

	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>MEDIA KIT</h2>
			<ul class="sub_side">
				<li><a href="/about/whyitworks">Why POPVOX Works</a></li>
				<li><a href="/about/team">Team Bios</a></li>
				<li><a href="/about/principles">Company Principles</a></li>
				<li><p>Logo:</p>
					<ul class="logo bullets">
						<li><a href="/media_kit/POPVOX_LOGO-V_RGB.png">Low Res (png)</a></li>
						<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.jpg">High Res (jpg)</a> (888k)</li>
				 		<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.eps">EPS</a> (564k)</li>
				 	</ul>
				 </li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
