{% extends "master.html" %}
{% block title %}POPVOX - Job Opportunities{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX.com job opportunities.{% endblock %}
{% block content %}

<div class="content">

	<div class="col_9 col_top col_last">
		<h1>Testing</h1>
		
        <iframe src="https://annalee.popvox.com/services/widgets/w/account/DQZUTLYRW4K1FK1O/writecongress?franking=true&iframe=1&ocp=1469&sbg=B33220&sbg2=B7BEC0&sfg=ffffff&lnk=B33220&bg=ffffff&fg=254F66&fg2=555555" width="460" height="700" border="0" frameBorder="0"> </iframe>
	</div>
	
</div>

{% endblock %}
