{% extends "master.html" %}
{% block title %}POPVOX - Job Opportunities{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX.com job opportunities.{% endblock %}
{% block content %}

<div class="content">

<div class="col_9 col_top col_last">
<h1>Testing</h1>

        <iframe src="https://annalee.popvox.com/services/widgets/w/account/DQZUTLYRW4K1FK1O/writecongress?iframe=1&ocp=6495&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555" width="460" height="700" border="0" frameBorder="0" > </iframe>

        <iframe frameborder="0" height="700" src="https://annalee.popvox.com/services/widgets/w/account/ACYGP00A0TZ4MC61/writecongress?iframe=1&amp;ocp=7791&amp;franking=false&amp;sbg=68B004&amp;sbg2=ADAB9F&amp;sfg=ffffff&amp;lnk=68B004&amp;bg=ffffff&amp;fg=555555&amp;fg2=cfcdcd" width="700"> </iframe>

        <h2>WWW:</h2>
        <iframe width="460" height="700" frameborder="0" src="https://www.popvox.com/services/widgets/w/account/XE2IJJ9Y22Q2EXGJ/writecongress?iframe=1&ocp=7401&franking=false&sbg=0077d8&sbg2=e7e4dd&sfg=ffffff&lnk=0077d8&bg=ffffff&fg=404045&fg2=dddddd"></iframe>

        <h2>Annalee:</h2>
        <iframe width="460" height="700" frameborder="0" src="https://annalee.popvox.com/services/widgets/w/account/XE2IJJ9Y22Q2EXGJ/writecongress?iframe=1&ocp=7401&franking=false&sbg=0077d8&sbg2=e7e4dd&sfg=ffffff&lnk=0077d8&bg=ffffff&fg=404045&fg2=dddddd"></iframe>

        <iframe width="238" scrolling="no" height="631" frameborder="0" marginwidth="0" src="https://www.popvox.com/widgets/minimap?&bill=113/hr3116&stats=1&title=1&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=b36015&bg=fafafa&fg=777777&fg2=555555&client=lilly2" border="0" marginheight="0" style="BORDER-BOTTOM: #777 1px solid; BORDER-LEFT: #777 1px solid; BORDER-TOP: #777 1px solid; BORDER-RIGHT: #777 1px solid"></iframe>

        <iframe width="600" scrolling="no" height="528" frameborder="0" src="https://www.popvox.com/widgets/minimap?&bill=113/hr3116&stats=1&title=1&sbg=073F6D&sbg2=54B3E1&sfg=ffffff&lnk=073F6D&bg=ffffff&fg=404045&fg2=555555&client=lilly" marginwidth="0" marginheight="0"></iframe>

        

        <!--<p> trying this in a p tag <iframe src="http://annalee.popvox.com/widgets/bill-inline?bill=112/hjres98" height="21" scrolling="no" border="0" marginheight="0" marginwidth="0" frameborder="0"></iframe> with some text. </p>

        <iframe src="/widgets/bill-comment-map?bill=15601&width=274" frameborder="0" marginwidth="0" marginheight="0" border="0"> </iframe>

        <iframe src="https://annalee.popvox.com/services/widgets/w/account/DQZUTLYRW4K1FK1O/writecongress?iframe=1&ocp=6330&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555" width="460" height="700" border="0" frameBorder="0" > </iframe>
        
        <iframe src="https://www.popvox.com/widgets/leg-agenda?org=3515" width="833" height="760" border="0" frameBorder="0" > </iframe>-->

</div>

</div>

{% endblock %}

<!--width="940" height="590" border="0" marginheight="0" marginwidth="0" frameborder="0" style="height:21px" width= "350"-->


