{% extends "master.html" %}
{% block title %}POPVOX - About{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block content %}

<div class="content testimonials">
	<div class="col_9 col_top">
		<h1 class="rule_btm">What They&rsquo;re Saying</h1>
		
		<div class="clear"></div>

		<div class="col_4_5 col_top">
			<div class="test_block">
				<p class="testimony"><span>&ldquo;</span> I have been using POPVOX since it&rsquo;s inception, and find it to be a very convenient way to let your legislators know exactly how you feel about a bill or issue before Congress. It gives them rapid feedback on the issues, and helps them determine which way to vote. I have found that since using POPVOX, my incoming snail mail from both senators and my representative has increased dramatically. <strong>I feel that I really do have a voice in the halls of Congress.</strong>&rdquo;</p>
				<p class="cite">Gary N.<br />Dukedom, TN</p>
			</div>	
			
			<div class="test_block">
				<p class="testimony"><span>&ldquo;</span> Really like and appreciate the new POPVOX Congress Match. Easy to see where my Senators and Representative are in step with me and where they differ.<strong> I have thoroughly enjoyed POPVOX and the ease at which I can weigh in on bills and know my Senators or Representative receive my input.</strong> Keep up the good work.&rdquo;</p>
				<p class="cite">Tom A.<br />Granbury, TX</p>
			</div>	
			
			<div class="test_block">
				<p class="testimony"><span>&ldquo;</span>POPVOX is an innovative way to participate in a virtual public square with the knowledge that you're influencing decision-makers, as well as having fun and engaging fellow political activists. <strong>I also know that when I express my opinion on an issue, my  legislators will receive it in a timely manner, not as a junk mail &ldquo;petition,&rdquo; but as a relevant communication from a verified constituent.</strong>&rdquo;</p>
				<p class="cite">P.B.<br />Glen Allen, VA</p>
			</div>	
		</div>
	
		<div class="col_4_5 col_top col_last">
			<div class="test_block">
				<p class="testimony"><span>&ldquo;</span>Congress and Senators are barraged in social media but don’t easily know who their constituents are -- the people they listen to. Faxes just pile up because there are not enough staffers to handle reading/sorting them efficiently. Instead, I use POPVOX! <strong>It&rsquo;s a fairly new tool that members of Congress ARE paying attention to and that makes it easy for them to see how their region feels.</strong> And, it is user friendly and quick to use for activists.&rdquo;</p>
				<p class="cite">Kim W.<br />Carbondale, CO</p>
			</div>	
			<div class="test_block">
				<p class="testimony"><span>&ldquo;</span>This is a service America NEEDS. The feature that lets you drill down from national to state to district stats is excellent. <strong>The map that is generated summarizing where there is support or opposition for a bill is not only useful, but is beautiful to look at.</strong> I wish more people knew about POPVOX.&rdquo;</p>
				<p class="cite">Michael P., Publisher,<br />LifeWisdom.com</p>
			</div>	

		</div>
	</div><!-- e: col_9 -->
	
	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>ABOUT US</h2>
			<ul class="sub_side">
				<li><a href="/about/whyitworks">Why POPVOX Works</a></li>
				<li><a href="/about/team">About the Team</a></li>
				<li><a href="/about/principles">About the Company</a></li>
				<li><a href="/faq">Frequently Asked Questions</a></li>
				<li><a href="/about/contact">Contact POPVOX</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
				<li><a href="/press">Press Articles &amp; Media Kit</a></li>
				<li><a href="/advertising">Advertising Information</a></li>
				<!--<li><a href="/jobs">Job Opportunities</a></li>-->
				<li><a href="/legal">Privacy Policy and Terms of Service</a></li>
			</ul>
		</div>
		<div class="sub">
			<h2>DOCUMENTS</h2>
			<ul class="sub_side">
				<li><a href="/files/organization_intro.pdf">Organization Introduction to POPVOX</a></li>
				<li><a href="/files/staff_intro.pdf">Congressional Staff Introduction to POPVOX</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}
