{% extends "master.html" %}
{% block title %}Change Password{% endblock%}
{% block disable_login_redirect %}{% endblock %}
{% block content %}
<div class="content" style="width: 40em">
	
	<h1>Change Password</h1>
	
	{% if request.user.has_usable_password %}
	
	<p>To change your account password, enter your current password. Then enter your new password twice, the second time to confirm that you have typed it correctly. Then click Submit.</p> 
	
	<p id="status" class="error"/>
	<script>
	if (window.location.hash == "#reset") $('#status').text("Put the new random password we just gave you into the \"Old Password\" field.");
	</script>
	
	<form action="/accounts/profile/change_password" method="post" class="djangoform">
	{% csrf_token %}
	<table align="left">
		{{ form }}
	<tr>
	<td/>
	<td>
		<div><input type="submit" value="Submit"/></div>
		<p style="margin-top: 1em"><a href="/registration/reset-password">Forgot your password?</a></p>
	</td>
	</tr>
	</table>

	</form>
{% else %}

	<p>Your account does not have a password set because you log in through a third-party service.</p>
	
	{% include "registration/profile_singlesignon.html" %}	
	
	<h3>Add a Password</h3>
	
	<p>You may optionally add a password to your account so that you can log in with your email address <tt>{{request.user.email}}</tt> and an password as well.</p>
	
	<p>To add a password, begin by <a href="/registration/reset-password">resetting your password</a>.</p>
	
{% endif %}
	
</div>
	
{% endblock %}

