{% extends "master.html" %}
{% block title %}Change Password{% endblock%}
{% block disable_login_redirect %}{% endblock %}
{% block content %}
<div class="content">
	
	<h1>Change Password</h1>
	
	<div style="width: 40em">
	{% if request.user.has_usable_password %}
	
		<p>To change your account password, enter a new password. Then enter it a second time to confirm that you have typed it correctly. Finally, click Submit.</p> 
	
	{% else %}

		<p>Your account does not have a password set because you log in through a third-party service.</p>
		
		{% include "registration/profile_singlesignon.html" %}	
	
		<h3>Add a Password</h3>
	
		<p>You may optionally add a password to your account so that you can log in with your email address <tt>{{request.user.email}}</tt> and a password. Enter a password below. Then enter it a second time to confirm that you have typed it correctly. Finally, click Submit.</p>
	
	{% endif %}
	</div>
	
	<script>
	if (window.location.hash == "#reset") $('#status').text("Put the new random password we just gave you into the \"Old Password\" field.");
	</script>
	
	<form action="/accounts/profile/change_password" method="post" class="form">
	{% csrf_token %}
	
	<label for="password">New Password</label>
	<input id="password" name="password" type="password" class="c2" value="{{request.POST.password}}"/> <br/> 
	<p class="error" style="display: block; margin-bottom: 1em;">{{error}}</p>
	
	<label for="password2">Enter It Again</label>
	<input id="password2" name="password2" type="password" class="c2" value="{{request.POST.password2}}"/>  <br/>

	<input type="submit" value="Submit" class="submit"/>
	</form>


	
</div>
	
{% endblock %}

