{% extends "master.html" %}
{% block title %}Change Password{% endblock%}
{% block disable_login_redirect %}{% endblock %}
{% block content %}
	<div class="content" style="width: 40em">
	
	<h1>Change Password</h1>
	
	<p id="status" class="error"/>
	<script>
	if (window.location.hash == "#reset") $('#status').text("Put the new random password we just gave you into the \"Old Password\" field.");
	</script>
	
	<form action="/accounts/profile/change_password" method="post" class="djangoform">
	{% csrf_token %}
	<table>
		{{ form }}
	<tr>
	<td/>
	<td><input type="submit" value="Submit"/></td>
	</tr>
	</table>
	</form>

	</div>
{% endblock %}

