{% extends "master.html" %}
{% block title %}
	Create Account
	{% if mode == "legstaff" %}: Congressional Legislative Staff{% endif %}
	{% if mode == "orgstaff" %}: Organization Staff{% endif %}
{% endblock%}
{% block disable_login_redirect %}{% endblock %}
{% block head %}
<script>
function submit_registration() {
	ajaxform("/ajax/accounts/register",
		{ // general post data
		   {% if next %}"next": "{{next|escapejs}}",{% endif %}
		   "mode": "{{mode}}",
		   "recaptcha_challenge_field": document.forms.captcha.recaptcha_challenge_field.value,
		   "recaptcha_response_field": document.forms.captcha.recaptcha_response_field.value
		},
		{ // fields
		   {% if mode == "" %}
		   "username": "#username",
		   {% endif %}
		   "password": "#password",
		   "password2": "#password2",
		   "email": "#email",
		   {% if mode == "legstaff" %}
		   "fullname": "#fullname",
		   "member": "#member",
		   "committee": '#committee',
		   "position": '#position',
		   {% endif %}
		   {% if mode == "orgstaff" %}
		   "fullname": '#fullname',
		   "orgname": '#orgname',
		   "orgwebsite": '#orgwebsite',
		   "title": '#title',
		   "orgtype": "#orgtype",
		   "orgclaimedmembership": "#orgclaimedmembership",
		   {% endif %}
		   "": '' // no trailing comma
		},
		{
			statusfield: "errorlabel",
			savebutton: "submitbutton",
			success: function() {
				$('#submitbutton').attr('disabled', '1');
				document.location = "/accounts/register/check_inbox?email=" + escape($("#email").val());
			}
		});
}
</script>
{% endblock %}
{% block content %}
<div class="section reg">

	<div class="choose_user">
		<p>Please choose which type of user applies to you:</p>
		<ul>
			<li><a class="b_individual {% if mode == "" %}active{% endif %}" href="/accounts/register{% if next %}?next={{next|urlencode}}{% endif %}">Individual</a></li>
			<li><a class="b_org_staffer {% if mode == "orgstaff" %}active{% endif %}" href="/accounts/register/orgstaff{% if next %}?next={{next|urlencode}}{% endif %}">Organization Staff</a></li>
			<li><a class="b_con_staffer {% if mode == "legstaff" %}active{% endif %}" href="/accounts/register/legstaff{% if next %}?next={{next|urlencode}}{% endif %}">Congressional Staff</a></li>
		</ul>
	</div>
	
	{% if mode == "" %}
		<h1>Create Account:<br /> <span>Individual</span></h1>
		<p class="hint">Creating a POPVOX account allows you to comment on legislation before Congress.</p>
	{% endif %}

	{% if mode == "legstaff" %}
		<h1>Create Account:<br /> <span>Congressional Staff</span></h1>
		<p class="col_9 clear col_top">Staff accounts are for Congressional business and require a &ldquo;house.gov&rdquo; or &ldquo;senate.gov&rdquo; email address.  A staff account provides access to unique tools to help you do your job better. You may create a separate personal account for expressing your opinion on legislation.</p>
	{% endif %}

	{% if mode == "orgstaff" %}
		<h1>Create Account:<br /> <span>Organization Staff</span></h1>
		<p class="col_9 clear col_top">Getting the attention of Congressional staff is key to moving your agenda &mdash; whether through lobby visits, phone calls or grassroots advocacy. POPVOX enables Congressional staff to reach the appropriate organizations, large and small, on particular issues through a keyword searchable <a href="/orgs">Organization Directory</a>, which includes organizations&rsquo; missions, issue agendas and points of contact (for staffers only).</p>
		<p class="col_9 col_top">Organizations that are organized and operate not-for-profit and with a social, charitable, service, community-oriented, education, political or advocacy mission may register in the POPVOX Organization Directory at this point.  (POPVOX reserves the right to decline registration in particular instances, or to correct erroneous self-categorizations of registering organizations.)</p>
	{% endif %}

	<div class="clear"> </div>
	
	<div class="form" style="clear: both">
		<div class="col_9 rule">
			{% if mode != "" %}
			<h3>About You</h3>
			{% endif %}
		
			{% if mode == "" %}
			<label for="username">screen name</label>
			<input type="text" class="c3" id="username"/><br />
			<div id="errorlabel_username" class="error"> </div>
			<small>Your screen name is how you are known publicly on POPVOX when you leave a public comment on legislation. Screen names must be at least five characters and cannot contain spaces.</small>
			{% endif %}
			
			<label for="email">email</label>
			<input type="text" class="c4" id="email"/><br />
			<div id="errorlabel_email" class="error"> </div>
			{% if mode == "" %}
			<small>Your email address will only be used to send you notifications about your account including to help you recover a lost password. It will not be shown publicly or shared with third parties.</small>
			{% endif %}
			{% if mode == "legstaff" %}
			<small>Enter a <tt>@mail.house.gov</tt> or <tt>@senate.gov</tt> address. It will not be shown publicly or shared with third parties.</small>
			{% endif %}
			{% if mode == "orgstaff" %}
			<small>Your email address will only be used to send you notifications about your account including to help you recover a lost password. It will not be shown publicly or shared with third parties.</small>
			{% endif %}
			
			<label for="password">password</label>
			<input type="password" class="c3" id="password"/><br />

			<label for="password2">password again</label>
			<input type="password" class="c3" id="password2"/><br />
			<div id="errorlabel_password" class="error"> </div>
			
			{% if mode == "orgstaff" or mode == "legstaff" %}
			<label for="fullname">full name</label>
			<input type="text" id="fullname" class="c4"/>
			<div id="errorlabel_fullname" class="error"> </div>
			{% endif %}
			
		</div>
		
		{% if mode == "legstaff" %}
		<div class="col_9 rule">
			<h3>About Your Position</h3>
			
			<label for="member">member</label>
			<select id="member" class="c5">
				<option value="">(Select If Applicable)</option>
				{% for c in mocs %}
				<option value="{{c.id}}">{{c.sortkey}}</option>
				{% endfor %}
			</select>
			<div id="errorlabel_member" class="error"> </div>
			<small>Select the Member of Congress you work for. If you work directly for a congressional committee, leave this field as is.</small>
			
			<label for="committee">committee</label>
			<select id="committee"class="c5">
				<option value="">(Select If Applicable)</option>
				{% for c in committees %}
				<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
			<small>If you are committee staff, choose the committee you work for.</small>

			<label for="position">position</label>
			<select id="position" class="c5">
				<option value="">(Please Select)</option>
				<option>Legislative Assistant</option>
				<option>Legislative Counsel</option>
				<option>Other Legislative/Policy Staff</option>
				<option>Legislative Correspondent</option>
				<option>Press Secretary</option>
				<option>Other Communications Staff</option>
				<option>System Administrator / IT</option>
				<option>Intern</option>
				<option>Senator / Congressman/woman</option>
				<option>Other</option>
			</select>
			<div id="errorlabel_position" class="error"> </div>
			
			<small>We ask for this information to tailor your legislative docket to your state, district, or committee.</small>
		</div>
		{% endif %}
			
		{% if mode == "orgstaff" %}
		<div class="col_9 rule">
			<h3>About Your Organization</h3>
			
			<label for="orgname">organization</label>
			<input type="text" id="orgname" class="c5"/>
			<div id="errorlabel_orgname" class="error"> </div>

			<label for="orgtype">type</label>
			<select id="orgtype" class="c5">
				<option value="">(select what best describes your organization)</option>
				{% for k, v in org_types %}
				<option value="{{k}}">{{v}}</option>
				{% endfor %}
			</select>
			<div id="errorlabel_orgtype" class="error"> </div>
			<small>We are not accepting for-profit organizations at this time.
			If your not-for-profit organization does not fit into one of these categories,
			please <a href="/about/contact">contact us</a>.</small>
			
			<label for="orgwebsite">website</label>
			<input type="text" id="orgwebsite" class="c5" value="http://"/>
			<div id="errorlabel_orgwebsite" class="error"> </div>
		
			<label for="orgclaimedmembership">membership</label>
			<select id="orgclaimedmembership" class="c5">
				<option value="">(select what best describes your organization&rsquo;s membership/grassroots)</option>
				{% for v in org_cm %}
				<option value="{{v}}">{{v}}</option>
				{% endfor %}
			</select>
			<div id="errorlabel_orgclaimedmembership" class="error"> </div>

			<label for="title">your job title</label>
			<input type="text" id="title" class="c5"/>
			<div id="errorlabel_title" class="error"> </div>
		</div>
		{% endif %}
		
		<div class="clear"> </div>
	</div>
	
	<div class="col_9 rule">
		<div class="captcha">
			<p>Please type the words you see below{% comment %} to help us prevent &ldquo;<abbr title="a.k.a. comment spam" style="border-bottom: 1px dotted gray; cursor: help">astroturfing</abbr>&rdquo;{% endcomment %}:</p>
			<form name="captcha" onsubmit="submit_registration(); return false">{{captcha|safe}}</form>
		</div>
	
		<div class="form">
		<small style="margin-top: 2em"l>We&rsquo;ll send you an email to confirm your email address once you click Submit. Click the link in the email once you get it.</small>
		<input id="submitbutton" type="button" value="Submit" onclick="submit_registration()" class="submit"/>
		
		<p id="errorlabel" class="error"></p>
	</div>
	
	<div class="clear"> </div>

</div>
{% endblock %}

