{% extends "master.html" %}
{% block title %}Create Account - Account Requires Approval{% endblock%}
{% block disable_login_redirect %}{% endblock %}
{% block content %}
	<div class="content col_9 col_last col_top">
	<h1>Account Requires Approval</h1>
	
	<p>To ensure the accuracy of the information on POPVOX, our staff manually verifies new registrations for organization administrators. Please bear with us as we approve your account.</p>
	
	<p>This should normally take one to two business days and we will email you once you are ready to go.</p>
	
	</div>
{% endblock %}

