{% extends "popvox/emails/template.html" %}

{% block head2 %}
<style>


.top {
height: 16px;
}

.middle {
height: 16px;
}

	.status { background-color: #d4d1ca; padding: 3px; }
	.formore { font-size: 8px; }
	div.bill { margin-top: 32px; border-top: 1px solid #a7a49b; padding-top: 32px; }
	div.summary { background-color: #d4d1ca; padding: 6px 12px 6px 12px; }
	.summary .img { font-size: 14px; font-weight: bold; color: white; text-align: center; }
	.summary .text { font-size: 14px; font-weight: bold; color: #40404c; padding: 0 1em 0 1em; }
	.summary .img.users { width: 60px; background: url({{imgroot}}/legreport_constituent.jpg); }
	.summary .img.positions { width: 77px; background: url({{imgroot}}/legreport_position.jpg); }
	.summary .img.letters { width: 62px; background: url({{imgroot}}/legreport_letter.jpg); }
	.summary p { font-style: italic; font-family: Georgia, Times New Roman, serif; }
		td.stats { font-size: 10px; font-weight: bold; }
</style>
{% endblock %}

{% block h1 %}
<h1 style="color: #414046;"><img src="{{imgroot}}/h1_report.jpg" alt="Report"/></h1>
{% endblock %}

{% block h1button %}{% if download_csv %}<a href="http://www.popvox.com/congress"><img src="{{imgroot}}/btn_downloadcsv.jpg" alt="Download CSV" border="0"/></a>{% endif %}{% endblock %}

{% block body2 %}

<div style="color: #cd680e; margin: 3px 0 6px 0; font-size: 16px;">{{startdate2}} - {{enddate2}}: {{statename}}{% if district %}'s {{district}}{{districtord}} Congressional District{% else %} (Senate){% endif %}</div>

{% if download_csv %}
<p>POPVOX does not consider these letters delivered until you download the CSV file. If you have any questions, please reply to this email.
</p>
{% endif %}



<div class="summary" style="background-color: #d4d1ca; padding: 6px 12px 6px 12px;">	
<table cellspacing="0" cellpadding="0" border="0" height="64" style="border-spacing: 0px;">
<tr class="top" style="height: 16px;"><td colspan="12" style="height:16px;"><img style="display: block;" src="{{imgroot}}/legreport/top.png" /></td></tr>
<tr class="middle">
<td style="width: 22px;"><img style="display: block;" src="{{imgroot}}/legreport//1.png" /></td>
<td style="width: 45px; background: #cc6a11; color: white; vertical-align: middle; text-align: center;">141</td>
<td style="width: 12px;"><img style="display: block;" src="{{imgroot}}/legreport/2.png" /></td>
<td style="vertical-align: middle; text-align: center; width: 132px;">constituents took</td>
<td style="width: 16px;"><img style="display: block;" src="{{imgroot}}/legreport/3.png" /></td>
<td style="width: 39px; background: #cc6a11; color: white; vertical-align: middle; text-align: center;">564</td>
<td style="width: 15px;"><img style="display: block;" src="{{imgroot}}/legreport/4.png"/></td>
<td style="width: 168px; vertical-align: middle; text-align: center;">new positions & wrote</td>
<td style="width: 5px;"><img style="display: block;" src="{{imgroot}}/legreport/5.png" /></td>
<td style="width: 49px; background: #cc6a11; color: white; vertical-align: middle; text-align: center;">147</td>
<td style="width: 5px;"><img style="display: block;" src="{{imgroot}}/legreport/6.png" /></td>
<td style="vertical-align: middle; text-align: center;">letters</td>
</tr>
<tr><td colspan="12"><img style="display: block;" src="{{imgroot}}/legreport/bottom.png"/></td></tr>
</table>	
	
	
	<p style="font-size: 12px; font-style: italic; font-family: Georgia, Times New Roman, serif;">(The names and addresses of your constituents weighing in on POPVOX are available to you at <a href='http://www.popvox.com/congress'>popvox.com/congress</a>. {% comment %}They were submitted as letters to Congress and so can be responded to under franking.{% endcomment %})</p>
</div>

{% for bill in bills %}
<div class="bill" style="margin-top: 32px; border-top: 1px solid #a7a49b; padding-top: 32px;">
	<table cellspacing="0" cellpadding="0" border="0">
	<tr valign="top">
		<td rowspan="2" width="60"><img src="{{imgroot}}/icon_bill.jpg" alt=""/></td>
		<td colspan="3" width="535"><h3 style="color: #cd680e; margin: 3px 0 6px 0; font-size: 16px;">{{bill.title|truncatewords:20}}</h3></td>
	</tr>
	<tr>
		<td width="230"><div class="status" style="background-color: #d4d1ca; padding: 5px; font-size: 12px;"><strong>Status:</strong> {{bill.status_advanced}}</div></td>
		<td width="15"> </td>
		<td width="290"><div class="formore" style="font-size: 12px;">for more see <a href='http://www.popvox.com{{bill.url}}/report'>popvox.com{{bill.url}}/report</a></div></td>
	</tr>
	</table>
	
	<table cellspacing="0" cellpadding="0" border="0" style="width: 535px;">
	<tr>
	<td colspan="4" width="290">
		<h4 style="margin-top: 20px; text-transform: uppercase; font-size: 13px;">NEW SINCE {{startdate1}}:</h4>
		<p style="font-size: 13px; padding-bottom:10px;"><strong>{{bill.comments_new.positions}}</strong> constituent(s) weighed in &amp; wrote <strong>{{bill.comments_new.letters}}</strong> letters</p>
	</td>
	
	<td width="15"> </td>
	<td colspan="4" width="290">
		<h4 style="margin-top: 20px; font-size: 13px;">ALL TIME:</h4>
		<p style="font-size: 13px; padding-bottom: 10px;"><strong>{{bill.comments_alltime.positions}}</strong> constituent(s) weighed in &amp; wrote <strong>{{bill.comments_alltime.letters}}</strong> letters</p>
	</td>
	</tr>
	<tr>
	<td width="40"><img src="{{imgroot}}/icon_support.jpg" alt=""/></td>
	<td width="105" class="stats">Supporting: {{bill.comments_new.supporting}}</td>
	<td width="40"><img src="{{imgroot}}/icon_oppose.jpg" alt=""/></td>
	<td width="105" class="stats">Opposing: {{bill.comments_new.opposing}}</td>
	<td width="15"> </td>
	<td width="40"><img src="{{imgroot}}/icon_support.jpg" alt=""/></td>
	<td width="105" class="stats">Supporting: {{bill.comments_alltime.supporting}}</td>
	<td width="40"><img src="{{imgroot}}/icon_oppose.jpg" alt=""/></td>
	<td width="105" class="stats">Opposing: {{bill.comments_alltime.opposing}}</td>
	</tr>
	</table>
</div>
{% endfor %}

<p style="font-size: 12px;">These individuals weighed in at <a href="http://www.popvox.com">POPVOX.com</a>, a nonpartisan platform for advocacy. Comments are public, searchable, and sortable by state and district. POPVOX is committed to helping constituents write messages that are in a format easy for you to process. Let us know what other information you would like to see here!</p>

{% endblock %}

