{% extends "emailverification/htmltemplate.html" %}
{% block head %}
<style>
	#backgroundTable { background-color: #e7e4dd; color: black; padding: 10px; }
	h1 {
	   color: #414046 !important;
	   font-size: 32px;
	   line-height: 100% !important;
	   font-family: Arial, Helvetica, sans-serif; 
	}
	p { color: #4b494a; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; }
	a { color: #cd680e; }
</style>
{% endblock %}
{% block body %}
	<table width="100%">
	<tr>
	<td width="100"><a href="http://www.popvox.com"><img src="https://www.popvox.com/media/email/logo.jpg" alt="POPVOX" border="0"/></a></td>
	<td>{% block h1 %}{% endblock %}</td>
	<td style="text-align: right">{% block h1button %}{% endblock %}</td>
	</tr>
	</table>
	
	<div style="margin: 15px 0 15px 0; height: 4px;"><img src="https://www.popvox.com/media/email/rule.jpg" height="4" width="594" /></div>
	
	{% block body2 %}
	{% endblock %}
	
	<div style="margin: 15px 0 15px 0; height: 4px;"><img src="https://www.popvox.com/media/email/rule.jpg" height="4" width="594" /></div>
	
	<p class="footer"><a href="http://www.popvox.com">POPVOX.COM</a> | Your voice verified, quantified, and amplified.</p>

	{% block unsubscribe %}
	{% endblock %}
{% endblock %}
