/* @override https://william.popvox.com/media/mobile/css/style.css */

/* Css reset
------------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; font: inherit; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ul, ol { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
table { border-collapse: collapse; border-spacing: 0; }
a:hover, a:active { outline: none; }

.print { display: none; }
.label, label, input, select { vertical-align: middle; }
button { width: auto; overflow: visible; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Helper styles
------------------------------------------------------------------------------*/

.accessibility { position: absolute; top: -999em; left: -999em; height: 1px; width: 1px; }
html,
body { height: 100%; }
.nonfooter { min-height: 100%; position: relative; }

/* Common styles
------------------------------------------------------------------------------*/

/* Default styles */
a, a:visited { color: #00f; text-decoration: none; }
a:focus, a:hover { text-decoration: underline; }
body { background: #fff; color: #404045; font: 10px Helvetica, Arial, sans-serif; }
button, input, select, textarea { font: 12px Helvetica, Arial, sans-serif; }

@font-face { font-family: 'HelveticaNeueBold'; src: url('../fonts/helveticaneue-bold-webfont.eot'); src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-bold-webfont.woff') format('woff'), url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'), url('../fonts/helveticaneue-bold-webfont.svg#HelveticaNeueBold') format('svg'); font-weight: normal; font-style: normal; font-variant: normal; }

@font-face { font-family: 'BebasNeue'; src: url('../fonts/bebasneue-webfont.eot'); src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg#BebasNeue') format('svg'); font-weight: normal; font-style: normal; font-variant: normal; }


/* Common elements and containers
------------------------------------------------------------------------------*/

/* wrappr */
.wrapper { margin: 0 auto; width: 699px; padding: 27px 20px 41px; }

/* ipad interfacey things */
#ipad .wrapper {
	padding-top: 7px;
	position: relative;
	border:  1px solid #efefef;
	border-width: 0 1px;
}

#annotations {
	background: url(../images/b_paperclip.png) left top no-repeat;
	display: block;
	width: 72px;
	height: 41px;
	position: absolute;
	z-index: 100;
	text-indent: -999em;
	right: 0;
	top: 38px;
}
#ipad .subtitle {
	background: none;
	padding: 0 14px 15px 0;
	margin-bottom: 20px;
	width: 685px;
}
#select_district_box {
	background: url(../images/bg_ipad_menu.png) left top repeat-x;
	width: 689px;
	height: 50px;
	margin: 0 auto;
	padding: 10px 25px 0;
}
	#select_district_box h2 {
		font-size: 20px;
		color: #fff;
		float: left;
		margin: 5px 25px 0 0px;		
	}
#options_state,
#options_district {
	width: 160px;
	height: 25px;
	padding: 5px 0 0 5px;
	background: url(../images/bg_ipad_select.png) left top repeat-x;
	color: #fff;
	outline: none;
}
#options_state option {
	height: 12px;
}
#options_district {
	margin-left: 9px;
}

.b_people {
	background: url(../images/b_ipad_people.png) left top no-repeat;
	width: 44px;
	height: 32px;
	display: block;
	float: right;
}

.b_people a {
	color: #CC6A11;
	text-decoration: none;
	}

.b_people div.co-sponsors {
	display: none;
	background: url(../images/bg_drop_top.png) left top no-repeat;
	width: 238px;
	height: 318px;
	position: absolute;
	left: 208px;
	top: 285px;
	z-index: 100;
	padding: 40px 25px;
}
	.b_people.right div.organizations {
		background: url(../images/bg_drop_top_r.png) left top no-repeat;
		position: absolute;
		left: 0px;
		top: 315px;
		width: 508px;
		z-index: 100;
		display: none;
		padding: 40px 25px;
	}
	.b_people div h4 {
		font: bold 18px/20px helvetica, arial, san-serif;
		padding-bottom: 5px;
	}
	
	.b_people div ul li {
		font: bold 14px/26px helvetica, arial, san-serif;
		color: #75747C;
	}
	
	.b_people.right div div.col_l {
		width: 244px;
		float: left;
		display: block;
		margin-left: 20px;
	}
		.b_people.right div div.col_l h4 {
			padding: 0 0 8px 38px;
		}
		.b_people.right div div.col_l.first {
			margin-left: 0;
		}
	
	
.b_people:hover {
	cursor: pointer;
}

.b_people:hover div,
.b_people:hover div.organizations {
	display: block;
	cursor: default;
}

div.comment {
	margin-bottom: 15px;
}

a.b_more_comments {
	background: #CC6A11;
	font-weight: bold;
	color: #fff;
	padding: 2px 20px 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 5px;
	border-radius: 8px;
	margin-left: 100px;
	}
	
	a.b_more_comments:hover {
		background: #75747c;
		text-decoration: none;
	}

div#highcharts-0.highcharts-container {
	width: 300px;
}



/* header */
.header { width: 100%; background: url(../images/bgr-header.png) no-repeat; height: 51px; overflow: hidden; margin: 0 0 14px; }
.header .logo { float: left; display: block; background: url(../images/bgr-logo.png) no-repeat; height: 51px; padding: 0 0 0 56px; color: #404045; font-size: 36px; font-family: 'BebasNeue'; }
.header .header-right { float: right; font-size: 11px; color: #404045; line-height: 17px; padding: 8px 0 0; margin: 0 22px 0 0; }
.header .header-right a,
.header .header-right a:visited { color: #c76825; font-family: 'HelveticaNeueBold'; }
.header .header-right a:hover { text-decoration: underline; }

/* subtitle */
.subtitle { width: 487px; padding: 0 14px 15px 57px; border-bottom: 1px solid #d5d5d7; font-size: 16px; color: #404045; background: url(../images/bgr-subtitle.png) no-repeat 14px 0; font-family: 'HelveticaNeueBold'; }

/* report-data */
.report-data { font-size: 11px; line-height: 15px; color: #404045; padding: 15px 0 0; font-weight: bold; }
.report-data span { color: #c76825; font-family: 'HelveticaNeueBold'; font-weight: normal; }
.report-data p { margin: 0 0 10px; }

/* stats */
.stats .left-column { border-top: 1px solid #d5d5d7; padding: 12px 0 0; }
.stats .right-column { border-top: 1px solid #d5d5d7; padding: 12px 0 0; }
.stats h3 { color: #c76825; font-size: 11px; font-weight: normal; font-family: 'HelveticaNeueBold'; margin: 0 0 16px; }

/* stat-bar */
.stat-bar { width: 100%; height: 48px; overflow: hidden; position: relative; }
.stat-bar .stat-bar-inner { height: 19px; background: #65646e; width: 100%; }
.stat-bar .stat-bar-bg { width: 100%; height: 19px; background: url(../images/bgr-stat-bar-bg.png) no-repeat 0 0; }
.stat-bar .box1 { width: 43px; height: 22px; background: url(../images/bgr-box1.png) no-repeat; text-align: center; color: #fff; font-size: 14px; font-family: 'HelveticaNeueBold'; padding: 8px 0 0; position: absolute; left: 0; top: 20px; font-weight: normal; }
.stat-bar .box2 { width: 43px; height: 22px; background: url(../images/bgr-box2.png) no-repeat; text-align: center; color: #fff; font-size: 14px; font-family: 'HelveticaNeueBold'; padding: 8px 0 0; position: absolute; top: 20px; font-weight: normal; }
.stat-bar .box3 { width: 43px; height: 22px; background: url(../images/bgr-box3.png) no-repeat; text-align: center; color: #fff; font-size: 14px; font-family: 'HelveticaNeueBold'; padding: 8px 0 0; position: absolute; right: 0; top: 20px; font-weight: normal; }

/* stat-bar2 */
.stat-bar2 { width: 100%; height: 49px; overflow: hidden; position: relative; }
.stat-bar2 .stat-bar2-inner { height: 19px; background: #fc3; width: 100%; margin: 0 0 5px; }
.stat-bar2 .stat-bar-bg { height: 19px; background: #ff9700; }
.stat-bar2 .box-fav { float: left; height: 25px; background: url(../images/bgr-org-fav.png) no-repeat; padding: 0 0 0 30px; color: #75747c; font-size: 18px; line-height: 26px; vertical-align: middle; font-family: 'HelveticaNeueBold'; }
.stat-bar2 .box-opp { float: right; height: 25px; background: url(../images/bgr-org-opp.png) no-repeat 100% 0; padding: 0 30px 0 0; color: #75747c; font-size: 18px; line-height: 26px; vertical-align: middle; font-family: 'HelveticaNeueBold'; }

/* left-column2 */
.left-column2 { float: left; width: 320px; }
.left-column2 em { font-size: .6em; margin-left: 2px}
.left-column2 .popvox { color: #c76825; font-weight: normal; font-size: 11px; font-family: 'HelveticaNeueBold'; }

/* right-column2 */
.right-column2 { float: right; width: 266px; }
.right-column2 em#district { font-size: .6em; margin-left: 2px}
.right-column2 fieldset { width: 100%; display: block; overflow: hidden; }
.right-column2 h3 {font: 12px Helvetica,Arial,sans-serif; }
.right-column2 h3 span {float: left; margin-top: 6px; color: #75747C;}
.right-column2 h3 em {float: left; margin-top: -.15em; font-size: .6em;}
.right-column2 .state { color: #c76825; font-weight: normal; font-size: 11px; font-family: 'HelveticaNeueBold'; margin: 0 0 17px; }
.right-column2 .users { color: #75747c; font-size: 63px; float: left; font-family: 'BebasNeue'; line-height: 48px; vertical-align: top; position: relative; height: 70px; margin-left: 15px; }
.right-column2 .users span { color: #75747c;  font-size: 24px; font-family: 'HelveticaNeueBold'; display: block; line-height: 18px; position: absolute; left: 0; bottom: 0; vertical-align: bottom; }
.right-column2 .summary { width: 100%; overflow: hidden; padding: 14px 0 0; }
.right-column2 .summary .fav { float: left; padding: 0 0 0 48px; background: url(../images/bgr-dis-fav.png) no-repeat left; font-size: 50px; color: #ff9700; font-family: 'BebasNeue'; line-height: 50px; vertical-align: middle; }
.right-column2 .summary .opp { float: right; padding: 0 0 0 48px; background: url(../images/bgr-dis-opp.png) no-repeat left; font-size: 50px; color: #fc3; font-family: 'BebasNeue'; line-height: 50px; vertical-align: middle; }
.right-column2 .district { color: #c76825; font-weight: normal; font-size: 11px; font-family: 'HelveticaNeueBold'; border-top: 1px solid #d5d5d7; padding: 6px 0 0; margin: 23px 0 17px; }
.right-column2 .txt-outer { border: 1px solid #d5d5d7; width: 116px; height: 70px; float: left; margin: 0 17px 0 0; position: relative; }
.right-column2 .txt { font-size: 70px; color: #75747c; font-family: 'BebasNeue'; display: block; position: absolute; left: 0; top: -6px; width: 98px; padding: 0 9px; background: transparent; }

/* datacolumn */
.datacolumn { padding: 36px 0 0; }
	.datacolumn.ipadcomments { padding: 16px 0 0; }	
.datacolumn p { color: #404045; font-size: 11px; line-height: 15px; }
.datacolumn p.who { 
	font-family: Georgia;
	font-style: italic;
	color: #7d7d7f;
	background: #f9f9f9; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
    padding: 5px 10px; 
	}
	.datacolumn p.who span {
		float: right;
		font-family: Helvetica, arial;
		font-weight: bold;
		font-style: normal;
		color: #7d7d7f;
	} 
	
	.datacolumn p.who.when_only { 
		height: 15px;
		margin: 0 0 5px 10px;
		float: right;
	}
	
.datacolumn h3 { color: #404045; font-size: 16px; font-family: 'HelveticaNeueBold'; font-weight: normal; padding: 2px 0 0 32px; min-height: 25px; margin: 0 0 0px; }
.datacolumn .for1 { background: url(../images/bgr-for1.png) no-repeat; }
.datacolumn .for2 { background: url(../images/bgr-for2.png) no-repeat; }
.datacolumn .opp1 { background: url(../images/bgr-opp1.png) no-repeat; }
.datacolumn .opp2 { background: url(../images/bgr-opp2.png) no-repeat; }
.datacolumn .link,
.datacolumn .link:visited { display: block; color: #c76825; font-size: 13px; font-family: 'HelveticaNeueBold'; }
.datacolumn h4 { font-size: 11px; font-weight: normal; color: #404045; margin: 0 0 7px; }
.datacolumn h4 span { color: #c76825; font-size: 13px; font-family: 'HelveticaNeueBold'; font-weight: normal; padding: 0 2px 0 0; }
.datacolumn .ads a,
.datacolumn .ads a:visited { display: block; margin: 12px 0 0; }
.datacolumn .ads a img { display: block; }
.datacolumn .ads2 { width: 100%; }
.datacolumn .ads2 a,
.datacolumn .ads2 a:visited { display: block; margin: 12px 0 0; }
.datacolumn .ads2 a img { display: block; margin: 0 auto; }

/* popvox-box */
.popvox-box { width: 330px; height: 224px; position: relative; overflow: hidden; }
.popvox-box .popbox-box-outer { height: 224px; background: url(../images/bgr-map-on.png) no-repeat 100% 0; position: absolute; left: 7px; top: 11px; z-index: 1; }
.popvox-box .popvox-box-inner { width: 340px; height: 224px; background: #fc3; }
.popvox-box .popvox-box-bg { width: 340px; height: 224px; position: absolute; left: -7px; top: 0; background: url(../images/bgr-map-lg.png) 2px top no-repeat; z-index: 2; }
.popvox-box .popvox-fav { color: #fff; font-size: 20px; text-align: center; vertical-align: middle; line-height: 36px; height: 36px; width: 42px; position: absolute; left: 1px; top: 10px; font-family: 'BebasNeue'; z-index: 3; }
.popvox-box .popvox-opp { color: #fff; font-size: 20px; text-align: center; vertical-align: middle; line-height: 36px; height: 36px; width: 42px; position: absolute; right: 14px; bottom: 17px; font-family: 'BebasNeue'; z-index: 3; }
.popvox-box .info-fav { color: #75747c; font-size: 11px; font-family: 'HelveticaNeueBold'; padding: 0 0 0 16px; line-height: 12px; height: 12px; vertical-align: middle; background: url(../images/bgr-dot-fav.png) no-repeat left; position: absolute; left: 0; bottom: 37px; z-index: 3; }
.popvox-box .info-opp { color: #75747c; font-size: 11px; font-family: 'HelveticaNeueBold'; padding: 0 0 0 16px; line-height: 12px; height: 12px; vertical-align: middle; background: url(../images/bgr-dot-opp.png) no-repeat left; position: absolute; left: 0; bottom: 17px; z-index: 3; }

/* summary */
.summary { width: 100%; padding: 4px 0 0; }
.summary .summary-line { width: 100%; overflow: hidden; padding: 0 0 30px; }
.summary .summ-users { float: left; font-size: 51px; color: #75747c; line-height: 40px; vertical-align: top; font-family: 'BebasNeue'; position: relative; height: 55px; }
.summary .summ-users span { display: block; position: absolute; left: 0; bottom: 0; font-size: 17px; vertical-align: baseline; height: 27px; color: #75747c; font-family: 'HelveticaNeueBold'; }
.summary .summ-support { float: right; background: url(../images/bgr-usr-fav.png) no-repeat 0 100%; width: 180px; position: relative; height: 55px; }
.summary .summ-support strong { display: block; position: absolute; left: 66px; top: 0; font-family: 'BebasNeue'; color: #ff9700; font-size: 73px; vertical-align: top; line-height: 58px; }
.summary .summ-oppose { float: right; background: url(../images/bgr-usr-opp.png) no-repeat 0 100%; width: 180px; position: relative; height: 55px; }
.summary .summ-oppose strong { display: block; position: absolute; left: 66px; top: 0; color: #fc3; font-size: 73px; vertical-align: top; line-height: 55px; font-family: 'BebasNeue'; }
.summary.two .summ-support, .summary.two .summ-oppose { width: 125px;}
.summary.three .summ-support, .summary.three .summ-oppose { width: 158px;}

/* column-end */
.column-end { width: 100%; margin: 16px 0 13px; border-top: 1px solid #d5d5d7; }

/* left-column */
.left-column { float: left; width: 328px; padding-bottom: 10px;}

/* right-column */
.right-column { float: right; width: 331px; padding-bottom: 10px;}

/* columns */
.columns { width: 100%; overflow: hidden; }
.columns span { color: #c76825; }

/* footer */
.footer { width: 100%; border-top: 1px solid #d5d5d7; padding: 2px 0 0; margin: 33px 0 0; }
.footer a,
.footer a:visited { color: #404045; font-size: 9px; }

/* Print styles
------------------------------------------------------------------------------*/

@media print {
	* { background: transparent !important; color: #000 !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	@page { margin: .5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}

/* Media queries
------------------------------------------------------------------------------*/

/* Portrait mode for devices */
@media all and (orientation: portrait) { 
}


/* Landspace mode for devices */
@media all and (orientation: landscape) { 
}

/* Opera Mobile, Mobile Safari, Android Chrome */
@media screen and (max-device-width: 480px) { 
	html { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
}

/* Firefox fixes
-----------------------*/

.mac .right-column2 .txt-outer {  height: 70px; }
.mac .right-column2 .txt { top: 4px; line-height: 70px;  }
.mac .right-column2 .users span { line-height: 18px; }
.mac .right-column2 .users { line-height: 67px; }
.mac .popvox-box .popvox-opp { bottom: 15px; }
.mac .popvox-box .popvox-fav { top: 12px; }
.mac .summary .summ-oppose span,
.mac .summary .summ-support span { top: 10px; }
.mac .summary .summ-users { line-height: 56px; }
.mac .summary .summ-users span { bottom: 4px; }
.mac .summary .fav,
.mac .summary .opp { background-position: 0 0; }

/* Safari fixes
-----------------------*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	.mac .right-column2 .txt-outer {  height: 74px; overflow: hidden; }
	.mac .right-column2 .txt { position: relative; line-height: 70px; height: 70px; margin: 2px 0 0; vertical-align: bottom; }
	.mac .txt:focus { outline: none; }
}

/* Opera fixes
-----------------------*/

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.right-column2 .txt { top: -3px; }
	.mac .right-column2 .txt-outer { height: 70px; }
	.mac .right-column2 .txt { top: 8px; position: absolute; margin: 0; line-height: 66px; vertical-align: top; }
	.mac .right-column2 .users span { line-height: 18px; }
	.mac .right-column2 .users { line-height: 78px; }
	.mac .popvox-box .popvox-opp { bottom: 13px; }
	.mac .popvox-box .popvox-fav { top: 14px; }
	.mac .summary .summ-oppose span,
	.mac .summary .summ-support span { top: 16px; }
	.mac .summary .summ-users { line-height: 64px; }
	.mac .summary .summ-users span { bottom: 6px; }
	.mac .summary .fav,
	.mac .summary .opp { background-position: 0 0; vertical-align: baseline; line-height: 66px; }
}
