{% extends "static/press_releases/template.html" %}
{% block title %}POPVOX Announces Integration With Salsa Labs Platform{% endblock %}
{% block description %}Salsa Embraces Next-Generation Online Advocacy{% endblock %}
{% block pr_content %}
		<h2>POPVOX Announces Integration With Salsa Labs Platform</h2>

		<h3>Salsa Embraces Next-Generation Online Advocacy</h3>

		<p><span class="dateline">July 22, 2011, WASHINGTON, DC―</span> <b>POPVOX</b>, the award-winning online platform that connects citizens with Congress, today announced seamless integration with the <b>SALSA LABS</b> organizing platform used by over 2,000 nonprofits, labor unions, and campaigns.</p>

		<p>Laura Byrd, Director of Marketing at Salsa Labs, said, &ldquo;So many of our clients already use Salsa for their advocacy efforts, so we are excited to provide our clients with the new POPVOX tool that organizers can take advantage of within the structure of their existing Salsa dashboard.&rdquo;</p>

		<p>The integration allows Salsa clients to embed a POPVOX &ldquo;Write Congress&rdquo; widget on their website to help their members weigh in on pending legislation. Since the tool is powered by POPVOX, constituent information is verified for Congressional offices, messages are aggregated publicly on the POPVOX.com website and individuals can track the delivery of their message to their legislators’ offices.</p>

		<p>&ldquo;Integrating with customer relationship management and organizing platforms will make it even easier for organizations to add POPVOX to their arsenal of advocacy tools,&rdquo; said Rachna Choudhry, Chief Marketing Officer of POPVOX. &ldquo;We're fortunate to have an innovative partner in Salsa Labs to launch the integrated service.&rdquo; </p>

		<p>For more information on POPVOX for organizations, visit: <A HREF="www.popvox.com/organization">www.popvox.com/organization</a></p>

		<p>About POPVOX</p>

		<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals&rsquo; personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government aﬀairs professionals with bill status information, customized tracking, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments. For more information, visit: <a href="http://www.popvox.com">www.popvox.com</a></p>

		<p>About SALSA LABS</p>

		<p>Salsa Labs is the creator of the leading online platform for organizing and engaging people.  In one easy-to-use, integrated, and flexible platform, groups of all sizes can manage their supporters, communicate, fundraise, advocate, host events, and more.  Organizations can create their own unique recipe for organizing by choosing from the dozens of available software tools as well as by plugging in dozens of other applications produced by 3rd parties in the Salsa Market. Salsa&rsquo;s software and services suite currently supports over 2,000 user groups&rsquo; relationships with over 40 million supporters, members, donors, activists, and fans all around the world.</p>
{% endblock %}
