{% extends "static/press_releases/template.html" %}
{% block title %}POPVOX Delivers the People's Message to Congress on the American Jobs Act {% endblock %}
{% block description %}POPVOX now makes it possible to weigh in on the President's proposed American Jobs Act with a message to Congress{% endblock %}
{% block pr_content %}
		<h2>Almost 100% Oppose Robocalls to Mobile Phones</h2>

		<h3>POPVOX aggregates opinions on Mobile Informational Call Act</h3>

		<p><span class="dateline">OCTOBER 4, 2011, WASHINGTON, DC―Individuals are using social media and the POPVOX advocacy platform to weigh in on a bill proposed in Congress that would allow informational calls, including “robocalls” to mobile phones.  Within one day, over 3,000 people sent messages to their Members of Congress on H.R. 3035: The Mobile Informational Call Act -- almost 100% in opposition.</p>

		<p>Shaun Dakin, CEO and Founder of the National Political Do Not Call Registry, used tools from POPVOX to turn followers into advocates. &ldquo;I decided that action needed to be taken and created an opposition page on POPVOX where our members could go and register opposition and contact Members of Congress.&rdquo;  Dakin set up an action page on his website using the free POPVOX &ldquo;Write Congress Widget&rdquo; and used Twitter to alert followers of <a href="https://twitter.com/#!/EndTheRoboCalls">@EndTheRobocalls</a>.</p>

		<p>Someone from New Jersey’s 13th District wrote, &ldquo;I oppose H.R. 3035 because I feel it is an invasion of my privacy. I should have the right to decide who gets my mobile phone number.&rdquo;  Comments are aggregated and searchable by Congressional district.</p>

		<p>The StopPoliticalCalls.org campaign is an example of how the POPVOX platform helps individuals voice their concerns to Congress, aggregating many voices into quantified grassroots muscle.  Since comments sent to Congress with POPVOX are also tallied and posted publicly on POPVOX, individuals can see both sides of the issue before writing an informed comment of their own.  In this case, individuals can read the position statements of the U.S. Chamber of Commerce, the Mortgage Bankers Association, and others in support of the Mobile Informational Call Act</p>.

		<p>&ldquo;POPVOX is easy to use and provides Congressional staffers with the key information they need: who is opposing the bill from their Member's district.  With POPVOX I can have more confidence that Congress is listening to the voter,&rdquo; said Dakin.</p>

		<p>About POPVOX</p>

		<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals&rsquo; personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government aﬀairs professionals with bill status information, customized tracking, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments. For more information, visit: <a href="http://www.popvox.com">www.popvox.com</a></p>
{% endblock %}
