{% extends "static/press_releases/template.html" %}
{% block title %}Heritage Action Powers Online Advocacy with POPVOX{% endblock %}
{% block description %}POPVOX Write Congress tools enhance conservative grassroots activism{% endblock %}
{% block pr_content %}
		<h2>Heritage Action Powers Online Advocacy with POPVOX</h2>

		<h3>POPVOX Write Congress tools enhance conservative grassroots activism</h3>

		<p><span class="dateline">July 11, 2011, WASHINGTON, DC―</span> <b>HERITAGE ACTION</b>, the sister organization to the conservative think tank the <b>Heritage Foundation</b>, today launched a campaign to get supporters&rsquo; messages to Congress using the powerful <b>POPVOX</b> advocacy tool.</p>

		<p>The mission of Heritage Action is to ensure that Members of Congress hear directly from their constituents, including over 710,000 members of The Heritage Foundation and millions of others around the country who share their conservative vision of America&rsquo;s future.</p>

		<p>&ldquo;Ease of communication is essential in today&rsquo;s fast-paced and high-stakes environment,&rdquo; Heritage Action's political director Russ Vought said. &ldquo;We&rsquo;re excited by the increased usability that POPVOX will bring to our site.&rdquo;</p>

		<p>The POPVOX Write Congress widget allows individuals to send a custom message to Congress without leaving the Heritage Action website. Since the tool is powered by POPVOX, constituent information is veriﬁed for Congressional offices, messages are aggregated publicly on POPVOX.com to show quantiﬁed grassroots power and individuals can track delivery of their message to their legislators oﬃces.</p>

		<p>Link to POPVOX widget on the Heritage Action site: <A HREF="http://heritageaction.com/nat-gas-act">http://heritageaction.com/nat-gas-act</a></p>

		<p>About POPVOX</p>

		<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals&rsquo; personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government aﬀairs professionals with bill status information, customized tracking, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments. For more information, visit: <a href="http://www.popvox.com">www.popvox.com</a></p>

		<p>About Heritage Action</p>

		<p>Heritage Action is a grassroots organization that promotes conservative policies in Congress. Their DC-based staff ampliﬁes local activists&rsquo; voices, allowing Americans to break through the establishment in Washington, ensuring Members of Congress get the message.</p>
{% endblock %}
