{% extends "static/press_releases/template.html" %}
{% block title %}Political Startup Shows Users &ldquo;What We Know About You&rdquo;{% endblock %}
{% block description %}POPVOX Releases Cutting-edge Privacy Policy, Commits to Do Not Track Header{% endblock %}
{% block pr_content %}
		<h2>Political Startup Shows Users &ldquo;What We Know About You&rdquo;</h2>

		<h3>POPVOX Releases Cutting-edge Privacy Policy, Commits to Do Not Track Header</h3>

		<p><span class="dateline">June 21, 2011, WASHINGTON, DC ―</span> POPVOX, Inc., the award-winning political social advocacy platform, today released a cutting-edge privacy policy that includes a What We Know About You customized report and a unique first-party approach to Do Not Track (DNT) guidelines.</p>

		<p>&ldquo;The revised POPVOX policy incorporates existing standards and proposes a new standard that we hope privacy experts and other websites will consider,&rdquo; POPVOX Co-founder and Chief Technology Officer Dr. <a href="/about/team">Joshua Tauberer</a> said. “Months of surveying users identified privacy as a universal issue, but it was clear that legalese could only be one part of our response to the specific questions and concerns we heard.”</p>

		<p>POPVOX focused on policy, protocols and transparency: A “What We Know About You” report shows logged in users the personal information POPVOX has on file, how the information is used, and why it is important. Additionally, the groundbreaking policy commits to DNT compliance and and suggests that DNT guidelines be extended to cover the responsibilities of so-called "first-parties."</p>

		<p>“Current Do Not Track guidelines permit a compliant website to embed non-compliant resources,” Tauberer explained. “We think that websites that have committed to the Do Not Track header should only embed resources that honor DNT when the visiting user has turned on the option in their browser.”</p>

		<p>&ldquo;In most cases, privacy concerns are about trust,&rdquo; Tauberer said. &ldquo;With these steps we&rsquo;re signaling our commitment to privacy and transparency through our actions.&rdquo;</p>

		<p>For more information, visit <a href="https://www.popvox.com/legal">https://www.popvox.com/legal</a> or Tauberer’s blog post on the new policy at: <a href="http://www.popvox.com/blog/2011/06/20/new-popvox-privacy-tool/">http://www.popvox.com/blog/2011/06/20/new-popvox-privacy-tool/</a>

		<p>About POPVOX</p>

		<p>POPVOX is an innovative advocacy platform that meshes legislative data with individuals’ personal stories and sentiment. Winner of the social media category in the 2011 SxSW BizSpark Accelerator startup competition, POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government affairs professionals with bill status information, customized tracking, bill-specific advocacy information, and real-time constituent sentiment and comments.  For more information, visit: <a href="http://www.popvox.com">www.popvox.com</a></p>
{% endblock %}
