{% extends "static/press_releases/template.html" %}
{% block title %}POPVOX Delivers the People's Message to Congress on the American Jobs Act {% endblock %}
{% block description %}POPVOX now makes it possible to weigh in on the President's proposed American Jobs Act with a message to Congress{% endblock %}
{% block pr_content %}
		<h2>POPVOX Delivers the People's Message to Congress on the American Jobs Act </h2>

		<h3>POPVOX now makes it possible to weigh in on the President's proposed American Jobs Act with a message to Congress.</h3>

		<p><span class="dateline">SEPTEMBER 13, 2011, WASHINGTON, DC―</span> <b>POPVOX</b>, the award-winning transparent online platform for advocacy on bills in Congress, now makes it possible to weigh in on the President's proposed American Jobs Act with a message to Congress.</p>

		<p>POPVOX CEO and former Congressional staffer, Marci Harris, wrote: &ldquo;[T]he proposed legislation starts a conversation: the analysis of each element will all affect the structure of whatever eventually is introduced by Congress.&rdquo; Harris continued, &ldquo;If there are things that you like about the American Jobs Act, shout it from the rooftops.  And if there are things that you don&rsquo;t like, let Congress know.&rdquo;</p>

		<p>Anyone can visit the proposed <a href="https://www.popvox.com/bills/us/112/x2">bill&rsquo;s action page on POPVOX</a> to see information about the proposed bill, including the text, summary, and section-by-section analysis released by the White House, and statements in support or opposition by organizations that have taken a position.  These include: Bio, National Education Association, National League of Cities, National Organization for Women.</p>

		<p>Any advocacy organization can <a href="https://www.popvox.com/organization">create a profile on POPVOX</a> and upload a position supporting or opposing the proposed legislation. In addition, anyone with a website can embed a free &ldquo;widget&rdquo; to send their users to tell Congress what they think about the American Jobs Act.</p>

		<p>Individuals choose to &ldquo;support&rdquo; or &ldquo;oppose&rdquo; proposals on POPVOX, and write comments that are delivered to Congress.  Since the tool is powered by POPVOX, constituent information is verified for Congressional offices and messages are aggregated publicly on POPVOX.com to show quantified grassroots power. Individuals can track delivery of their message to their legislators&rsquo; offices, share their comments on Facebook and Twitter, and invite friends to weigh in.</p>

		<p>About POPVOX</p>

		<p>POPVOX is a neutral, nonpartisan advocacy platform that meshes legislative data with individuals&rsquo; personal stories and sentiment. POPVOX delivers public input to Congress in a format tailored to actionable policy decisions and empowers users to leverage their expertise and numbers. POPVOX provides a legislative dashboard for Congress and government aﬀairs professionals with bill status information, customized tracking, bill-speciﬁc advocacy information, and real-time constituent sentiment and comments. For more information, visit: <a href="http://www.popvox.com">www.popvox.com</a></p>
{% endblock %}
