/* css widget - no mokeys were harmed in the making of this code. (except that weird, small one. but you'll hardly notice the limp.) */



 .widgetizer {
	background: url(http://www.acreativeconcern.com/files/fileshuttle/widget_comment_create_a928.png) center -188px no-repeat;
	display: block;
	height: 1000px;
	}

.content {
	z-index: 2;
	}



.config_pane {
	float: left;
	width: 640px;
	padding-left: 10px;
	}
	
	.config_pane p {
		font-weight: bold;
		}
	
.preview_pane {
	float: left;
	width: 250px;
	background-color: #d4d1ca;
	padding: 20px;
	}
	
	.preview_pane h3 {
		margin: 0;
		padding: 5px 0;
		}

.form .block {
	width: 620px;
	height: 135px;
	background: url("bg_hr.png") repeat-x left bottom;
	}	

.form .vert {
	float: left;
	margin-right: 15px;
	}
	
	.form .vert p.or {
		margin: 30px 8px 0 5px;
		text-transform: uppercase;
		}

	.form .vert label {
		float: none;
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
		text-transform: uppercase;
		font-weight: bold;
		width: 270px;
		}
	
	.form .vert small {
		margin: 0;
		padding: 0;
		width: auto;
		}
	
	.form .error {
		margin: 7px 0px 20px 0;
		}

	.form .vert input {
		font-size: 11px;
		height: 16px;
		margin: 8px 0 25px;
		width: 260px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}
		
	.form_top {
		margin-top: 30px;
		}
		
	.form .vert select {
		margin-top: 10px;
		width: 270px;
		}
		
		.form .vert select.c2 {
			width: 140px;
			}
			
	.form .block2 {
		margin: 45px 0;
		}
		
	.form .block2 h4 {
		font: normal 24px/24px 'BebasNeueRegular', helvetica, arial, sans-serif;
		}
		
		.form .block2 h4 span {
			font: 14px/24px helvetica, arial, sans-serif;
			}
		
			
			

	.preview_pane textarea {
		font-size: 10.5px;
		}
		
		
		
		