/* @override https://popvox.com:777/media/widget/widget.css */

/* css widget - no mokeys were harmed in the making of this code. (except that weird, small one. but you'll hardly notice the limp.) */



 .widgetizer {
/*	background: url(http://sodiumhalogen.com/_tempup/wm/widget_comment_create_a928_dbb2.png) center -188px no-repeat;*/
	display: block;
	}

.content {
	z-index: 2;
	}



.config_pane {
	float: left;
	width: 630px;
	margin-right: 20px;
	}
	
	#widget_description {
		font-weight: bold;
		}
	
.preview_pane {
	float: left;
	width: 250px;
	background-color: #d4d1ca;
	padding: 20px;
	}
	
	.preview_pane h3 {
		margin: 0;
		padding: 5px 0;
		}


.form .vert {
	float: left;
	margin-right: 15px;
	}
	
	.form .vert p.or {
		margin: 38px 8px 0 5px;
		text-transform: uppercase;
		}

	.form .vert label {
		float: none;
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
		text-transform: uppercase;
		font-weight: bold;
		width: 270px;
		}
	
	.form .vert small {
		margin: 0;
		padding: 0;
		width: auto;
		}
	
	.form .error {
		margin: 7px 0px 20px 0;
		}

	.form .vert input {
		font-size: 11px;
		height: 16px;
		margin: 0 0 25px;
		width: 260px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}
		
	.form_top {
		margin-top: 30px;
		}
		
	.form .vert select {
		margin-top: 2px;
		width: 270px;
		height: 22px;
		}
		
		.form .vert select.c2 {
			width: 140px;
			}

.block1 {
	text-align: right;
	font-size: 10px;
	}
.block1 select {
	font-size: 10px;
	}
			
.form .block2 {
	background: url("../master/bg_hr.png") repeat-x left bottom;
	margin-top: 10px;
	}	
	
	.form .block2 .vert label {
		margin: 8px 0;
		}

.form .block3 {
	width: 620px;
	background: url("../master/bg_hr.png") repeat-x left bottom;
	padding-bottom: 10px;
	margin: 30px 0 20px;
	}
	
	.form h4 {
		font: normal 24px/24px 'BebasNeueRegular', helvetica, arial, sans-serif;
		margin-bottom: 15px;
		}
		
		.form .block3 h4 {
			float: left;
			}
		
		.form p.free {
			font: 16px/24px helvetica, arial, sans-serif;
			float: left;
			clear: right;
			margin: -2px 0 0 5px;
			}
		
		.form h5 {
			font: bold 13px/18px helvetica,arial,sans-serif;
			text-transform: uppercase;
			height: 25px;
			}
			
		.form .block3 .vert label {
			float: left;
			width: auto;
			padding-right: .9em;
			text-transform: inherit;
			font-weight: normal;
			margin-top: 3px;
			}
				
		.form .block3 .vert input {
			 margin-right: 8px;
			width: 56px;
			}
			
		.form .block3 .vert p.or {
			margin-top: 0;
			}	
			
		.form .block3 .vert.radio {
			width: 85px;
			}
			
		.form .block3 .vert.radio input {	
			float: left;
			display: block;
			margin: 0;
			padding: 0;
			text-align: left;
			width: 20px;
			}		
			
		.form .block3 .vert.last {
			width: 150px;
			}
			
			.form .block3 .vert.last p {
				font-weight: normal;
				}
			

	.form .plus {
		
		}
		
		
		.form .plus h4 {
			margin: 3px 10px 15px 0;
			float: left;
			}
			.form .plus h4 .small {
				font-size: 11px;
				font-family: georgia;
				font-style: italic;
				}		
			.b_upgrade {
				background: url(b_upgrade_trial.png) left top no-repeat;
				width: 176px;
				height: 21px;
				float: left;
				}				
			
		.form .plus .vert label {
			font: normal 12px/14px helvetica, arial, sans-serif;
			text-transform: inherit;
			padding-top: 3px;
			}
			
		.form .plus .vert {
			width: 115px;
			height: 60px;
			}
		
	.form input.colorpicker {
		width: 60px;
		margin-bottom: 0; /* fixes color picker alignment */
		}
		
	.form .error {
		margin: 7px 0px 20px 0;
		}
		
	.form .radio input {

		}
		
	.form .radio label {
		float: left;
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
		}


.b_copy_code {
	width: 86px;
	height: 22px;
	background: url(b_copy_code.png);
	display: block;
	text-indent: -9999em;
	margin: 0;
	border: none;
	float: right;
	}
	
#code {
	padding: 10px;
	border: 1px solid #c2bfb6;
	color: #404045;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	}

.hide {
	display: none;
	}


.disabled {
	color: #666;
	}

			
			

	.preview_pane textarea {
		font-size: 10.5px;
		}
		
		
		
		
