/* @override https://www.popvox.com:777/media/master/map_style.css */

/*


 _| _ _. _  _  __ |_.(_. _   _ _  _ . _  _ _ _. _  _   |_    
(_|(-_)|(_)| )    |_|| |(_  (-| )(_)|| )(-(-| || )(_)  |_)\/ 
        _/                       _/               _/      /  
 ____            _ _                 _   _       _                        
/ ___|  ___   __| (_)_   _ _ __ ___ | | | | __ _| | ___   __ _  ___ _ __  
\___ \ / _ \ / _` | | | | | '_ ` _ \| |_| |/ _` | |/ _ \ / _` |/ _ \ '_ \ 
 ___) | (_) | (_| | | |_| | | | | | |  _  | (_| | | (_) | (_| |  __/ | | |
|____/ \___/ \__,_|_|\__,_|_| |_| |_|_| |_|\__,_|_|\___/ \__, |\___|_| |_|.com
                                                         |___/           


*/	

body {
	background: #e8e5df;
}

#mapdots {
	background: url(/media/gis/map_background.png) no-repeat;
	position: absolute;
	top: 23px;
	left: 0;
	width: 719px;
	height: 522px;
	}
	
	
/*  for oppose, mostly oppose, mixed, mostly support, support */

.colormode_1 .dots { background-image: url("bg_dots.png");  }
.colormode_2 .dots { background-image: url("bg_dots_alt.png");  }

.dot_clr_1.dot_sz_1 { background-position: -80px -0px; }
.dot_clr_2.dot_sz_1 { background-position: -80px -20px; }
.dot_clr_3.dot_sz_1 { background-position: -80px -40px; }
.dot_clr_4.dot_sz_1 { background-position: -80px -60px; }
.dot_clr_5.dot_sz_1 { background-position: -80px -80px; }
.dot_clr_1.dot_sz_2 { background-position: -80px -0px; }
.dot_clr_2.dot_sz_2 { background-position: -60px -20px; }
.dot_clr_3.dot_sz_2 { background-position: -60px -40px; }
.dot_clr_4.dot_sz_2 { background-position: -60px -60px; }
.dot_clr_5.dot_sz_2 { background-position: -60px -80px; }
.dot_clr_1.dot_sz_3 { background-position: -40px -0px; }
.dot_clr_2.dot_sz_3 { background-position: -40px -20px; }
.dot_clr_3.dot_sz_3 { background-position: -40px -40px; }
.dot_clr_4.dot_sz_3 { background-position: -40px -60px; }
.dot_clr_5.dot_sz_3 { background-position: -40px -80px; }
.dot_clr_1.dot_sz_4 { background-position: -20px -0px; }
.dot_clr_2.dot_sz_4 { background-position: -20px -20px; }
.dot_clr_3.dot_sz_4 { background-position: -20px -40px; }
.dot_clr_4.dot_sz_4 { background-position: -20px -60px; }
.dot_clr_5.dot_sz_4 { background-position: -20px -80px; }
.dot_clr_1.dot_sz_5 { background-position: -0px -0px; }
.dot_clr_2.dot_sz_5 { background-position: -0px -20px; }
.dot_clr_3.dot_sz_5 { background-position: -0px -40px; }
.dot_clr_4.dot_sz_5 { background-position: -0px -60px; }
.dot_clr_5.dot_sz_5 { background-position: -0px -80px; }
#mapdots .dot_clr_1:hover { background-position: -0px -0px; }
#mapdots .dot_clr_2:hover { background-position: -0px -20px; }
#mapdots .dot_clr_3:hover { background-position: -0px -40px; }
#mapdots .dot_clr_4:hover { background-position: -0px -60px; }
#mapdots .dot_clr_5:hover { background-position: -0px -80px; }

/*.colormode_2 .dot_clr_1 { background: #df1397; }
.colormode_2 .dot_clr_2 { background: #c73bb0; }
.colormode_2 .dot_clr_3 { background: #a950c9; }
.colormode_2 .dot_clr_4 { background: #805fe3; }
.colormode_2 .dot_clr_5 { background: #2a6cfd; }*/

/*  few people vs many people */
	.dot_sz_1 {
		width: 8px;
		height: 7px;
		margin: 4px 0 0 4px;
		z-index: 5;
		}

	.dot_sz_2 {
		width: 10px;
		height: 9px;
		margin: 3px 0 0 3px;
		z-index: 4;
		}

	.dot_sz_3 {
		width: 12px;
		height: 11px;
		margin: 2px 0 0 2px;
		z-index: 3;
		}

	.dot_sz_4 {
		width: 14px;
		height: 13px;
		margin: 1px 0 0 1px;
		z-index: 2;
		}

	.dot_sz_5 {
		width: 15px;
		height: 15px;
		margin: 0px 0 0 0px;
		z-index: 1;
		}
	
.dots {
	display: block;
	}
	
#mapdots .dots:hover {
	z-index: 999 !important;
	width: 15px !important;
	height: 15px !important;
	display: block;
	margin: 0;
	}
	
#legend_sz, #legend_clr, #legend_text {
	position: absolute;
	left: 370px;
	font: bold 13px/18px helvetica, arial, sans-serif;
	color: #404045;
	}
#legend_clr {
	top: 503px;
	left: 340px;
	}
#legend_sz {
	top: 523px;
	left: 345px;
	}
#legend_text {
	top: 428px;
	left: 420px;
	width: 200px;
	}
	
#legend_sz div, #legend_clr div {
	float: left;
	}
.label.first {
	padding-right: .5em;
	}
.label.last {
	padding-left: .5em;
	}
#legend_sz .dotholder, #legend_clr .dotholder {
	margin-top: 2px;
	border: none;
	}
	
#colormode {
	width: 122px;
	height: 22px;
	cursor: pointer;
	text-indent: -9999em;
	background: url(/media/gis/b_alt_colors.png) left top no-repeat;
	position: absolute;
	left: 550px;
	top: 500px;
	}
#colormode:hover {
	background-position: left bottom;
	}
#colormode.active {
	background: url(/media/gis/b_alt_colors.png) left top no-repeat;
	}

#infobox {
	background: url(/media/gis/bg_hover.png) left top no-repeat;
	display: block;
	width: 233px;
	height: 79px;
/*	background: #404045; */
	color: #fff;
	font: normal 13px/18px helvetica, arial, san-serif;
	position: absolute; 
	z-index: 100;
	border: none;
	margin: 12px 0 0 -50px;
	padding: 13px 0 0 50px;
	}
	
	#infobox.lefty {
		background: url(/media/gis/bg_hover_lefty.png) left top no-repeat;
		margin: 12px 0 0 0px;
		padding: 13px 0 0 20px;
		}
	
	#district {
		text-align: left;
		}
		
	#infobox #support {
		background: url(/media/gis/map_heart.png) left top no-repeat;
		padding: 0 20px 0 22px;
		height: 20px;
		width: 20px;
		display: block;
		float: left;
		}
		
	#infobox #oppose {
		background: url(/media/gis/map_anti.png) left top no-repeat;
		padding: 0 15px 0 22px;
		height: 20px;
		width: 20px;
		display: block;
		float: left;
		}	
			
	#infobox #activity {
		font-size: 12px;
		}
	
	
	
	
