/*


 _| _ _. _  _  __ |_.(_. _   _ _  _ . _  _ _ _. _  _   |_    
(_|(-_)|(_)| )    |_|| |(_  (-| )(_)|| )(-(-| || )(_)  |_)\/ 
        _/                       _/               _/      /  
 ____            _ _                 _   _       _                        
/ ___|  ___   __| (_)_   _ _ __ ___ | | | | __ _| | ___   __ _  ___ _ __  
\___ \ / _ \ / _` | | | | | '_ ` _ \| |_| |/ _` | |/ _ \ / _` |/ _ \ '_ \ 
 ___) | (_) | (_| | | |_| | | | | | |  _  | (_| | | (_) | (_| |  __/ | | |
|____/ \___/ \__,_|_|\__,_|_| |_| |_|_| |_|\__,_|_|\___/ \__, |\___|_| |_|.com
                                                         |___/           


*/	

body {
	background: #e8e5df;
}

#mapdots {
	background: url(/media/gis/map_background.png) no-repeat;
	position: absolute;
	top: 23px;
	left: 0;
	width: 719px;
	height: 522px;
	}
	
/*  for oppose, mostly oppose, mixed, mostly support, support */
.colormode_1 .dot_clr_1 { background: #ed5a24; }
.colormode_1 .dot_clr_2 { background: #f8ac3c; }
.colormode_1 .dot_clr_3 { background: #999999; }
.colormode_1 .dot_clr_4 { background: #89c23f; }
.colormode_1 .dot_clr_5 { background: #4a9410; }

.colormode_2 .dot_clr_1 { background: #df1397; }
.colormode_2 .dot_clr_2 { background: #c73bb0; }
.colormode_2 .dot_clr_3 { background: #a950c9; }
.colormode_2 .dot_clr_4 { background: #805fe3; }
.colormode_2 .dot_clr_5 { background: #2a6cfd; }
		
/*  few people vs many people */
	.dot_sz_1 {
		width: 4px;
		height: 4px;
		-moz-border-radius: 	4px;
		-webkit-border-radius: 	4px;
		-khtml-border-radius: 	4px;
		border-radius: 			4px;
		}

	.dot_sz_2 {
		width: 6px;
		height: 6px;
		-moz-border-radius: 	5px;
		-webkit-border-radius: 	5px;
		-khtml-border-radius: 	5px;
		border-radius: 			5px;
		}

	.dot_sz_3 {
		width: 8px;
		height: 8px;
		-moz-border-radius: 	6px;
		-webkit-border-radius: 	6px;
		-khtml-border-radius: 	6px;
		border-radius: 			6px;
		}

	.dot_sz_4 {
		width: 10px;
		height: 10px;
		-moz-border-radius: 	7px;
		-webkit-border-radius: 	7px;
		-khtml-border-radius: 	7px;
		border-radius: 			7px;
		}

	.dot_sz_5 {
		width: 12px;
		height: 12px;
		-moz-border-radius: 	8px;
		-webkit-border-radius: 	8px;
		-khtml-border-radius: 	8px;
		border-radius: 			8px;
		}
		

.dots {
	display: block;
	z-index: 1;
	border: 1px solid #fff;
	}
	
#mapdots .dots:hover {
	z-index: 999 !important;
	width: 12px !important;
	height: 12px !important;
	margin: -3px 0 0 -3px;
	-moz-border-radius: 7px !important;
	-webkit-border-radius: 7px !important;
	-khtml-border-radius: 7px !important;
	border-radius: 7px !important;
	}
	
	#mapdots .dot_sz_4.dots:hover {		
		margin: -2px 0 0 -2px;
		}
		
/*.dots_key {
	display: block;
	z-index: 1;
	width: 8px;
	height: 8px;
	-moz-border-radius: 	6px;
	-webkit-border-radius: 	6px;
	-khtml-border-radius: 	6px;
	border-radius: 			6px;
	}
*/

#legend_sz, #legend_clr, #legend_text {
	position: absolute;
	left: 370px;
	font: bold 13px/18px helvetica, arial, sans-serif;
	color: #404045;
	}
#legend_clr {
	top: 503px;
	left: 340px;
	}
#legend_sz {
	top: 523px;
	left: 345px;
	}
#legend_text {
	top: 428px;
	left: 420px;
	width: 200px;
	}
	
#legend_sz div, #legend_clr div {
	float: left;
	}
	 #legend_clr div {
		margin-top: -3px;
		}
.label.first {
	padding-right: .5em;
	}
.label.last {
	padding-left: .5em;
	}
#legend_sz .dots, #legend_clr .dots {
	margin: 2px;
	border: none;
	}
	
	#legend_sz .dot_sz_5 {
		margin-top: 3px;
		}
	#legend_sz .dot_sz_4 {
		margin-top: 4px;
		}
	#legend_sz .dot_sz_3 {
		margin-top: 5px;
		}
	#legend_sz .dot_sz_2 {
		margin-top: 6px;
		}
	#legend_sz .dot_sz_1 {
		margin-top: 7px;
		}

#colormode {
	width: 122px;
	height: 22px;
	cursor: pointer;
	text-indent: -9999em;
	background: url(/media/gis/b_alt_colors.png) left top no-repeat;
	position: absolute;
	left: 550px;
	top: 500px;
	}
#colormode:hover {
	background-position: left bottom;
	}
#colormode.active {
	background: url(/media/gis/b_alt_colors.png) left top no-repeat;
	}

#infobox {
	background: url(/media/gis/bg_hover.png) left top no-repeat;
	display: block;
	width: 233px;
	height: 79px;
/*	background: #404045; */
	color: #fff;
	font: normal 13px/18px helvetica, arial, san-serif;
	position: absolute; 
	z-index: 100;
	border: none;
	margin: 12px 0 0 -50px;
	padding: 13px 0 0 50px;
	}
	
	#infobox.lefty {
		background: url(/media/gis/bg_hover_lefty.png) left top no-repeat;
		margin: 12px 0 0 0px;
		padding: 13px 0 0 20px;
		}
	
	#district {
		text-align: left;
		}
		
	#infobox #support {
		background: url(/media/gis/map_heart.png) left top no-repeat;
		padding: 0 20px 0 22px;
		height: 20px;
		width: 20px;
		display: block;
		float: left;
		}
		
	#infobox #oppose {
		background: url(/media/gis/map_anti.png) left top no-repeat;
		padding: 0 15px 0 22px;
		height: 20px;
		width: 20px;
		display: block;
		float: left;
		}	
			
	#infobox #activity {
		font-size: 12px;
		}
	
	
	
	
