{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Top Bills - POPVOX</title> 

		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #E8E5DF;
			}
		</style> 
		
		<link rel="stylesheet" href="/media/master/fonts.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/media/js/jquery.js"></script>
		<script type="text/javascript" src="/media/js/highcharts.js"></script>
		<script>
		
var chart;

var categories =  [{% for bill, sup, opp, ratio, link in bills %}"{{bill.shortname|escapejs}}"{% if not forloop.last %},{% endif %}{% endfor %}];
var titles =  [{% for bill, sup, opp, ratio, link in bills %}"{{bill.title|truncatewords:16|escapejs}}"{% if not forloop.last %},{% endif %}{% endfor %}];
var data_support = [{% for bill, sup, opp, ratio, link in bills %}{{sup}}{% if not forloop.last %},{% endif %}{% endfor %}];
var data_oppose = [{% for bill, sup, opp, ratio, link in bills %}{{opp}}{% if not forloop.last %},{% endif %}{% endfor %}];
var data_links = [{% for bill, sup, opp, ratio, link in bills %}"{{link|escapejs}}"{% if not forloop.last %},{% endif %}{% endfor %}];

$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column',
         backgroundColor: "#E8E5DF",
         width: $(window).width() == 0 ? {{request.GET.width|escapejs}} : $(window).width(),
         height: $(window).height() == 0 ? {{request.GET.height|escapejs}} : $(window).height(),
         margin: [30,0,null,null]
      },
      title: {
         /*text: 'Top Bills',
         style: { color: "black", font: "normal 24px/24px 'BebasNeueRegular', helvetica, arial, sans-serif" }*/
         text: ""
      },
	  credits: { enabled: false },
	  legend: {
	  	  floating: true,
	  	  align: "right",
	  	  verticalAlign: "top",
	  	  borderWidth: 0
	  },
      /*subtitle: {
         text: '...'
      },*/
      xAxis: [{
         categories: categories
      }/*, { // mirror axis on right side
         opposite: true,
         reversed: false,
         categories: categories,
         linkedTo: 0
      }*/],
      yAxis: {
         title: {
            text: ""
         },
         labels: {
            /*formatter: function(){
               return Math.abs(this.value);
            }*/
         },
         min: 0,
         max: {{max}},
         gridLineWidth: 0
      },
      
      plotOptions: {
         series: {
            stacking: 'normal',
            cursor: 'pointer',
			point: {
				events: {
					click: function() {
						window.open(data_links[this.x], "_top");
					}
				}
			}
         },
         column: {
         	 groupPadding: .1,
         	 borderWidth: 1,
         	 shadow: false,
         	 borderColor: '#E8E5DF'
         }
      },
      
      tooltip: {
         formatter: function(){
         	 var sup = data_support[this.point.x];
         	 var opp = data_oppose[this.point.x];
         	 
         	 return '<b>'+ titles[this.point.x] +'</b><br/>'+
            	'Support: '+ sup + ' (' + Math.round(sup/(sup+opp)*100) +  '%)<br/>' + 
                'Oppose: '+ opp + ' (' + Math.round(opp/(sup+opp)*100) +  '%)';
         }
      },
      
      series: [{
         name: 'Support',
         data: data_support
      }, {
         name: 'Oppose',
         data: data_oppose
      }],
      
      colors: ["#CC6A11", "#FFCC33"]
   });
});

		</script>
	</head>
	<body>
		<div id="container" style="height: 100%;"> </div>
	</body>
</html>

