<script type="text/javascript" src="/media/js/jquery.tools.min.js"></script>

<label for="useraddress_prefix">Prefix</label>
<select class="c2" name="useraddress_prefix">
	{% for prefix in useraddress_prefixes %}
	<option value="{{prefix}}" {% if useraddress.nameprefix == prefix %}selected{% endif %}>{{prefix}}{% if not prefix %}(select){% endif %}</option>
	{% endfor %}
</select><br />

<label for="useraddress_firstname">First Name</label>
<input class="c2" id="useraddress_firstname" name="useraddress_firstname" type="text" value="{{useraddress.firstname}}" title="We will share your name and address with your Members of Congress – and no one else."/><br />

<label for="useraddress_lastname">Last Name</label>
<input class="c2" id="useraddress_lastname" name="useraddress_lastname" type="text" value="{{useraddress.lastname}}"/><br />

<label for="useraddress_suffix">Suffix</label>
<select class="c2" name="useraddress_suffix">
	{% for suffix in useraddress_suffixes %}
	<option value="{{suffix}}" {% if useraddress.namesuffix == suffix %}selected{% endif %}>{{suffix}}{% if not suffix %}(none){% endif %}</option>
	{% endfor %}
</select><br />

<label for="useraddress_address1">Address Line 1</label>
<input class="c3" id="useraddress_address1" name="useraddress_address1" type="text" value="{{useraddress.address1}}"
	{% if not error_is_validation %}
	title="If you live abroad, Members of Congress still require us to submit an in-district address that can receive a reply."
	{% else %}
	title="Check if this is right. Don’t use abbreviations. If you are having trouble getting passed this point, click I’m Having Trouble below."
	{% endif %}
	/><br />

<label for="useraddress_address2">Address Line 2</label>
<input class="c3" id="useraddress_address2" name="useraddress_address2" type="text" value="{{useraddress.address2}}"/><br />

<label for="useraddress_city">City</label>
<input class="c2" id="useraddress_city"  name="useraddress_city" type="text" value="{{useraddress.city}}"/><br />

<label for="useraddress_state">State</label>
<select class="c2" id="useraddress_state" name="useraddress_state">
	<option value="">(select)</option>
	{% for k,v in useraddress_states %}
	<option value="{{k}}" {% if useraddress.state == k or useraddress.state == v %}selected{% endif %}>{{v}}</option>
	{% endfor %}
</select><br />

<label for="useraddress_zipcode">ZIP Code</label>
<input class="c2" id="useraddress_zipcode" name="useraddress_zipcode" type="text" value="{{useraddress.zipcode}}"/><br />

<label for="useraddress_phonenumber">Phone Number</label>
<input class="c2" id="useraddress_phonenumber" name="useraddress_phonenumber" type="text" value="{{useraddress.phonenumber}}" title="We ask for your phone number because Congressional offices require that we include it with your letter."/><br />

<script type="text/javascript">$('#useraddress_firstname,#useraddress_address1,#useraddress_phonenumber').tooltip({ position: "center right", layout: "<div><span class='tip_point'></span></div>", offset: [0, 5], effect: "fade" });</script>
{% if error_is_validation %}
<script type="text/javascript">$('#useraddress_address1').data('tooltip').show();</script>
{% endif %}
