{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX Experimental API{% endblock%}
{% block description %}The experimental POPVOX API provides programmatic resources to POPVOX data and services.{% endblock%}
{% block head %}
<style>
h4 {
	margin-top: 1.25em;
	margin-bottom: .5em;
	font-weight: bold;
	text-decoration: underline;
}
table th {
	font-weight: bold;
}
table td, table th {
	padding: .5em;
}
</style>
{% endblock %}
{% block subnav %}
    {% include "popvox/services_subnav.html" %}
{% endblock %}
{% block content %}
	<h1>POPVOX API</h1>
	
	<div class="col_3 col_top">

	<h3 class="no_rule">Overview</h3>
	
	<ul class="bullets">
	<li><a href="#common_parameters">common parameters to all API methods</a></li>
	</ul>
	
	<h3 class="no_rule">API Methods</h3>
	
	<ul class="bullets">
	{% for method in methods %}
		<li><a href="#{{method.api_display_name}}">{{method.api_display_name}}</a></li>
	{% endfor %}
	</ul>
	
	</div>
	
	<div class="col_9 col_top col_last">

	<p>The POPVOX API provides programmatic RESTful access to many live resources on POPVOX.
	This API is experimental! Use at your own risk.</p>
	
	<a name="common_parameters"></a>
	<h3>Common Parameters to All API Methods</h3>
	
		<h4>Base URL</h4>
		
		<p>The base URL of all API calls is https://www.popvox.com.</p>

		<h4>Authentication</h4>
		
		<p>All POPVOX API methods require an <tt>api_key</tt> parameter. Everyone has a public API key that can be shared publicly and a private API key that must not be shared. All methods accept your private API key. Methods that accept a public API key are noted in the documentation for the API method.</p>
			
		<p>{% if not accounts %}<a href="/accounts/login">Log in</a> to get an API key.
			{% else %}Your API keys are shown below:{% endif %}</p>
		
		{% if accounts %}
		<table style="margin-left: 2em">
		<tr><th>Account Name</th> <th>Private API Key</th> <th>Public API Key</th></tr>
		{% for acct in accounts %}	
			<tr><td>{{acct}}</td> <td>{{acct.secret_key}}</td> <td>{{acct.api_key}}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
		
		<h4>Data Format</h4>
		
		<p>The default result format is JSON. The output format can be changed to XML by adding "format=xml" to any API.</p>
		
		<h4>Pagination</h4>
		
		<p>Some results are paged (as indicated below). Paged API calls take two optional parameters, <tt>count</tt> which gives the
		number of items to return per page (default 25), and <tt>page</tt> the one-based page number to return.</p>
		
		<p>The response of paged API calls are mappings with the following keys: <tt>count</tt> as the total number of items matching the query, <tt>pages</tt> as the total number of pages, <tt>page</tt> the current page returned, <tt>has_prev</tt> a boolean indicating if there is a previous page, <tt>has_next</tt> a boolean indicating if there is a next page, <tt>items</tt> the array of results for the returned page.</p>
		
		<h4>User Sessions</h4>
		
		<p>The user login API method returns a session token for a user by logging a user in with an email address and password. This is useful for writing applications that allow POPVOX users to log in with their POPVOX credentials. (We will add OAuth support in the future.) For API methods that make use of a session token, the session token should be passed as a query string (i.e. GET) parameter called <tt>session</tt>.</p>
		
		<p>If you are trying to access your own account, you may not need a session token because your API key will associate the API call with your username.</p>
		
		<h4>Returning Only Some Response Fields</h4>
		
		<p>To filter out unneeded response fields, set the <tt>fields</tt> parameter to a comma-separated list of field names.</p>
		
	{% for method in methods %}
	
		<a name="{{method.api_display_name}}"></a>
		<h3>{{method.api_display_name}}</h3>
		
		<p>{{method.description}}</p>
		
		<div style="margin-left: 2em">
			<h4>Overview</h4>
			
			<p style="margin: 0 0 4px 0; font-weight: bold;"><tt>{{method.url_pattern}}</tt></p>
			
			{% if method.has_read %}
			<p>example: <a href="{{method.url_example}}"><tt>{{method.url_example}}</tt></a></p>
			{% else %}
			<p>(no example available for a POST-only API)</p>
			{% endif %}
			
			{% if method.qs_args %}
				<h4>Query String Parameters</h4>
				{% for key, descr in method.qs_args %}
					<p style="margin-bottom: .66em"><tt style="display: inline-block; min-width: 6em; margin-right: .5em;">{{key}}</tt> {{descr}}</p>
				{% endfor %}
			{% endif %}
			
			{% if method.post_args %}
				<h4>POST Parameters</h4>
				{% for key, descr in method.post_args %}
					<p style="margin-bottom: .66em"><tt style="display: inline-block; min-width: 6em; margin-right: .5em;">{{key}}</tt> {{descr}}</p>
				{% endfor %}
			{% endif %}
			
			{% if method.response_summary or method.response_fields %}
				<h4>Response {% if method.response_fields %}Fields{% endif %}</h4>
				
				<p>{{method.response_summary}}</p>
				
				{% for key, descr in method.response_fields %}
					<p style="margin-bottom: .66em"><tt style="display: inline-block; min-width: 6em; margin-right: .5em;">{{key}}</tt> {{descr}}</p>
				{% endfor %}
			{% endif %}
			
			{% if method.allow_public_api_key %}
			<p style="font-style: italic">This method accepts a public API key.</p>
			{% endif %}
		</div>
	
	{% endfor %}

	</div>
{% endblock %}

