			<p>
				{% if nextchamber == "s" %}The next vote on this bill will occur in the Senate. {% endif %}
				{% if nextchamber == "h" %}The next vote on this bill will occur in the House of Representatives. {% endif %}
				{% if not mocs %}
					{% if nextchamber == "s" %}How should your senators vote?{% endif %}
					{% if nextchamber == "h" %}How should your representative vote?{% endif %}
					{% if nextchamber != "s" and nextchamber != "h" %}How should your Members of Congress vote?{% endif %}
				{% endif %}
				
				{% if mocs %}
					How should
						{% for moc in mocs %}
							{% if not forloop.first %} and {% endif %}
							{{ moc.name }}
						{% endfor %}
					vote?
				{% endif %}
			</p>
