{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Preview Comment on {{ bill.title }}{% endblock%}
{% block description %}Preview your comment on {{ bill.title }}{% endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block finalscript %}<script type="text/javascript">mpmetrics.track('comment preview', { 'bill': '{{bill.displaynumber|escapejs}}', 'personalized': {% if message %}'yes'{% else %}'no'{% endif %}, 'had_error': {% if newaccount_error %}'yes'{% else %}'no'{% endif %} });</script>{% endblock %}
{% block head %}
<style>
#needsauth { margin-top: 35px   }

#needsauth .signin_social, #needsauth .b_back { margin-left: 100px; }

#needsauth .form input.b_login { margin-left: 200px; }

#needsauth h4 {
    font: bold 14px/20px helvetica, arial, sans-serif;
    color: #404045;
    margin-bottom: 10px;
    text-transform: uppercase;
    }
    
.form.signinup { /*        display: none;  _NO__DOTCOMMA__AFTER__*/     }

    .form.signinup input.c2 {
        margin-right: 0px;
        height: 18px;
        width: 190px;
        }

    .form.signinup label {
        width: 90px;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 10px;
        }

    .form.signinup small {
        margin-bottom: 10px;
        margin-top: -6px;
        margin-left: 101px;
        }
        
	.form.signinup .note {
		font-family:  Helvetica;
		background: #414046;
		color: white;
		font-size: 12px;
		padding: 15px;
		width: 220px;
		float: right;
		margin: 0 0 2em 0;
		clear: both;
		min-height: 30px;
		height: auto !important;
		height: 30px;
		}
		
.b_create_accnt { margin-left: 100px; }
</style>
<script type="text/javascript">
function startlogin() {
	ajax(
		"/registration/ajax/get-login-type",
		{ email: $('#login_email').val() },
		{
		statusfield: "login_errorlabel",
		failure: function() {
			$('#login_password_container, #login_sso_container, #login_sso_container .btn, #login_newuser_container, #login_get_password').hide();
			$('#createacct_username').focus();
		},
		success: function(res) {
			$('html,body').animate({scrollTop: $('#needsauth').offset().top});
			if (res.result == "not-recognized") {
				$('#login_password_container, #login_sso_container, #login_sso_container .btn, login_get_password').hide();
				$('#login_newuser_container').fadeIn(function() { $('#createacct_username').focus(); });
			} else {
				$('#login_sso_container, #login_sso_container .btn, #login_newuser_container').hide();
				var servicenames = [];
				for (key in res) {
					if (key == "status" || key == "password") continue;
					servicenames.push(res[key]);
					$('#login_sso_container').show();
					if (res.password)
						$('#login_sso_container .or').show();
					else
						$('#login_sso_container .or').hide();
					$('#login_sso_container .btn.social_' + key).show();
				}
				$('#login_sso_container .servicename').text(servicenames.join(" or "));
				if (res.password) {
					$('#login_get_password').hide();
					$('#login_password_container').show();
					$('#login_password').focus();
				} else {
					$('#login_password_container').hide();
					$('#login_get_password').show();
				}
			}
		}
		}
	);
}
function trylogin() {
	ajax(
		"/registration/ajax/login",
		{ email: $('#login_email').val(), password: $('#login_password').val() },
		{
		statusfield: "login_errorlabel",
		success: function() {
			$('#login_errorlabel').text("Please wait...");
			window.location = "{{ singlesignon_next|escapejs }}";
		}
		}
	);
}
</script>
{% endblock %}
{% block content %}
<div class="content">

	{% with "preview" as billcomment_progress_step %}
	{% include "popvox/billcomment_progress.html" %}
	{% endwith %}

	<div class="tab_pane commentProcess">
	
	<form method="post" id="commentform" name="commentform">
	
	{% csrf_token %}
	<input id="submitmode" type="hidden" name="submitmode" value="Submit Comment >"/>
	<input type="hidden" name="message" value="{% if message %}{{message}}{% endif %}"/>
	
	{% if not newaccount_error and message %}
		<div class="clear"> </div>

		<h1 class="h1_smaller" style="font-size: 35px;">Preview Your Message</h1>
		
		 <p>Check over your letter before we send it in to Congress.
			You can revise or remove your comment later, too.</p>
		
		<div class="message_preview">
		<div class="inner">
			<p>Dear Congressperson:</p>
			<span></span>
			{{message|wraplines:"p"}}
			<p class="signature">
				{% comment %}
				<span class="name">w d</span> <br>
				<span class="address1">95</span> <br>
				<span class="citystatezip">jackson, TN 38301</span> <br>
				<a onclick="return working ? false : show_panel(2);" href="#">edit address</a> |
				{% endcomment %}
				<a onclick="submitform('< Go Back'); return false;" href="#">revise message</a>
			</p>
		</div>
		</div>
		<div class="letterBottom">
		</div>
		
	
		{% if not user.is_authenticated %}
		{% comment %}
		<div class="pad_btm">
			<input class="b_back btn force_hover_state" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
		</div>
		{% endcomment %}
		
		<h1 class="h1_smaller" style="margin-top: 2em">Register or sign in</h1>
		<p style="margin-bottom: 50px">Before we send your letter we need to get additional information from you.</p>
		{% else %}
		<p style="margin-top: 20px;">Click Next to enter or check your address.</p>
		{% endif %}
		
	{% else %}
		{% if message %}
		<h1>Submit Your Comment</h1>
		{% else %}
		<h1>Register Your Position</h1>
		{% endif %}
	
		<p class="pad_btm">We&rsquo;re going to send your position as a letter to your Members of Congress, so we need you to register or sign in.</p>
	{% endif %}
		
	{% if not user.is_authenticated %}
	<div id="needsauth">
		<div class="form signinup">
			<label for="login_email">email</label>
			<input class="c2" type="text" id="login_email" name="createacct_email" value="{{email}}"/><br />
			<div id="login_errorlabel_email" class="error" style="margin-left: 100px"> </div>
			{% if newaccount_error.email %}<div id="createacct_errorlabel_email" class="error" style="display: block">{{newaccount_error.email}}</div>{% endif %}
			<div id="login_next_btn" class="btn b_next" style="margin-left: 100px"> </div>
			<div class="clear" style="height: 10px"> </div>
			<script type="text/javascript">$(function() { $('#login_email').keyup_delayed(startlogin); $('#login_next_btn').click(startlogin); });</script>
			
			<div id="login_sso_container" style="display: none">
				<div class="signin_social">
					{% include "registration/login_singlesignon.html" %}
					<div class="clear"> </div>
				</div>
				<p style="margin: 10px 0 10px 100px;">Click the <span class="servicename"> </span> icon to log in. <span class="or">Or enter your POPVOX password:</span></p>
			</div>
			
			<div id="login_password_container" style="display: none">
				<label for="login_password">password</label>
				<input class="c2" type="password" id="login_password"/><br />
				<div id="login_errorlabel_password" class="error"> </div>
				<small><a href="/registration/reset-password">Forgot your password?</a></small>
				
				<input class="b_login btn" type="button" value="Login" onclick="trylogin()" class="submit"/>
				<div class="clear error" id="login_errorlabel"></div>
			
				<script type="text/javascript" >$(function() { $('#login_password').keydown_enter(trylogin); });</script>
			</div>
			
			<div id="login_get_password" style="display: none; margin-left: 100px;">
				<p style="font-size: 10px;"><a href="/registration/reset-password">Create a password for your account</a></p>
			</div>

			<div id="login_newuser_container" {% if not newaccount_error %}style="display: none"{% endif %}>
				<div id="create_acct_social" {% if newaccount_error %}style="display: none"{% endif %}>
					<div class="hr" style="margin-left: 100px; width: 250px"> </div>
					
					<p style="margin-left: 100px">Have one of these? Click to log in.</p>
					<!--<div class="note">We won&rsquo;t email your contacts or post your comment to these sites without your permission.</div>-->
					<div class="signin_social">
						{% include "registration/login_singlesignon.html" %}
						<div class="clear"> </div>
					</div>
					<div class="hr" style="margin-left: 100px; width: 250px"> <strong>or</strong> </div>
				</div>
			
				<p style="margin-left: 100px">Select a screen name and password.</p>
			
				<div class="clear mar_top"> </div>

				<div class="form signinup pad_btm">
					<label for="createacct_username">screen name</label>
					<input id="createacct_username" class="c2" type="text" name="createacct_username" value="{{username}}"/>
					<small>Your screen name will be displayed next to your comment. It must be at least five characters and cannot contain spaces.</small>
					<div id="createacct_errorlabel_username" class="error" style="display: block">{{newaccount_error.username}}</div>

					<label for="createacct_password">password</label>
					<input id="createacct_password" class="c2" type="password" name="createacct_password" value="{{password}}"/>
					<small>Passwords must be at least 5 characters and cannot contain spaces.</small>
					<div id="createacct_errorlabel_password" class="error" style="display: block">{{newaccount_error.password}}</div>
		
					<div class="error" id="createacct_errorlabel"></div>
				</div>
				<div class="b_create_accnt btn" type="button" value="Create Account >" onclick="submitform('Create Account >')"> </div>
			</div>
		</div>		
		
		<div class="clear"></div>
		
		{% if newaccount_error %}
		<div class="pad_top pad_btm">
			<input class="b_back btn force_hover_state" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
		</div>
		{% endif %}
		
	</div>

	{% else %}
		
		<p class="mar_top pad_btm">
			<input class="b_back btn" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
			<input class="b_next btn" type="button" value="Next >" onclick="submitform('Next >')"/>
		</p>
			
	{% endif %}

	</form>
	
	<script type="text/javascript">
	function submitform(mode) {
		$('#submitmode').val(mode);
		$('#commentform').submit();
	}
	</script>
	
	</div>
	
	{% if not user.is_authenticated %}
	<div class="col_3 col_last commentProcessHints">
	<div>
		<h3>Why do we ask you to register?</h3>
		
		<p>Letters to Congress are most effective when they are from verified constituents. By registering with POPVOX you are telling your representatives that you have gone the extra step to be verified.</p>
		
		{% if message %}
		<p>You will receive confirmation each time your messages are delivered to your Members of Congress.</p>
		{% endif %}
		
		<p>We have a strict privacy policy that you <a href="/legal" target="_blank">can read here</a>. We do not share your contact information with anyone besides your Members of Congress.</p>
		
		<!--<p>POPVOX was made by DC insiders who know how to make your advocacy effective. Read more on <a href="/about/whyitworks" target="_blank">why it works</a>.</p>-->
		
		{% if request.META.HTTP_DNT != "1" %}
		<iframe src="https://www.facebook.com/plugins/facepile.php?app_id=150910028257528&amp;size=small&amp;width=200&amp;max_rows=2&amp;colorscheme=light" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px;" allowTransparency="true"></iframe>
		{% endif %}
	</div>
	</div>
	{% endif %}
</div>
{% endblock %}

