{% extends "master.html" %}
{% block title %}POPVOX - Congress Match{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}See how your representative and senators voted on bills you have weighed in on.{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{%block subnav%}{% include "popvox/subnav_congress.html" %}{%endblock%}
{%block nav_citzen_class_congress%}active{%endblock%}
{%block nav_orgadmin_class_congress%}active{%endblock%}
{% block head %}
<style>

/*.myhill {
	background: url(http://sodiumhalogen.com/up/te mp_hill_4c3b.jpg) -130px -104px no-repeat;
	display: block;
	height: 900px;
	}
	*/
	.myhill h1 {
		margin-bottom: 0px;
		}

.myhill h3 {
	margin-top: 0;
	padding-top: 20px;
	font: bold 14px helvetica, san-serif; 
	background: none;
	}
	
	.user {
		margin: 6px 0 0 240px;
		height: 90px;
		background: #fff;
		}
		
		.user p {
			color: #CC6A11;
			text-transform: uppercase;
			text-align: center;
			font: bold 18px helvetica, san-serif;
			padding: 35px 0 0;
			}

	.rep {
		margin-top: 6px;
		padding: 5px;
		height: 80px;
        vertical-align:top;
		}
		
		.rep img {
			float: left;
			}

	.rep h3 {
		color: #CC6A11;
		margin-left: 10px;
		padding: 0;
		width: 75px;
		text-transform: none;
		font-size: 13px;
		float: left;
		}
		
		.rep h3 span {
			display: block;
			margin: 10px 0;
			text-transform: uppercase;
			}
tr.memstats th {
    background-color:#CC6A11;
    color:#FFF;
    vertical-align:middle;
    height:107px;
}

tr.memstats th:first-child {
    border-top-left-radius: 5px;
    padding:10px;
}
tr.memstats th:last-child {
    border-top-right-radius: 5px;
}			
tr.memstats h3 {
    color: #fff;
    text-transform: none;
    font: normal 15px/20px helvetica, san-serif;
    margin: 0 20px 0 20px;
    padding: 20px 0 0;
    float: left;
}
tr.memstats h3 span {
    font: bold 15px helvetica;
    margin-left: 0;
}
th.stathead {
    background:url('/media/features/myhill/match_divider.png') left center no-repeat;

}
th.stathead ul {
    margin-left:40px;
}

	p.small {
		margin-top: 20px;
		font-size: 12px;
		line-height: 130%;
		color: #555;
		}

	#overview {
		height: 107px;
		background: url(/media/features/myhill/bg_overview.png) left center no-repeat;
		}
		
			
			tr.memstats ul li {
				padding-left: 22px;
				line-height: 18px;
				color: #fff;
				}
				
				tr.memstats ul li.voted {
					background: url(/media/features/myhill/hill_icon_bill_sm.png) left center no-repeat;
					}

				tr.memstats ul li.agreed {
					background: url(/media/features/myhill/hill_icon_smile_sm.png) left center no-repeat;
					}

				tr.memstats ul li.disagreed {
					background: url(/media/features/myhill/hill_icon_frown_sm.png) left center no-repeat;
					}

				tr.memstats ul li.absent {
					background: url(/media/features/myhill/hill_icon_boo_sm.png) left center no-repeat;
					}

				tr.memstats ul li.abstained {
					background: url(/media/features/myhill/hill_icon_shush_sm.png) left center no-repeat;
					}

		.myhill table {
			border-collapse: collapse;
			margin: 50px 0 0 0;
			padding: 0;
			}
			
			.myhill table td {
				border: 1px solid #d4d1ca;
				border-width: 0 1px 1px 0;
				width: 175px;
				height: 50px;
				vertical-align: top;
				}
				
			.myhill table td.name {
				width: 240px;
				border-width: 0 1px 1px 0;
				padding-right: 10px;
				}
				
				.myhill table td.name h3 {
					margin: 8px 0 5px;
					text-transform: none;
					}

			.myhill table td.user_col {
                padding:10px;
				background: #fff;
				}	
            .myhill table td.user_col img {
                float:left;
                margin-right: 5px;
            }
            .myhill table td.user_col.expandy {
                height:150px;
                overflow:auto;
            }

				
				.myhill table td.user_col p {
					font: bold 12px/15px helvetica, san-serif;
					padding-left: 55px;
					position: relative;
					}

					.myhill table td.user_col p.comment {
						text-transform: uppercase;
						margin-top: 0px;
						padding-top: 40px;
						}
                .myhill table td.user_col.expandy p.comment {
                        text-transform: none;
                        font-weight: normal;
                       /* height:150px;*/
                    }
						
					.myhill table td.user_col p span {
						background: url(/media/features/myhill/hill_quote.png) left 1px no-repeat;
						display: block;
						width: 13px;
						height: 10px;
						float: left;
						}

				
			.myhill table td.agree {
				background: #fff /*url(/media/features/myhill/hill_icon_smile_orange.png) 150px 10px no-repeat*/;
				}	

			.myhill table td p {
				padding: 25px 10px 0 60px;
				min-height: 35px;
				font-size: 14px;
				}
				
			.myhill table td p.heart {
				background: url(/media/features/myhill/hill_icon_heart.png) 14px 32px no-repeat;
				}
				
			.myhill table td p.anti {
				background: url(/media/features/myhill/hill_icon_anti.png) 14px 32px no-repeat;
				}
				
			.myhill table td p.yea {
				background: url(/media/features/myhill/hill_icon_heart.png) 14px 32px no-repeat;
				padding-top: 40px;
				}

			.myhill table td p.nay {
				background: url(/media/features/myhill/hill_icon_anti.png) 14px 32px no-repeat;
				padding-top: 40px;
				}
				
			.myhill table td p.absent {
				background: url(/media/features/myhill/hill_icon_absent.png) 14px 32px no-repeat;
				padding-top: 40px;
				}
				
			.myhill table td p.abstained {
				background: url(/media/features/myhill/hill_icon_abstain.png) 14px 32px no-repeat;
				padding-top: 40px;
				}
				
				
				.myhill table td.name p {
					background: url(/media/features/myhill/hill_icon_bill.png) 3px top no-repeat;
					padding: 5px 0 0 40px;
					margin: 0;
					height: 0;
					font: italic normal 12px georgia;
					}
						
						.myhill table td.name p strong{
							font: bold normal 12px helvetica;
							}
							
			.myhill table td.novote {
				text-align: center;
				vertical-align: middle;
				padding: 1em;
				background-color: #dfdcd6;
				}
				.myhill table td.novote p {
					padding: 0;
					margin: 0;
					min-height: 0;
					font-style: italic;
					font-size: 13px;
				}

			.myhill table h3 {
				padding: 5px 0 0;
				margin: 0;
				}

</style>
{% endblock %}
{% block content %}

<div class="content myhill">

	<div class="col_9 col_top col_last ">
        {% if type == "match" %}
		<h1 class="rule_btm">Congress Match</h1>
        {% else %} {% comment %} type is keyvotes {% endcomment %}
        <h1 class="rule_btm"> {{org.name}} - {{slate.name}}  {% if admin %} | <a href="/keyvotes/{{org.slug}}/{{slate.slug}}/edit">edit</a> {% endif %}</h1>
        {% endif %}

		<h3>How Did Your Members of Congress Vote?</h3>
		<p>Are your senators and representative voting the way you want them to? Here is a personalized grid that displays every bill on which you weighed in, along with how your legislators voted if a vote was held on the bill. That includes letting you know if your Member of Congress abstained or was absent.  </p>

        <h3>Redistricting</h3>
        <p>Congressional Districts all over the United States have been re-drawn. The Representatives who've been elected to serve these new districts will take office in January, when the 113th Congress begins. Until then, you are still represented by your previous Members of Congress, based on the old district lines.</p>

        <p>{% if most_recent_address.congressionaldistrict2013 %}The address we have on file for you indicates that you are {% if changeddistrict %}now{% else %}still{% endif %} in {{most_recent_address.state}}-{{most_recent_address.congressionaldistrict2013}}.{% endif %} Team POPVOX is hard at work updating our information about the new congressional districts and Members of Congress. {% if changeddistrict %}We'll switch you over to your new district as soon as the 113th Congress begins.{% endif %} If your Members of Congress have changed as a result of the election, you'll see your new Members on Congress Match as soon as the 112th Congress ends.</p>
	</div>
	<div class="clear"> </div>

    <table>
        <thead>
            <tr>
                <th/>
                <th class="user">
                    {% if type == "match" %}
                        {% if most_recent_address %}
                            <p>{{most_recent_address.firstname}} {{most_recent_address.lastname}}</p>
                        {% else %}
                            <p>You</p>
                        {% endif %}
                    {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <p>{{org.name}}</p>
                    {% endif %}
                </th>
                {% for member in members %}
                    <th class="rep">
                        <img src="/static/member_photos/{{member.id}}-100px.jpeg" alt="{{member.name}}" width="65" height="80" />
                        {% if member.pvurl %}
                        <h3><a href="/member/{{member.pvurl}}">{{member.name}}</a></h3>
                        {% else %}
                        <h3>{{member.name}}</h3>
                        {% endif %}
                        <!--<h3>Rep. Chaka Fattah <span>[D, PA-2]</span></h3>-->
                    </th>
                {% empty %}
                    <th class="rep">
                        <h3>Your Representative</h3>
                    </th>
                    <th class="rep">
                        <h3>Your Senator</h3>
                    </th>
                    <th class="rep">
                        <h3>Your Senator</h3>
                    </th>
                {% endfor %}
            </tr>

            <tr class="memstats">
                <th>
                    {% if type == "match" %}
                    <h3>You weighed in on <span>{{ billvotes|length }} bill{{ billvotes|pluralize }}</span>.
                        Here&rsquo;s an overview of how your Members of Congress voted on those bills:</h3>
                    {% else %} {% comment %} type is keyvotes {% endcomment %}
                    <h3>{{org.name}} weighed in on <spam>{{ billvotes|length }}</span> bills.</h3>
                    {% endif %}
                </th>
                <th>
                    <ul class="rep_key">
                        <!--<li class="voted">Voted On</li>-->
                        <li class="agreed">Agreed with You</li>
                        <li class="disagreed">Disagreed with You</li>
                        <li class="absent">Absent</li>
                        {% if had_abstain %}<li class="abstained">Abstained</li>{% endif %}
                    </ul>
                </th>
                
                {% for memstats in stats %}
                <th class="stathead">
                    <ul>
                        <!--<li class="voted">3</li>-->
                        <li class="agreed">{{memstats.agree}} ({{memstats.agree_percent}}%)</li>
                        <li class="disagreed">{{memstats.disagree}} ({{memstats.disagree_percent}}%)</li>
                        <li class="absent">
                            {{memstats.0}} ({{memstats.0_percent}}%)
                            {% if memstats.attendance %}
                                {% if leadership and forloop.first %}
                                <span style="cursor: pointer" title="Under House rules, the Speaker of the House is not required to vote except to break a tie">*</span><!-- http://www.rules.house.gov/singlepages.aspx?NewsID=160&rsbd=165 Discretion to vote

7. The Speaker is not required to vote in ordinary legislative proceedings, except when such vote would be decisive or when the House is engaged in voting by ballot. -->
                                {% else %}
                                <span style="cursor: pointer" title="overall missed votes is {{memstats.attendance.0}}%, {{memstats.attendance.1}}">*</span>
                                {% endif %}

                            {% endif %}
                        </li>
                        {% if had_abstain %}<li class="abstained">{{memstats.P}} ({{memstats.P_percent}}%)</li>{% endif %}
                    </ul>
                </th>
                {% empty %}
                <th class="stathead">
                    <ul>
                        <!--<li class="voted">3</li>-->
                        <li class="agreed">...</li>
                        <li class="disagreed">...</li>
                        <li class="absent">...</li>
                    </ul>
                </th>
                <th class="stathead">
                    <ul>
                        <!--<li class="voted">3</li>-->
                        <li class="agreed">...</li>
                        <li class="disagreed">...</li>
                        <li class="absent">...</li>
                    </ul>
                </th>
                <th class="stathead">
                    <ul class="last">
                        <!--<li class="voted">3</li>-->
                        <li class="agreed">...</li>
                        <li class="disagreed">...</li>
                        <li class="absent">...</li>
                    </ul>
                {% endfor %}
                </th>
            <tr>
        </thead>
            {% for comment, votes in billvotes %}

                <tr>
                    <td class="name">
                        {% if type == "match" %}
                        <h3><a href="{{comment.bill.url}}">{{comment.bill.title|truncatewords:13}}</a></h3>
                        <p><strong>Status:</strong> {{comment.bill.status_advanced}}</p>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <h3><a href="{{comment.0.url}}">{{comment.0.title|truncatewords:13}}</a></h3>
                        <p><strong>Status:</strong> {{comment.0.status_advanced}}</p>
                        {% endif %}
                    </td>
                    <td class="user_col {% if type == "keyvotes" %}expandy{% endif %}">
                        {% if type == "match" %}
                        <img src="/media/features/myhill/hill_icon_{% if comment.position == "+" %}heart{% else %}anti{% endif %}.png"/>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <img src="/media/features/myhill/hill_icon_{% if comment.1 == "+" %}heart{% else %}anti{% endif %}.png"/>
                        {% endif %}
                        {% if type == "match" %}
                            {% if not comment.message %}
                                <a href="{{comment.bill.url}}/comment">Add Comment</a>
                            {% else %}
                                <span></span>
                                {{comment.message|truncatewords:7}} <a href="{{comment.url}}">more</a>
                            {% endif %}
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                                {{comment.2.comment}}
                                {% if is_admin %}
                                    <br/><span class="editbutton">Edit</span>
                                    <form method="post" class="editform" action="/ajax/keyvotes/{{slate.id}}/editcomment/{{comment.0.id}}>
                                        <textarea class="comment" id="{{slateid}}-{{comment.0.id}}">{{comment.2.comment}}</textarea>
                                        <input type="button" class="submit" id="submitbutton" value="Save" onclick="updatecomment(true, {{slate.id}}, {{comment.0.id}})" style="margin-top: 25px ; margin-bottom: 25px;"/>
                                    </form>
                                {% endif %}
                        {% endif %}
                        
                    </td>
                    {% if votes or not members %}
                        {% for vote, reference in votes %}
                        {% if type == "match" %}
                            <td {% if vote == comment.position %}class="agree"{% endif %}>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                            <td {% if vote == comment.1 %}class="agree"{% endif %}>
                        {% endif %}
                            {% if vote == "+" %}<p class="yea">Yea</p>{% endif %}
                            {% if vote == "-" %}<p class="nay">Nay</p>{% endif %}
                            {% if vote == "0" %}<p class="absent">Absent</p>{% endif %}
                            {% if vote == "P" %}<p class="abstained">Abstain</p>{% endif %}
                            {% if vote == "NR" %}{% endif %}
                            <!--{{reference}}-->
                        </td>
                        {% endfor %}
                    {% else %}
                        <td colspan="{{members|length}}" class="novote">
                            <p>This {{comment.bill.proposition_type}} has not come up for a recorded vote.</p>
                        </td>
                    {% endif %}
                </tr>
                {% empty %}
                    <tr>
                        <td class="name">
                        </td>
                        <td class="user_col">
                            <p>You have not weighed in on any bills in Congress. Go <a href="/bills">find a bill</a> to get started.</p>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                {% endfor %}
		</table>
			
		<div class="clear"> </div>
		
		<p class="small">Not all bills come up for a vote in the House and Senate. Delegates and the Resident Comissioner from Puerto Rico are not elligible to vote on bills. Some bills are voted on multiple times as the House and Senate try to come to an agreement, in which case we show how your Members of Congress voted in the most recent vote on the bill.</p>
	</div>
	
</div>
<script type="text/javascript">
$('.expandy').hover(function() {
  /*  var wrapper = $('<div></div>').appendTo('body').css('display', 'block').css('position', 'absolute').css('top', -10000).css('left', -10000).width($(this).width()).height($(this).height());
    var clone = $(this).clone().appendTo(wrapper);    
    document.getElementById("info").innerHTML = clone.height(); */
},
function() {
    $('this').height(150);
});

$('.editform').hide();

$('.editbutton').click(function() {
    $myform = $(this).siblings('form');
    $myform.show();

});

function updatecomment(validate, slateid, billid) {
    ajaxform(function() {
        
    });
}


</script>

{% endblock %}
