{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Download Constituent Messages{% endblock%}
{% block description %}Download messages on POPVOX from your constituents.{% endblock%}
{% block head %}
{% endblock %}
{% block content %}
<div class="content">
	<div class="col_9 col_top">
		<h1>Download Constituent Messages</h1>
		
		{% if access == "denied" %}
		
			<p>You do not have access to constituent messages. You may need to <a href="/about/contact">request verification</a> of your account. We do this to protect the privacy of your constituents.</p>
		
		{% else %}

			<h3>New Messages</h3>
		
			<p>There are {{new_messages}} constituent message{{new_messages|pluralize}} for your office waiting to be downloaded.</p>
			
			{% if new_messages %}
			<form method="post" style="margin-left: 2em" onsubmit="window.setTimeout('document.location.reload()', 6000);">
				{% csrf_token %}
				<input type="hidden" name="date" value="new"/>
				
				<p>
					Click to download spreadsheet in CSV format: 
					<input type="submit" value="Download"/>
				</p>
			</form>
			
			<p>Once you download the spreadsheet of constituent messages, those constituents will be notified that their message has been delivered to your office. You are responsible for entering the messages into your CRM/CMS software (please contact your CRM/CMS software rep if you need to find out how).</p>
			{% endif %}

			<h3>Previous Downloads</h3>
			
			{% if not delivered_message_dates %}
			
				<p>Past downloads for your office will be listed here so that you may access them again.</p>
			
			{% else %}
			
				<p>Your office has made the following downloads of constituent messages. You can download any again.</p>
				
				{% for date_str, date_iso in delivered_message_dates %}
					<form method="post" style="margin-left: 1em">
						{% csrf_token %}
						<input type="hidden" name="date" value="{{date_iso}}"/>
						<p>
							{{date_str}} 
							<input type="submit" value="Download"/>
							
							{% if request.user.username == "demo_leg_staffer" %}
							<input type="submit" name="clear" value="Return to Queue" style="font-size: 10px"/>
							{% endif %}
						</p>
					</form>
				{% endfor %}
				
			{% endif %}
			
			<p></p>
		
		{% endif %}
		
	</div> <!-- e: col_9 -->
	

</div><!-- e: content -->

{% endblock %}

