{% extends "master.html" %}
{% block title %}POPVOX - Media{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Media coverage of POPVOX.{% endblock %}
{% block head %}
<style>
h3.month { background: none; font-size: 18px; padding-bottom: 0; }
div.hr { margin: 20px 0 20px 0; }
div.press_releases, div.press_clips { font-style: italic; margin: 10px; font-size: 12px; }
div.press_release, div.press_clip { margin-bottom: 6px;}
span.date { display: inline-block; width: 140px; vertical-align: top;  }
span.title { display: inline-block; width: 500px; vertical-align: top;  }
div.press_release span.title { font-weight: bold; }
</style>
{% endblock %}
{% block content %}
<div class="content">
	<div class="col_9 col_top press">
	
		<h1>Press</h1>
		<h4>For media inquiries, please contact Marci Harris, POPVOX&rsquo;s CEO, at <a href="mailto:info@popvox.com">info@popvox.com</a>.</h4>
		
		<!--<div class="hr"> </div>-->


        {% for article in press%}
            {% ifchanged article.publish_date|date:"FY" %}
                <div class="hr"> </div>
                <h3 class="month">{{ article.publish_date|date:"F Y" }}</h3>
            {% endifchanged %}
            {% ifchanged article.article_type OR article.publish_date|date:"FY" %}
            	{% ifchanged article.publish_date|date:"FY" %}
            	{% else %}
            		<br/>
            	{% endifchanged %}
           		{% if article.article_type = "release" %}
           			<div class="press_releases">Press Releases</div>
           		{% else %}
           			<div class="press_clips">Press Clips</div>
				{% endif %}
            {% endifchanged %}
            {% if article.article_type = "release" %}
				<div class="press_release">
					<span class="date">{{ article.publish_date|date:"F j, Y" }}</span>
					<span class="title"><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></span>
				</div>
            {% endif %}
            {% if article.article_type = "clip" %}
            	<div class="press_clip">
            		<span class="date">{{ article.publish_date|date:"F j, Y" }}</span>
            		<span class="title">{{ article.description|safe }}</span>
            	</div>
            {% endif %}
        {% endfor %}
		
	</div><!-- e: col_9 -->

	<div class="col_3 col_top col_last">
		<div class="sub">
			<h2>MEDIA KIT</h2>
			<ul class="sub_side">
				<li><a href="/about/whyitworks">Why POPVOX Works</a></li>
				<li><a href="/about/team">Team Bios</a></li>
				<li><a href="/about/principles">Company Principles</a></li>
				<li><p>Logo:</p>
					<ul class="logo bullets">
						<li><a href="/media_kit/POPVOX_LOGO-V_RGB.png">Low Res (png)</a></li>
						<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.jpg">High Res (jpg)</a> (888k)</li>
				 		<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.eps">EPS</a> (564k)</li>
				 	</ul>
				 </li>
			</ul>
		</div>
		<div class="sub">
			<h2>ADDITIONAL INFO</h2>
			<ul class="sub_side">
				<li><a href="/blog">Our Blog</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
