<div onclick="track({{bill.id}}, '{{tracktype}}')"
	{% if tracktype == "+" %}
		{% if bill.trackstatus %}
			title="Remove Bookmark"
		{% else %}
			title="Bookmark"
		{% endif %}
	{% endif %}
	{% if tracktype == "-" %}
		{% if bill.antitrackstatus %}
			title="Add Back to Automatic Tracking"
		{% else %}
			title="Hide From Automatic Tracking"
		{% endif %}
	{% endif %}
	class="bill{% if tracktype == "+" %}track{% if bill.trackstatus %} active{% endif %}{% else %}antitrack{% if bill.antitrackstatus %} active{% endif %}{% endif %}"
	billid="{{bill.id}}"
	>
	{% if tracktype == "+" %}
		{% if bill.trackstatus %}
			Remove Bookmark
		{% else %}
			Bookmark
		{% endif %}
	{% endif %}
	{% if tracktype == "-" %}
		{% if bill.antitrackstatus %}
			Add Back to Automatic Tracking
		{% else %}
			Hide From Automatic Tracking
		{% endif %}
	{% endif %}
</div>

