{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}The Super Committee{% endblock%}
{% block description %}The Super Committee is charged with finding $1.5 trillion in deficit reduction by November 23, 2011.{% endblock%}
{% block head %}
<script src="/media/js/jquery.tools.min.js"></script>

<style>
/* Super Committee */
.sc_pg {
	/*background: url(/media/features/supercommittee/superco mmittee.jpg) -130px -118px no-repeat;*/
	}
	
	.sc_pg .col_9 {
		width: 750px;
		}
	
	h1#sc_h1 {
		font-size: 34px;
		}
		
	#contain {
		height: 75px;
		background: #d4d1ca;
		}
		
	h2.sc_explain {
	/*	background: #75747c; */
		color: #404045;
		margin: 10px 0;
		padding: 10px 25px;
/**/	padding-bottom: 10px;		
		font: normal 18px/24px helvetica, arial, sans-serif;
		width: 460px;
		}
		
		h2.sc_explain span {
			font-size: 20px;
			font-weight: bold;
			}

.sc_pc .col_12 {
	margin-top: 10px;
	padding-top: 10px;
	display: block;
	}
	
	#timeline {
		height: 150px;
		padding-top: 10px;
		background: url(/media/features/supercommittee/bg_timeline_end.png) 0px 38px no-repeat;
		border-bottom: 1px solid #a9a59b
		}

		#timeline > div { 
			position: absolute;
			}
			
			#timeline .main, #timeline .secondary {
				background: url(/media/features/supercommittee/i_dots.png) left top no-repeat;
				width: 40px;
				height: 20px;
				text-indent: -9999em;
				z-index: 100;
				margin-top: 27px;
				}
				
				#timeline .secondary {
					background: url(/media/features/supercommittee/i_dots.png) left -23px no-repeat;
					}
				
				#timeline .main:hover {
					background-position: left -60px;
					cursor: pointer;
					}
					
				#timeline .secondary:hover {
					background-position: left -53px;
					cursor: pointer;
					}

		
		h3.timeline {
			border-top:  1px solid #a9a59b;
			background: url(/media/features/supercommittee/i_cal.png) 10px 17px no-repeat;
			margin-top: 20px;
			padding: 25px 0 0 50px;
			font-size: 36px;
			}
	
.col_12 h3#what_is_it {
	background: url(/media/features/supercommittee/i_question.png) 5px top no-repeat;
	margin: 20px 0 0 0;
	padding: 5px 0 5px 40px;
	font: bold 18px helvetica, arial, sans-serif;
	text-transform: none;
	float: right;
	}

	#social {
		float: right;
		width: 132px;
		height: 60px;
		margin-top: 5px; 
		}
		
		#social p {
			font-size: 14px;
			margin: 10px 0 5px;
			width: 109px;
			text-align: right;
			}
	
		#social ul {
			margin-left: 15px;
			}
						
		#social li {
			display: inline;
		    float: left;
		    margin-top: 0px;
			}
			
			#social li a {
			    border: none;
			    display: block;
			    width: 20px;
			    height: 18px;
			    margin-right: 5px;
			    text-indent: -9999em;
				}
				
				
				#social li a.twitter {
					background: url(/media/features/supercommittee/i_twitter.png) left 1px no-repeat;
					}

				#social li a.facebook {
					background: url(/media/features/supercommittee/i_facebook.png) left 1px no-repeat;
					}

				#social li a.favorite {
					background: url(/media/features/supercommittee/i_star.png) left 1px no-repeat;
					}
					
				#social li a.email {
					background: url(/media/features/supercommittee/i_share.png) left 1px no-repeat;
					}

				#social li a:hover {
					background-position: bottom;
					}
					

.proposal { 
	background-color: none;
	margin-left: -10px; 
	padding-left: 10px;
	height: 50px;
	width: 950px;
	overflow: hidden;
	}

	.proposal .cell {
/*		height: 38px;*/
		}


	#proposal_list {
		background: url(/media/features/supercommittee/bg_proposals.jpg) -10px 22px repeat-y;
		display: block;
		}
		
	.proposal.heading {
		background: url(/media/features/supercommittee/bg_header.jpg) left top no-repeat;
		padding-top: 42px;
		height: 29px;
		}
	
	.proposal.heading .cell {
		margin-bottom: 2px;
		height: 25px;
		text-indent: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		}
		
		.proposal.heading .cell.sentiment {
			padding-top: 5px;
			padding-left: 10px;
			width: 184px;
			}
		
		.proposal.heading .sorter {
			background: url(/media/features/supercommittee/b_triangle.png) left top no-repeat;
			display: block;
			margin: 2px 5px 0 0;
			width: 12px;
			height: 12px;
			float: right;
			text-indent: -9999em;
			}
			
			.proposal.heading .sorter.active {
				background-position: left bottom;
				}
		
			
	.cell.description {
		display: block;
		width: 50px;
		height: 50px;
		}
	
		.i_tax {
			background: url(/media/features/supercommittee/i_proposal.png) 5px 3px no-repeat;
			}

		.i_health {
			background: url(/media/features/supercommittee/i_proposal.png) -156px 3px no-repeat;
			}

		.i_financial {
			background: url(/media/features/supercommittee/i_proposal.png) -239px 3px no-repeat;
			}

		.i_defense {
			background: url(/media/features/supercommittee/i_proposal.png) -76px -55px no-repeat;
			}

		.i_govreform {
			background: url(/media/features/supercommittee/i_proposal.png) 0px -52px no-repeat;
			}
			
		.i_farm {
			background: url(/media/features/supercommittee/i_proposal.png) -320px 3px no-repeat;
			}
			
		.i_eye {
			float: right;
			width: 24px;
			height: 38px;
			display: block;
			text-indent: -9999em;
			background: url(/media/features/supercommittee/i_eye.png) 2px 10px no-repeat;
			}
			
			.i_eye:hover {
				background-position: 2px -21px;
				text-decoration: none;
				border: 0;	
				cursor: pointer;
				}
		
	h3.proposals {
			background: url(/media/features/supercommittee/i_proposals.png) 15px 6px no-repeat;
/**/		margin-bottom: 7px;
			padding-left: 50px;
			font-size: 36px;
			}
			
	.proposal > .cell { 
		display: inline-block;  
		vertical-align: top; 
		/*margin: 0 2px 2px 0;*/ 
		padding: 5px; 
		}

	.proposal .category { 
		width: 38px; 
		height: 38px; 
		text-indent: -9999em;
		}
		
	.proposal .description { 
		width: 495px; 
		}

		.proposal .description .small { 
			margin: 3px 0 0 5px;
			}
			
			.proposal .description .small .title a:hover {
				border: none;
				}
			
			.proposal .description .small .hashtag{ 
				font-size: 12px;
				padding-top: 2px;
				}

		.proposal .description .large {
			position: absolute;
			display: none;
			background-color: white;
			margin: -4px;
			padding: 4px;
			width: 400px;
			}
			
		.proposal .score {
			width: 73px;
		    letter-spacing: .02em;
		    padding: 12px 0 0 15px;
			font: normal 28px 'BebasNeueRegular', helvetica, arial, sans-serif;
			}
			
		.proposal.heading .cell.score {
			width: 76px;
			font-size: 12px;
			font-family: helvetica, arial, sans-serif;
			padding: 5px 0 0 10px;
			margin: 0;
			}
			
		.proposal .sentiment {
			width: 194px;
			padding: 0;
			}
			
			.proposal .sentiment span.nodata a {
				padding-top: 12px;
				padding-left: 8px;
				display: block;
				font: normal 16px/30px 'BebasNeueRegular', helvetica, arial, sans-serif;
				}
				
				.proposal .sentiment span.nodata a:hover {
					border: none;
					color: #404045;
					}
					
		.bar_pro {
			display: inline-block;
			background: #fb9919 url(/media/features/supercommittee/bg_percent_heart.png) 5px 5px no-repeat;
			height: 44px;
			margin: 2px 0;
			}
			
		.bar_con {
			display: inline-block;
			background: #fdcc32 url(/media/features/supercommittee/bg_percent_anti.png) right 5px no-repeat;
			height: 44px;
			margin: 2px 0;
			}
			
		.proposal .sentiment .maplink {
			background: url(/media/features/supercommittee/i_map.png) 5px 15px no-repeat;
			width: 46px;
			height: 44px;
			display: block;
			float: right;
			text-indent: -9999em;
			}

		.proposal .sentiment .maplink:hover {
			background-position: 5px -27px;
			cursor: pointer;
			}
			
		.proposal > .action_buttons {
			width: 80px;
			}
		
		#map_iframe_container {
			width: 580px;
			float: left;
			}
			
		#map_proposal_list {
			width: 220px;
			float: left;
			}
			
		#map_proposal_list > div.active {
			font-weight: bold;
			}
			
		.sc_pg .support {
			background: url(/media/features/supercommittee/i_action.png) left top no-repeat;
			display: block;
			margin: 2px 9px 0 0;
			width: 34px;
			height: 34px;
			float: left;
			text-indent: -9999em;
			}

			.sc_pg .support:hover, .sc_pg .support.inactive:hover {
				background-position: left -60px;
				cursor: pointer;
				}
				
			.sc_pg .support.inactive {
				background-position: left -134px;
				}
				
		.sc_pg .oppose {
			background: url(/media/features/supercommittee/i_action.png) -41px top no-repeat;
			display: block;
			margin: 2px 0px 0 0;
			padding: 0;
			width: 34px;
			height: 34px;
			float: left;
			text-indent: -9999em;
			}

			.sc_pg .oppose:hover, .sc_pg .oppose.inactive:hover {
				background-position: -41px -60px;
				cursor: pointer;
				}
				
			.sc_pg .oppose.inactive {
				background-position: -41px -134px;
				}
			
	#proposal_btm {
		display: block;
		background: url(/media/features/supercommittee/bg_proposal_btm.png) -10px bottom no-repeat;
		height: 20px;
		}


#map_iframe_container { width: 580px; float: left; }
#map_proposal_list { width: 220px; float: left; }
#map_proposal_list > div.active { font-weight: bold; }
</style>

<script>
jQuery.fx.off = false; // we will be careful not to animate any fonts that Firefox screws up when opacity is set

function show_what_is_it() {
	$.colorbox({
		transition: "none",
		inline: true,
		href:'#what_is_it_colorbox',
		opacity: .5,
		onComplete: function() { }
	});
	return false;
}

$(function() {
	// line up the timeline elements
	var timeline_top = $('#timeline').position().top;
	var timeline_left = $('#timeline').position().left + 80;
	var timeline_elems = $('#timeline>div');
	var timeline_elems_not_today = $('#timeline>div[class!="today"]');
	timeline_elems_not_today.tooltip({position: "bottom center", offset: [0, 5], effect: "fade"}).tooltip();
	var min_date = new Date(timeline_elems_not_today[0].getAttribute("date")).getTime();
	var max_date = new Date(timeline_elems_not_today[timeline_elems_not_today.length-1].getAttribute("date")).getTime();
	for (var i = 0; i < timeline_elems.length; i++) {
		var date = timeline_elems[i].getAttribute("date");
		if (date == "today") date = new Date(); else date = new Date(date);
		$(timeline_elems[i]).css({"top": timeline_top, "left": timeline_left + (date.getTime()-min_date)*700/(max_date-min_date) })
	}
	
	var last_pro = null;
	$('.proposal .description').mouseenter(function() {
		if (last_pro) return;
		var n = $(this).find('.large');
		n.css({ "left": $(this).find('.small').position().left });
		n.css({ "top": $(this).find('.small').position().top });
		n.show();
		last_pro = n;
	});
	$('.proposal .description .large').mouseleave(function() {
		if (!last_pro) return;
		last_pro.hide();
		last_pro = null;
	});
	
	function show_map(bill_id, bill_title, bill_url) {
		$('#map_colorbox h1').text(bill_title);
		$('#map_colorbox .b_view_report').attr('href', bill_url + "/report");
		$('#map_iframe_container').html('<iframe src="/widgets/bill-comment-map?bill=' + bill_id + '&background=white&width=558" width="558" height="500" border="0" marginheight="0" marginwidth="0" frameborder="0" style="height: 500px"></iframe>');
		$('#map_proposal_list>div').removeClass("active");
		$('#map_proposal_list>div[bill_id="' + bill_id + '"]').addClass("active");
	}
	$('.maplink').click(function() {
		var prop = $(this).parents('.proposal');
		show_map(prop.attr('bill_id'), prop.attr("description"), prop.attr('bill_url'));
		$.colorbox({
			transition: "none",
			inline: true,
			href:'#map_colorbox',
			opacity: .5,
			onComplete: function() { }
		});
	});
	$('#map_proposal_list > div').click(function() {
		show_map($(this).attr('bill_id'), $(this).text(), $(this).attr('bill_url'));
	});
	
	var cur_sort_col = 'score';
	var cur_sort_order = -1;
	$('.sorter').click(function() {
		var f = $(this).attr("field");
		if (f == cur_sort_col) {
			cur_sort_order *= -1;
		} else {
			cur_sort_col = f;
			cur_sort_order = 1;
		}
		
		var elems = $('#proposal_list  .proposal:not(.heading)');
		
		var compare_transf = function(v) {
			if (cur_sort_col == "score" || cur_sort_col == "sentiment")
				return parseInt(v);
			return v;
		};
		elems.sortElements(function(a,b) { return compare_transf($(a).attr(cur_sort_col)) > compare_transf($(b).attr(cur_sort_col)) ? cur_sort_order : -cur_sort_order });
		
		elems.css({opacity: 0});
		for (var i = 0; i < elems.length; i++)
			$(elems[i]).delay(i*100).animate({opacity: 1}, 600);
	});
});
</script>
{% endblock %}
{% block content %}

{% comment %}
Tell the Supercommittee Which Cuts You Support
Tell the Supercommittee How You'd Cut $1.5 Trillion from the Federal Budget
POPVOXNation: Tell the Supercommittee How to Cut $1.5 Trillion
{% endcomment %}


<div class="content sc_pg">
	
	<div class="col_9 col_top">
	
		<h1 class="mar_no_btm" id="sc_h1">Tell the &ldquo;Super Committee&rdquo; How to Trim $1.5 Trillion</h1>
		
		<div id="contain">
			<div id="social">
				<p>share this page</p>
				<ul>
					<li><a class="twitter" href="#">twitter</a></li>
					<li><a class="facebook" href="#">facebook</a></li>
					<li><a class="favorite" href="#">favorite</a></li>
					<li><a class="email" href="#">email</a></li>
				</ul>
			</div>
			<h2 class="sc_explain">The Super Committee has until <span>November 23</span> to reduce the federal budget deficit by <span>$1.5 trillion</span> over 10 years.</h2>
		</div><!-- e: contain -->
	</div><!-- e: col_9 -->	
	<div class="clear"> </div>

	<div class="col_12 col_top">
		<h3 id="what_is_it"><a href="#" onclick="return show_what_is_it();">What is a &ldquo;Super Committee&rdquo;?</a></h3>
		
		<h3 class="timeline">Timeline</h3>
		
		<div id="timeline">
			<div date="today" class="today">Today</div>
			<div date="September 8, 2011" title="Sept. 8. Organizational Meeting: Members of the Committee made opening statements and considered proposed committee rules."> </div>
			<div date="September 13, 2011" title="Sept. 13. Members of the Committee held a hearing on “The History and Drivers of Our Nation’s Debt and Its Threats”"> </div>
			<div date="September 22, 2011" title="Sept. 22. Members of the Committee held a hearing entitled “Overview: Revenue Options and Reforming the Tax Code&rdquo;"> </div>
			<div date="October 26, 2011" title="Oct. 26. Members of the Committee will hold a hearing entitled “Overview: Discretionary Outlays, Security and Non-Security”"> </div>
			<div date="November 23, 2011" title="Nov. 23. The Committee will vote on a report including findings, conclusions, recommendations, a CBO estimate and legislative language designed to achieve at least $1.5 trillion in deficit reduction over the period FY 2012-FY 2021. Any CBO estimates must be available at least 48 hours prior to a vote of the Committee."> </div>
			<div date="December 2, 2011" title="Dec. 2. If the Committee approves a report and legislative language by a majority vote of at least seven members, it must submit the report and the legislative language to the President, the House and the Senate."> </div>
			<div date="December 9, 2011" title="Dec. 9. House &amp; Senate committees to which the Committee’s report has been referred must report it without amendment."> </div>
			<div date="December 23, 2011" title="Dec. 23. Both the House and Senate must vote up or down without amendment on the report of the Committee."> </div>
			<div date="January 15, 2012" title="Jan. 15, 2012. Unless a bill achieving at least $1.2 trillion in deficit reduction is enacted by this date, the discretionary caps are revised for FY 2012-FY 2021."> </div>
			<div date="April 15, 2012" title="April 15, 2012. The Chair of the Senate Budget Committee must report allocations for FY 2012 and FY 2013 to the Appropriations Committee based on the new discretionary caps"> </div>
			<div date="January 2, 2013" title="Jan. 2, 2013. If Congress has not adopted the Super Committee’s report to reduce the deficit by at least $1.2 trillion, sequestration of both defense and non-exempt domestic programs will occur as calculated by OMB and ordered by the President. If Congress adopts deficit reduction of less than $1.2 trillion, the sequester shall make up the difference."> </div>
		</div>
		
		<h3 class="proposals">Proposals</h3>
		<div class="clear"> </div>
		
		<div id="proposal_list">
		<div class="proposal heading">
			<div class="cell category"><div class="sorter" field="category">sort</div></div>
			<div class="cell description"><div class="sorter" field="description">sort</div>Description</div>
			<div class="cell score"><div class="sorter" field="score">sort</div>Score</div>
			<div class="cell sentiment"><div class="sorter" field="sentiment">sort</div>POPVOX Sentiment</div>
			<div class="cell action_buttons">Take Action</div>
		</div>
		
		
		{% for proposal in bills|dictsortreversed:"savings" %}
		<div class="proposal"
			bill_id="{{proposal.bill.id}}"  bill_url="{{proposal.bill.url}}"
			category="{{proposal.category}}" description="{{proposal.title}}" score="{{proposal.savings}}" sentiment="{% firstof proposal.sentiment.scaled_pro "0" %}">
			<div class="cell category {{proposal.category_icon}}" title="{{proposal.category_name}}"> {% comment %}i_farm i_tax i_health i_financial i_tax i_govreform i_defense{% endcomment %}
				{{proposal.category_name}}
			</div>
			<div class="cell description">
				<a class="i_eye">view</a>
				<div class="small">
					<div class="title"><a href="{{proposal.bill.url}}">{{proposal.title}}</a></div>
					<div class="hashtag">{{proposal.bill.hashtag}}</div>
				</div>
				<div class="large">
					<div class="title"><a href="{{proposal.bill.url}}">{{proposal.title}}</a></div>
					<div class="description">{{proposal.description}}</div>
					<div class="hashtag">{{proposal.bill.hashtag}}</div>
					<div class="action_buttons">
						<div class="support">Support</div> {% comment %}inactive{% endcomment %}
						<div class="oppose">Oppose</div>
					</div>
				</div>
			</div>
			<div class="cell score">${{proposal.savings}} <span>B</span></div>
			<div class="cell sentiment">
				{% if proposal.sentiment %}
					<div class="bar_pro" style="width: {{proposal.sentiment.scaled_pro}}px"> </div><div class="bar_con" style="width: {{proposal.sentiment.scaled_con}}px"> </div>
					<div class="maplink">map</div>
				{% else %}
					<span class="nodata"><a href="#">Be the first to weigh in</a></span>
				{% endif %}
			</div>
			<div class="cell action_buttons">
				<div class="support">Support</div> {% comment %}inactive{% endcomment %}
				<div class="oppose">Oppose</div>
			</div>
		</div>
		{% endfor %}
		</div>

		<div style="height: 120px"> </div> <!-- buffer -->
	</div> <!-- col_12 -->

</div><!-- e: content -->

<div style="display: none">
	<div id="what_is_it_colorbox" class="colorbox">
		<h1>What is the &ldquo;Super Committee&rdquo;?
	
		<p>The &ldquo;Super Committee&rdquo; was established in the Budget Control Act of 2011 and is charged with issuing a formal recommendation on how to reduce the deficit by at least $1.5 trillion over the next ten years.</p>
		
		<p>If the Super Committee fails to submit a proposal that wins Congressional approval by December 23, $1.2 trillion in across-the-board cuts will be triggered in January 2013.</p>
			
		<p>The panel is officially called the <a href="http://www.deficitreduction.gov/public/" target="_blank">Joint Select Committee on Deficit Reduction</a>. It is comprised of six Senators (three Republicans and three Democrats) and six Members of the House of Representatives (three Republicans and three Democrats). The Super Committee proposal must be approved by at least seven of the twelve members of the committee by November 23 and then must receive an &ldquo;up-or-down&rdquo; vote (no amendments) in the House and Senate before December 23, 2011.</p>
	
		<p><a href="http://www.washingtonpost.com/business/economy/supercommittees-lack-of-progress-on-debt-reduction-raises-alarms-on-hill/2011/10/19/gIQAxXagyL_print.html" target="_blank">According to the Washington Post</a>, &ldquo;Super Committee members have discussed a two-stage process that would first cut entitlement spending and close several tax loopholes . . . Then, the tax-writing committees in the House and Senate would be instructed to overhaul the tax code to lower rates and raise sufficient additional revenue to meet the committee’s overall target.&rdquo;</p>
	</div>
	
	<div id="map_colorbox" class="colorbox">
		<h1></h1>
		
		<a class="btn b_view_report" href="#">
			View Report &amp; Comments
		</a>
		
		<div id="map_iframe_container">
		</div>
		
		<div id="map_proposal_list">
		{% for proposal in bills|dictsort:"title" %}
		{% if proposal.sentiment or 1 %}
		<div bill_id="{{proposal.bill.id}}" bill_url="{{proposal.bill.url}}">
			{{proposal.title}}
		</div>
		{% endif %}
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

