/*.userdash {
	background: url(_temp/usr-dash_t emp.jpg) center -71px no-repeat;
	display: block;
	height: 1000px;
	}*/
	
	.userdash h1 {
		margin-bottom: 18px;
		padding-bottom: 15px;
		}
		
	.userdash ul#bar {
		margin: 15px 0 15px;
		padding-top: 5px;
		font: normal 25px/42px 'BebasNeueRegular', helvetica, arial, sans-serif;
		color:  #fff;
		background: #75757d;
		height: 37px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		}
	
		.userdash ul#bar li {
			float: left;
			text-align: center;
			}
			
			.userdash ul#bar li.c6 {
				width: 460px;
				background: url(/media/assets/dashboard/userdash_divider.png) right 2px no-repeat;
				}

			.userdash ul#bar li.c3 {
				width: 250px;
				background: url(/media/assets/dashboard/userdash_divider.png) right 2px no-repeat;
				}
				
			.userdash ul#bar li.c3l {
				width: 228px;
				}
				
			.userdash ul#bar li.c6l {
				width: 460px;
				}
				
	.userdash .col_6 {
		margin: 0;
		padding-top: 0;
		}

		.userdash .col_6.col_last {
			width: 480px;
			}

	.userdash div.date,
	.userdash div.btn_r {
		float: right;
		display: block;
		width: 90px;
		height: 12px;
		margin-top: 5px;
		position: relative;
		}
			
			.userdash div.btn_r {
				width: 70px;
				height: 70px;
				margin: 0 0 5px 10px;
				padding: 0;
				display: block;
				}
		
	.userdash div.date p,
	.userdash div.btn_r p {
			margin: 5px 0 0;
			padding: 0;
			height: 15px;
			width: 75px;
			text-align: right;
			}

		.userdash div.date p span {
			float: right;
			width: 52px;
			padding-right: 5px;
			font-size: 12px;
			line-height: 12px;
			display: block;
			}
		
		.userdash div.date a,
		.userdash div.btn_r a {
			width: 15px;
		    height: 15px;
		    display: block;
		    text-indent: -9999em;
		    margin: 2px 0 0;
		    border: none;
			float: right;
		    }
		    
		    .userdash div.date a:hover {
				background-position: left -15px;
				}
				
			.userdash div a.fav:hover,
			.userdash div a.hide:hover {
				background-position: left -20px;
				text-decoration: none;
				border: none;
				}
			
		a.fav {
			background: none;
/*			background: url(_temp/b_follow.png) left top no-repeat;*/
			}
			
			a.fav.faved {
				background: none;
/*				background: url(_temp/b_following.png) left top no-repeat;*/
				}
	
		.userdash div a.hide {
			background: none;
			background: url(/media/assets/dashboard/b_hide.png) left top no-repeat;
			text-indent: -9999em;
			text-align: left;
			width: 10px;
			margin-top: 2px;
		    }
		    
		    .userdash div.btn_r a.fav {
				margin-left: 20px;
				}
		    
		    .userdash div.date a:hover {
				background-position: left -20px;
				cursor: pointer;
				}

	.col_6 ul.activity h3 {
		font: bold 14px/18px helvetica, san-serif;
		text-transform: none;
		padding: 0 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		background: none;
		width: 350px;
		}
		
		.col_6 ul.activity h3 span {
		    font: normal 14px/18px helvetica, san-serif;
		    text-transform: none;
		    display: inline;
		    margin-left: 0px;
		    }
		
	.pie {
		display: block;
		width: 55px;
		height: 55px;
		float: right;
/*		border: 1px solid black; */
		}

	.user_dash .col_6 ul.activity .pie {
		margin: 5px 4px 5px 0px;
/*		background: url(_temp/pie.png) left top no-repeat;*/
		}
		
		.user_dash .col_6 ul.activity .pie #act_pie2.pie {
			padding-left: 2px;
			}
		
		.user_dash .col_6 .pie img {
			display: none;
			}

			
	ul.activity li {
/*
		border: 1px solid green;
		background: #d4d1ca;	
*/
		background: #d4d1ca;	
		margin-bottom: 10px;
		padding-top: 5px;
		min-height: 130px;
		}
		
	ul.activity li div p {
		display: block;
		padding: 0px 0 0 10px;
		width: 350px;
		}

		ul.activity li div.details {
			min-height: 60px;
			display: block;
			}
			
		ul.activity li div.details p.detail {
			margin-bottom: 10px;
			}

		ul.activity li div.details p.detail.bill {
			margin-bottom: 10px;
/*			padding-left: 60px;
			width: 290px;
			font: italic normal 12px/14px georgia, serif;
*/			}
		
		ul.activity li p.take_action span.action_descr {
			width: 260px;
			}
			
		ul.activity li p.take_action {
			font-size: 11px/11px;
			font-weight: bold;
			padding: 5px 0 0 60px;
			height: 30px;
			margin: 0;
			clear: both;
			}
			
		ul.activity li p.take_action a {
			background: none;
			margin: 0 10px 0 0px;
			padding: 0;
			height: 12px;
			text-indent: 0;
			font-size: 12px;
			display: block;
			float: left;
			}
				
/* */
		ul.activity li.org_position p.take_action {
			background: url(/media/assets/dashboard/icon_act_org_psn.png) 10px 6px no-repeat;
			}

		ul.activity li.bill_now p.take_action {
			background: url(/media/assets/dashboard/icon_act_bill.png) 10px top no-repeat;
			}

		ul.activity li.bill_current_status p.take_action {
			background: url(/media/assets/dashboard/icon_act_change.png) 10px 4px no-repeat;
			}

		ul.activity li.comment p.take_action {
			background: url(/media/assets/dashboard/icon_act_comment.png) 10px 5px no-repeat;
			}



		ul.activity li p span {
			display: block;
			float: left;
			}
			
			ul.activity li span.social {
				height: 16px;
				margin-left: 12px;
				/*margin-right: 4px;*/
				float: right;
				}
				
			ul.activity li span.social a {
				text-indent: -9999em;
				}
			
		ul.activity li p a.twitter {
			background: url(/media/icons/sm/i_tw.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}

		ul.activity li p a.facebook {
			background: url(/media/icons/sm/i_fb.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}
			
		ul.activity li p a.google {
			background: url(/media/icons/sm/i_google.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}

		ul.activity li p a.reddit {
			background: url(/media/icons/sm/i_reddit.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}

		ul.activity li p a.tumblr {
			background: url(/media/icons/sm/i_tumblr.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}
			
		ul.activity li p a.email {
			background: url(/media/icons/sm/i_email.png) left top no-repeat;
			margin: 2px 4px 0 0px;
			padding: 0;
			width: 16px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}

			ul.activity li p a.twitter:hover,
			ul.activity li p a.facebook:hover,
			ul.activity li p a.google:hover,
			ul.activity li p a.reddit:hover,
			ul.activity li p a.tumblr:hover,
			ul.activity li p a.email:hover,
			ul.activity li p a.fav:hover {
				background-position: left -25px;
				text-decoration: none;
				border-bottom: 0;
				}
			
		ul.activity li p a.fav {
			background: none;
/*			background: url(_temp/b_following.png) left top no-repeat; */
			margin: 3px 4px 0 0px;
			padding: 0;
			width: 0;
/*			width: 13px; */
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: left;
			}
			
			ul.activity li p a.fav:hover {
				background-position: left -20px;
				text-decoration: none;
				border-bottom: 0;
				}

	ul.activity li div p.bill {
		margin-bottom: 2px;
		}
		
	ul.activity li div p.comment {
		background: url(/media/assets/dashboard/icon_act_comment.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}
	
	ul.activity li div p.org_psn {
		background: url(/media/assets/dashboard/icon_act_org_psn.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}
	
	ul.activity li div p.support {
		background: url(/media/assets/dashboard/icon_act_heart.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}
		
	ul.activity li div p.oppose {
		background: url(/media/assets/dashboard/icon_act_anti.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}

	ul.activity li div p.co-sponsor {
		background: url(/media/assets/dashboard/icon_act_congress.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}
	
	ul.activity li div p.weighed_in {
		background: url(/media/assets/dashboard/icon_act_people.png) 10px 5px no-repeat;
		margin-bottom: 2px;
		}	
	

	.userdash ul.suggest_bills h3 {
		font: bold 12px/14px helvetica, san-serif;
		text-transform: none;
		padding: 0;
		margin-top: 5px;
		background: none;
		min-height: 60px;
		}
		
		.userdash .col_3 .pie {
/*			border: 1px solid red;*/
			}
	
		.userdash ul.suggest_bills li {
			border-bottom: 1px solid #a9a59b;
			margin-bottom: 15px;
			padding-bottom: 15px;
			margin-left: 15px;
			width: 220px;
			float: left;
			}
			.userdash ul.suggest_bills li.left {
				margin-right: 10px;
				clear: both;
				}

			.userdash ul.suggest_bills li p.info {
				margin: 10px 0 0 0;
				color: #75747c;
				font: normal 11px/14px helvetica, sans-serif;
				line-height: 14px;
				}
							
		.userdash ul.suggest_bills li a.suggested {
			text-decoration: none;			}
			
			.userdash ul.suggest_bills li a.suggested:hover {
				color: #CC6A11;
				}

		
		.userdash .suggest_bills .fav {
			margin-top: 10px;
			width: 13px;
			height: 16px;
			text-indent: -9999em;
			display: block;
			float: right;
			}
	
		.userdash ul.suggest_bills li a.weigh_in {
			font-weight: bold;
			font-size: 12px;
			margin: 0;
			}
			
		

.userdash ul.suggest_orgs li {
	clear: both;
	border-bottom: 1px solid #a9a59b;
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 25px;
	}
	
	.userdash ul.suggest_orgs li h3 {
		font-size: 12px;
		line-height: 12px;
		}
	
	.userdash ul.suggest_orgs a.fav,
	.userdash ul.following_congress a.fav,
	.userdash ul.following_bills a.fav,
	.userdash ul.following_issues a.fav,
	.userdash ul.following_orgs a.fav {
		width: 10px;
	    height: 15px;
	    display: block;
	    text-indent: -9999em;
	    margin: 2px 0 0 10px;
	    border: none;
		float: right;
		}
	
	.userdash ul.suggest_orgs img {
		float: left;
		margin: 0 5px 5px 0;
		display: block;
		}
		
	userdash .col_3 ul.suggest_orgs h3 {
		margin-left: 20px;
		}
	
.userdash .col_3 ul.following_congress {
	margin: 0 0 10px;
	border-bottom: 1px solid #a9a59b;
	}
	
	.userdash .col_3 ul.following_congress h2 {
		margin-top: 0;
		padding: 5px 0 8px 30px;
		font: bold 13px/18px helvetica;
		text-transform: uppercase;
		background: url(_temp/icon_follow_congress.png) left top no-repeat;
		border: 0;
		}
		
		.userdash .col_3 ul.following_congress li {
			margin-bottom: 15px;
			}
			
		.userdash .col_3 ul.following_congress li img {
			float: left;
			margin-right: 5px;
			}
			
		.userdash .col_3.col_follow ul li h3 {
			font-size: 12px;
			line-height: 12px;
			}
			
		.userdash .col_3 ul.following_congress li h3 a span {
			margin-left: 0;
			text-transform: uppercase;
			font: normal 12px/12px helvetica, sans-serif;
			}
	
.userdash .col_3 ul.following_bills {
	margin: 0 0 10px;
	border-bottom: 1px solid #a9a59b;
	}

	.userdash .col_3 ul.following_bills h2 {
		margin-top: 0;
		padding: 5px 0 5px 30px;
		font: bold 13px/18px helvetica;
		text-transform: uppercase;
		background: url(_temp/icon_follow_bills.png) left top no-repeat;
		border: 0;
		}
		
	.userdash .col_3 ul.following_bills li {
		margin-bottom: 12px;
		}
		
.userdash .col_3 ul.following_issues {
	margin: 0 0 10px;
	border-bottom: 1px solid #a9a59b;
	}

	.userdash .col_3 ul.following_issues h2 {
		margin-top: 0;
		padding: 5px 0 5px 30px;
		font: bold 13px/18px helvetica;
		text-transform: uppercase;
		background: url(_temp/icon_follow_issues.png) left 5px no-repeat;
		border: 0;
		}

	.userdash .col_3 ul.following_issues {
		border-bottom: 1px solid #a9a59b;
		}
		
	.userdash .col_3 ul.following_issues li {
			margin-bottom: 12px;
			}

.userdash .col_3 ul.following_orgs {
	}

	.userdash .col_3 ul.following_orgs h2 {
		margin-top: 0;
		padding: 5px 0 5px 30px;
		font: bold 13px/18px helvetica;
		text-transform: uppercase;
		background: url(_temp/icon_follow_orgs.png) left 5px no-repeat;
		border: 0;
		}
		
	.userdash ul.following_orgs li {
		clear: both;
		padding-bottom: 5px;
		margin-bottom: 5px;
		min-height: 25px;
		}
		
	.userdash ul.following_orgs img {
		float: left;
		margin: 0 5px 5px 0;
		display: block;
		}
	




