{% load trafficanalysis_tags %}
<html>
	<head>
		<title>Traffic Analysis: Funnel Analysis</title>
		<script type="text/javascript" src="/media/js/protovis-r3.2.js"></script>
	</head>
	<body>
<h1>Funnel Analysis on Selected Path</h1>
<script>
function reload_page() {
	document.location = '?path=' + escape(document.opts['path'].value) + '&start-date=' + escape(document.opts['start-date'].value) + "&mode=" + escape(document.opts['mode'].value)
}
</script>
<form name="opts">
	<select name="mode" size="1">
		<option value="goal" {% if mode == 'goal' %}selected='1'{% endif %}>Goal Completion Via Any Path</option>
		<option value="funnel" {% if mode == 'funnel' %}selected='1'{% endif %}>Funnel Analysis on Selected Path</option>
	</select>
	<input name="path" type="hidden" value="{{path}}">
	<span style="padding-left: 2em">Starting Date: </span>
	<input name="start-date" value="{{startdate}}"/>
	<span style="padding-left: 2em">Depth: </span>
	<input name="depth" value="{{depth}}" size="3" maxlength="2"/>
	<input type="button" value="Update" onclick="reload_page()">
</form>

<script type="text/javascript+protovis"> 
var data = {{data|json}};
var xlabels = {{x|json}};

/* Sizing and scales. */
var w = document.body.clientWidth * .85,
    h = document.body.clientHeight * .75,
    x = pv.Scale.linear(0, {{xmax}}).range(0, w),
    y = pv.Scale.linear(0, 100).range(0, h);
 
/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(75)
    .left(75)
    .right(75)
    .top(5);
 
/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .visible(function(d) d)
    .left(x)
    .bottom(-5)
    .height(5)
    .anchor("bottom").add(pv.Label)
    .text(function(d) xlabels[d]);
 
/* The stack layout. */
stack = vis.add(pv.Layout.Stack)
    .layers(data)
    .x(function(d) x(d.x))
    .y(function(d) y(d.y))
  .layer.add(pv.Area);
 
 /* Stack labels */
vis.add(pv.Panel)
 .extend(stack.parent)
  .add(pv.Area)
  .extend(stack)
    .fillStyle(null)
  .anchor("center").add(pv.Label)
  .def("max", .2)
  .text(function(d, p) d.showserieslabel ? d.series : null)
    .font("12px sans-serif");
    
/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .bottom(y)
    .strokeStyle(function(d) d ? "rgba(128,128,128,.5)" : "#000")
    .anchor("left").add(pv.Label)
    .text(y.tickFormat);

vis.add(pv.Label)
    .left(-40)
    .top(h/2)
    .text("%");
 
vis.render();

    </script> 
	
	</body>
</html>

