{% load trafficanalysis_tags %}
<html>
	<head>
		<title>Traffic Analysis: Path Analysis</title>
		<script type="text/javascript" src="/media/js/protovis-r3.2.js"></script>
	</head>
	<body>

<script>
function load_funnel() {
	document.location = '?path-start=' + escape(document.opts['path-start'].value) + '&start-date=' + escape(document.opts['start-date'].value) + '&depth=' + escape(document.opts['depth'].value)
}
</script>
<form name="opts">
	<select name="path-start" size="1" onchange="load_funnel()">
		<option value="">(select start of goal path)</option>
		{% for node in nodenamelist %}
			<option {% if pathstart == node %}selected='1'{% endif %}>{{node}}</option>
		{% endfor %}
	</select>
	<span style="padding-left: 2em">Starting Date: </span>
	<input name="start-date" value="{{startdate}}"/>
	<span style="padding-left: 2em">Depth: </span>
	<input name="depth" value="{{depth}}" size="3" maxlength="2"/>
	<input type="button" value="Update" onclick="load_funnel()">
</form>
	
<script type="text/javascript+protovis"> 
var graphdata = {{graph|json}};

// Wrap the basic JSON structure into pv.Dom.Node instances.
for (var i = 0; i < graphdata.length; i++) {
	var parentNode = graphdata[i].parentNode;
	graphdata[i] = new pv.Dom.Node(graphdata[i]);
	if (parentNode != null)
		graphdata[parentNode].appendChild(graphdata[i]);
}

var w = document.body.clientWidth * .9,
    h = (document.body.clientHeight-100) * .9,
    colors = pv.Colors.category19();
 
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(-80);

var partition = vis.add(pv.Layout.Partition.Fill)
    .nodes(graphdata)
    .size(function(d) d.nodeValue.value)
    .order("descending")
    .orient("radial");

partition.node.add(pv.Wedge)
	.title(function(d) d.nodeValue.module + " " + d.nodeValue.label )
    .fillStyle(pv.Colors.category19().by(function(d) d.nodeValue.module))
    .strokeStyle("#fff")
    .lineWidth(.5)
    .cursor(function(d) d.nodeValue.path ? "pointer" : null)
    .event("click", function(d) { if (d.nodeValue.path) self.location = "?path=" + escape(d.nodeValue.path) })
    
partition.label.add(pv.Label)
	.text(function(d) d.nodeValue.label )
	.textAngle(function(d) {
		a = Math.round((d.startAngle + d.angle/2 + Math.PI / 2)/Math.PI*2)*Math.PI/2;
		if (a == Math.PI) a -= Math.PI;
		return a;
	})
	.visible(function(d) d.angle * d.outerRadius >= 6);

vis.render();

    </script> 
	
	</body>
</html>

