<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

	<title>There Oughtta Be a Law (Oughttabealaw.com)</title>
	
	<!--
	                      _                                      
	 _| _ _. _  _  __ |_.(_. _   _ _  _ . _  _ _ _. _  _   |_    
	(_|(-_)|(_)| )    |_|| |(_  (-| )(_)|| )(-(-| || )(_)  |_)\/ 
	        _/                       _/               _/      /  
	 ____            _ _                 _   _       _                        
	/ ___|  ___   __| (_)_   _ _ __ ___ | | | | __ _| | ___   __ _  ___ _ __  
	\___ \ / _ \ / _` | | | | | '_ ` _ \| |_| |/ _` | |/ _ \ / _` |/ _ \ '_ \ 
	 ___) | (_) | (_| | | |_| | | | | | |  _  | (_| | | (_) | (_| |  __/ | | |
	|____/ \___/ \__,_|_|\__,_|_| |_| |_|_| |_|\__,_|_|\___/ \__, |\___|_| |_|.com
	                                                         |___/           
	-->
	
	<link rel="stylesheet" href="static/styles/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="static/styles/style_law.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="static/fonts/stylesheet.css" type="text/css" charset="utf-8">
	
	<script src="static/scripts/jquery-1.4.3.min.js"></script>
	<script src="static/scripts/ajaxforms.js"></script>
	
	<script>
	function submitlaw() {
		var text = $('#text').val();
		var author = $('#author').hasClass("default") ? "" : $('#author').val();
		var tags = $('#tags').hasClass("default") ? "" : $('#tags').val();
		
		$('#text').val('');
		$('#author').val(''); $('#author').blur();
		$('#tags').val(''); $('#tags').blur();
		$('#randomlaw, .buttons').fadeIn();
		$('#userlaw').hide();
		
		if (text == "") return;
		
		$("#submitstatus").show();
		$("#submitstatus").text("Glad you got that off your chest?");
		$("#submitstatus").delay(5000).fadeOut();
		
		$.ajax({
		   type: "POST",
		   url: "/post",
		   data: { "text": text, "author": author, "tags": tags },
		   error: function( ) { $("#submitstatus").text("Error."); $("#submitstatus").show(); },
		   success: function(msg){
			   if (msg != "OK")
				   $("#submitstatus").text(msg); $("#submitstatus").show();
		   }
		 });
	}
	</script>

	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18126194-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</head>
	<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
	<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
	<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
	<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
	<!--[if gt IE 9]>  <body>             <![endif]-->
	<!--[if !IE]><!--> <body>         <!--<![endif]-->

<div id="wrap">
	<h1>There Oughtta Be A Law...</h1>
	<div id="randomlaw">
		<h2>{{law.text}}</h2>	
		{% if law.author %}
			<p class="cite">– {{ law.author }}</p>
		{% endif %}
	</div>
	<div id="userlaw" style="display: none">
		<textarea id="text"></textarea>
		
		<input id="author"/>
		<small>name is optional</small>
		<div class="clear"></div>
		
		<input id="tags"/>
		<small>tags are optional</small>
		<div class="clear"></div>
			
		<input value="make it law" class="b_submit btn" onclick="submitlaw()" type="button">
		<a class="btn b_cancel" href="#" onclick="$('#randomlaw, .buttons').fadeIn(); $('#userlaw').hide(); return false;">cancel</a>

		<script>
		$('#text').keydown_enter(submitlaw);
		$('#author').input_default('name');
		$('#tags').input_default('dc activisim tourist');
		</script>
	</div>

	
<!-- 
	<p class="yes">Yes my friend, there Oughtta.</p>	
-->
	<ul class="buttons">
		<li><a class="btn b_refresh" href="#" onclick="window.location.reload(); return false">refresh</a></li>
		<li><a class="btn b_write_law" href="#" onclick="$('#randomlaw, .buttons').hide(); $('#userlaw').fadeIn(); $('#userlaw textarea').focus(); return false;">write your own law</a></li>
	</ul>

	<p id="submitstatus" style="display: none">test</p>
	
</div><!-- e: wrap -->
<div class="push"></div>


<div class="footer">
	<a href="http://www.twitter.com/oughttabealaw"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-a.png" alt="Follow oughttabealaw on Twitter"/></a>

	<a href="http://twitter.com/share" class="twitter-share-button" data-text="{{law.text}}" data-url="http://www.oughttabealaw.com" data-count="horizontal" data-via="oughttabealaw" data-related="popvox:Oughttabealaw.com is brought to you by POPVOX.com">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.oughttabealaw.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
	
	<div class="speak">
		<p>Want to really impact how laws are made?</p>
		<a class="btn b_speak_up" href="http://www.popvox.com">speak up on POPVOX.com</a>
	</div><!-- e: speak -->
	<div class="clear"> </div>

</div><!-- e: footer -->

<!-- goog analytics here yo! -->


</body>
</html>
