MAILTO=josh@popvox.com
 10 2,8 * * * nice /home/www/sources/scripts/daily.sh
 20 *   * * * nice /home/www/sources/scripts/hourly.sh
 *  *   * * * sudo su www -c "nice /home/www/sources/scripts/minutely.sh"
 *  *   * * * nice /home/www/sources/ec2/update_nginx_farm -q
