<html>
	<head>
		<title>Oughttabealaw Approval</title>
	</head>
	<body>
		{% if law.status == 1 %}
			<p>This submission is currently approved.</p>
		{% endif %}
		{% if law.status == 2 %}
			<p>This submission is currently rejected.</p>
		{% endif %}

		<p style="margin: 1em; padding: 1em; border: 1px solid black">{{law.text}}</p>
		
		{% if law.author %}
			<p style="margin: 1em; padding: 1em; border: 1px solid black">By: {{law.author}}</p>
		{% endif %}
		
		<form method="post" action="/approve">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{law.id}}">
			<input type="submit" name="action" value="Approve">
			<input type="submit" name="action" value="Reject">
		</form>
	</body>
</html>
