{% extends 'articles/interface_to_master.html' %}
{% load article_tags i18n %}

{% block extra-head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="{% url articles_feed 'latest' %}" />
<style>

/* press */

.press h1 a, .press h2, .press h3 a {
	color: #434247;
	}
	
.press h1 {
	margin: 30px 0 5px;
	padding-bottom: 20px;
	color: #434247;
	font-size: 50px;
	background: url("bg_rule.gif") repeat-x scroll left bottom transparent;
	}
	
.press h2 {
	font-size: 18px;
	padding-left: 45px;
	border-bottom: 1px solid #a9a59b;
	padding-bottom: 10px;
	margin-bottom: 10px;
	}
	
	.press h2.i_cal {
		background: url(/media/press/i_cal.png) left top no-repeat;
		margin: 30px 0 20px;
		}
	
	.press h2.i_trend {
		background: url(/media/press/i_trending.png) left top no-repeat;
		margin: 30px 0 20px;
		}

	.press h2.i_users {
		background: url(/media/press/i_user.png) left top no-repeat;
		margin: 30px 0 20px;
		}
		
	.press h2.i_updates {
		background: url(/media/press/i_updates.png) left top no-repeat;
		margin: 30px 0 20px;
		}
		
.press h3 {
	background: none;
	font-size: 18px;
	}
	
.article h2.title {
	min-height: 60px;
}

.article-list li > h3  {
	/*width: 340px;*/
	padding: 20px;
	margin-left: -20px;
	/*margin: 30px 20px 20px 0;*/
	/*min-height: 80px;*/
	background: #DCD9D2;
	font: bold 25px/30px helvetica, san-serif;
	/*float: left;*/
	display: block;
	}

#article-meta p.byline {
	margin-top: 20px;
	text-transform: uppercase;
}
#article-meta p.byline span {
	text-transform: none;
	font-style: italic;
}
	
/*p.byline {
	width: 270px;
	height: 30px;
	float: right;
	display: block;
	margin-top: 50px;
	font-size: 14px;
	}*/

.press ul {
	}
	
.press .article-list > li {
	background: none;
	margin-left: 0;
	/*border-bottom: 1px solid #a9a59b;*/
	margin-bottom: 40px;
	}
	
	.press .userrichtextcontent ol li {
		border: none;
		list-style-type: square;
		list-style-position: inside;
		}

	.press .userrichtextcontent ul li {
		padding-left: 100px;
		padding-top: 4px;
		background: url(/media/press/bg_arrow.png) left 5px no-repeat;
		width: 580px;
		border: none;
		min-height: 30px;
		}

	.press .userrichtextcontent ul li span {
		margin-left: -100px;
		color: #fff;
		padding: 5px 0px 2px 10px;
		width: 60px;
		float: left;
		}
		
p.inquiries {
	font: italic normal 14px/18px georgia, serif;
	margin: 0 0 20px;
	}

ul.pagination-pages ul {
	text-align: center;
	}

ul.pagination-pages li {
	display: block;
	float: left;
	border: none;
	margin: 10px 1px;
	}
	
ul.pagination-pages li a{
	padding: 2px 5px;
	background: #DED7CB
	}
	
	ul.pagination-pages li a:hover {
		color: #fff;
		background: #cc6a11;
		text-decoration: none;
		border: none;
		}
</style>
{% endblock %}

{% block content %}

{% block articles-content %}{% endblock %}

{% if paginator and page_obj %}
{% ifnotequal paginator.page_range|length 1 %}
{% for p in paginator.page_range %}
{% if forloop.first %}<ul class="pagination-pages">
{% if page_obj.has_previous %}
    <li><a href="{% get_page_url 1 %}">&laquo;</a></li>
    <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
{% endif %}
{% endif %}
    <li><a href="{% get_page_url p %}"{% ifequal p page_obj.number %} class="current-page"{% endifequal %}>{{ p }}</a></li>
{% if forloop.last %}
{% if page_obj.has_next %}
    <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
    <li><a href="{% get_page_url paginator.num_pages %}">&raquo;</a></li>
{% endif %}
</ul>{% endif %}
{% endfor %}
{% endifnotequal %}
{% endif %}
{% endblock %}

{% block footer %}
{{ block.super }}

<script type="application/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="application/javascript" src="http://disqus.com/forums/{{ disqus_forum }}/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endblock %}

{% block archives %}
<div id="article-archives" class="sub">
    <h2>{% trans 'Article Archives' %}</h2>
    {% get_article_archives as archives %}
    {% for year in archives %}
    {% if forloop.first %}<ul>{% endif %}
        <li>
            <strong>{{ year.0 }}</strong>
            <ul class="months">
            {% for month in year.1 %}
                <li><a href="{% url articles_in_month month.year,month.month %}" title="{% trans 'View articles posted in this month' %}">{{ month|date:"N" }}</a></li>
            {% endfor %}
            </ul>
            <div class="clear">&nbsp;</div>
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    
    <div>
    	<a href="{% url articles_feed 'latest' %}">RSS</a>
    </div>
</div>
{% endblock %}
