{% extends "master.html" %}

{% load article_tags %}

{% block loginblock %}{% endblock %}

{% block title %}Blog{% endblock %}
{% block description %}
{% block meta-description %}The POPVOX Blog{% endblock meta-description %}
{% endblock description %}

{% block head %}
<meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
{% block extra-head %}{% endblock %}
{% endblock %}

{% block body %}
<div class="content">

<div class="col_9 col_top press">
<h1><a href="/blog">The POPVOX Blog</a></h1>

{% block content %}{% endblock %}
</div>

<div class="col_3 col_top col_last">
	<div class="sub">
		<p class="inquiries">(For media inquiries, please contact Marci Harris, POPVOX&rsquo;s CEO, at <a href="mailto:info@popvox.com">info@popvox.com</a>.)</p>
		<h2>MEDIA KIT</h2>
		<ul class="sub_side">
			<li><a href="/blog">Blog Home</a></li>
			<li><a href="/press">Press Releases &amp; Clips</a></li>
			<li><a href="/about/whyitworks">Why POPVOX Works</a></li>
			<li><a href="/about/team">Team Bios</a></li>
			<li><a href="/about/principles">Company Principles</a></li>
			<li><p>Logo:</p>
				<ul class="logo bullets">
					<li><a href="/media_kit/POPVOX_LOGO-V_RGB.png">Low Res (png)</a></li>
					<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.jpg">High Res (jpg)</a> (888k)</li>
					<li><a href="/media_kit/POPVOX_LOGO-V_CMYK.eps">EPS</a> (564k)</li>
				</ul>
			 </li>
		</ul>
	</div>
	
	{% block sidebar %}
		{% block recent_articles %}
			<div class="sub">
				<h2>RECENT ARTICLES</h2>
				{% get_articles 10 as recent %}
				{% for article in recent %}
				{% if forloop.first %}<ul>{% endif %}
					<li><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></li>
				{% if forloop.last %}</ul>{% endif %}
				{% endfor %}
			</div>
		{% endblock %}
	
        {% block article_tags %}
			<div class="sub">
				<h2>TAGS</h2>
				{% tag_cloud %}
			</div>
		{% endblock %}
        {% block archives %}
        {% endblock %}

		{% block rss %}
		{% endblock %}
	
		
	{% endblock %}
</div>

</div>
{% endblock %}
