{% load popvox_utils %}
{% load humanize %}

{% for item in items %}

	{% if item|pythontype == 'popvox.models.UserComment' %}
		<p class="date">{% display_date item.updated %}</p>
		<p>
			<span class="username">
				{% if not can_see_user_details %}
					{{item.user.username}}
				{% else %}
					{{item.address.firstname}} {{item.address.lastname}}
				{% endif %}
			</span>
			from
			{% if can_see_user_details %}
				{{item.address.city}},
			{% endif %}
			{{item.address.statename}}&rsquo;s
			{% if item.address.congressionaldistrict > 0 %}
				{{item.address.congressionaldistrict|ordinal}} district
			{% else %}
				at-large district
			{% endif %}
			{{item.verb}}:
		</p>
		<div class="comment">
			<div class="usercomment endorse_oppose_image {% if item.position == "+" %}endorse{% endif %} {% if item.position == "-" %}oppose{% endif %}">
				<h4>
					<a href="{{item.bill.url}}">{{item.bill.title|truncatewords:15}}</a>
				</h4>
				{% if not user.is_anonymous %}
				<div class="" style="display: none">
				{% with "+" as tracktype %}
				{% with item.bill as bill %}
				{% include "popvox/track.html" %}
				{% endwith %}
				{% endwith %}
				</div>
				{% endif %}
				
				{{item.message|wraplines:"p"|truncatewords_html:150}}
				
				<div class="clear"> </div>
				
				<div style="padding-top: 10px">
				{% if item.can_appreciate %}
				<div class="appreciate"><a href="#" onclick="return digg(this);" billid="{{item.bill.id}}" commentid="{{item.id}}">appreciate</a> <span class="num">{{item.appreciates}}</span></div>
				{% else %}
				<div class="appreciate"><span class="text">appreciation</span> <span class="num">{{item.appreciates}}</span></div>
				{% endif %}
				<span class="share"><a href="{{item.url}}">share</a></span>
				</div>
				
				{% comment %}<p>{{item.delivery_status}}</p>{% endcomment %}
				<div class="clear"> </div>
			</div>
		</div>
	{% endif %}
	
	{% if item|pythontype == 'popvox.models.Org' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.url}}">{{item.name}}</a>
			{% if item.updated == item.created %}
			created their profile on POPVOX.
			{% else %}
			updated their profile.
			{% endif %}
		</p>
	{% endif %}

	{% if item|pythontype == 'popvox.models.OrgCampaign' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.org.url}}">{{item.org.name}}</a>
			{% if item.updated == item.created %}added{% else %}	updated{% endif %}
			their campaign <a href="{{item.url}}">{{item.name}}</a>.
		</p>
	{% endif %}

	{% if item|pythontype == 'popvox.models.OrgCampaignPosition' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.campaign.org.url}}">{{item.campaign.org.name}}</a>
			{% if item.updated == item.created %}added{% else %}	updated{% endif %}
			their position
			{% if item.position == "+" %}endorsing{% endif %}{% if item.position == "-" %}opposing{% endif %}{% if item.position == "0" %}on{% endif %}
			<a href="{{item.bill.url}}">{{item.bill.title|truncatewords:15}}</a>.
			{% if item.comment %}They wrote:{% endif %}
		</p>
		{% if item.comment %}
			<div style="margin-left: 2em">
				{{item.comment|wraplines:"p"|truncatewords_html:25}}
			</div>
		{% endif %}
		{% if item.comment and not item.campaign.default %}<p>For more see their campaign <a href="{{item.campaign.url}}">{{item.campaign.name}}</a>.</p>{% endif %}
	{% endif %}

	{% if item|pythontype == 'popvox.models.PositionDocument' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			{% if item.owner_org.all %}
				<a href="{{item.owner_org.all.0.url}}">{{item.owner_org.all.0.name}}</a>
			{% endif %}
			{% if item.updated == item.created %}
			created
			{% else %}
			updated
			{% endif %}
			a {{item.get_doctype_display}} on {{item.bill.title|truncatewords:10}} titled
			<a href="{{item.url}}">{{item.title}}</a>.
		</p>
	{% endif %}

	{% if not forloop.last %}
	<div class="hr"> </div>
	{% endif %}
	
{% endfor %}

{% for sql in sql_queries %}
	{% if forloop.first %}
		<div>
		<table>
	{% endif %}
	<tr><td style="border-bottom: 1px solid black; padding-right: 2em">{{sql.time}}</td> <td style="border-bottom: 1px solid black">{{sql.sql}}</td></tr>
	{% if forloop.last %}
		</table>
		</div>
	{% endif %}
{% endfor %}

