{% load popvox_utils %}
{% load humanize %}

{% for item in items %}

	{% if item|pythontype == 'popvox.models.UserComment' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<span class="username">
				{% if not can_see_user_details %}
					{{item.user.username}}
				{% else %}
					{{item.address.firstname}} {{item.address.lastname}}
				{% endif %}
			</span>
			from
			{% if can_see_user_details %}
				{{item.address.city}},
			{% endif %}
			{{item.address.state}}&rsquo;s {{item.address.congressionaldistrict|ordinal}} district
		</p>
		<div {% if item.position == "+" %}class="endorse"{% endif %} {% if item.position == "-" %}class="oppose"{% endif %}>
			<div style="float: left; padding-right: 1.5em">
				<a href="{{item.bill.url}}">{{item.bill.title|truncatewords:15}}</a>.
				
				&mdash;
				{% if item.position == "+" %}
					Support
				{% endif %}
				{% if item.position == "-" %}
					Oppose
				{% endif %}
			</div>
			<div class="flipcolor" style="float: left; margin-top: -2px">
			{% with "+" as tracktype %}
			{% with item.bill as bill %}
			{% include "popvox/track.html" %}
			{% endwith %}
			{% endwith %}
			</div>
			
			<div class="clear">
				{{item.message|wraplines:"p"|truncatewords_html:150}}
			</div>
			<p>
				<span class="share"><a href="{{item.url}}">share</a></span>
			</p>
		</div>
	{% endif %}
	
	{% if item|pythontype == 'popvox.models.Org' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.url}}">{{item.name}}</a>
			{% if item.updated == item.created %}
			created their profile on POPVOX.
			{% else %}
			updated their profile.
			{% endif %}
		</p>
	{% endif %}

	{% if item|pythontype == 'popvox.models.OrgCampaign' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.org.url}}">{{item.org.name}}</a>
			{% if item.updated == item.created %}added{% else %}	updated{% endif %}
			their campaign <a href="{{item.url}}">{{item.name}}</a>.
		</p>
	{% endif %}

	{% if item|pythontype == 'popvox.models.OrgCampaignPosition' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<a href="{{item.campaign.org.url}}">{{item.campaign.org.name}}</a>
			{% if item.updated == item.created %}added{% else %}	updated{% endif %}
			their position
			{% if item.position == "+" %}endorsing{% endif %}{% if item.position == "-" %}opposing{% endif %}{% if item.position == "0" %}on{% endif %}
			<a href="{{item.bill.url}}">{{item.bill.title|truncatewords:15}}</a>.
			{% if not item.campaign.default %}For more see their campaign <a href="{{item.campaign.url}}">{{item.campaign.name}}</a>.{% endif %}
			{% if item.comment %}They wrote:{% endif %}
		</p>
		{% if item.comment %}
			<div style="margin-left: 2em">
				{{item.comment|wraplines:"p"|truncatewords_html:50}}
			</div>
		{% endif %}
	{% endif %}
	
	<div class="hr"> </div>
	
{% endfor %}
