{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX User Activity{% endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{%block nav_legstaff_class_comments%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script type="text/javascript" src="/media/js/jquery.ba-bbq.min.js"></script>
<script>
	{% include "popvox/track.js" %}
</script>
{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}
	<script>
	var report_state = "{{default_state}}";
	var report_district = "{{default_district}}";
	
	var statereps = {{statereps|json}};
	
	function update(initial) {
		// Update district dropdown list options and make sure that
		// report_district is a valid value for the current state.
		if (initial) $('#options_state').val(report_state);
		if (initial) $('#options_district').val(report_district);
		$('#options_district').html("");
		if (report_state == "") {
			report_district = 0;
			$('#options_district').hide();
		} else if (statereps[report_state].length <= 1) {
			$('#options_district').
				append($("<option></option>").
					attr("value", 0).
					text("At Large"));
			report_district = 0;
			$('#options_district').hide();
		} else {
			$('#options_district').show();
			if (report_district == 0)
				report_district = "";
			if (report_district > statereps[report_state].length)
				report_district = 1;
			$('#options_district').
				append($("<option></option>").
					attr("value", "").
					attr("selected", report_district == 0).
					text("Whole State"));
			for (var i = 1; i <= statereps[report_state].length; i++) {
				$('#options_district').
					append($("<option></option>").
						attr("value", i).
						attr("selected", i == report_district).
						text("District " + i + " (" + statereps[report_state][i-1] + ")")); 
			}
		}
		
		// Post report info and then update.
		$('#loadingstatus').text("Loading...");
		$.ajax({
			type:"GET",
			url: "/ajax/activity",
			data: {
				state: report_state,
				district: report_district,
			},
			complete: function(res, status) {
				$('#loadingstatus').text("");
				
				if (status != "success") {
					$('#shortmessages').text("Error loading report.");
					return;
				}
				
				$('#activity').html(res.responseText);
			}
		});
	}

	$(function() {
		update(true);
	});

	function digg(elem) {
		ajax("/ajax/bills/comment/digg", {
				bill: elem.getAttribute("billid"),
				comment: elem.getAttribute("commentid"),
				action: $(elem.parentNode).hasClass("active") ? "-" : "+"
		}, {
			success: function(res) {
				if (res.action == "+") {
					$(elem).text("appreciated");
					$(elem.parentNode).addClass("active");
				} else {
					$(elem).text("appreciate");
					$(elem.parentNode).removeClass("active");
				}
				$(elem.parentNode).find("span.num").text(res.count);
			}
		});
		return false;
	}
	</script>
	
<div class="content">
	
	<div class="col_9 col_top">
		<h1 class="mar_no_btm">Recent Comments and other POPVOX Activity</h1>
			
		{% if user.is_staff %}
		
			<div class="col_4 pad_no">
				<ul class="activity bullets">
					<li><strong>All-Time Registered Users:</strong> {{count_users}}{% comment %}({{count_users_verified}} phone number verified){% endcomment %}</li>
					<li><strong>Leg Staff:</strong> {{count_legstaff}}</li>
					<li><strong>Positions Left:</strong> {{count_comments}}</li>
				</ul>
			</div>
			<div class="col_4 pad_no col_last">
				<ul class="activity bullets">
					<li><strong>Actual Comments Left:</strong> {{count_comments_messages}}</li>
					<li><strong>Registered Orgs:</strong> {{count_orgs}}</li>
				</ul>
			</div>
			<div class="clear"> </div>
			
		{% else %}
		
			{% if user.userprofile.is_leg_staff %}
			<p>Names and cities are shown for individuals commenting in your state (Senate personal staff) or district (House personal staff). Otherwise, only POPVOX screen names and congressional districts are shown for privacy reasons.</p>
			{% endif %}
		
		{% endif %}

		<div class="search_box">
			<p>
				Change Report: 
				<select id="options_state" size="1" onchange="report_state = this.value; update()">
					<option value="">POPVOX Nation</option>
					{% for stateabbr, statename in stateabbrs %}<option value="{{stateabbr}}">{{stateabbr}} - {{statename}}</option>{% endfor %}
				</select>
				<select id="options_district" size="1" onchange="report_district = this.value; update()">
				</select>
				<span id="loadingstatus" style="color: red; padding-left: 1em"></span>
			</p>
			
			{% if message_count %}
			<p>There are <a href="/home/constituent-messages">{{message_count}} constituent message{{message_count|pluralize}}</a> for your office waiting to be downloaded. <a href="/home/constituent-messages">More information...</a></p>
			{% endif %}
		</div>
 
		<div id="activity" style="padding-top: 1em; width: 500px"> 
		</div> 

	</div> <!-- col_9 -->

	{% include "ads/rightbar.html" %}
</div><!-- e: content -->

{% endblock %}

