{% load popvox_utils %}
{% load humanize %}

{% bill_statistics bill as stats %}

<h4>Constituent Sentiment</h4>
{% with "{ small: true, bg: '#d9d6d2' }" as chart_opts %}
{% with bill.id as chart_id %}
	{% include "popvox/bill_statistics_pie_simple.html" %}
{% endwith %}
{% endwith %}

{% for item in items %}
	{% if item|pythontype == 'popvox.models.UserComment' %}
		<p class="date">{{item.updated|date2}}</p>
		<p>
			<span class="username">
				{% if not can_see_user_details %}
					{{item.user.username}}
				{% else %}
					{{item.address.firstname}} {{item.address.lastname}}
				{% endif %}
			</span>
			from
			{% if can_see_user_details %}
				{{item.address.city}},
			{% endif %}
			{{item.address.state}}{% if item.address.congressionaldistrict != 0 %}&rsquo;s {{item.address.congressionaldistrict|ordinal}} district{% endif %}
		</p>
		<div {% if item.position == "+" %}class="endorse"{% endif %} {% if item.position == "-" %}class="oppose"{% endif %}>
			{{item.message|truncatewords:25}}
			<span>[<a href="{{item.url}}">more</a>]</span>
		</div>
	{% endif %}
	
	{% if forloop.last %}
	<p class="pad_left">See the <a href="{{bill.url}}/report">full report</a> for all {{total_count}} comment{{total_count|pluralize}}.</p>
	{% endif %}
{% endfor %}



