{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}

	<div class="c5 share_social" {% if billcomment_share_social_noborder %}style="border: none"{% endif %}>
	
	{% if comment.message %}
	<h3 class="no_rule orange">Share This Comment</h3>
	{% else %}
	<h3 class="no_rule orange">Share This Bill</h3>
	{% endif %}
	
	<ul class="social_share_btns">
		<li><a class="btn social_facebook" href="#" onclick="return share_tab('facebook')" title="Facebook">facebook</a></li>
		<li><a class="btn social_twitter" href="#" target="_blank" onclick="return share_tab('twitter')" title="Twitter">twitter</a></li>
		<li><a class="btn social_email" href="#" onclick="return share_tab('email')" title="Email">email</a></li>
		<li><a class="btn social_link" href="#" onclick="return share_tab('link')" title="Get a Short URL">get a link</a></li>
	</ul>
	<div class="clear"> </div>
	
	<div id="sharetab_message" class="form" style="display: none">
		<p style="margin-bottom: 0"><strong>Personalized Message to Recipients</strong></p>
		<textarea id="share_message" class="c5" style="margin-bottom: 2px">{% if message %}{{message}}{% endif %}</textarea>
		{% if comment.user == user and comment.message %}
		<div>
			<input id="share_includecomment" type="checkbox" {% if includecomment %}checked="1"{% endif %} onchange="set_message()"/>
			<label class="checkbox" for="share_includecomment">Include Your Comment in Your Message</label>
		</div>
		{% endif %}
		<script>
			function set_message(initial) {
				if (!initial && !$('#share_message').hasClass('default')) return;
				{% if not message %}
					{% if comment.user == user %}
						if ($('#share_includecomment').attr('checked'))
							$('#share_message').val("I'm using POPVOX.com to {% if comment.position == "+" %}support{% else %}oppose{% endif %} {{comment.bill.displaynumber}}. Check out my comment.");
						else
							$('#share_message').val("I'm using POPVOX.com to {% if comment.position == "+" %}support{% else %}oppose{% endif %} {{comment.bill.displaynumber}}. Make sure your voice is heard too.");
					{% else %}
						$('#share_message').val("Check out this comment in {% if comment.position == "+" %}support of{% else %}opposition to{% endif %} {{comment.bill.displaynumber}}.");
					{% endif %}
				{% endif %}
			}
			$(function() {
				$('#share_message').input_autosize();
				set_message(true);
				$('#share_message').input_default();
			});
		</script>
	</div>
	
	<div class="clear"> </div>

	<div id="sharetab_email" style="display: none">
		{% if user.is_authenticated %}
		<p style="margin: 1em 0 0 0"><strong>Recipients&rsquo; Email Addresses</strong></p>
		<div class="form">
			<textarea id="share_email_field" class="c5"></textarea>
			<div>
				<input id="share_email_button" type="button" class="submit btn" value="Share Via Email" onclick="share('email')"/>
				<span id="share_email_status" class="error"></span>
			</div>
			<p class="tip_inline">The email will be sent from your email address <tt>{{user.email}}</tt>.</p>
			<script>$(function(){ $('#share_email_field').input_default("(enter email addresses separated by commas or new lines)"); $('#share_email_field').input_autosize(); });</script>
		</div>
		{% else %}
		<p>You&rsquo;ll have to <a href="/accounts/login?next={{bill.url}}/comment/{{comment.id}}">log in</a> first to share this comment by email.</p>
		{% endif %}
	</div>
	
	<div id="sharetab_facebook" style="display: none">
	{% if not facebook %}
		<p>Make this easier next time by connecting POPVOX to your Facebook account. Click the Facebook login button to begin.</p>
		<p><a class="b_login_facebook btn" href="/registration/ext/associate/start/facebook?next={{bill.url}}/comment/{% if comment.user != user %}{{comment.id}}{% else %}share{% endif %}{{"#facebook"|urlencode}}">login to facebook</a></p>
		
	{% else %}
		{% if user == comment.user and comment.fb_linkid %}
			<p>You have already posted a link to your Wall, but we&rsquo;ll let you do it again if you want to raise awareness again.</p>
		{% endif %}
		<p style="float: right"><a class="b_share_facebook btn" href="#" onclick="return share('facebook')">share with facebook</a></p>
		<p>You are using your Facebook account <tt>{{facebook.profile.screen_name}}</tt>.</p>
		<p id="share_facebook_status"></p>
	{% endif %}
	</div>

	<div id="sharetab_twitter" style="display: none">
	{% if not twitter %}
		<p><a class="b_login_twitter btn" href="/registration/ext/associate/start/twitter?next={{bill.url}}/comment/{% if comment.user != user %}{{comment.id}}{% else %}share{% endif %}{{"#twitter"|urlencode}}">login to twitter</a></p>
		<p>Make this easier for next time by connecting POPVOX to your Twitter account. Click the Twitter login button to begin.</p>
	{% else %}
		{% if user == comment.user and comment.tweet_id %}
			<p>You have already tweeted about this bill but you can tweet again.</p>
		{% endif %}
			<p style="float: right; margin-left: 1em"><a class="b_share_twitter btn" href="#" onclick="return share('twitter')">share with twitter</a></p>
			<p>We&rsquo;ll add a link back to this page to the end of your tweet. Characters left: <span id="twitter_chars_left">140</span>.</p>
			<p>You are using your Twitter account <tt>{{twitter.profile.screen_name}}</tt>.</p>
			<p id="share_twitter_status"></p>
			<script>
				function update_twitter_char_count() {
					var c = 110 - $('#share_message').val().length;
					$('#twitter_chars_left').text(c);
					if (c >= 0)
						$('#twitter_chars_left').css({color: "green"});
					else
						$('#twitter_chars_left').css({color: "red"});
				}
				$('#share_message').textchange(update_twitter_char_count);
				$(update_twitter_char_count);
			</script>
	{% endif %}
	</div>
	
	<div id="sharetab_link" style="display: none">
		<p>Loading...</p>
	</div>
	
	{% with comment.share_hits as hits %}
	{% if hits > 10 and 0 %}
	<p>This comment has been viewed {{hits}} times through sharing!</p>
	{% endif %}
	{% endwith %}

	{% if user.is_staff or user.is_superuser %}
	{% for s in comment.shares %}
		{% if forloop.first %}
			<p><strong>Referrals: (This is shown to POPVOX staff only...)</strong></p>
			<table>
			<tr><th style="padding-right: 2em">hits</th> <th>owner</th></tr>
		{% endif %}
		<tr><td>{{s.hits}}</td><td>{{s.owner}}</td></tr>
		{% if forloop.last %}
			</table>
		{% endif %}
	{% endfor %}
	{% endif %}

	</div>

