{% extends "master.html" %}
{% load cache %}
{% load popvox_utils %}
{% block title %}Bills in Congress{% endblock%}
{% block description %}View all bills in Congress, including highlights of recently introduced bills, bills in Congress this week, top trending bills on POPVOX and recent activity.{% endblock %}
{%block nav_legstaff_class_bills%}active{%endblock%}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{%block subnav%}{% include "popvox/subnav_bills.html" %}{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script type="text/javascript">
$(function() {
	$.ajax({
		type:"POST",
		url: "/ajax/activity",
		data: {
			count: 5
		},
		complete: function(res, status) {
			$('#activity_div').html(res.responseText);
		}
	});
});

$(function() {
		$('#issue_list .controller div').click(function() {
			$('#issue_list .controller div').removeClass('active');
			$(this).addClass('active');
			
			var compare_attr = this.id;
			$('#issue_list .issues.issue-list .issue').sortElements(function(a,b) { return parseInt($(a).attr(compare_attr)) > parseInt($(b).attr(compare_attr)) ? 1 : -1 });
		});
		
		$('#issue_list .issue').click(function() {
			$('#issue_list .issue').removeClass("active");
			$(this).addClass("active");
			$('#highlights, #activity, #trending').hide();

			// remove ads, make room for content
			$('.content > div.main').removeClass("col_9").addClass("col_12");
			$('.content > div.col_ad').hide();

			if (this.hasAttribute("tab")) {
				// make room for ads
				if (this.getAttribute("tab") == "highlights") {
					$('.content > div.main').removeClass("col_12").addClass("col_9");
					$('.content > div.col_ad').show();
				}
					
				$('#bill_list_byissue').hide();
				$('#' + this.getAttribute("tab")).show();
				
				window.location = "#tab=" + this.getAttribute("tab");
				
				return;
			}

			$('#bill_list_byissue').show();
			$('#bill_list_byissue').html("<p>Loading...</p>");
			
			window.location = "#issue=" + this.getAttribute("ix");
			
			$.ajax({ 
				type: "GET",
				url: "/ajax/bills/issue-area",
				data: { ix: this.getAttribute('ix') },
				success:
					function(data) {
						$('#bill_list_byissue').html(data);
					},
				error:
					function(data) {
						$('#bill_list_byissue').html("<p>There was an error loading the page. Please try again.</p>");
					}
			});
		});
		
	if (window.location.hash && window.location.hash.substr(0, 5) == "#tab=") {
		var tab = window.location.hash.substr(5);
		$('#issue_list .issue[tab=' + tab + ']').click();
	}
	if (window.location.hash && window.location.hash.substr(0, 7) == "#issue=") {
		var ix = window.location.hash.substr(7);
		$('#issue_list .issue[ix=' + ix + ']').click();
	}
});
</script>
<style>
.col_3 h3 {
	font-size: 20px;
	line-height: 22px;
}

.category_icon_container {
    background: url("/media/master/bg_rule.gif") repeat-x left top;
	padding: 20px 0 0 80px;
}

	.category_icon_container.spotlight {
		background-color: #CC6A11;
		background-image: none;
		margin-bottom: 15px;
		padding-bottom: 15px;
		}
		
		.category_icon_container.spotlight h2,
		.category_icon_container.spotlight h2 a {
			color: #fff;
			text-decoration: none;
			}
			
		.category_icon_container.spotlight p {
			color: #fff;
			padding-right: 15px;
			}

		.userrichtextcontent .category_icon_container.spotlight a {
			color: #fff;
			border-bottom: 1px solid #fff;
			}
			
		.userrichtextcontent .category_icon_container.spotlight h2 a {
			border-bottom: none;
			padding-bottom: 5px;
			}
			
		.userrichtextcontent .category_icon_container.spotlight h2 a:hover {
			color: #E8E5DF;
			}


		
.category_icon_container h2 {
	font: normal 24px/24px 'BebasNeueRegular', helvetica, arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.category_icon {
	float: left;
	width: 80px;
	height: 80px;
	margin-left: -80px;
}
.category_icon_governance { background: url("/media/icons_categories/legis.png") no-repeat left top; }
.category_icon_guns { background: url("/media/icons_categories/gun.png") no-repeat left top; }
.category_icon_money { background: url("/media/icons_categories/tax.png") no-repeat left top; }
.category_icon_health { background: url("/media/icons_categories/health.png") no-repeat left top; }
.category_icon_technology { background: url("/media/icons_categories/chip.png") no-repeat left top; }
.category_icon_immigration { background: url("/media/icons_categories/immig.png") no-repeat left top; }
.category_icon_environment { background: url("/media/icons_categories/environment.png") no-repeat left top; }
.category_icon_international { background: url("/media/icons_categories/international.png") no-repeat left top; }
.category_icon_bank { background: url("/media/icons_categories/bank.png") no-repeat left top; }
.category_icon_eye { background: url("/media/icons_categories/eye.png") no-repeat left top; }
.category_icon_farm { background: url("/media/icons_categories/farm.png") no-repeat left top; }
.category_icon_gov { background: url("/media/icons_categories/gov.png") no-repeat left top; }
.category_icon_grad { background: url("/media/icons_categories/grad.png") no-repeat left top; }
.category_icon_health { background: url("/media/icons_categories/health.png") no-repeat left top; }
.category_icon_money { background: url("/media/icons_categories/money.png") no-repeat left top; }
.category_icon_pentagon { background: url("/media/icons_categories/pentagon.png") no-repeat left top; }
.category_icon_plane { background: url("/media/icons_categories/plane.png") no-repeat left top; }
.category_icon_tank { background: url("/media/icons_categories/tank.png") no-repeat left top; }

.category_icon_container.spotlight .category_icon { background: url("/media/icons_categories/spotlight.png") no-repeat 15px 0; }




.userrichtextcontent a {
	border-bottom: 1px solid #CC6A11;
}
.category_icon_container ul li {
	background-image: none;
	padding-left: 0;
	margin-left: 0;
}
.category_icon_container small {
	xxx-display: block;
	font-style: normal;
	font-size: 12px;
}

.rightcol small {
	font-style: normal;
}
.userrichtextcontent small a {
	color: #AA7733;
	border-bottom: 1px solid #BBAA88;
}
</style>
{% endblock %}
{% block content %}
<div class="content">
	
	<div class="col_9 col_top col_last main">
		<h1>What do you think about these bills?</h1>
		
		<p id="anonymous" style="margin-bottom: 2em; display: none;">With POPVOX, you can voice your concerns on specific bills in a format that is tailored for Congress.</p>
		
		<script type="text/javascript">master_state(function(res) {
			if (res.user && res.user.legstaffrole) $('.content h1').text("Bills in Congress");
			if (!res.user) $('#anonymous').show();
		});</script>
		
		<div id="issue_list" class="col_3">
			<h3 class="no_rule">POPVOX Picks</h3>
		
			<div class="issues">
				<div class="issue active" tab="highlights">
					<span class="name">Highlights</span>
				</div>
				<div class="issue" tab="activity">
					<span class="name">Recent Activity</span>
				</div>
				<div class="issue" tab="trending">
					<span class="name">Top/Trending Bills</span>
				</div>
			</div>
			
			<h3 class="no_rule" style="margin-top: 15px;">By Issue Area</h3>
		
			<div class="controller">
				<div id="sort_alph" class="active">alphabetical</div>
				<div id="sort_pop">most popular</div>
			</div>
			<div class="clear"> </div>
			<div class="issues issue-list">
			{% for ix in issues %}
			<div class="issue" sort_alph="{{ix.primaryorder}}" sort_pop="-{{ix.commentcount}}" ix="{{ix.id}}">
					<span class="name">{{ix.name}}</span>
					<span class="count">({{ix.billcount}})</span>
				</div>
			{% endfor %}
			</div>
		</div>
	
		<div id="highlights" class="col_6 col_last" style="padding-top: 0;">
			<div class="col_6 col_top">
			<h3 class="no_rule">Highlights</h3>
			<div class="userrichtextcontent">
				{% rawtext "bills_left" %}
			</div>
			
			<div class="clear block bill_search search_orange" style="margin-top: 30px; float: right">
				<div class="search_box">
					<p style="float: none"><strong>Bill Search</strong> {% comment %} <span>search by bill number or keyword</span>{% endcomment %}</p> 
					{% include "popvox/billsearch_form.html" %}
					{% comment %}<p class="help">Don&rsquo;t know what to search for? Use the <a href="/orgs">Organization Directory</a> to find legislation tracked by organizations you support.</p>{% endcomment %}
				</div>
			</div>
			</div>
			
		</div>

		<div id="activity" class="col_9 col_last" style="display: none; padding-top: 0;">
			<h3 class="no_rule" style="background: url(/media/master/bg_rule.gif) repeat-x scroll left bottom transparent; padding-bottom: 14px; margin-bottom: 25px;">Recent Activity</h3>
			
			<div id="activity_div"> </div>

			<div style="text-align: center">
				(<a href="/activity">more</a>)
			</div>
		</div>

		<div id="trending" class="col_9 col_last bills" style="display: none; padding-top: 0;">
			<h3 class="no_rule" style="background: url(/media/master/bg_rule.gif) repeat-x scroll left bottom transparent; padding-bottom: 14px;">Popular Bills</h3>
			
			<!--<iframe src="/widgets/top-bills?width=700&height=150" width="700" height="150" frameborder="0" scrolling="no" style="margin: 15px 0 15px 0"> </iframe>-->
		
			<h3 class="no_rule" style="background: url(/media/master/bg_rule.gif) repeat-x scroll left bottom transparent; padding-bottom: 14px;">Trending Bills</h3>
			
			{% for billrec in trending_bills %}
				
				<div class="bill {% if billrec.pos == "+" %}endorsed{% endif %} {% if billrec.pos == "-" %}opposed{% endif %}" {% if forloop.first %}style="background: url(/media/master/bg_bills.png) no-repeat scroll left -1px transparent;"{% endif %}>
					{% comment %}{% ifchanged %}<p style="margin-top: -40px; text-align: right"><em>in the last {{billrec.bill.trending_time_period}}</em></p>{% endifchanged %}{% endcomment %}
					
					{% with billrec.bill as bill %}
					
					{% if billrec.pos == "" %}
					<a class="action" href="{{bill.url}}" style="float: right; margin-left: 15px">Action</a>
					{% endif %}
					
					<h5 {% if not bill.sponsor %}style="margin-bottom: 25px"{% endif %}><a href="{{billrec.bill.url}}">{{ billrec.bill.nicename|truncatewords:12 }}</a></h5>
					{% if bill.sponsor %}
					<p style="margin-top: 4px; font-size: 11px">Sponsored by {{ bill.sponsor.name }}.</p>
					{% endif %}
					
					
					<div class="bill_detail">
					
					{% if billrec.bill.new_positions < 50 %}
						<p style="margin-top: -10px;"><strong>trending in the last {{billrec.bill.trending_time_period}}!</strong></p>
					{% else %}
						<p style="margin-top: -10px;"><strong>{{billrec.bill.new_positions}}</strong> people wrote Congress about this {{billrec.bill.proposition_type}} in the last {{billrec.bill.trending_time_period}}!</p>
					{% endif %}
					
					{% comment %}
					<p><strong>Status:</strong>
					<em>{{bill.status}}</em></p>
	
					{% if bill.description %}<p class="bill_detail">{{ bill.description|truncatewords:18 }}</p>{% endif %}
					
					{% for org in billrec.orgs %}
					<div class="bill_endorseoppose">
						<p>
							{% if org.position == "+" %}Endorsed{% endif %}
							{% if org.position == "-" %}Opposed{% endif %}
							by
							<a href="{{org.url}}">{{org.name}}</a>
						</p>
						{% for cam in org.campaigns %}
							<p style="margin-left: 1.5em"><a href="{{cam.url}}">{{cam.name}}</a>{% if cam.description %}: {{ cam.description|truncatewords:50 }}{% endif %}</p>
						{% endfor %}
					</div>
					{% endfor %}
					{% endcomment %}
					
					</div>
				</div>
				
				{% endwith %}
				
			{% empty %}
			
				<p>We will list trending bills as our users begin weighing in on the new bills introduced by the new Congress.</p> 
				
			{% endfor %}
		</div>
		
		<div id="bill_list_byissue" class="col_9 col_last" style="display: none; padding-top: 0;">
		</div>
	</div>
		
	{% include "ads/rightbar.html" %}
</div>
		    
{% endblock %}

