{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Bill Search{% endblock%}
{% block description %}Search for legislation pending before Congress.{% endblock%}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{% block head %}
<script>
{% include "popvox/track.js" %}
</script>
{% endblock %}
{% block content %}
	{% with user.userprofile.is_leg_staff as is_leg_staff %}
	<div class="content">
	<div class="col_9 col_top">

	<h1>Bill Search</h1>
	
	<div class="block bill_search search_orange search_wide">
		<div class="search_box">
			<p><strong>Bill Number or Keywords</p> 
			{% include "popvox/billsearch_form.html" %}
			{% if not is_leg_staff %}
			<small class="help">Try the <a href="/orgs">Organization Directory</a> to find legislation endorsed or opposed by organizations you support.</small>
			{% else %}
			<small class="help">We&rsquo;ll be adding more search methods in the future.</small>
			{% endif %}
		</div>
	</div>
	
	<div class="clear"> </div>
	<h3 class="no_rule">Search Results</h3>

	{% if not bills %}
	<p>Sorry, no bills matched your search.</p>
	{% endif %}
	
	{% if status == "overflow" %}
	<p>More than 100 bills came back for your search but only the first 100 are displayed below. To dig deeper, <a href="http://www.govtrack.us/congress/billsearch.xpd">use bill search at GovTrack.us</a>.</p>
	{% endif %}
	
	{% if status == "callfail" and errormsg %}
	<p>The search function reported an error: {{ errormsg }}.</p>
	{% endif %}
	{% if status == "callfail" and not errormsg %}
	<p>The search function had an internal error.</p>
	{% endif %}
	
	<table width="100%">
	{% for bill in bills %}
		<tr class="bill">
			<td style="padding-left: 5px; padding-right: 1em">
				<nobr><a href="{{bill.url}}{% if is_leg_staff %}/report{% endif %}">
					{{bill.displaynumber}}
				</a></nobr>
			</td>
			<td style="padding-right: 1em";>
				{% if bill.street_name %}
				<div style="width: {% if is_leg_staff %}190{% else %}430{% endif %}px; overflow: hidden; " title="{{bill.street_name}}">
					<div style="width: 1000px; height: 1.2em;">
						<a href="{{bill.url}}{% if is_leg_staff %}/report{% endif %}">
							{{bill.street_name|capfirst}}
						</a>
					</div>
				</div>
				{% else %}
				<div style="width: {% if is_leg_staff %}190{% else %}430{% endif %}px; overflow: hidden; " title="{{bill.title}}">
					<div style="width: 1000px; height: 1.2em;">
						<a href="{{bill.url}}{% if is_leg_staff %}/report{% endif %}">
							{{bill.title_no_number}}
						</a>
					</div>
				</div>
				{% endif %}
			</td>
			<td style="padding-right: 1em;">
				<div style="width: 95px; overflow: hidden;" title="{{bill.sponsor.name}}">
					<div style="width: 1000px; height: 1.2em;">
						{{bill.sponsor.lastname}}
						({{bill.sponsor.party}}) 
					</div>
				</div>
			</td>
			
			{% if is_leg_staff %}
			<td style="padding-right: 1em">
				{% comment %}when the metadata isn't loaded, this comes out as None; unfortunately this also hides zero cosponsors, but actually I kinda like that{% endcomment %}
				{% if bill.num_cosponsors %}
				<div title="{{bill.num_cosponsors}} cosponsor{{bill.num_cosponsors|pluralize}}">
					{{bill.num_cosponsors}}
				</div>
				{% endif %}
			</td>
			<td style="padding-right: 1em;">
				<div style="width: 140px; overflow: hidden;" title="{{bill.status_advanced}} ({{bill.current_status_date|date2}})">
					<div style="width: 1000px; height: 1.2em;">
						{{bill.status_advanced_abbreviated}} ({{bill.current_status_date|date2}})
					</div>
				</div>
			</td>
			{% endif %}
			<td class="flipcolor">
				{% with "+" as tracktype %}
				{% include "popvox/track.html" %}
				{% endwith %}
			</td>
		</tr>
	{% endfor %}
	</table>
	
	</div>
	
	{% include "ads/rightbar.html" %}
	
	</div>

	{% endwith %}
{% endblock %}

