{% extends "master.html" %}
{% load popvox_utils %}
{% load adserver_tags %}
{% block title %}POPVOX Report -- {{ bill.title }}{% endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script type="text/javascript" src="/media/js/jquery.ba-bbq.min.js"></script>
<script>
{% include "popvox/track.js" %}
</script>
{% endblock %}
{% block content %}
	<script>
	var report_state = "{{default_state}}";
	var report_district = "{{default_district}}";
	
	var statereps = {{statereps|json}};
	
	function update(hashchange) {
		// Update district dropdown list options and make sure that
		// report_district is a valid value for the current state.
		$('#options_district').html("");
		if (report_state == "") {
			report_district = 0;
			$('#options_district').hide();
		} else if (statereps[report_state].length <= 1) {
			$('#options_district').
				append($("<option></option>").
					attr("value", 0).
					text("At Large"));
			report_district = 0;
			$('#options_district').hide();
		} else {
			$('#options_district').show();
			if (report_district == 0)
				report_district = "";
			if (report_district > statereps[report_state].length)
				report_district = 1;
			$('#options_district').
				append($("<option></option>").
					attr("value", "").
					attr("selected", report_district == 0).
					text("Whole State"));
			for (var i = 1; i <= statereps[report_state].length; i++) {
				$('#options_district').
					append($("<option></option>").
						attr("value", i).
						attr("selected", i == report_district).
						text("District " + i + " (" + statereps[report_state][i-1] + ")")); 
			}
		}
		
		if (!hashchange) {
			var hashstate = Object();
			if (report_state) hashstate.state = report_state;
				else hashstate.q = 0; // if we give an empty hash, browser scrolls to the top
			if (report_district) hashstate.district = report_district;
			window.location = "#" + $.param(hashstate);
		}
	}
	
	function showdata(is_first_load) {
		$('#options_state').val(report_state);
		$('#options_district').val(report_district);
		
		update(true);
		
		// Post report info and then update.
		$('#loadingstatus').text("Loading...");
		$.ajax({
			type:"POST",
			url: "/ajax{{bill.url}}/report/getinfo",
			data: {
				state: report_state,
				district: report_district
			},
			complete: function(res, status) {
				$('#loadingstatus').text("");
				
				if (status != "success") {
					$('#shortmessages').text("Error loading report.");
					return;
				}
				
				res = eval('(' + res.responseText + ')');
				
				$('#reporttitle').text(res.reporttitle);
				$('#reportsubtitle').text(res.reportsubtitle);
				
				c_pro = $('#comments_pro');
				c_con = $('#comments_con');
				
				c_pro.html("");
				c_con.html("");
				
				var n_pro = 0, n_con = 0;
				for (var i = 0; i < res.comments.length; i++) {
					c = res.comments[i];
					
					var elem = $('#comment_template div.comment').clone();
					
					elem.find("h4 span.username").text(c.user)
					if (c.location)
						elem.find("h4 span.location").text("in " + c.location)
					else
						elem.find("h4 span.location").text("")
					elem.find("h4 span.date").text(c.date);
					elem.find(".share a").attr("href", c.share);
					elem.find("p").text(c.msg)
					elem.find("p").html(elem.find("p").html().replace("\n", "<br/><br/>"))
					if (c.verb != "supported" && c.verb != "opposed")
						elem.find(".verb").text(c.verb + " this bill");
					elem.find(".endorse_oppose_image").addClass((c.pos == "+") ? "endorse" : "oppose")
					elem.appendTo((c.pos == "+") ? c_pro : c_con);
					
					if (c.pos == "+") n_pro++; else n_con++;
				}
				if (n_pro == 0)
					c_pro.append($("<p>No supporting comments have been left" + (report_district != "" ? " in this district" : (report_state != "" ? " in this state" : "")) + ".</p>"));
				if (n_con == 0)
					c_con.append($("<p>No opposing comments {% if bill.isAlive %}have been{% else %}were{% endif %} left" + (report_district != "" ? " in this district" : (report_state != "" ? " in this state" : "")) + "{% if not bill.isAlive %} during the time the bill was up for consideration in Congress{% endif %}.</p>"));
				
				function escapeHTML(text) {
					var div = document.createElement('div');
					var text = document.createTextNode(text);
					div.appendChild(text);
					return div.innerHTML;
				}
				
				function buildchart(stats, index, islast) {
					$('#chart' + index).show(); // must come before chart load so dimensions get set right
				
					if (!islast) $('#chart' + index).addClass("chart_notlast");
					else $('#chart' + index).removeClass("chart_notlast");

					if (stats.total == 0) {
						$('#chart' + index).addClass("no_pie");
						$('#chart' + index + " .past_stats").hide();
						$('#chart' + index + ' .pro_reintro').show();
						$('#chart' + index + ' .pro_reintro').text(stats.pro_reintro + " individuals in " + stats.longdescription + " support reintroduction of the bill.");
						return;
					} else {
						$('#chart' + index).removeClass("no_pie");
						$('#chart' + index + " .past_stats").show();
					}
					
					$('#chart' + index + " .chart_title").text(stats.longdescription);
					$('#chart' + index + " .users").text("(" + stats.total + " people)");
					$('#chart' + index + " .bg_support").text(stats.pro_pct + "% Support");
					$('#chart' + index + " .bg_oppose").text(stats.con_pct + "% Oppose");
					
					if (stats.pro_reintro == 0) {
						$('#chart' + index + ' .pro_reintro').hide();
					} else {
						$('#chart' + index + ' .pro_reintro').show();
						$('#chart' + index + ' .pro_reintro').text(stats.pro_reintro + " people support reintroduction of the bill.");
					}
					
					bill_chart('chart_pie_' + index, stats.pro_pct, stats.con_pct, { "small": true });
					bill_timeseries('chart_time_' + index, stats.timeseries);
				}

				$('#stats_overall_info').text("");
				if (!res.stats) {
				} else if (res.stats.district) {
					buildchart(res.stats.district, 0);
					buildchart(res.stats.state, 1);
					buildchart(res.stats.overall, 2, true);
				} else if (res.stats.state) {
					if (report_district != "" && report_district != "0")
						$('#stats_overall_info').text("Not enough individuals from the Congressional district have commented on this bill to display a chart for district." + (res.stats.state.total > 0 ? " Charts for the state and nation are displayed instead." : ""));
					buildchart(res.stats.state, 0);
					buildchart(res.stats.overall, 1, true);
					$('#chart2').hide();
				} else if (res.stats.overall) {
					if (report_district != "")
						$('#stats_overall_info').text("Not enough individuals from the state have commented on this bill to display a chart for the district or state." + (res.stats.overall.total > 0 ? " A chart for the nation is displayed instead." : ""));
					else if (report_state != "")
						$('#stats_overall_info').text("Not enough individuals from the state have commented on this bill to display a chart for the state." + (res.stats.overall.total > 0 ? " A chart for the nation is displayed instead." : ""));
					buildchart(res.stats.overall, 0, true);
					$('#chart1').hide();
					$('#chart2').hide();
				} else {
					$('#stats_overall_info').text("Not enough individuals have commented on this bill to display a chart.");
				}

				if (is_first_load || !report_state || res.comments.length == 0) {
					$('#map').show();
					$('#showmap').hide();
				} else {
					$('#map').hide();
					$('#showmap').show();
				}

			}
		});

	}

	$(function() {
		$(window).bind("hashchange", function() {
			//$(window).scrollTop(320);
			var hashargs = $.deparam.fragment();
			if (hashargs.state) report_state = hashargs.state;
			if (hashargs.district) report_district = hashargs.district;
			update(false);
			showdata();
		});

		var hashargs = $.deparam.fragment();
		if (hashargs.state) report_state = hashargs.state;
		if (hashargs.district) report_district = hashargs.district;
		
		update();
		showdata(true);
	});

	</script>
	
	<div class="legreport">
	
	<div class="section"> 
		<div class="col_9 col_top">
			<a class="btn b_back" href="{{bill.url}}">
				Back to {{bill.displaynumber}}
			</a>
		
			<h1>Bill Report</h1>

			<div class="block">
				<div style="float: left; margin-left: -29px; margin-top: -7px">
					{% with "+" as tracktype %}
					{% include "popvox/track.html" %}
					{% endwith %}
				</div>
				<h2>{{ bill.title|truncatewords:30 }}</h2> 
				{% if bill.sponsor %}
				<div id="sponsor">
					<h4>Sponsor:</h4>
					<a href="http://www.govtrack.us/congress/person.xpd?id={{bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ bill.sponsor.name }}</a>
				</div>
				{% endif %}
				<div id="status">
					<h4>Status:</h4>
					<p>
					{% if user.userprofile.is_org_admin or user.userprofile.is_leg_staff %}
						{{bill.status_advanced}} {{bill.current_status_date|date2}}
					{% else %}
						{{bill.status}}
					{% endif %}
					(<a href="{{bill.govtrack_link}}" title="More information on www.GovTrack.us" class="blank">More Info</a>)
					</p>
				</div>
			</div>
			<div class="clear"> </div>
				
			<div class="stroke_top"> </div>

			<h3 id="reporttitle" class="no_rule" style="padding: 0">Loading Legislative Report...</h3>
			<h3 id="reportsubtitle" class="no_rule" style="padding: 0"></h3>
	    
			<div class="search_box">
				<p>
					Select State: 
					<select id="options_state" size="1" onchange="report_state = this.value; update()">
						<option value="">POPVOX Nation</option>
						{% for stateabbr, statename in stateabbrs %}<option value="{{stateabbr}}">{{stateabbr}} - {{statename}}</option>{% endfor %}
					</select>
					<select id="options_district" size="1" onchange="report_district = this.value; update()">
					</select>
					<span id="loadingstatus" style="color: red; padding-left: 1em"></span>
				</p>
			</div>
		
		</div>
		
		<div class="col_3 col_last col_ad"> 
			<h4>Sponsor Ads</h4>
			{% show_ad std180x150 "legreport_slot1" %}
		</div> 
		<div class="clear"> </div>
		
	</div><!-- e: section -->
	
	<div class="section clearfix"> 
		<div class="col_6"> 
			<div>
				<h3 class="no_rule">Constituents Say</h3>
				<div id="stats_overall_info" class="pad_btm" style="font-size: 12px"></div>
				{% for index in "3"|range %}
				<div id="chart{{index}}" class="clear" style="display: none; padding-bottom: 1em">
					<div class="col_1 past_stats">
						<div id="chart_pie_{{index}}" style="height: 75px"></div>
					</div>
					 <div class="col_2 past_stats" style="padding-right: 1em; width: 110px">
						<p class="chart_stats">
							<span class="chart_title">XXX:</span> <br />
							<span class="bg_support">YYY% Support</span><br />
							<span class="bg_oppose">ZZZ% Oppose </span><br />
							<span class="users">(WWW users)</span>
						</p>
					</div>
					<div class="col_3 col_last past_stats">
						<div id="chart_time_{{index}}" style="height: 100px"></div>
						<div style="font-size: 8pt; color: #999">Cumulative Number of Individuals Over Time</div>
					</div>
					<p class="clear pro_reintro">
					</p>
				</div>
				{% endfor %}
				<a href="#" onclick="$('#map').show(); $('#showmap').hide(); return false;">
					<div id="showmap" style="text-align: center; margin: .5em; display: none">Show National Map</div>
				</a>
			</div>
		</div>
		
		
		<div class="col_6 col_last"> 
			<div class="col_3 org_endorse"> 
				<h3 class="no_rule">Orgs Endorsing</h3>
				{% with "orgsendorsing" as org_group %}
				{% with orgs_supporting as org_list %}
					{% include "popvox/bill_report_orglist.html" %}
				{% endwith %}
				{% endwith %}
			</div>
			
			<div class="col_3 col_last org_oppose"> 
				<h3 class="no_rule">Orgs Opposing</h3> 
				{% with "orgsopposing" as org_group %}
				{% with orgs_opposing as org_list %}
					{% include "popvox/bill_report_orglist.html" %}
				{% endwith %}
				{% endwith %}
				</ul>
			</div>
		</div>

	{% if user.userprofile.is_leg_staff or user.userprofile.is_org_admin %}
	<div class="col_6 rule btm_10"> 
		<div class="cosponsor"> 
			<h3 class="no_rule">Co-Sponsors</h3> 
			{% if bill.cosponsors|length == 0 %}
				<ul class="smalllist"> 
					<li>(none)</li>
				</ul>
			{% endif %}
			{% for col in bill.cosponsors|split_in_two %}
				{% with forloop.counter0 as coli %}
				<div class="col_3 {% if forloop.last %}col_last{% endif %}">
				<ul class="smalllist">
				{% for grp in col|split_at:5 %}
					{% if coli == 1 and forloop.counter0 == 1 %}
						<p id="cosponsors_more"><a href="#" onclick="$('#cosponsors01, #cosponsors11').fadeIn(); $('#cosponsors_more').hide(); $('#cosponsors_less').show(); return false;">show {{bill.cosponsors|length|add:-10}} more</a></p>
					{% endif %}
					<div id="cosponsors{{coli}}{{forloop.counter0}}" {% if forloop.counter0 == 1 %}style="display: none"{% endif %}>
					{% for cs in grp %}
						<li><a href="http://www.govtrack.us/congress/person.xpd?id={{cs.id}}" class="blank" title="More information on www.GovTrack.us">{{ cs.name }}</a></li>
					{% endfor %}
					</div>
					{% if coli == 1 and forloop.counter0 == 1 %}
						<p id="cosponsors_less" style="display: none"><a href="#" onclick="$('#cosponsors01, #cosponsors11').fadeOut(); $('#cosponsors_less').hide(); $('#cosponsors_more').show(); return false;">show less</a></p>
					{% endif %}
				{% endfor%}
				{% endwith %}
				</ul>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

			{% if orgs_neutral %}
			<div class="col_3 rule btm_10"> 
				<h3 class="no_rule">Other Statements</h3> 
				{% with "orgsneutral" as org_group %}
				{% with orgs_neutral as org_list %}
					{% include "popvox/bill_report_orglist.html" %}
				{% endwith %}
				{% endwith %}
				</ul>
			</div>
			{% endif %}
			{% if orgs_other %}
			<div class="col_3 col_last rule btm_10"> 
				<h3 class="no_rule">Other</h3> 
				{% with "orgsother" as org_group %}
				{% with orgs_other as org_list %}
					{% include "popvox/bill_report_orglist.html" %}
				{% endwith %}
				{% endwith %}
				</ul>
			</div>
			{% endif %}

	
	</div><!-- e: section --> 

	{% comment %}
	<div class="section clearfix stroke_top"> 
		<div class="ad_btm"> 
			{% show_ad leaderboard "legreport_mid_leaderboard" %}
		</div> 
	</div>
	{% endcomment %}
	
	<div id="map" class="section clearfix">
		<iframe src="/widgets/bill-comment-map?bill={{bill.id}}" width="940" height="590" border="0" marginheight="0" marginwidth="0" frameborder="0"></iframe><!--height="690"-->
	</div>

	<div style="display: none" id="comment_template">
		<div class="comment clear">
			<h4>
				<span class="date">Tuesday</span>
				<span class="username">UserUser</span>
				<span class="location">in City, State</span>
				<span class="verb"> </span>
			</h4>
			<div class="endorse_oppose_image" style="padding-left: 0"> </div>
			<p class="usercomment" style="padding-left: 0; overflow: hidden">Lorem ipsum etc etc</p>
			<div class="clear"> </div>
			<div class="appreciate"><a href="">appreciate</a><span>96</span></div>
			<div class="share"><a href="">share</a></div>
			<div class="clear"> </div>
		</div>
	</div>
	
	{% if not bot_comments %}
	<div class="section clearfix"> 
		<div class="col_6 rule"> 
			<div class="comments"> 
				<h3 class="no_rule">Supporting Comments</h3>
				<div id="comments_pro">Loading...</div>
			</div> 
		</div> 
		<div class="col_6 col_last rule"> 
			<div class="comments"> 
				<h3 class="no_rule">{% if not bill.isAlive %}Archived {% endif %}Opposing Comments</h3>
				<div id="comments_con">Loading...</div>
			</div> 
		</div> 
	</div><!-- e: section -->
	{% endif %}

	{% for c in bot_comments %}
		<div class="comment">
			<h4><span class="username">{{c.user.username}}</span> <span class="location">{{c.address.nicelocation}}</span><span class="date">, {{c.created}}</span></h4>
			<p>{{c.message}}</p>
		</div>
	{% endfor %}
	
	</div>
{% endblock %}

