{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}
<script>
var working = false;
var current_share_tab = null;
function share(method, isauto, linkcallback) {
	if (method == "email" && $('#share_email_field').hasClass("default")) {
		alert("Enter some email addresses.");
		return;
	};
	working = true;
	if (method != "email") {
		$("#share_" + method + "_status").show();
		$("#share_" + method + "_status").text('Posting...');
		$('.b_share_' + method).fadeOut();
	}
	ajax("/ajax/bills/share",
		{
			"comment": {{comment.id}},
			"message": $('#share_message').val(),
			"method": method,
			"emails": $('#share_email_field').val(),
			"includecomment": $('#share_includecomment').attr('checked') ? "1" : "0",
		},
		{ "savebutton": "share_" + method + "_button",
		   "statusfield": "share_" + method + "_status",
		   "success": function(res) {
			   working = false;
			   if (method == "email") { $('#share_email_field').val(''); $('#share_email_field').blur(); }
			   //if (method == "email") $("#share_" + method + "_status").delay(6000).fadeOut();
			   if (res.url) {
				   $('#sharetab_link p').html("Copy the link <tt>" + res.url + "</tt> to share this bill with others.");
				   if (linkcallback)
					   linkcallback(res.url);
			   }
		   },
		   "failure": function(res) {
			   if (res.error == "not-authorized" && !isauto) {
				   $("#share_" + method + "_status").hide();
				   window.location = "/registration/ext/associate/start/" + method + "?next=" + window.location.pathname + "{{"#"|urlencode}}" + method + (!res.scope ? "" : "&scope=" + res.scope);
			   } else {
			   	$('.b_share_' + method).fadeIn();
			   	working = false;
			   }
			   if (linkcallback)
				   linkcallback("{{SITE_ROOT_URL|escapejs}}{{comment.url|escapejs}}");
		   },
		});
	mpmetrics.track('comment share', { 'bill': '{{comment.bill.displaynumber|escapejs}}', method: method });
	return false;
}
function share_tab(method) {
	{% if not facebook %}
	if (method == "facebook")
		share("link", null, facebook_share_simple);
	{% endif %}
	
	{% if not twitter %}
	if (method == "twitter")
		share("link", null, twitter_share_simple);
	{% endif %}
	
	if (current_share_tab == method) {
		$('#sharetab_email').fadeOut();
		$('#sharetab_facebook').fadeOut();
		$('#sharetab_twitter').fadeOut();
		$('#sharetab_message').fadeOut();
		current_share_tab = null;
		return false;
	}

	$('#sharetab_email').hide();
	$('#sharetab_facebook').hide();
	$('#sharetab_twitter').hide();
	$('#sharetab_link').hide();
	
	current_share_tab = method;

	if (0 {% if user.is_authenticated %}|| method == "email"{% endif %} {% if twitter %}|| method == "twitter"{% endif %} {% if facebook %}|| method == "facebook"{% endif %})
		$('#sharetab_message').fadeIn();
	else
		$('#sharetab_message').hide();
	
	if (method == "twitter") {
		$('#share_message').val($('#share_message').val().replace("{{comment.bill.displaynumber}}", "{{comment.bill.hashtag}}"));
	} else {
		$('#share_message').val($('#share_message').val().replace("{{comment.bill.hashtag}}", "{{comment.bill.displaynumber}}"));
	}

	if (method == "email")
		$('#sharetab_message p strong').text("Send an Email");
	if (method == "facebook")
		$('#sharetab_message p strong').text("Post to Your Facebook Wall");
	if (method == "twitter")
		$('#sharetab_message p strong').text("Tweet");
	$('#sharetab_' + method).fadeIn();
	
	if (method == "link")
		share(method, true);
	
	return false;
}
if (window.location.hash == "#twitter" || window.location.hash == "#facebook") {
	$(function() {
		method = window.location.hash.substring(1);
		share_tab(method);
		$(window).scrollTop($('.social_share_btns').offset().top - 150);
		{% if message %}share(method, true){% endif %}
		window.location.hash = "";
	});
}

function share_simple_open(url1, url2) {
	a = function() {
		if (!window.open(url1,"sharer","toolbar=0,status=0,resizable=1,width=626,height=436"))
			document.location.href=url2;
	}
	if (/Firefox/.test(navigator.userAgent))
		setTimeout(a,0);
	else
		a();
	return false;
}

function facebook_share_simple(targeturl) {
	// based on share bookmarklet: http://www.facebook.com/share_options.php
	var f="http://www.facebook.com/share";
	var p=".php?src=bm&v=4&i=1299162093&u=" + encodeURIComponent(targeturl) + "&t=" + encodeURIComponent(document.title);
	share_simple_open(f+"r"+p, f+p);
}

function twitter_share_simple(targeturl) {
	var t = $('#share_message').val();
	if (t.indexOf("{{comment.bill.hashtag|escapejs}}") == -1)
		t += " {{comment.bill.hashtag|escapejs}}"
	t += " " + targeturl;
	var p1 = "http://twitter.com/intent/tweet?text=" + encodeURIComponent(t);
	var p2 = "http://twitter.com/home?status=" + encodeURIComponent(t);
	share_simple_open(p1, p2);
}
</script>

