{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}
<script>
var working = false;
function share(method, isauto) {
	if (method == "email" && $('#share_email_field').hasClass("default")) {
		alert("Enter some email addresses.");
		return;
	};
	working = true;
	if (method != "email") {
		$("#share_" + method + "_status").show();
		$("#share_" + method + "_status").text('Posting...');
		$('.b_share_' + method).fadeOut();
	}
	ajax("/ajax/bills/share",
		{
			"comment": {{comment.id}},
			"message": $('#share_message').val(),
			"method": method,
			"emails": $('#share_email_field').val(),
			"includecomment": $('#share_includecomment').attr('checked') ? "1" : "0",
		},
		{ "savebutton": "share_" + method + "_button",
		   "statusfield": "share_" + method + "_status",
		   "success": function() {
			   working = false;
			   if (method == "email") { $('#share_email_field').val(''); $('#share_email_field').blur(); }
			   if (method == "email") $("#share_" + method + "_status").delay(6000).fadeOut();
		   },
		   "failure": function(res) {
			   if (res.error == "not-authorized" && !isauto) {
				   $("#share_" + method + "_status").hide();
				   window.location = "/registration/ext/associate/start/" + method + "?next=" + window.location.pathname + "{{"#"|urlencode}}" + method + (!res.scope ? "" : "&scope=" + res.scope);
			   } else {
			   	$('.b_share_' + method).fadeIn();
			   	working = false;
			   }
		   },
		});
	return false;
}
function share_tab(method) {
	$('#sharetab_email').hide();
	$('#sharetab_facebook').hide();
	$('#sharetab_twitter').hide();
	
	if (0 {% if user.is_authenticated %}|| method == "email"{% endif %} {% if twitter %}|| method == "twitter"{% endif %} {% if facebook %}|| method == "facebook"{% endif %})
		$('#sharetab_message').fadeIn();
	else
		$('#sharetab_message').hide();
	
	if (method == "email")
		$('#sharetab_message h3').text("Personalized Message To Recipients");
	if (method == "facebook")
		$('#sharetab_message h3').text("Wall Post");
	if (method == "twitter")
		$('#sharetab_message h3').text("Tweet");
	$('#sharetab_' + method).fadeIn();
	return false;
}
if (window.location.hash == "#twitter" || window.location.hash == "#facebook") {
	$(function() {
		method = window.location.hash.substring(1);
		share_tab(method);
		$(window).scrollTop($('.social_share_btns').offset().top - 150);
		{% if message %}share(method, true){% endif %}
		window.location.hash = "";
	});
}
</script>

