{% load humanize %}
{% load popvox_utils %}
    <header>
        <h2>{{bill.nicename|truncatewords:7}}</h2>
        <strong>{{bill.sponsor.name}}</strong>
    </header>

	{% if stats.total %}
    <div class="round-stat">
        {% if not chart_no_links %}<a href="{{bill.url}}/report">{% endif %}
			<img src="/media/master/img/pie_{{stats.pro_pct|roundspecial}}.png" alt="{{stats.pro_pct}}% support" />
        {% if not chart_no_links %}</a>{% endif %}
        {% if not chart_no_numbers %}
        <ul>
            <li><a href="#" class="rs1">({{stats.total|intcomma}} user{{stats.total|pluralize}})</a></li>
            <li><a href="#" class="rs2">{{ stats.pro_pct }}%</a></li>
            <li><a href="#" class="rs3">{{ stats.con_pct }}%</a></li>
        </ul>
		{% endif %}
        {% if not chart_no_links %}
			{% if not stats.total and stats.pro_reintro %}
				<div class="no_pie">
					<p>{{stats.pro_reintro}} individuals support the reintroduction of {{bill.shortname}}. <a href="{{bill.url}}/report">View report</a></p>
				</div>
			{% endif %}
			{% if not stats.total and not stats.pro_reintro %}
				<div class="no_pie">
					<p>Too few constituents have commented on {{bill.shortname}} to display statistics. <br /> For comments left so far <a href="{{bill.url}}/report">View report.</a></p>
				</div>
			{% endif %}
		{% endif %}
    </div>
    {% if not chart_no_clear %}
    <div class="clear"> </div>
    {% endif %}

    <div class="bill-stat">
        <ul>
            <li class="bs1">D{{sponsors.dems}} i{{sponsors.indies}} R{{sponsors.gops}}</li>
            <li class="bs2">
                <a href="#" class="bill-love">{{stats.pro}}</a>
                <a href="#" class="bill-anti">{{stats.con}}</a>
            </li>
            <li class="bs3">{{bill.status_advanced}}</li>
        </ul>
        <p>Technology</p>
    </div>
	{% endif %}

    <p class="detail-story">
        {{bill.nicename}}
    </p>
    <a href="{{bill.url}}" class="roundup-link">{{bill.nicename|truncatewords:6}}</a>

