{% extends "master.html" %}
{% block title %}Bill Search{% endblock%}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}
	<div class="content">
	<div class="col_9 col_top">

	<h1>Bill Search</h1>
	
	<div class="block bill_search search_orange">
		<div class="search_box">
			<p><strong>Bill Number or Keywords</p> 
			{% include "popvox/billsearch_form.html" %}
			<p class="help">Don&rsquo;t know what to search for? Use the <a href="/orgs">Advocacy Directory</a> to find legislation tracked by organizations you support.</p>
		</div>
	</div>
	
	{% if not bills %}
	<p>Sorry, no bills matched your search.</p>
	{% endif %}
	
	{% if status == "overflow" %}
	<p>More than 100 bills came back for your search but only the first 100 are displayed below. To dig deeper, <a href="http://www.govtrack.us/congress/billsearch.xpd">use bill search at GovTrack.us</a>.</p>
	{% endif %}
	
	{% if status == "callfail" %}
	<p>The search function had an internal error.</p>
	{% endif %}
	
	<ul class="bullets">
	{% for bill in bills %}
		<li>
				<a href="{{ bill.url }}">{{ bill.title }}</a>
		</li>
	{% endfor %}
	</ul>
	
	</div>
	
	{% include "ads/rightbar.html" %}
	
	</div>

{% endblock %}

