{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Preview Comment on {{ bill.title }}{% endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block content %}
<div class="content">

	{% with "preview" as billcomment_progress_step %}
	{% include "popvox/billcomment_progress.html" %}
	{% endwith %}

	<div class="tab_pane">
	
	<form method="post" id="commentform">
	
	{% csrf_token %}
	<input id="submitmode" type="hidden" name="submitmode" value="Submit Comment >"/>
	<input type="hidden" name="message" value="{% if message %}{{message}}{% endif %}"/>
	
	{% if not newaccount_error and message %}
		<div class="clear"> </div>

		<h1 class="h1_smaller">Preview Your Comment</h1>
		<div class="tip_inline mar_no">
			 <p>Writing your comment is the hardest step but you&rsquo;re doing great.
				Before we go on, read it over to make sure you are happy with it.
				(You can revise or remove your comment later.)</p>
		</div>
		
		<div class="hr"> </div>
		
		<div class="message_preview">
			<h5>{% if position == "+" %}Support{% endif %}{% if position == "-" %}Oppose{% endif %} {{bill.displaynumber}}</h5>
			{{message|wraplines:"p"}}
		</div>
	
		{% if not user.is_authenticated %}
		<p class="pad_btm">
			<input class="b_back btn" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
		</p>
		<p class="callout">You are not done until you register or sign in. A POPVOX account is free and your public comments will be anonymous,
		but we will need your name and address in the next step so your comment gets to the right place in Congress.</p>
		{% else %}
		<p class="">You are not done just yet. Click Next to locate your congressional district.</p>
		{% endif %}
	{% else %}
		{% if message %}
		<h1>Submit Your Comment</h1>
		{% else %}
		<h1>Register Your Position</h1>
		{% endif %}
	
		<p class="pad_btm">You are not done until you register or sign in. A POPVOX account is free and your public comments will be anonymous,
		but we will need your name and address in the next step so your comment gets to the right place in Congress.</p>
	{% endif %}
		
	{% if not user.is_authenticated %}
	<div id="needsauth" {% if not message %}style="border: 0; margin: 0"{% endif %}>
		<div class="col_4">
			
			<h4>First Time Here?</h4>
			
			<div id="create_acct_social" {% if newaccount_error %}style="display: none"{% endif %}>
				<p>You can use your login credentials from one of the services* below to login to POPVOX:</p>
<!---->			<div class="signin_social">
					{% include "registration/login_singlesignon.html" %}
					<p class="clear pad_top alert"><small>* We won&rsquo;t email your contacts or post your comment to your profile on these sites without your permission.</small></p>
				</div>
				<div class="hr"> </div>
			</div>
			
			<div id="create_account" class="clear">
				<p>Fill out the following fields to create a POPVOX account:</p>
			
				<div class="clear mar_top"> </div>

				<div class="form signinup">
					<label for="createacct_username">screen name</label>
					<input class="c2" type="text" name="createacct_username" value="{{username}}"/>
					<div id="createacct_errorlabel_username" class="error" style="display: block">{{newaccount_error.username}}</div>
					<small>Your screen name will be displayed next to your comment. It must be at least five characters and cannot contain spaces.</small>
					
					<label for="createacct_email">email</label>
					<input class="c2" type="text" name="createacct_email" value="{{email}}"/>
					<div id="createacct_errorlabel_email" class="error" style="display: block">{{newaccount_error.email}}</div>
	
					<label for="createacct_password">password</label>
					<input class="c2" type="password" name="createacct_password" value="{{password}}"/>
					<div id="createacct_errorlabel_password" class="error" style="display: block">{{newaccount_error.password}}</div>
		
					<div class="error" id="createacct_errorlabel"></div>
				</div>
				<p class="b_create_box">
					<input class="b_create_accnt btn" type="button" value="Create Account >" onclick="submitform('Create Account >')"/>
				</p>
			</div>
		</div><!-- e: col_4 -->
		
			<script>
			function trylogin() {
				ajax(
					"/registration/ajax/login",
					{ email: $('#login_email').val(), password: $('#login_password').val() },
					{
					statusfield: "login_errorlabel",
					success: function() {
						$('#login_errorlabel').text("Please wait...");
						window.location = "{{ singlesignon_next|escapejs }}";
					}
					}
				);
			}
			$(function() {
					$('#login_email, #login_password').keydown_enter(trylogin);
			});
			</script>
		
		<div id="returning_user" class="col_4 col_last" style="{% if newaccount_error %}display: none;{% endif %}">
			<h4>Returning to POPVOX?</h4>
			
			<p class="create_text">Login below with the service you originally used to create your POPVOX account:</p>
<!-- -->			<div class="signin_social">
				{% include "registration/login_singlesignon.html" %}
			</div>
			<div class="hr"> </div>

			<div class="clear mar_top"> </div>
			
			<div class="form signinup">
				<p class="create_text">or login to your POPVOX account:</p>

				<label for="login_email">email</label>
				<input class="c2" type="text" id="login_email" value="{{email}}"/><br />
				<div id="login_errorlabel_email" class="error"> </div>
				
				<label for="login_password">password</label>
				<input class="c2" type="password" id="login_password"/><br />
				<div id="login_errorlabel_password" class="error"> </div>
				
				<input class="b_login btn" type="button" value="Login" onclick="trylogin()" class="submit"/>
				<div class="error" id="login_errorlabel"></div>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
	
	{% else %}
		
		<p class="mar_top pad_btm">
			<input class="b_back btn" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
			<input class="b_next btn" type="button" value="Next >" onclick="submitform('Next >')"/>
		</p>
			
	{% endif %}

	</form>
	
	<script>
	function submitform(mode) {
		$('#submitmode').val(mode);
		$('#commentform').submit();
	}
	</script>
	
	</div>
	
</div>
{% endblock %}

