{% extends "master.html" %}
{% block title %}Comment on {{ bill.title }}{% endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block breadcrumbs %}
<li><a href="/bills">Bills</a></li>
<li><a href="{{bill.url}}" class="active">{{ bill.title|truncatewords:10 }}</a></li>
{% endblock %}
{% block head %}
<script>
function capscount(txt) {
	var ret = 0;
	for (var i = 0; i < txt.length; i++) {
		if (txt.charAt(i).toLowerCase() != txt.charAt(i).toUpperCase() && txt.charAt(i) == txt.charAt(i).toUpperCase())
			ret++;
	}
	return ret;
}
function bangcount(txt) {
	var ret = 0;
	for (var i = 0; i < txt.length; i++) {
		if (txt.charAt(i) == "!")
			ret++;
	}
	return ret;
}
function validate(box) {
	var v = $('#' + box).val();
	var billnum = "{{bill.displaynumber|escapejs}}".replace(/ /g, " *").replace(/\./g, "[\\. ]*")
	var charlimit = 1200;
	
	// checks for validity
	$('#' + box + "error").text('');
	$('#' + box + "tip").text('');
	if (v == "")
		$('#' + box + "error").text("This field is required.");
	else if (v.length > charlimit)
		$('#' + box + "error").text("That's too long. Reduce your message by " + (v.length-charlimit) + " characters.");
	
	// suggestions and tips
	else if (capscount(v) > 10 && capscount(v) < .75*v.length)
		$('#' + box + "tip").text("Capital letters are often understood as shouting. Try using fewer capital letters.");
	else if (bangcount(v) > 4)
		$('#' + box + "tip").text("Exclamation points might be a little excessive. Try using fewer exclamation points.");
	else if (v.search(billnum) == -1)
		$('#' + box + "tip").text("You should include the bill's number,  {{bill.displaynumber|escapejs}}, in your message, and the word 'support' or 'oppose'.");
	else if (v.search("support") == -1 && v.search("oppose") == -1)
		$('#' + box + "tip").text("You should include the word 'support' or 'oppose' in your message to make your position clear.");
	else if (v.length < .3 * charlimit && v.search(" my ") == -1)
		$('#' + box + "tip").text("Be personalized. Talk about your life or your community.");
	else if (bangcount(v) > 1)
		$('#' + box + "tip").text("Exclamation points might be a little excessive. Try using fewer exclamation points.");
	else if (v.length < .15 * charlimit)
		$('#' + box + "tip").text("Try to write a little more.");
	else if (capscount(v) > 10)
		$('#' + box + "tip").text("Capital letters are often understood as shouting. Try using fewer capital letters.");
	else if (v.length > .75 * charlimit)
		$('#' + box + "tip").text("You have " + (charlimit-v.length) + " characters left.");

}
function validate_form() {
	var m = $('#message').hasClass('default') ? "" : $('#message').val().replace(/^\s+|\s+$/g, '');
	if (m == "") {
		alert("You must enter a message explaining your view.");
		return false;
	} else if (m.length > 1200) {
		alert("Your message is too long.");
		return false;
	}
	return true;
}
</script>
{% endblock %}
{% block content %}
<div class="content">

	{% with "start" as billcomment_progress_step %}
	{% include "popvox/billcomment_progress.html" %}
	{% endwith %}

	<div class="tab_pane">

	<form method="post" onsubmit="return validate_form()">
	{% csrf_token %}

	<h1 class="h1_smaller">
	{% if position == "0" %}Comment on{% endif %}
	{% if position == "+" %}I Support{% endif %}
	{% if position == "-" %}I Oppose{% endif %}
	{{ bill.title }}</h1>
    
	{% if position == "0" %}
		<p>You are about to clear your position on this bill.</p>

		<p><input id="submitcomment" type="submit" name="submitmode" value="Clear Comment >"/></p>
	{% endif %}
	

	{% if position != "0" %}
		<p>Explain why your Members of Congress should {% if position == "+" %}support{% endif %}{% if position == "-" %}oppose{% endif %} {{bill.displaynumber}}. Your comment will be shared with others on POPVOX{% if user.username %} who will see your name as &ldquo;{{user.username}}&rdquo;{% endif %}.</p>
		
		<p>During the testing phase of POPVOX we are not yet sending comments to Members of Congress, but they will be able to find your message here.</p>
		
		<div class="tip mar_top">
			<h5>Letter Writing Tips</h5>
			<p>Members of Congress pay attention to personal stories. If possible, tell them how this issue affects you or your community.</p>
			<p id="messagetip"></p>
		</div>

		<div class="form mar_top">
			<textarea class="c5 h4" id="message" name="message" wrap="virtual">{% if message %}{{message}}{% endif %}</textarea>
			<div id="messageerror"></div>
			<script>
			{% if not message %}
			$('#message').input_default("I {% if position == "+" %}support{% endif %}{% if position == "-" %}oppose{% endif %} {{ bill.title|escapejs }} because . . .");
			{% endif %}
			$('#message').keyup(function() { validate('message'); });
			</script>
		</div>
		
		<p id="submitstatus" style="font-weight: bold"/>
		
		<p><input class="b_preview btn" id="submitcomment" type="submit" name="submitmode" value="Preview >"/></p>
	{% endif %}
	
	</form>
	
	</div>
</div>
{% endblock %}

