{% extends "master.html" %}
{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}
{% block title %}{{comment.user.username}}&rsquo;s Comment on {{ bill.title|truncatewords:10 }}{% endblock%}
{% block description %}{{comment.message|truncatewords:40}}{% endblock %}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block adunits %}
	{% if welcome %}
		{% include "ads/rightbar_single_head.html" %}
	{% endif %}
{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% include "popvox/billcomment_share_social_js.html" %}
{% endblock %}
{% block content %}
<div class="content">
	{% if welcome %}
	<div class="col_9 referred">
		<h1>The Voice of the people. The Language of Congress.</h1>
		<p>{{welcome}}</p>
	</div>
	{% include "ads/rightbar_single.html" %}	
	{% endif %}
	
	<div class="col_12 {% if welcome %}rule{% endif %} clear"> </div>

	<div class="col_6 col_top">
		<div class="block referred_quote_{% if comment.position == '+' %}endorse{% else %}opposed{% endif %}">
			<p class="commenter">{{comment.user.username}} <!--from {{comment.address.state}}&rsquo;s {{comment.address.congressionaldistrict|ordinal}} district-->commented {{comment.updated|date2}}:</p>

			<h4>{{bill.displaynumber}}: {% if comment.position == '+' %}Support{% else %}Oppose{% endif %}</h4>
			{% if comment.message %}
				{{comment.message|wraplines:"p"}}
			{% else %}
				<p>[No comment left.]</p>
			{% endif %}
		</div>
		
		<div class="block bills_referred">
			<div class="bill">
				<h4 class="no_rule"><a class="orange" href="{{bill.url}}">{{ bill.title }}</a></h4>
				<p>
					{% if bill.officialtitle %}
					<strong>Summary: </strong>{{ bill.officialtitle }}
					{% endif %}
				</p>
			</div>
		</div>
	</div>
		
	<div class="col_6 col_top col_last">
		{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}
		<div id="bill_endorse_oppose_holder_user" class="no_border">
			<h3 class="no_rule orange">What Do You Think?</h3>
			{% include "popvox/bill_howshouldtheyvote.html" %}
			{% include "popvox/bill_uservote.html" %}
		</div>
		<div class="hr"> </div>
		{% endif %}

		{% include "popvox/billcomment_share_social.html" %}
		
	</div>
	<div class="clear"> </div>
</div>
{% endblock %}

