	{% comment %} similar code in endorse_oppose.html, master.html {% endcomment %}
	{% comment %} this is used on strongly cached pages {% endcomment %}
	<form method="get" action="/bills/search" onsubmit="return !$('#billsearch_q').hasClass('default')">
		<div class="search_form">
		<div>
			<input id="billsearch_q" type="text" class="search" name="q" value="{{q}}"/>
			<input class="submit_search btn" type="submit" value="Search"/>
		</div>
		<div>
			<select id="billsearch_congress" name="congressnumber">
				<option value="">Current Legislation</option>
                <option value="112" {% if congressnumber == "112" %}selected{% endif %}>112th Congress</option>
				<option value="111" {% if congressnumber == "111" %}selected{% endif %}>111th Congress</option>
			</select>
		</div>
		</div>
	</form>
	{% if not q %}<script type="text/javascript">$('#billsearch_q').input_default("bill number or keywords");</script>{% endif %}

