{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}
<script type="text/javascript">
var working = false;
function share(method, isauto, linkcallback) {
	if (method == "email" && $('#share_email_field').hasClass("default")) {
		alert("Enter some email addresses.");
		return;
	};
	working = true;
	if (method != "email") {
		$("#share_" + method + "_status").show();
		$("#share_" + method + "_status").text('Posting...');
		$('.b_share_' + method).fadeOut();
	}
	ajax("/ajax/bills/share",
		{
			"comment": {{comment.id}},
			"message": $('#share_message').val(),
			"method": method,
			"emails": $('#share_email_field').val(),
			"includecomment": $('#share_includecomment').prop('checked') ? "1" : "0"
		},
		{ "savebutton": "share_" + method + "_button",
		   "statusfield": "share_" + method + "_status",
		   "success": function(res) {
			   working = false;
			   if (method == "email") { $('#share_email_field').val(''); $('#share_email_field').blur(); }
			   //if (method == "email") $("#share_" + method + "_status").delay(6000).fadeOut();
			   if (res.url && linkcallback)
			       linkcallback(res.url);
		   },
		   "failure": function(res) {
			   if (res.error == "not-authorized" && !isauto) {
				   $("#share_" + method + "_status").hide();
				   window.location = "/registration/ext/associate/start/" + method + "?next=" + window.location.pathname + "{{"#"|urlencode}}" + method + (!res.scope ? "" : "&scope=" + res.scope);
			   } else {
			   	$('.b_share_' + method).fadeIn();
			   	working = false;
			   }
			   if (linkcallback)
				   linkcallback("{{SITE_ROOT_URL|escapejs}}{{comment.url|escapejs}}");
		   }
		});
	mpmetrics.track('comment share', { 'bill': '{%if comment.bill%}{{comment.bill.displaynumber|escapejs}}{% else %}{{comment.regulation.regnumber|escapejs}}{% endif %}', method: method });
	return false;
}
function start_share(method) {
	if (method == "facebook") {
		share("link", null, facebook_share_simple);
	} else if (method == "twitter") {
		share("link", null, twitter_share_simple);
	} else if (method == "link") {
		share("link", true, function (url) {
			$('#share_link_box input').val(url);
			$.colorbox({
				transition: "none",
				inline: true,
				href:"#share_link_box",
				opacity: .5});
		});
	} else if (method == "email") {
		$.colorbox({
			transition: "none",
			inline: true,
			href:"#share_email_box",
			opacity: .5});
	}
	
	return false;
}

function share_simple_open(url1, url2) {
	a = function() {
		if (!window.open(url1,"sharer","toolbar=0,status=0,resizable=1,width=626,height=436"))
			document.location.href=url2;
	}
	if (/Firefox/.test(navigator.userAgent))
		setTimeout(a,0);
	else
		a();
	return false;
}

function facebook_share_simple(targeturl) {
	// based on share bookmarklet: http://www.facebook.com/share_options.php
	var f="http://www.facebook.com/share";
	var p=".php?src=bm&v=4&i=1299162093&u=" + encodeURIComponent(targeturl) + "&t=" + encodeURIComponent(document.title);
	share_simple_open(f+"r"+p, f+p);
}

function twitter_share_simple(targeturl) {
	var ht = encodeURIComponent("{%if bill%}{{bill.hashtag|escapejs}}{% else %}{{regulation.hashtag|escapejs}}{% endif %}".replace("#", ""));
	var ht2 = "{%if bill%}{{bill.hashtag|escapejs}}{% else %}{{regulation.hashtag|escapejs}}{% endif %}";
	{% if comment.user == request.user %}
		var text = "I'm using @POPVOX to {{comment.verb_imp}} ";
		var sfx = ".";
	{% else %}
		var text = "Check out {{comment.user.username}}'s {%if bill%}letter {{comment.verb_ing}}{% else %}comment on{% endif %} ";
		var sfx = " on @POPVOX.";
	{% endif %}
	
    {%if bill%}
        {% if bill.is_officially_numbered %}
            {% if not bill.street_name %}
                text += "{{bill.hashtag|escapejs}}";
                ht = "";
                ht2 = "";
            {% else %}
                text += "{{bill.street_name|escapejs}}";
            {% endif %}
        {% else %}
            text += "{{bill.shortname|escapejs}}";
        {% endif %}
    {% else %}
        text += "{{regulation.hashtag|escapejs}}";
    {% endif %}
	
	text += sfx;

    {%if bill%}
	{% if stats %}
	var pct = {% if comment.position == "+" %}{{stats.pro_pct}}{% else %}{{stats.con_pct}}{% endif %};
	if (pct > 50)
		text += " " + pct + "% of {{stats.shortdescription|escapejs}} agrees.";
		{% if comment.user == request.user %}
		else
			text += " I need your help.";
		{% endif %}
	{% endif %}
    {% endif %}
	
	var p1 = "http://twitter.com/intent/tweet?related=popvox&hashtags=" + ht + "&url=" + encodeURIComponent(targeturl) + "&text=" + encodeURIComponent(text);
	var p2 = "http://twitter.com/home?status=" + encodeURIComponent(text + " " + ht2 + " " + targeturl);
	share_simple_open(p1, p2);
}
</script>

