{% extends "master.html" %}
{% load popvox_utils %}
{% load registration_providers %}
{% load humanize %}
{% block title %}{{comment.user.username}}&rsquo;s Comment on {{ bill.title|truncatewords:10 }}{% endblock%}
{% block description %}{{comment.message|truncatewords:40}}{% endblock %}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% include "popvox/billcomment_share_social_js.html" %}
{% endblock %}
{% block content %}
<div class="content">
	{% if welcome %}
	<div class="col_12 referred">
		<h1>Someone shared this comment with you using POPVOX</h1>
		<p>With POPVOX, you can voice your concerns on specific bills in a format that is tailored for Congress.
		Read this comment, see what others think, and then tell your Members of Congress what you think about {{bill.displaynumber}}.</p>
	</div>
	{% endif %}
	
	<div class="col_12 {% if welcome %}rule{% endif %} clear">
		{% if not welcome %}
		<h1>{{comment.user.username}} commented on {{bill.displaynumber}}</h1>
		{% endif %}
	</div>

	<div class="col_6 col_top">
		<div class="block bills_referred">
			<div class="bill">
				<h4 class="no_rule"><a class="orange" href="{{bill.url}}">{{ bill.title }}</a></h4>
				<p>
					{% if bill.officialtitle %}
					<strong>Summary: </strong>{{ bill.officialtitle }}
					{% endif %}
				</p>
			</div>
		</div>

		{% if user.is_staff or user.is_superuser %}
		<script>
		function moderate(url) {
			if (!$('#moderation_comment').hasClass('default'))
				url += "?log=" + encodeURIComponent($('#moderation_comment').val());
			document.location = url;
			return false;
		}
		</script>
		<div class="review" style="margin-bottom: 1em; border: 1px solid #999; padding: 5px; color: #999">
			<div>Administrative commands:</div>
			<div>
				<p style="margin-bottom: 0">&ldquo;{{comment.delivery_status}}&rdquo;</p>
				
				{% if comment.message %}
					{% if comment.status == 0 %}
						<a href="#" style="color: #B77" onclick="$('#reject_comment, #moderation_comment').fadeIn(); return false;">Reject Comment?</a>
						<span id="reject_comment" style="display: none">
							<a href="#" onclick="return moderate('{% url popvox.views.bills.billcomment_moderate comment.id "reject" %}')">Standard Reject</a> |
							<a href="{% url popvox.views.bills.billcomment_moderate comment.id "reject-stop-delivery" %}">Reject and Halt Delivery</a>
						</span>
					{% endif %}
					{% if comment.status == 1 %}
						The comment was approved after initially being rejected.
					{% endif %}
					{% if comment.status == 2 %}
						This comment has been rejected.
					{% endif %}
					{% if comment.status == 3 %}
						This comment has been rejected w/ halted message delivery.
					{% endif %}
					{% if comment.status == 4 %}
						<div>The user has revised the comment. <a href="#" style="color: #B77" onclick="$('#accept_comment, #moderation_comment').fadeIn(); return false;">Accept Comment?</a></div>
						<span id="accept_comment" style="display: none">
							<a href="#" onclick="return moderate('{% url popvox.views.bills.billcomment_moderate comment.id "accept" %}')">Accept</a>
						</span>
					{% endif %}
					
					<textarea id="moderation_comment" rows="2" style="width: 100%; display: none" wrap="virtual"></textarea>
					<script>$('#moderation_comment').input_default('Enter a reason for the moderation.')</script>
					
					{% if comment.moderation_log %}
						<div style="margin-top: 1em; height: 6em; overflow: auto">
						{{comment.moderation_log|linebreaks}}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% endif %}
		
		{% include "popvox/billcomment_share_social.html" %}

		{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}
		<div id="bill_endorse_oppose_holder_user" class="no_border">
			<h3 class="no_rule orange">What Do You Think About {{bill.displaynumber}}?</h3>
			{% include "popvox/bill_howshouldtheyvote.html" %}
			{% include "popvox/bill_uservote.html" %}
		</div>
		{% endif %}

		
		<h3 class="clear">What Others Think</h3>
		{% bill_statistics bill as stats %}
		{% include "popvox/bill_statistics_pie_simple.html" %}
	</div><!-- e: col_6 -->

		
	<div class="col_6 col_top col_last">
		<div class="block referred_quote_{% if comment.position == '+' %}endorse{% else %}opposed{% endif %}">
			<p class="commenter"><strong>{{comment.user.username}}</strong> from {{comment.address.statename}}{% if comment.address.congressionaldistrict != 0 %}&rsquo;s {{comment.address.congressionaldistrict|ordinal}} district{% endif %}
			commented {{comment.updated|date2}} that {{comment.address.heshe}}  {{comment.verb}} {{bill.displaynumber}}:</p>
			{% if comment.message %}
				{% if not comment_rejected %}
					<div class="usercomment">
					{{comment.message|wraplines:"p"}}
					</div>
				{% else %}
					<p>This comment has been hidden by POPVOX staff because it violates our policies for acceptable language.</p>
				{% endif %}
			{% else %}
				<p>[No comment left.]</p>
			{% endif %}
		</div>
		
		
		
	</div><!-- e: col_6 -->
	<div class="clear"> </div>
</div>
{% endblock %}

