{% load popvox_utils %}

<table width="100%">
{% for group in groups %}
<tr class="heading">
	<td colspan="4">
		<h3 class="{% if forloop.first %}first{% else %}notfirst{% endif %}" group="{{group.id}}">{{group.name}}</h3>
	</td>
</tr>
{% for bill in group.objlist %}
	<tr class="bill" group="{{group.id}}" {% if group.id != "first" %}style="display: none"{% endif %}>
		<td style="padding-left: 5px; padding-right: 1em">
			<nobr><a href="{{bill.url}}{% if is_leg_staff %}/report{% endif %}">
				{{bill.displaynumber}}
			</a></nobr>
		</td>
		<td style="padding-right: 1em";>
			<div style="width: {% if is_leg_staff %}190{% else %}430{% endif %}px; overflow: hidden; " title="{{bill.title}}">
				<div style="width: 1000px; height: 1.2em;">
					<a href="{{bill.url}}{% if is_leg_staff %}/report{% endif %}">
						{{bill.title_no_number}}
					</a>
				</div>
			</div>
		</td>
		<td style="padding-right: 1em;">
			{% if bill.sponsor %}
			<div style="width: 95px; overflow: hidden;" title="{{bill.sponsor.name}}">
				<div style="width: 1000px; height: 1.2em;">
					{{bill.sponsor.lastname}}
					({{bill.sponsor.party}}) 
				</div>
			</div>
			{% endif %}
		</td>
		
		{% comment %} needs to be reimplemented in a strong cache compatible way
		<td class="flipcolor">
			{% with "+" as tracktype %}
			{% include "popvox/track.html" %}
			{% endwith %}
		</td>
		{% endcomment %}
	</tr>
{% endfor %}
{% endfor %}
</table>

<script>
$('#bill_list_byissue h3.notfirst').click(function() {
	if (!$(this).hasClass("active")) {
		$(this).addClass("active");
		$('#bill_list_byissue tr[group=' + this.getAttribute('group') + ']').fadeIn();
	} else {
		$(this).removeClass("active");
		$('#bill_list_byissue tr[group=' + this.getAttribute('group') + ']').fadeOut();
	}
});
</script>
