{% extends "master.html" %}
{% load cache %}
{% load popvox_utils %}
{% block title %}Bills in Congress by Issue Area{% endblock%}
{%block nav_legstaff_class_bills%}active{%endblock%}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block head %}
<style>

</style>
<script>
$(function() {
		$('#issue_list .controller div').click(function() {
			$('#issue_list .controller div').removeClass('active');
			$(this).addClass('active');
			
			var compare_attr = this.id;
			$('#issue_list .issues .issue').sortElements(function(a,b) { return parseInt($(a).attr(compare_attr)) > parseInt($(b).attr(compare_attr)) ? 1 : -1 });
		});
		
		$('#issue_list .issue').click(function() {
			$('#bill_list').html("<p>Loading...</p>");
			$('#issue_list .issue').removeClass("active");
			$(this).addClass("active");
			
			$.ajax({ 
				type: "GET",
				url: "/ajax/bills/issue-area",
				data: { ix: this.getAttribute('ix') },
				success:
					function(data) {
						$('#bill_list').html(data);
					},
				error:
					function(data) {
						$('#bill_list').html("<p>There was an error loading the page. Please try again.</p>");
					}
			});
		});
});
</script>
{% endblock %}
{% block content %}
<div class="content bill_list_issues">
	
	<div class="col_9 col_top">
		<h1>Issue Areas</h1>
		
		<h2>The Library of Congress categorizes all bills before Congress into these issue areas.</h2>
	</div>

	{% include "ads/rightbar.html" %}

	<div class="col_12 col_top col_last">
		<div id="issue_list" class="col_3">
			<div class="controller">
				<div id="sort_alph" class="active">alphabetical</div>
				<div id="sort_pop">most popular</div>
			</div>
			<div class="clear"> </div>
			<div class="issues">
			{% for ix in issues %}
				<div class="issue" sort_alph="{{ix.primaryorder}}" sort_pop="-{{ix.commentcount}}" ix="{{ix.id}}">
					<span class="name">{{ix.name}}</span>
					<span class="count">({{ix.billcount}})</span>
				</div>
			{% endfor %}
			</div>
		</div>
	
		<div id="bill_list" class="col_9 col_last">
		</div>
	</div>
</div>

{% endblock %}

