{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Finish Comment on {{ bill.title }}{% endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block content %}
<div class="content">

	{% with "address" as billcomment_progress_step %}
	{% include "popvox/billcomment_progress.html" %}
	{% endwith %}

	<div class="tab_pane commentProcess">
	
	<form method="post" id="commentform" name="commentform">
	
	{% csrf_token %}
	<input id="submitmode" type="hidden" name="submitmode" value="Submit Comment >"/>
	<input type="hidden" name="message" value="{% if message %}{{message}}{% endif %}"/>
	
		{% if not useraddress.id %}
			<h1>Tell Congress Who You Are</h1>
		{% else %}
			<h1>Check Your Return Address</h1>
		
			<div id="savedaddress">
				<div style="height: 8em;">
				<div>{{useraddress.prefix}} {{useraddress.firstname}} {{useraddress.lastname}} {% if useraddress.suffix %}, {{useraddress.suffix}}{% endif %}</div>
				<div>{{useraddress.address1}}</div>
				<div>{{useraddress.city}}, {{useraddress.state}} {{useraddress.zipcode}}</div>
				<div>{{useraddress.phonenumber}}</div>
				{% comment %}<div style="font-size: 80%">(Congressional District {{useraddress.state}}-{% if useraddress.congressionaldistrict == 0 %}At Large{% else %} {{useraddress.congressionaldistrict}}{% endif %})</div>{% endcomment %}
				
				{% if not useraddress_fixed %}
					<div><a href="#" onclick="$('#savedaddress').hide(); $('#editdaddress').show()">Change Address</a></div>
				{% endif %}
				</div>
			
				<div id="toCongress">
				{% for recip in recipients %}
				{{recip.name}}<br />
				{% endfor %}
				The United States Capitol<br />
				Washington, D.C.
				</div>
			</div>
			
			{% if useraddress_fixed %}<p style="font: italic normal 13px/18px georgia, serif; color: #606065;">{{ useraddress_fixed }}</p>{% endif %}
			<p style="margin-bottom: 30px; font: italic normal 13px/18px georgia, serif; color: #606065;">We will share your name, address, and phone number with your Members of Congress and no one else.</p>
		{% endif %}
		
		<div id="editdaddress" class="form" {% if useraddress.id %}style="display: none"{% endif %}>
			<p style="width: 500px; margin-bottom: 30px;">Your Members of Congress want to know you are their constituent and may send you a reply. Tell them how to reach you.</p>
			
			<p class="error" style="margin: -10px 0 30px 0; width: 583px; display: block;">{{ error }}</p>
			
			{% include "popvox/address_form.html" %}

			{% if not error %}
			<p style="margin: 15px 0 25px 0">We will share your name, address, and phone number with your Members of Congress and no one else.</p>
			{% endif %}
		</div>
		
		<div class="clear"> </div>

		<div class="captcha">
			{% if captcha %}
			<p>Please type the words you see below to help us prevent spam:</p>
			{{captcha|safe}}
			{% endif %}
		</div>
		
		<div class="">
			<p class="mar_top pad_btm">
				<input class="b_back btn" type="button" value="< Go Back" onclick="submitform('< Go Back')"/>
				{% if not error_is_validation %}
				<input class="b_finished btn" id="submitcomment" type="submit" value="Comment >"/>
				{% else %}
				<input class="b_tryagain btn" id="submittryagain" type="submit" value="Try Again >"/>
				<input class="b_trouble btn" id="havingtrouble" type="button" value="I'm Having Trouble >" onclick="submitform('Use a Map >')"/>
				{% endif %}
			</p>
		</div>
	</form>
	
	<script>
	function submitform(mode) {
		$('#submitmode').val(mode);
		$('#commentform').submit();
	}
	</script>
	
	</div>
	
</div>
{% endblock %}

