{% extends "master.html" %}
{% load cache %}
{% load popvox_utils %}
{% block title %}Bills in Congress{% endblock%}
{%block nav_legstaff_class_bills%}active{%endblock%}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script>
$(function() {
	$.ajax({
		type:"POST",
		url: "/ajax/activity",
		data: {
			count: 5
		},
		complete: function(res, status) {
			$('#activity').html(res.responseText);
		}
	});
});
</script>
{% endblock %}
{% block content %}

{% comment %}
{% if user.is_anonymous %}
<div style="display: none">
	<div id="welcome" class="colorbox" style="width: 450px">
		<h1>Welcome to POPVOX</h1>
		<p>Individuals take action on POPVOX by writing messages in support of or opposition to bills before Congress.</p>
		<p style="text-align: center; font-size: 16px"><strong>Find a Bill that You Have an Opinion About</strong></p>
		<p>Browse the “hot” legislation on this page for a bill you recognize from the news, or to search all bills in Congress using keywords. But you may need to do some research to find out what each bill is about before commenting on it.</p>
		<p><a class="b_get_started btn_c" href="#" onclick="$.colorbox.close(); return false;">Let&rsquo;s Get Started</a></p>
	</div>
</div>
{% endif %}
{% endcomment %}

<div class="content">
	
	<div class="col_9 col_top">
		<h1>Bills in Congress</h1>
		
		{% if user.is_anonymous %}
		<p style="margin-bottom: 1em">Your role in the lawmaking process is critical: Members of Congress must understand the sentiment of their district. POPVOX simplifies this task by allowing you to voice your concerns about specific legislation in a format that is tailored for Congressional staff.</p>
		{% endif %}
		
		{% cache 60 our_bills %}
		<div class="userrichtextcontent">
			<div class="col_6 col_top">
				{% rawtext "bills_left" %}
			</div>
			<div class="col_3 col_top col_last">
				{% rawtext "bills_right" %}
			</div>
		</div>
		{% endcache %}
		
		<div class="clear block bill_search search_orange">
			<div class="search_box search_wide">
				<p><strong>Bill Search</strong> {% comment %} <span>search by bill number or keyword</span>{% endcomment %}</p> 
				{% include "popvox/billsearch_form.html" %}
				<p class="help">Don&rsquo;t know what to search for? Use the <a href="/orgs">Organization Directory</a> to find legislation tracked by organizations you support.</p>
			</div>
		</div>
	</div>
	
	{% include "ads/rightbar.html" %}
		
	<div class="clear block bills rule col_12">
			
			<div class="col_6">
				<h3 class="no_rule">Recent Activity</h3>
				<div id="activity"> </div>
			</div>
			
			<div class="col_6 col_last">
				<h3 class="no_rule">Trending Bills</h3>
				{% for billrec in trending_bills %}
					<div class="bill {% if billrec.pos == "+" %}endorsed{% endif %} {% if billrec.pos == "-" %}opposed{% endif %}">
						{% with billrec.bill as bill %}
						
						{% if billrec.pos == "" %}
						<a class="action" href="{{bill.url}}" style="float: right; margin-left: 15px">Action</a>
						{% endif %}
						
						<h4><a href="{{billrec.bill.url}}">{{ billrec.bill.title }}</a></h4>
						
						<div class="bill_detail">
						
						{% if bill.sponsor %}
						<p><strong>Sponsor:</strong>
						<a href="http://www.govtrack.us/congress/person.xpd?id={{bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ bill.sponsor.name }}</a>
						</p>
						{% endif %}
						
						{% comment %}
						<p><strong>Status:</strong>
						<em>
						{% if user.userprofile.is_org_admin or user.userprofile.is_leg_staff %}
							{{bill.status_advanced}}  ({{bill.current_status_date|date2}})
						{% else %}
							{{bill.status}}
						{% endif %}
						</em></p>
						{% endcomment %}
						
						{% comment %}
						{% if bill.officialtitle %}<p class="bill_detail">{{ bill.officialtitle|truncatewords:18 }}</p>{% endif %}
						{% endcomment %}
						
						{% for org in billrec.orgs %}
						<div class="bill_endorseoppose">
							<p>
								{% if org.position == "+" %}Endorsed{% endif %}
								{% if org.position == "-" %}Opposed{% endif %}
								by
								<a href="{{org.url}}">{{org.name}}</a>
							</p>
							{% comment %}
							{% for cam in org.campaigns %}
								<p style="margin-left: 1.5em"><a href="{{cam.url}}">{{cam.name}}</a>{% if cam.description %}: {{ cam.description|truncatewords:50 }}{% endif %}</p>
							{% endfor %}
							{% endcomment %}
						</div>
						{% endfor %}
						
						</div>
					</div>
					
					{% endwith %}
					
				{% empty %}
				
					<p>We will list trending bills as our users begin weighing in on the new bills introduced by the new Congress.</p> 
					
				{% endfor %}
		</div>
	</div>
		
		   
</div>
		    
{% endblock %}

