{% extends "master.html" %}
{% load humanize %}
{% load popvox_utils %}
{% block title %}{{ bill.title }}{% endblock%}
{% block description %}Weigh in and send your message to Congress about {{ bill.title }}{% endblock %}
{%block nav_orgadmin_class_bills%}active{%endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
function showtab(tab) {
	$('.tab_tab li').removeClass('active');
	$('.tab_pane .tab_panel').hide();
	$('#' + tab + "_tab").addClass('active');
	$('#' + tab).fadeIn();
	return false; // cancel click
}
{% if user_org %}
{% include "popvox/org_billaction.js" %}
{% endif %}
function getshorturl() {
	$('#getshorturl').html("<em>Loading...</em>");
	ajax(
		"/ajax/bills/getshorturl",
		{ billid: {{bill.id}}},
		{
			success: function(res) {
				$('#getshorturl').html("Use this special tracking URL <tt>" + res.url + "</tt> to share this bill with others.");
			}
		}
	);
	return false;
}
{% include "popvox/track.js" %}
</script>
{% endblock %}
{% block content %}
<div class="content">
	{% if welcome %}
		<div class="col_9 col_top cookie-less">
			<h1>Hello There!</h1>
			<p>{{welcome}}</p>
		</div>
		{% include "ads/rightbar_single.html" %}
		<div class="clear rule_12"> </div>
	{% endif %}

	{% if canvote and deadbox %}
		{% if bill.died %}
			<div class="alert_dead">
				<div class="col_6">
					<h2 class="shadow_up">{{bill.displaynumber_nosession}} was introduced in the {{bill.congressnumber|ordinal}} Congress, which has adjourned.</h2>
					<h2 class="shadow_up">It has not yet been reintroduced.</h2>
					<p>You can increase the chances that the bill is revived in the new Congress by showing support for reintroduction.</p>
					<ul>
						<li><a href="{{bill.url}}/report">Archived Commments</a></li>
						{% comment %}
						<li><a href="#">Comments in Support of Reintroduction</a></li>
						{% endcomment %}
					</ul>
				</div>
				<div class="col_6 col_last">
					<h2 class="shadow_up">Help get {{bill.displaynumber_nosession}} reintroduced:</h2>
					<p class="mar_top_neg">I support reintroduction of this bill.<br />You will be notified upon reintroduction.</p>
					<input id="b_reintroduce" class="btn submit" type="button" value="Support" onclick="window.location = '{{bill.url|escapejs}}/comment/support'"/>
						
					<p>Just want to be notified when this bill is reintroduced?</p>
					{% if user.is_authenticated %}
					<div class="track_as_notify">
						{% with "+" as tracktype %}
						{% include "popvox/track.html" %}
						{% endwith %}
					</div>
					{% else %}
						<p><input type="button" class="b_login btn" onclick="window.location='/accounts/login?next={{bill.url}}'" value="Join or Login"/></p>
					{% endif %}
				</div>
			</div><!-- e: alert_dead -->
		{% else %}
			<div class="alert_dead">
				<h2>This bill {{bill.getDeadReason}}.</h2>
				<p>You can no longer write a comment about this bill.</p>
			</div>
		{% endif %}

	{% endif %}

	<div class="col_9">
		<a class="btn b_view_report" href="{{bill.url}}/report">
			View {{bill.displaynumber}} report
		</a>
		
		{% if not user.userprofile.is_leg_staff %}
		<h1>What&rsquo;s your position on {{bill.displaynumber}}?</h1>
		{% else %}
		<h1>Bill Status and Org Positions</h1>
		{% endif %}
	</div>
		
	<div class="clear col_9 col_top">
		<div class="block bill_overview_user">
			{% if user.is_authenticated %}
			<div style="float: left; margin-left: -34px">
				{% with "+" as tracktype %}
				{% include "popvox/track.html" %}
				{% endwith %}
			</div>
			{% endif %}
			<h3 class="no_rule">{{ bill.title }}</h3>
			{% if bill.officialtitle %}
			<p><strong>Summary: </strong>{{ bill.officialtitle }} (<a href="{{bill.govtrack_link}}" title="More information on www.GovTrack.us" class="blank">More Info</a>)</p>
			{% else %}
			<p>(<a href="{{bill.govtrack_link}}" title="More information on www.GovTrack.us" class="blank">More Information at GovTrack</a>)</p>
			{% endif %}
			{% if not bill.isAlive and not deadbox %}
				<p><strong>This bill {{bill.getDeadReason}}.</strong></p>
			{% endif %}
		</div>
		
	{% comment %} START FOR ORG STAFF {% endcomment %}
	{% if user_org %}
		<div class="col_6">
			<h3 class="stroke">What is your organization&rsquo;s position?</h3>
			<p>Does <strong>{{user_org.name}}</strong> endorse or oppose this bill?</p>
	
			<script>
			var user_org_pos;
			function endorse_oppose_1(position) {
				user_org_pos = position;
				$.colorbox({
					transition: "none",
					inline: true,
					href:'#bill_endorse_oppose_colorbox',
					opacity: .5,
					height: "380px",
					width: "600px",
					onComplete: function() {
						if (position == "+") {
							$('#bill_endorse_oppose_descr').text("endorse");
							$('#bill_endorse_oppose_descr2').text("Endorse");
						} else if (position == "-") {
							$('#bill_endorse_oppose_descr').text("oppose");
							$('#bill_endorse_oppose_descr2').text("Oppose");
						} else if (position == "0") {
							$('#bill_endorse_oppose_descr').text("leave a neutral statement");
							$('#bill_endorse_oppose_descr2').text("Leave Statement on");
						}
					}
				});
				return false;
			}
			function endorse_oppose_2() {
				// $.colorbox.close(); // don't close colorbox since we are redirecting
				ajax("/post/org_support_oppose",
					{ "org": "{{user_org.slug|escapejs}}",
					   "cam": ( $('#bill_endorse_oppose_forcam')[0].checked ? $('#bill_endorse_oppose_cam').val() : "_default_"),
					   "bill": "{{bill.url|escapejs}}",
					   "position": user_org_pos,
					   "comment": $('#bill_endorse_oppose_comment').val()
					},
					{
						savebutton: "bill_endorse_oppose_submit",
						success: function(res) {
							if ($('#bill_endorse_oppose_forcam')[0].checked && $('#bill_endorse_oppose_cam').val() == "_new_")
								window.location = res.camurl + "/_edit";
							else if ($('#bill_endorse_oppose_forcam')[0].checked)
								window.location = res.camurl;
							else
								window.location = "{{user_org.url|escapejs}}";
						},
						failure: function() {
							$.colorbox.close();
						}
					}
					);					
			}
			</script>
	
		    <div id="bill_endorse_oppose"> 
				<div id="bill_endorse_oppose_holder">
					<input id="billsearch_endorse_oppose_submit_endorse" class="submit" type="button" value="Endorse" onclick="endorse_oppose_1('+')"/>
					<input id="billsearch_endorse_oppose_submit_oppose" class="submit" type="button" value="Oppose" onclick="endorse_oppose_1('-')"/>
				</div>
				
				<p><small>Or leave a <a href="#" onclick="return endorse_oppose_1('0')">neutral statement</a>.</small></p>
	
				{% if existing_org_positions %}
				<p>It is currently {% for pp in existing_org_positions %}{% if not forloop.first %} and {% endif %}{{pp.position}}{% if not pp.campaign.default %} in <a href="{{pp.campaign.url}}">{{pp.campaign.name}}</a>{% else %} by your organization{% if existing_org_positions|length > 1 %} generally{% endif %}{% endif %}{% endfor %}.</p>
				{% endif %}
		
				<div style="display: none">
					<div id="bill_endorse_oppose_colorbox" class="colorbox" style="width: 500px">
					<h1><span id="bill_endorse_oppose_descr2"></span> {{ bill.displaynumber }}?</h1>
					<p>You are about to <span id="bill_endorse_oppose_descr"></span> {{ bill.displaynumber }} in {{user_org.name}}&rsquo;s legislative agenda.</p>
					<p>Please provide a short explanation for your position in the form of a bill summary.</p>
					<textarea id="bill_endorse_oppose_comment" style="height: 80px; width: 100%">{% for p in existing_org_positions %}{% if forloop.first %}{{p.comment}}{% endif %}{% endfor %}</textarea>
					<div>
						<input type="checkbox" id="bill_endorse_oppose_forcam" onclick="if ($('#bill_endorse_oppose_forcam')[0].checked) $('#bill_endorse_oppose_cam').attr('disabled', ''); else $('#bill_endorse_oppose_cam').attr('disabled', '1');" {% if lastviewedcampaign %}checked="1"{% endif %}/>
						<label for="bill_endorse_oppose_forcam">Add this bill to a campaign.</label>
					</div>
					<div id="bill_endorse_oppose_camdiv">
						<select id="bill_endorse_oppose_cam" {% if not lastviewedcampaign %}disabled="1"{% endif %}>
							{% for campaign in user_org.orgcampaign_set.all %}{% if not campaign.default %}<option value="{{campaign.slug}}" {% if campaign.id == lastviewedcampaign.id %}selected="1"{% endif %}>{{ campaign.name }}</option>{% endif %}{% endfor %}
							<option value="_new_">&lt; Create a New Campaign... &gt;</option>
						</select>
					</div>
					<div style="margin-top: 1em">
						<input id="bill_endorse_oppose_submit" class="submit" type="button" value="OK" onclick="endorse_oppose_2()"/>
						<input id="bill_endorse_oppose_submit_cancel" class="submit" type="button" value="Cancel" onclick="$.colorbox.close()"/>
					</div>
				</div>	
				</div>
			
			</div> <!-- bill_endorse_oppose -->
		
		</div> <!-- col_6 -->
		
		<div class="col_3 col_last col_orange">
			<h3>Drive Your Membership to Take Action</h3>
			{% if not existing_org_positions %}
				<p>POPVOX provides organizations with customized action pages to drive membership to take action. Start by endorsing or opposing this bill.</p>
			{% else %}
				{% for position in existing_org_positions %}
					{% if forloop.first %}
						{% include "popvox/org_billaction.html" %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</div> <!-- col_3 -->
	{% endif %}
	{% comment %} END FOR ORG STAFF {% endcomment %}
	
	{% comment %} START OF USER VOTE {% endcomment %}
		{% if canvote and not deadbox %}
		<div class="hr"> </div>
	
		<div class="col_3 col_top">
			<h3 class="no_rule">What do you think?</h3>
			{% include "popvox/bill_howshouldtheyvote.html" %}
			
			<div><small id="getshorturl"><a href="#" onclick="return getshorturl()">Share this bill</a></small></div>
		</div>
		<div id="bill_endorse_oppose_holder_user">
			{% include "popvox/bill_uservote.html" %}
		</div>
		{% endif %}
	{% comment %} END OF USER VOTE {% endcomment %}

	</div>
	
	{% comment %} START OF PIE CHART {% endcomment %}
	<div class="col_3 col_top col_last">
		<h3 class="no_rule">What POPVOX Users Say</h3>
		{% bill_statistics bill as stats %}
		{% include "popvox/bill_statistics_pie_simple.html" %}
	</div>
	{% comment %} END OF PIE CHART {% endcomment %}
	
	<div class="clear"></div>
	
	<script>var initial_tab;</script>
	<div class="col_3">
		<ul class="tab_tab">
			{% if welcome_tabname %}
			<li id="welcome_tab" class="active"><a href="#" onclick="return showtab('welcome')">{{welcome_tabname}}</a></li>
			<script>if (!initial_tab) initial_tab = "welcome";</script>
			{% endif %}
			
			{% for position, orgset in orgs %}
			{% if position == "support" or position == "oppose" or orgset|length > 0 %}
			<li id="orgs{{position}}_tab" {% if not welcome_tabname and forloop.counter == 1 %}class="active"{% endif %}><a href="#" onclick="return showtab('orgs{{position}}')">{% if position == "support" %}Organizations Endorsing{% endif %}{% if position == "oppose" %}Organizations Opposing{% endif %}{% if position == "neutral" %}Other Statements{% endif %}{% if position == "administration" %}The Administration{% endif %}</a></li>
			<script>if (!initial_tab && {{orgset|length}}) initial_tab = "orgs{{position}}";</script>
			{% endif %}
			{% endfor %}

			<li id="billstatus_tab"><a href="#" onclick="return showtab('billstatus')">Bill Status</a></li>
			<script>if (!initial_tab) initial_tab = "billstatus";</script>
			
			{% if users.tracking or users.commented %} {% comment %} for admins {% endcomment %}
			<li id="admin_tracking_tab"><a href="#" onclick="return showtab('admin_tracking')">ADMIN &gt; Users Tracking</a></li>
			{% endif %}
		</ul>
	</div>
	
	<div class="tab_pane">
		{% if welcome_tabname %}
		<div id="welcome" class="tab_panel">
			{% if referral_orgposition %}
				<h3 class="no_rule">{{ referral_orgposition.campaign.org.name }}</h3>
				<p>This organization {% if referral_orgposition.position == "+" %}endorses{% endif %}{% if referral_orgposition.position == "-" %}opposes{% endif %}{% if referral_orgposition.position == "0" %}posted a neutral statement about{% endif %} this bill. {% if referral_orgposition.comment %}They had this to say about the bill:{% endif %}</p>
				
				{{ referral_orgposition.comment|wraplines:"p" }}
				
				
				<p>For more information see 
					{% if not referral_orgposition.campaign.default %}
					<a href="{{referral_orgposition.campaign.url}}">{{referral_orgposition.campaign.name}}</a>.
					{% else %}
					<a href="{{referral_orgposition.campaign.org.url}}">{{referral_orgposition.campaign.org.name}}</a>.
					{% endif %}
				</p>
				
			{% endif %}
		</div>
		{% endif %}
	
		<div id="billstatus" style="display: none" class="tab_panel">
			<h3 class="no_rule">Bill Status</h3>
			
			{% if bill.sponsor %}
			<div id="sponsor">
				<h4>Sponsor</h4>
				<a href="http://www.govtrack.us/congress/person.xpd?id={{bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ bill.sponsor.name }}</a>
			</div>
			{% endif %}
			<div id="status">
				<h4>Status</h4>
				{% if user.userprofile.is_org_admin or user.userprofile.is_leg_staff %}
					<p>{{bill.status_advanced}} ({{bill.current_status_date|date2}})</p>
				{% else %}
					<p>{{bill.status}}</p>
				{% endif %}
			</div>
			<div class="clear"> </div>
		</div>
	    
		{% for position, orgset in orgs %}
			<div id="orgs{{position}}" {% if welcome_tabname or forloop.counter >= 2 %}style="display: none"{% endif %} class="tab_panel">
				{% if position != "administration" %}
				<div style="float: right">
					<small>order determined by social media popularity</small>
				</div>
				{% endif %}
	
				<h3 class="no_rule">
					{% if position == "support" %}Endorsing Organizations{% endif %}
					{% if position == "oppose" %}Opposing Organizations{% endif %}
					{% if position == "neutral" %}Other Statements{% endif %}
					{% if position == "administration" %}The Administration{% endif %}
					</h3>
				{% if not orgset %}<p>No organization has {% if position == "support" %}endorsed{% else %}opposed{% endif %} this bill yet on POPVOX.</p>{% endif %}
				{% for org in orgset %}
				<div>
					<h5><a href="{{org.url}}">{{org.name}}</a>
						{% if org.object.facebook_fan_count %}
							<small>{{org.object.facebook_fan_count|intcomma}} Facebook fans</small>
						{% endif %}
						{% if org.object.twitter_follower_count %}
							<small>{{org.object.twitter_follower_count|intcomma}} Twitter followers</small>
						{% endif %}
					</h5>
					{% if org.comment %}
						{{org.comment|wraplines:"p style='margin: 0 0 .5em 0'"}}
					{% endif %}
					{% for cam in org.campaigns %}
						<p>More Info: <a href="{{cam.url}}">{{cam.name}}</a></p>
					{% endfor %}
					{% for doc in org.documents %}
						{% if forloop.first %}<ul class="bullets">{% endif %}
						<li><a href="{{bill.url}}/docs/{{org.object.slug}}/{{doc.doctype}}">{{doc.get_doctype_display}}: {{doc.title}}</a></li>
						{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
				</div>
				{% if org.object.createdbyus %}
					<p><small><em>* This organization&rsquo;s position on this bill was entered by POPVOX.</em></small></p>
				{% endif %}
				{% endfor %}
				
			    {% if existing_org_positions %}
				    {% if user_org and not user_org.approved %}
						<p>Your organization will appear as an endorsing or opposing group on legislation in your agenda once your organization is approved and published.</p>
					{% else %}
						{% if user_org and not user_org.visible %}
						<p>Your organization will not show up as an endorsing or opposing group on legislation in your agenda until you <a href="{{user_org.url}}/_edit">publish your organization profile</a>.</p>
						{% endif %}
				    {% endif %}
			    {% endif %}
	
			</div>
		{% endfor %}
		
		{% if users.tracking or users.commented %}
		<div id="admin_tracking" style="display: none" class="tab_panel">
			<p>This tab is displayed to admins only....</p>
		
			<h3>Individuals Tracking This Bill ({{users.tracking|length}}):</h3>
			{% for userprofile in users.tracking %}
				<div>{{userprofile.user.email}}</div>
			{% endfor %}
			
			<h3>Users That Weighed In ({{users.commented|length}})</h3>
			{% for userprofile in users.commented %}
				<div>{{userprofile.user.email}}</div>
			{% endfor %}
		</div>
		{% endif %}
		
		<script>showtab(initial_tab)</script>
		
	</div>
</div>
{% endblock %}

