{% extends "master.html" %}
{% block title %}Comment on {{ bill.title }}{% endblock%}
{%block nav_citzen_class_bills%}active{%endblock%}
{% block breadcrumbs %}
<li><a href="/bills">Bills</a></li>
<li><a href="{{bill.url}}" class="active">{{ bill.title|truncatewords:10 }}</a></li>
{% endblock %}
{% block head %}
<script>var bill_display_number = "{{bill.displaynumber|escapejs}}";</script>
<script src="/media/js/lettertips.js"> </script>
<script>
function validate_form() {
	var m = $('#message').hasClass('default') ? "" : $('#message').val().replace(/^\s+|\s+$/g, '');
	if (m == "") {
		alert("You must enter a message explaining your view.");
		return false;
	} else if (m.length > 1200) {
		alert("Your message is too long.");
		return false;
	}
	return true;
}
</script>
{% endblock %}
{% block content %}
<div class="content">

	{% with "start" as billcomment_progress_step %}
	{% include "popvox/billcomment_progress.html" %}
	{% endwith %}

	<div class="tab_pane">

	<div class="calloutr">
		<p>When Members of Congress are undecided on a bill, they are most influenced by personal communications from constituents.</p>
	</div>
	
	<noscript>
		<p><strong>We are not able to check if you have cookies enabled in your browser. Cookies
		are required to leave a comment on legislation on POPVOX.</strong></p>
		<hr/>
	</noscript>

	<h1 class="h1_smaller" style="margin-bottom: 0">
	Tell Congress Why You
	{% if position == "+" %}Support{% endif %}
	{% if position == "-" %}Oppose{% endif %}
	{{ bill.displaynumber }}</h1>
	
	{% if position == "0" %}
		<p>You are about to clear your position on this bill.</p>

		<form name="clearcomment method="post">
		{% csrf_token %}
		<p><input id="submitcomment_clear" type="submit" name="submitmode" value="Clear Comment >"/></p>
		</form>
	{% endif %}
	

	{% if position != "0" %}
		{% if bill.died %}
		<p>{{bill.displaynumber_nosession}} was introduced in a previous Congress. You are about to show your support for the reintroduction of this bill.</p>
		{% endif %}
	
		<p style="margin-top: 1em">Would you like to add a personal message or story about how this bill affects you or your community?</p>
		<div class="pad_btm">
			<input id="writemessage0"  type="radio" name="writemessage" {% if not message %}checked="1"{% endif %} onclick="$('#message_container').hide(); $('#nomessage_container').fadeIn()"/>
			<label for="writemessage0">No, I have nothing personal to add.</label>
		</div>
		<div style="margin-bottom: 2em">
			<input id="writemessage1" type="radio" name="writemessage" {% if message %}checked="1"{% endif %} onclick="$('#message_container').fadeIn(); $('#nomessage_container').hide()"/>
			<label for="writemessage1">Yes, I have a personal story to tell my Members of Congress.</label>
			<p style="margin-top: 1em">Your comments will be sent to your Representative and Senators and will be available for others to read anonymously on POPVOX.</p>
		</div>
		
		<div id="nomessage_container"  {% if message %}style="display: none"{% endif %}>
		<form name="nocomment" method="post">
		{% csrf_token %}
		<p>
			<input class="b_back btn" type="button" value="Cancel" onclick="document.location = '{{bill.url|escapejs}}';"/>
			{% if user.is_authenticated %}
			<input class="b_next btn" type="submit" name="submitmode" value="Next >"/>
			{% else %}
			<input class="b_next btn" id="submitcomment_nocomment" type="submit" name="submitmode" value="Preview >"/>
			{% endif %}
		</p>
		</form>
		<p><strong>Click Next to continue! Your position hasn&rsquo;t been saved yet.</strong></p>
		</div>		
		
		<div id="message_container" {% if not message %}style="display: none"{% endif %}>
	
		<p>Explain why your Members of Congress should {% if position == "+" %}support{% endif %}{% if position == "-" %}oppose{% endif %} {{bill.displaynumber}}.
		{% if user.is_authenticated %}Privacy Note: Your comment will be shared with others on POPVOX who will see your name as <strong>{{user.username}}</strong>, and with your Members of Congress who will see your full name and address.{% endif %}
		</p>
		
		<form name="yescomment" method="post" onsubmit="return validate_form()">
		{% csrf_token %}

		<div id="messagetipcontainer" class="tip mar_top" style="display: none">
			<h5 style="padding-top: 0">Letter Writing Tips</h5>
			<p id="messagetip"></p>
		</div>

		<div class="form mar_top">
			<textarea class="c5 h4" id="message" name="message" wrap="virtual">{% if message %}{{message}}{% else %}I {% if position == "+" %}support{% endif %}{% if position == "-" %}oppose{% endif %} {{ bill.title|truncatewords:15 }} because...{% endif %}</textarea>
			<div id="messageerror"></div>
			<script>
			{% if not message %}
			$('#message').input_default();
			{% endif %}
			$('#message').textchange(function() { validate('message'); });
			</script>
		</div>
		
		<p id="submitstatus" style="font-weight: bold"/>
		
		<p>
			<input class="b_back btn" type="button" value="Cancel" onclick="if ($('#message').hasClass('default') || confirm('Are you sure you want to cancel and discard your comment?')) document.location = '{{bill.url|escapejs}}';"/>
			<input class="b_preview btn" id="submitcomment_yescomment" type="submit" name="submitmode" value="Preview >"/>
		</p>
	
		{% comment %}<p>During the testing phase of POPVOX we are not yet sending comments to Members of Congress, but they will be able to find your message here.</p>{% endcomment %}
		
		</form>
		
		</div>
		
		
	{% endif %}
	
	<div class="clear"> </div>
	
	</div>
</div>
<script>
if (!document.cookie)
                $('.tab_pane').html("POPVOX requires cookies to be enabled in your browser in order to weigh in on this bill.");
</script>
{% endblock %}

