{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Identifying Constituents for a #SocialCongress - POPVOX Report{% endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script src="/media/js/jquery.tools.min.js"></script>
<style>
h2 { font: normal 28px/42px 'BebasNeueRegular', helvetica, arial, sans-serif; }
#overall_stats_pie { float: left; width: 400px; height: 360px; }
#overall_stats_pie_legend { float: left; width: 300px; padding-top: 10px;  }
#overall_stats_pie_legend p { margin: 0 0 4px 0; }
#overall_stats_pie_legend span.percent {
	display: inline-block;
	width: 90px;
	height: 50px;
	overflow: hidden;
	padding: 9px 0 0 9px;
	color: white;
	font: normal 56px/66px 'BebasNeueRegular', helvetica, arial, sans-serif;
}
#overall_stats_pie_legend span.label {
	display: inline-block;
	color: #747378;
	font: bold 24px/24px helvetica, arial, sans-serif; 
	padding: 18px 0 0 9px;
	vertical-align: top;
}

#customized_stats_pie { float: left; width: 230px; height: 220px; }
#customized_stats_pie_legend { float: left; width: 450px; }
#customized_stats_pie_legend p { margin: 0 0 3px 0; }
#customized_stats_pie_legend span.percent {
	display: inline-block;
	width: 25px;
	height: 18px;
	overflow: hidden;
	padding: 6px 0 0 4px;
	color: white;
	font: normal 16px/20px 'BebasNeueRegular', helvetica, arial, sans-serif;
}
#customized_stats_pie_legend span.label {
	display: inline-block;
	color: #747378;
	font: bold 13px/20px helvetica, arial, sans-serif; 
	padding: 2px 0 0 4px;
	vertical-align: top;
}

.pie_legend .users span.percent { background-color: #cb6b08; }
.pie_legend .posts span.percent { background-color: #17afec; }
.pie_legend .comments span.percent { background-color: #568525; }
.pie_legend .postlikes span.percent { background-color: #bb2973; }

#content .post { border: 1px solid black; padding: 3px; }
#content .comment { border: 1px solid black; padding: 3px; }
#content .like { display: inline; }
</style>
<script>
function htmlescape(text) {
	return $("<div/>").text(text).html();
}
function constituent_location(data) {
	if (data.constituent[0]) return "from " + data.constituent[1];
	if (data.constituent[0] == "unknown") return "(unknown location)";
	if (data.constituent[0] == "out-of-district") return "(out of district)";
	return "";
}
function constituent_address(data) {
	return htmlescape(data.constituent[2]) + "<br/>" + htmlescape(data.constituent[3]).replace("\n", "<br/>");
}
function update(id) {
	$('#content_status').text("Loading...");
	$('#content').hide();
	$.ajax({
		type:"GET",
		url: "/ajax/congress/facebook",
		data: {
			id: id,
		},
		complete: function(res, status) {
			if (status != "success") {
				$('#content_status').text("Error loading report.");
				return;
			}
			
			res = eval('(' + res.responseText + ')');
			if (res.error) {
				$('#content_status').text(res.error);
				return;
			}

			$('#content_status').text('');
			
			$('#content').show();
			//$('#content h2').text(res.page.name);
			$('#custreporttab').text("Report for " + res.page.name);
			$('#content .link a').attr("href", res.page.link).text(res.page.link);
			{% if request.META.HTTP_DNT != "1" %}
			$('#content .pagephoto').attr('src', 'https://graph.facebook.com/' + res.page.id + '/picture?type=large');
			{% endif %}
			
			var postcount = 0;
			var debug = false;			

			for (var i = 0; i < res.feed.data.length; i++) {
				var n = $('#templates .post').clone();

				var data = res.feed.data[i];

				if (debug && Math.random() > .5) { data.from.constituent = [true, "RandomCity", "Mr. Random Joe", "Random\nAddress, ST 10000"]; }
				
				if (!data.constituent_comments && !data.constituent_likes && !data.from.constituent[0]) continue;
				 //  && !(data.from.constituent[1]=="page" && data.constituent_likes)
				
				postcount++;
				
				//n.find('.from .picture').attr('src', data.from.picture.replace("http:", "https:"));
				if (data.from.id == id) {
					n.find('.from .name').text("You");
				} else {
					n.find('.from .name').text(data.from.name);
					n.find('.from .constituent').text(constituent_location(data.from));
				}
				{% if request.META.HTTP_DNT != "1" %}
				n.find('.from_picture').attr('src', 'https://graph.facebook.com/' + data.from.id + '/picture?type=small');
				{% endif %}
				
				if (data.type == "status") {
					n.find('.from .what').text('wrote on your wall.');
					n.find('.content .picture').hide();
					n.find('.content .title').text(data.message);
					n.find('.content .description').hide();
					n.find('.content .date').text(data.created_time);
				} else if (data.type == "link") {
					n.find('.from .what').text('posted a link.');
					n.find('.content .picture').hide();
					n.find('.content .title').text(data.name);
					n.find('.content .description').text(data.description);
					n.find('.content .date').text(data.created_time);
				} else if (data.type == "video" || data.type == "photo") {
					n.addClass("has_image");
					n.find('.from .what').text('posted a ' + data.type + '.');
					{% if request.META.HTTP_DNT != "1" %}
					n.find('.content .picture').attr('src', data.picture);
					{% endif %}
					n.find('.content .title').text(data.message);
					n.find('.content .description').text(data.description);
					n.find('.content .date').text(data.created_time);
				} else {
					n.find('.from .what').text('posted a ' + data.type + '.');
					//continue;
				}
				
				if (data.from.constituent[0]) {
					n.find('.tooltip').html(constituent_address(data.from));
					n.find(".from .title").addClass("needs_tooltip");
				}
				
				var t = "";
				if (data.constituent_comments) t += data.constituent_comments + " constituent(s) commented.";
				if (data.constituent_likes) t += data.constituent_likes + " constituent(s) liked this post.";
				n.find('.constituent_info').text(t)
				
				if (data.comments && data.comments.data)
				for (var j = 0; j < data.comments.data.length; j++) {
					var data2 = data.comments.data[j];
					if (!data2.from.constituent[0]) continue;
					var nn = $('#templates .comment').clone();
					{% if request.META.HTTP_DNT != "1" %}
					nn.find('.picture').attr('src', 'https://graph.facebook.com/' + data2.from.id + '/picture?type=small');
					{% endif %}
					nn.find('.name').text(data2.from.name);
					nn.find('.constituent').text(constituent_location(data2.from));
					nn.find('.text').text(data2.message);
					if (debug && Math.random() > .5) { data.from.constituent = [true, "RandomCity", "Mr. Random Joe", "Random\nAddress, ST 10000"]; }
					if (data2.from.constituent[0]) {
						nn.find('.tooltip').html(constituent_address(data2.from));
						nn.find(".title").addClass("needs_tooltip");
					}
					n.find(".comments").append(nn);
				}
				
				if (data.likes && data.likes.data)
				for (var j = 0; j < data.likes.data.length; j++) {
					var data2 = data.likes.data[j];
					if (!data2.constituent[0]) continue;
					var nn = $('#templates .like').clone();
					nn.find('.name').text(data2.name);
					nn.find('.constituent').text(constituent_location(data2));
					if (debug && Math.random() > .5) { data.constituent = [true, "RandomCity", "Mr. Random Joe", "Random\nAddress, ST 10000"]; }
					if (data2.constituent[0]) {
						nn.find('.tooltip').html(constituent_address(data2));
						nn.find(".title").addClass("needs_tooltip");
					}
					n.find(".likes").append(nn);
					n.find(".likes").show();
				}
				
				$('#content').append(n);
			}
			
			if (!postcount) {
				$('#content').append($("<p>We couldn't find posts from any of your constituents on your Wall. We know whether an individual is one of your constituents only if they are a POPVOX user.</p>"));
			}
			
			$('.needs_tooltip').tooltip({relative: true, position: "center right"}).removeClass("needs_tooltip");
			
			make_chart('customized_stats_pie', 200,
				res.num_constituent_postlikes[0], res.num_constituent_postlikes[1]-res.num_constituent_postlikes[0],
				res.num_constituent_comments[0], res.num_constituent_comments[1]-res.num_constituent_comments[0],
				res.num_constituent_posts[0], res.num_constituent_posts[1]-res.num_constituent_posts[0],
				res.num_constituents, res.num_known-res.num_constituents);
		}
	});

}
	
function make_chart(id, size, postlike_y, postlike_n, comment_y, comment_n, post_y, post_n, user_y, user_n, y_scale) {
	function putnum(type, y, n) {
		if (y + n == 0) n = 1; // avoid division by zero
		$('#' + id + '_legend .' + type + ' span.percent').text(Math.round(y/(y+n)*100) + "%")
	}
	
	putnum('users', user_y, user_n);
	putnum('posts', post_y, post_n);
	putnum('comments', comment_y, comment_n);
	putnum('postlikes', postlike_y, postlike_n);
	
	var chart = new Highcharts.Chart({
	  chart: {
		 renderTo: id,
		 backgroundColor: "#E8E5DF",
		 margin: [2, 2, 2, 2],
		 width: size,
		 height: size
	  },
	  title: { text: null },
	  credits: { enabled: false },
	  tooltip: {
	  	 enabled: size > 250,
		 formatter: function() {
			return '<b>'+ this.series.name +'</b><br/>'+ 
			this.point.name +': '+ this.y + (y_scale ? y_scale : "");
		 }
	  },
	  legend: { enabled: false },
	  plotOptions: {
	  	  pie: {
	  	  	  borderWidth: 0,
	  	  	  shadow: false
	  	  }
	  },
	  series: [{
		 type: 'pie',
		 name: 'Likes on Posts',
		 size: '46%',
		 innerSize: '30%',
		 data: [
			{ name: 'Constituent', y: postlike_y, color: '#bf2873' },
			{ name: 'Not A Constituent', y: postlike_n, color: '#d5d1ca' },
		 ],
		 dataLabels: {
			enabled: false
		 }
	  }, 
	  {
		 type: 'pie',
		 name: 'Comments',
		 size: '64%',
		 innerSize: '48%',
		 data: [
			{ name: 'Constituent', y: comment_y, color: '#578525' },
			{ name: 'Not A Constituent', y: comment_n, color: '#d5d1ca' },
		 ],
		 dataLabels: {
			enabled: false
		 }
	  }, {
		 type: 'pie',
		 name: 'Wall Posts',
		 size: '82%',
		 innerSize: '66%',
		 data: [
			{ name: 'Constituent', y: post_y, color: '#11aae3' },
			{ name: 'Not A Constituent', y: post_n, color: '#d5d1ca' },
		 ],
		 dataLabels: {
			enabled: false,
		 }
	  }, {
		 type: 'pie',
		 name: 'Users',
		 size: '100%',
		 innerSize: '84%',
		 data: [
			{ name: 'Constituent', y: user_y, color: '#cb6a0f' },
			{ name: 'Not A Constituent', y: user_n, color: '#d5d1ca' },
		 ],
		 dataLabels: {
			enabled: false, // not sure how to make them fit right
			color: '#000000',
			connectorColor: '#000000'
		 }
	  }]
	});
}

$(function() {
	{% if is_leg_staff %}
	$('#main_tab').pvtabs();
	update({{user.legstaffrole.member.id}});
	{% endif %}
	make_chart('overall_stats_pie', 340,
		14.5, 100-14.5, // post likes
		60.0, 100-60.0, // comments
		22.1, 100-22.1, // wall posts
		21.6, 100-21.6, // unique users
		"%");
});
</script>
<style>
/****Facebook****/

#content .post {
border: none;
}

#content .comment {
border: none;
}

#content .content img {
padding: 5px;
}

#content .post {
font-size: 12px;
font-family: helvetica;
clear: both;
padding-bottom: 10px;
padding-top: 10px;
}

#content .like { display: inline; }

#content .picture {
width: 50px;
height: 50px;
background: #444;

}

#content .from .title {
font-weight: bold;

}

#content .content {
margin-top: 5px;
}

#content .content .title {
font-weight: normal;
}


#content .content .description {
}

#content .date {
margin-top: 5px;
color: #6c6c6c;
}
</style>
{% endblock %}
{% block content %}
<div class="content">
	
	<div class="col_9 col_top">
		<h1 style="margin-bottom: 0">Analysis</h1>
		<h2 style="margin: 10px 0 20px 0; font-size: 24px; line-height: normal; font-family: helvetica,arial,sans-serif">Are they your #Constituents? An analysis of Congressional Facebook Pages.</h1>
		
		<p><em>Congressional courtesy</em> dictates that Members of Congress should avoid contacting individuals in another Member&rsquo;s state or district. As a result, Congressional communications staff are reluctant to respond to comments on social media, not knowing whether the poster is a constituent or not.</p>
		
		{% if is_leg_staff %}
		<ul id="main_tab" class="tabs">
		<li><a href="#overall"><span>Overall Report</span></a></li>
		<li><a href="#customized"><span id="custreporttab">Report for {{user.legstaffrole.member.name}}</span></a></li>
		</ul>
		<div class="tab_panel tab_overall">
		{% endif %}
		
		<p class="pad_btm">We looked at the <strong>467 Facebook Pages of Members of Congress</strong> to see whether the individuals posting, liking posts, and commenting were <strong>constituents of the congressman or senator</strong>. Here is what we found:</p>

		<div id="overall_stats_pie"> </div>
		<div id="overall_stats_pie_legend" class="pie_legend">
			{% if is_leg_staff %}
			<div style="margin: -20px 0 20px 0; background: #D4D1CA; padding: 6px;">
				<p style="margin: 0; font-size: 13px;"><a href="#customized" style="font-weight: bold;">Get your customized report for {{user.legstaffrole.member.state_district}}...</a></p>
			</div>
			{% endif %}
		
			<h2>How many are constituents?</h2>
			<p class="users"><span class="percent"></span> <span class="label">Users</span></p>
			<p class="posts"><span class="percent"></span> <span class="label">Wall Posts</span></p>
			<p class="comments"><span class="percent"></span> <span class="label">Comments</span></p>
			<p class="postlikes"><span class="percent"></span> <span class="label">Likes on Posts</span></p>
		</div>
		
		<div class="clear"> </div>
		
		<p style="margin: 20px; font-size: 17px; line-height: normal;">While a majority of users interacting with Congressional Facebook Pages are not constituents, we do find that most comments are from constituents.</p>
	
		{% if not is_leg_staff %}
		<div style="margin: 10px; background: #D4D1CA; padding: 10px;">
			<p style="margin-bottom: 10px; font-size: 17px; line-height: normal;"><strong>Want to know more?</strong> We can show you <strong>which posts are from your constituents</strong> if you are a Congressional staffer or Member of Congress.</p>
			<p style="margin: 0;">In order to protect the privacy of our users, you will need to
			<a href="/accounts/register/legstaff?next=/congress/facebook" target="_blank">register</a> with your @mail.house.gov or @senate.gov address or <a href="/accounts/login?next=/congress/facebook">login</a> if you already have a POPVOX Congressional staff account (personal staff only).</p>
		</div>
		{% endif %}
		
		<p class="pad_top">According to a report by the <a href="http://www.congressfoundation.org">Congressional Management Foundation</a>, <a href="http://www.congressfoundation.org/storage/documents/CMF_Pubs/cmf-social-congress.pdf">#SocialCongress: Perceptions and Use of Social Media on Capitol Hill</a>, almost two-thirds of staffers surveyed viewed Facebook as &ldquo;an important 
source for understanding constituents’ views and opinions.&rdquo; We hope that our analysis of Facebook Pages &mdash; and our customized reports for Congressional staff &mdash; make Facebook Pages more effective.</p>
		
		<h2>Methodology</h2>
		
		<p>This analysis is based on the subset of users of Congressional Facebook Pages who are also registered on POPVOX and use their Facebook account to log in to POPVOX. Of 128,178 users interacting recently with 467 Congressional Facebook Pages, 1.3% or 1,696 were also POPVOX users. The analysis was conducted on August 11, 2011. The margin of error is around 5%.</p>
		
		<p>Wall posts, comments, and likes on Congressional Facebook Pages are public information and can be accessed by anyone comprehensively through the <a href="http://www.facebook.com">Facebook</a> <a href="http://developers.facebook.com/docs/reference/api/">Graph API</a>. POPVOX users have the option to log into POPVOX using a password or through their account at Google, Facebook, Twitter, or LinkedIn. For those users who choose to log in to POPVOX using their Facebook account, we are able to match their Facebook activity with their POPVOX profile. If the user has weighed in on legislation on POPVOX, their profile includes their current Congressional district.</p>
		
		<p>All information in POPVOX profiles remains private following our <a href="/legal">privacy policy</a>. For customized reports for Congressional staff, we show name and address information for their constituents only in order to facilitate communication between the constituent and the Congressional office. (We show the same information when Congressional staff access their constituents&rsquo; letters on POPVOX.) Email questions or concerns to {% obfuscated_email "privacy@popvox.com" %}.</p>

		{% if is_leg_staff %}
		</div>
		<div class="tab_panel tab_customized" style="display: none">
		
		<div id="content_status">	
		</div>
		
		<div id="content" style="display: none">
			<div id="customized_stats_pie"> </div>
			<div id="customized_stats_pie_legend" class="pie_legend">
				<h2 style="margin: 0">How many are constituents?</h2>
				<p class="link pad_btm"><a href="" target="_blank"></a></p>
				<p class="users"><span class="percent"></span> <span class="label">Users</span></p>
				<p class="posts"><span class="percent"></span> <span class="label">Wall Posts</span></p>
				<p class="comments"><span class="percent"></span> <span class="label">Comments</span></p>
				<p class="postlikes"><span class="percent"></span> <span class="label">Likes on Posts</span></p>
				<p class="pad_top" style="font-size: 10px; color: #666;">(Based on users interacting with your Facebook page who are also POPVOX users.)</p>
			</div>
			{% comment %}<img class="pagephoto" style="float: left; margin-right: 15px"/>{% endcomment %}
			<div class="clear"> </div>

			<h3>Live from your wall</h3>
		
			<p>Here are the latest posts, comments, and likes from your constituents who have verified their identity on POPVOX.</p>
		</div>

		<h2 class="mar_top clear">Methodology</h2>
		
		<p>As of August 11, 2011, about 1.3% of users interacting with your Facebook page are also POPVOX users. We are able to identify those individuals as either within or outside of your state or district based on the mailing address they used to send you a letter through POPVOX.</p>
		
		<p>Wall posts, comments, and likes on Congressional Facebook Pages are public information and can be accessed by anyone comprehensively through the <a href="http://www.facebook.com">Facebook</a> <a href="http://developers.facebook.com/docs/reference/api/">Graph API</a>. For those POPVOX users who choose to log in to POPVOX using their Facebook account, we are able to match their Facebook activity with their POPVOX profile. All information in POPVOX profiles remains private following our <a href="/legal">privacy policy</a>. We show you the name and address of your constituents only. Email questions or concerns to {% obfuscated_email "privacy@popvox.com" %}.</p>
		
		</div>
		{% endif %}
		
		<div style="display: none" id="templates">
			<div class="post">
				<img class="from_picture" style="float: left; margin-right: 15px; width: 30px;"/>
				<div style="float: left; width: 550px;">
				<div class="from">
					<div><span class="title"><span class="name"></span> <span class="constituent"></span> <span class="what"></span></span><div class="tooltip"> </div></div>
				</div>
				<div class="content">
					<img class="picture" style="float: left; margin-right: 15px"/>
					<div class="title"></div>
					<div class="description"></div>
					<div class="date"></div>
				</div>
				<div class="constituent_info">
				</div>
				<div class="likes" style="display: none">
					Likes:
				</div>
				<div class="comments">
				</div>
				</div>
				<div class="clear"> </div>
			</div>
			
			<div class="comment">
				<img class="picture" style="float: left; margin-right: 15px"/>
			
				<div><span class="title"><span class="name"></span> <span class="constituent"></span></span><div class="tooltip"> </div></div>
				
				<div class="text"> </div>
			</div>
			
			<div class="like">
				<span class="title"><span class="name"></span> <span class="constituent"></span></span>
				<div class="tooltip"> </div>
			</div>
		</div>
		
	</div> <!-- col_9 -->

	{% include "ads/rightbar.html" %}
</div><!-- e: content -->

{% endblock %}

