{% extends "master.html" %}
{% load humanize %}
{% load popvox_utils %}
{% block title %}Dashboard{% endblock%}
{% block description %}Your POPVOX dashboard alerts you to recent activity on POPVOX and in Congress and gives you suggestions for other bills to write about.{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
function hide_prompt(billid) {
	ajax(
		"/ajax/accounts/profile/trackbill",
		{
			bill: billid,
			track: "-"
		},
		{
			success: function(ret) {
				var has_remaining_sugs = false;
				$('#suggestions li:visible').each(function() {
					if (this.getAttribute("billid") == billid)
						$(this).fadeOut();
					else
						has_remaining_sugs = true;
				});
				if (!has_remaining_sugs) {
					$('#nomoresugs').fadeIn();
				}
			}
		});
	return false;
}
</script>
{% endblock %}
{% block content %}
<div class="content userdash">

	<div class="col_9 col_top col_last ">
		<h1 class="rule_btm">Your Dashboard</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		
		<p>Lock to this user with <a href="/home/_dashboard_?user={{userid}}">?user={{userid}}</a></p>
	</div>
	<div class="clear"> </div>
	
	<div class="col_12 col_top user_dash">
		<ul id="bar">
			<li class="c6">Activity Feed</li>
			<li class="c6l">Suggestions</li>
			<!--<li class="c3l">Following</li>-->
		</ul>
		
		<div class="col_6">
			<ul class="activity">
				{% for item in feed_items %}
					<li class="{{item.action_type}}">
						<div class="date">
							<p><span>{{item.date|date2}}</span> <a href="#" class="hide">hide</a></p>
							<div class="pie"></div>
						</div>
					
						{% if item.action_type == "comment" %}
							<h3>You {{item.verb}} <a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a>.</h3>
							<div class="details">
							</div>
							<p class="take_action"><span id="action"><a href="#" class="weigh_in">weigh in</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						{% endif %}
						
						{% if item.action_type == "delivery" %}
							<h3>Your {% if item.message %}letter{% else %}position{% endif %} {{item.verb}} <a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a> was delivered to {{item.recipient}}.</h3>
							<div class="details">
							</div>
							<p class="take_action"><span id="action"><a href="#" class="weigh_in">weigh in</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						{% endif %}
						
						{% if item.action_type == "org_position" %}
							<h3><a href="{{item.org.url}}">{{item.org.name}}</a> <span class="secondary">{{item.verb}} <a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a>.</span></h3>
							<div class="details">
								<p class="detail">This organization shares your position on {{item.numagreements}} bill{{item.numagreements|pluralize}}.</p>
							</div>
							<p class="take_action"><span id="action"><a href="#" class="weigh_in">read more</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						{% endif %}
						
						{% if item.action_type == "bill_now" %}
							<h3><a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a></h3>
							<div class="details">
								<p class="detail bill">{{item.bill.stats.2}} people have now weighed in. You were the {{item.your_number|ordinal}} person to weigh in.</p>
							</div>
							<p class="take_action"><span id="action"><a href="#" class="view_report">view stats</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						{% endif %}
						
						{% if item.action_type == "bill_current_status" %}
							{% with item.comment as comment %}
							<h3><a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a></h3>
							<div class="details">
								<p class="detail">{{item.bill.status}}</p>
								{% if comment %}
									<p class="detail bill">You {{comment.verb_past}} this {{item.bill.proposition_type}} on {{comment.created|date2}}.</p>
								{% endif %}
							</div>
							<p class="take_action">{% if comment %}<span id="action"><a href="#" class="weigh_in">weigh in</a></span>{% endif %} <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
							{% endwith %}
						{% endif %}
						
						{% if item.action_type == "bill_upcoming_event" %}
							<h3><a href="{{item.bill.url}}">{{item.bill.nicename|truncatewords:10}}</a></h3>
							<div class="details">
								<p class="detail bill">{{item.bill.upcoming_event}}</p>
								{% with item.comment as comment %}
								{% if item.comment %}
									<p class="detail bill">You {{item.comment.verb_past}} this {{item.bill.proposition_type}} on {{item.comment.created|date2}}.</p>
								{% endif %}
								{% endwith %}
							</div>
							<p class="take_action"><span id="action"><a href="#" class="weigh_in">weigh in</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						{% endif %}
					</li>
				{% endfor %}
			
				{% comment %}
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3><a href="#">HR 4646: Debt Free America Act</a></h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail bill"><strong>Status:</strong> Referred to House Ways and Means...</p>
						<p class="take_action"><span id="action"><a href="#" class="weigh_in">weigh in</a></span> <span class="social"><a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="google">google</a><a href="#" class="reddit">reedit</a><a href="#" class="tumblr">tumblr</a><a href="#" class="email">email</a></span> <a href="#" class="fav">favorite</a></p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a> </p>
					</div>
					<h3><a href="#">You commented on HR 424: Puppies are America Act</a></h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa sapien, adipiscing in mattis eget, lobortis...</p>
						<p class="take_action"><a href="#">WEIGH IN</a> <span>SHARE</span> <a href="#" class="twitter">twitter</a> <a href="#" class="facebook">facebook</a><a href="#" class="star">star</a><a href="#" class="link">link</a></p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3><a href="#">American Association of Colleges of Pharmacy endorses HR 646</a></h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail org_psn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3><a href="#">Rep. Chaka Fattah</a> <span>[D, PA-2]</span></h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail co-sponsor">Co-sponsored <a href="#">HR 423</a></p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3>You weighed in on HR 446</h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail weighed_in">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3>You supported HR 1235</h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail support">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<div class="clear"> </div>
					</div>
				</li>
				<li>
					<div class="date">
						<p><span>12/05/11</span> <a href="#" class="fav">favorite</a><a href="#" class="hide">hide</a></p>
					</div>
					<h3>You opposed HR 1225</h3>
					<div class="details">
						<div class="pie"></div>
						<p class="detail oppose">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<div class="clear"> </div>
					</div>
				</li>
				{% endcomment %}
			</ul>
		</div> <!-- e: col_6 -->
		
		<div class="col_3 col_last">
			<p id="nomoresugs" style="display: none">You&rsquo;ve cleared out all of your suggestions. Try <a href="javascript:window.location.reload()">reloading this page</a> for more suggestions.</p>
			
			<ul id="suggestions" class="suggest_bills">
			{% for sug in suggestions %}
				<li billid="{{sug.bill.id}}">
					<div class="btn_r">
						<p><a class="hide" href="#" onclick="return hide_prompt({{sug.bill.id}});">hide</a></p>
						<div class="pie">
							{% with sug.bill as bill %}
								{% bill_statistics bill as stats %}
								{% include "popvox/bill_statistics_pie_simple.html" with chart_size="55" chart_no_links="1" chart_no_numbers="1" %}
							{% endwith %}
						</div>
					</div>
					<h3><a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a></h3>
					<div class="weigh">
						<a href="#" class="weigh_in">weigh in</a>
					</div>
					<a href="#" class="fav faved">favorite</a>
					<p class="info">
						{% if sug.source %}
							<a href="{{sug.source.url}}" title="Suggested because you weighed in on {{sug.source.title|truncatewords:10}}" class="suggested">Suggested why?</a>
						{% else %}
							This bill is trending on POPVOX.
						{% endif %}
					</p>
					<div class="clear"> </div>
				</li>
			
				{% comment %}
				<div class="col_9 rule suggestion">
					<div class="col_6">
						<h4 style="margin-bottom: 8px"></h4>
						{% if sug.source %}
							<p>Recommended because you weighed in on <a href="{{sug.source.url}}">{{sug.source.title|truncatewords:10}}</a>.</p>
						{% else %}
							<p>This bill is trending on POPVOX.</p>
						{% endif %}
						<div style="float: left; margin-left: 15px;"><a class="action" href="{{sug.bill.url}}">Action</a></div>
						<div style="float: left; margin-left: 15px;"><p style="margin-top: 1px; font-weight: bold;">Let Congress know <a href="{{sug.bill.url}}">what you think</a>.</p></div>
						<p class="clear">{{sug.bill.status}}
						<span style="font-style: italic">Not interested? <a href="#" onclick="return hide_prompt({{sug.bill.id}});">Hide this</a>.</span></p>
					</div>
					
					<div class="col_3 col_last">
					{% bill_statistics sug.bill as stats %}
					{% with sug.bill as bill %}
					{% with bill.id as chart_id %}
						{% include "popvox/bill_statistics_pie_simple.html" %}
					{% endwith %}
					{% endwith %}
					</div>
					
					<div class="clear"> </div>
				</div>
				{% endcomment %}
		
			{% empty %}
			
				<p>We have no suggested actions for you at this time. Your <a href="/home">home dashboard</a> will show you the comments you have left so far.</p>
			
			{% endfor %}
		</div>


		<div class="col_3 col_last">
			<p id="nomoresugs" style="display: none">You&rsquo;ve cleared out all of your suggestions. Try <a href="javascript:window.location.reload()">reloading this page</a> for more suggestions.</p>
			
			<ul id="suggestions" class="suggest_bills">
			{% for sug in suggestions %}
				<li billid="{{sug.bill.id}}">
					<div class="btn_r">
						<p><a class="hide" href="#" onclick="return hide_prompt({{sug.bill.id}});">hide</a></p>
						<div class="pie" id="sug_pie_{{sug.bill.id}}">
						</div>
						<script>bill_chart("sug_pie_{{sug.bill.id}}", {{sug.bill.stats.0}}, {{sug.bill.stats.1}});</script>
					</div>
					<h3><a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a></h3>
					<div class="weigh">
						<a href="#" class="weigh_in">weigh in</a>
					</div>
					<a href="#" class="fav faved">favorite</a>
					<p class="info">
						{% if sug.source %}
							<a href="{{sug.source.url}}" title="Suggested because you weighed in on {{sug.source.title|truncatewords:10}}" class="suggested">Suggested why?</a>
						{% else %}
							This bill is trending on POPVOX.
						{% endif %}
					</p>
					<div class="clear"> </div>
				</li>
			
				{% comment %}
				<div class="col_9 rule suggestion">
					<div class="col_6">
						<h4 style="margin-bottom: 8px"></h4>
						{% if sug.source %}
							<p>Recommended because you weighed in on <a href="{{sug.source.url}}">{{sug.source.title|truncatewords:10}}</a>.</p>
						{% else %}
							<p>This bill is trending on POPVOX.</p>
						{% endif %}
						<div style="float: left; margin-left: 15px;"><a class="action" href="{{sug.bill.url}}">Action</a></div>
						<div style="float: left; margin-left: 15px;"><p style="margin-top: 1px; font-weight: bold;">Let Congress know <a href="{{sug.bill.url}}">what you think</a>.</p></div>
						<p class="clear">{{sug.bill.status}}
						<span style="font-style: italic">Not interested? <a href="#" onclick="return hide_prompt({{sug.bill.id}});">Hide this</a>.</span></p>
					</div>
					
					<div class="col_3 col_last">
					{% bill_statistics sug.bill as stats %}
					{% with sug.bill as bill %}
					{% with bill.id as chart_id %}
						{% include "popvox/bill_statistics_pie_simple.html" %}
					{% endwith %}
					{% endwith %}
					</div>
					
					<div class="clear"> </div>
				</div>
				{% endcomment %}
		
			{% empty %}
			
				<p>We have no suggested actions for you at this time. Your <a href="/home">home dashboard</a> will show you the comments you have left so far.</p>
			
			{% endfor %}
		</div>



	
		{% comment %}
		<div class="col_3">
			<ul class="suggest_bills">
				<li>
					<div class="btn_r">
						<p><a href="#" class="fav faved">favorite</a><a href="#" class="hide">hide</a></p>
						<div class="pie"></div>
					</div>
					<h3><a href="#">HR 4646: Debt Free America Act Debt Free America Act...</a></h3>
					<a href="#" class="weigh_in">WEIGH IN</a>
				</li>
				<li>
					<div class="btn_r">
						<p><a href="#" class="fav faved">favorite</a><a href="#" class="hide">hide</a></p>
						<div class="pie"></div>
					</div>
					<h3><a href="#">HR 4646: Debt Free America Act Debt Free America Act...</a></h3>
					<a href="#" class="weigh_in">WEIGH IN</a>
				</li>
				<li>
					<div class="btn_r">
						<p><a href="#" class="fav faved">favorite</a><a href="#" class="hide">hide</a></p>
						<div class="pie"></div>
					</div>
					<h3><a href="#">HR 4646: Debt Free America Act Debt Free America Act...</a></h3>
					<a href="#" class="weigh_in">WEIGH IN</a>
				</li>
				<li>
					<div class="btn_r">
						<p><a href="#" class="fav faved">favorite</a><a href="#" class="hide">hide</a></p>
						<div class="pie"></div>
					</div>
					<h3><a href="#">HR 4646: Debt Free America Act Debt Free America Act...</a></h3>
					<a href="#" class="weigh_in">WEIGH IN</a>
				</li>
			</ul>
			<ul class="suggest_orgs">
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_beer.jpg" alt="org name"/>
					<h3><a href="#">Beer Institute</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_aacp.jpg" alt="org name"/>
					<h3><a href="#">American Association of Colleges of Pharmacy (AACP)</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_ctj.jpg" alt="org name"/>
					<h3><a href="#">Citizens for Tax Stuff</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_ghlf.jpg" alt="org name"/>
					<h3><a href="#">Global Healthy Living Foundation (GHLF)</a></h3>
				</li>
			</ul>
		</div><!-- e: col_3 -->
		
		<div class="col_3 col_follow">
			<ul class="following_congress">
				<h2>Congress People</h2>
				<li>
					<img src="/media/master/_temp/fattah.jpg" alt="rep name"/>
					<h3><a href="#">Sen. Chaka Fattah<br /><span>[D, PA]</span></a></h3>
				</li>
				<li>
					<img src="/media/master/_temp/smith.jpg" alt="rep name"/>
					<h3><a href="#">Rep. John Smith<br /><span>[R, TN-7]</span></a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<img src="/media/master/_temp/fattah.jpg" alt="rep name"/>
					<h3><a href="#">Sen. Chaka Fattah<br /><span>[D, PA]</span></a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<img src="/media/master/_temp/smith.jpg" alt="rep name"/>
					<h3><a href="#">Rep. John Smith<br /><span>[R, TN-7]</span></a></h3>
				</li>
			</ul>
			<ul class="following_bills">
				<h2>Bills</h2>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">HR 456: Debt Free America Act</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">HR 456: Debt Free America Act</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">HR 456: Debt Free America Act</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">HR 456: Debt Free America Act</a></h3>
				</li>
			</ul>
			<ul class="following_issues">
				<h2>Issue Areas</h2>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">Arts, Culture, REligion (25)</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">Education (316)</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">Health (625)</a></h3>
				</li>
				<li>
					<a href="#" class="fav">favorite</a>
					<h3><a href="#">Taxation (619)</a></h3>
				</li>
			</ul>
			<ul class="following_orgs">
				<h2>Organizations</h2>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_beer.jpg" alt="org name"/>
					<h3><a href="#">Beer Institute</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_aacp.jpg" alt="org name"/>
					<h3><a href="#">American Association of Colleges of Pharmacy (AACP)</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_ctj.jpg" alt="org name"/>
					<h3><a href="#">Citizens for Tax Stuff</a></h3>
				</li>
				<li>
					<a href="#" class="fav faved">favorite</a>
					<img src="/media/master/_temp/org_ghlf.jpg" alt="org name"/>
					<h3><a href="#">Global Healthy Living Foundation (GHLF)</a></h3>
				</li>
			</ul>

		</div><!-- e: col_3 -->
		{% endcomment %}
			
		<div class="clear"> </div>
		
	</div><!-- e: col_12 -->
	
	
</div>

{% endblock %}

