{% extends "master.html" %}
{% block title %}POPVOX - Grade Your Rep{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}See How Your Representative Has Voted On Bills You've Weighed In On{% endblock %}
{% block content %}

<div class="content">

	<div class="col_9 col_top col_last">
	<p>Your Members of Congress are:</p>
        {% for mem in votes %}
          <p>{{mem}}</p>
        {% endfor %}
        <p>Here are the bills they've voted on:</p>
        {% for bill in billvotes %}
          <p>{{bill}}</p>
        {% endfor %}
        <p>Here are their scores:</p>
        {% for member, percentages in votes.items %}
          <p>{{member}}:</p>
          {% for vote, percent in percentages.items %}
            <p>{{vote}}: {{percent}}</p>
          {% endfor %}
        {% endfor %}
	</div>
	
</div>

{% endblock %}
