{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Message Delivery Status Report{% endblock%}
{% block description %}How POPVOX messages are delivered and in what format.{% endblock%}
{% block content %}
	<h1>Message Delivery Status Report</h1>
	
	<p>{{delivered_pct}}% of {{total_count}} messages have been delivered; {{delivered_electronically_pct}}% of deliveries are electronic.</p>

	<table>
	{% for member in report %}
	<tr valign="top">
		<td style="padding-bottom: .5em"><a href="{{member.url}}">{{member.title|safe}} {{member.firstname}} {{member.lastname}} [{{member.party|safe}}, {{member.state}}{% if member.title == 'Rep.' %}-{{member.district}}{%endif%}]</a> [<a href="/admin/writeyourrep/endpoint/{{member.endpoint}}/">EP</a>]</td>
		<td>{{member.delivery_status}}</td>
		<td>{{member.breaks}}</td>
	</tr>
	{% endfor %}
	</table>

{% endblock %}

