{% extends "master.html" %}
{% block title %}POPVOX - District Info{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}Information about individual congressional districts{% endblock %}
{% block content %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>


<div class="content district-info">

<div class="col_12 col_top col_last">
<h1 class="rule_btm">District Info / {{state}}-{{district}}</h1>
<div class="stats">
	<h2>Facts &amp; Figures</h2>
	{% for member in members %}
		<div class="rep media">
			<div class="img">
				<img src="/static/member_photos/{{member.id}}-100px.jpeg" alt="{{member.name}}" width="65" height="80" />
			</div>
			<div class="bd">
				<p><a href="/member/{{member.pvurl}}">{{member.name}}</a></p>
			</div>
		</div>
	{% empty %}
		<h3>No members :( </h2>
	{% endfor %}
	
	<div class="census">
    {% if census_data %}
        <div class="pop">
			<dl>
				<dt>Population</dt>
				<dd><span class="digits">{{census_data.population}}</span></dd>
			</dl>
		</div>
        <div class="residence section">
			     <div id="urban_rural_graph" class="bar_graph"><script>two_part_bar_chart("urban_rural_graph", {{census_data.urban|floatformat}}, {{census_data.rural|floatformat}}, { bg: "#D4D1CA", nopad: true, left_label: "Urban", right_label: "Rural", colors: ["#7575d","#414046"],labels:false });</script></div>
			<div>
			<dl class="urban">
				<dt>Urban</dt>
				<dd><span class="digits">{{census_data.urban}}%</span></dd>
			</dl>
	        <dl class="rural">
				<dt>Rural</dt>
				<dd><span class="digits">{{census_data.rural}}%</span></dd>
			</dl>
		    </div>
			<div style="clear:both;"></div>
		</div>
		<div class="sex">
			     <div id="male_female_graph" class="bar_graph"><script>two_part_bar_chart("male_female_graph", {{census_data.male|floatformat}}, {{census_data.female|floatformat}}, { bg: "#D4D1CA", nopad: true, left_label: "Male", right_label: "Female", colors: ["#7575d","#414046"], labels:false });</script></div>
		<div>
		<dl class="male">
			<dt>Male</dt>
			<dd><span class="digits">{{census_data.male}}%</span></dd>
		</dl>
        <dl class="female">
			<dt>Female</dt>
			<dd><span class="digits">{{census_data.female}}%</span></dd>
		</dl>
	</div>
	<div style="clear:both;"></div>
		</div>
        <div class="age">
			<dl>
				<dt>Median Age</dt>
				<dd><span class="digits">{{census_data.age}}</span> <span class="units">years old</span></dd>
			<dl>
		</div>
		<div class="race">
		<div>
			<dl>
				<dt>Ethnicity</dt>
			<dd>
			<div id="ethnicity_graph">
				<script>race_chart("ethnicity_graph",{{census_data.white}}, {{census_data.black}}, {{census_data.latino}}, {{census_data.asian}}, {{census_data.ai}}, {{census_data.hpi}}, {{census_data.biracial}}, {{census_data.other}}, {});</script></div>
		</dd>
		</div>
	</div>
        <div class="edu">
			<dl>
				<dt>Education</dt>
				<dd><p><span class="digits">{{census_data.hs}}%</span> <span class="units">High School</span></p>
			        <p><span class="digits">{{census_data.bachelor}}%</span> <span class="units">Bachelor's</span></p></div>
        <div class="mil">
			<dl>
				<dt>Veterans</dt>
				<dd><span class="digits">{{census_data.veteran}}%</span></dd>
			</dl>
		</div>
        <div class="income">
			<dl>
				<dt>Median income</dt>
				<dd><span class="digits">${{census_data.income}}</span></dd>
			</dl>
		</div>
    {% else %}
        <h3>No district statistics available. :(</p>
    {% endif %}
	</div><!-- end census info -->
	</div><!--end stats -->

<div class="district-legislation">
	<div class="legislation-tabs">
	   <h4 class="active"><a href="#">Trending</a></h4>
	   <h4 class="inactive"><a href="#popular">Popular</a></h4>
	   <div style="clear:both"></div>
	</div>
	<div style="clear:both"></div><!-- end legislation-tabs -->
	<div class="legislation-trending">
		<p class="subhead">Bills with recent activity in {{ state }}'s District {{ district }}</p>
		<ul>
		{% for billrec,pro,con in trending_bills %}
				<li class="bill {% if billrec.pos == "+" %}endorsed{% endif %} {% if billrec.pos == "-" %}opposed{% endif %}">
					<p class="number">{{ forloop.counter }}</p>
			{% comment %}{% ifchanged %}<p class="commented?">in the last {{billrec.bill.trending_time_period}}</p>{% endifchanged %}{% endcomment %}

			{% with billrec.bill as bill %}

			<h5><a href="{{billrec.bill.url}}">{{ billrec.bill.nicename|truncatewords:12 }}</a></h5>
			{% if pro or con %}
			        <div id="trending_bar_{{forloop.counter}}" class="bar_graph"><script>two_part_bar_chart("trending_bar_{{forloop.counter}}", {{pro|floatformat}}, {{con|floatformat}}, { bg: "#D4D1CA", nopad: true, left_label: "Support", right_label: "Oppose" });</script></div>
					{% else %}
					<p>Too few constituents in this district have commented on {{bill.shortname}} to display statistics. <br /> For comments left so far <a href="{{bill.url}}/report">View report.</a></p>
					{% endif %}

			{% if billrec.bill.new_positions < 50 %}
				<p class="trend">This {{ bill.type }} has been trending for the last {{billrec.bill.trending_time_period}}!</p>
			{% else %}
				<p class="trend">{{billrec.bill.new_positions}} users</p>
			{% endif %}
		
			{% if billrec.pos == "" %}
				<a class="action" href="{{bill.url}}">add comment</a>
			{% endif %}

	        {% endwith %}
	        </li>
	{% empty %}
	<h3>Nothing trending :(</h3>
	{% endfor %}
	</ul>
	</div><!---end trending legislation -->
	<div class="legislation-tabs">
	   <h4 class="inactive"><a href="#">Trending</a></h4>
	   <h4 class="active"><a href="#popular">Popular</a></h4>
	   <div style="clear:both;"></div>
	</div>
	<div class="legislation-pop" id="popular">
	    <h3>Popular</h3>
		<p class="subhead">Bills with the most activity in {{ state }}'s District {{ district }}</p>
	    {% for bill,pro,con in popular_bills %}
	<ol>
	        <li class="bill">
	        <h5><a href="{{bill.url}}">{{bill.billnumber}} {{ bill.nicename|truncatewords:12 }}</a></h5>
			{% if pro or con %}
			        <div id="popular_bar_{{forloop.counter}}" class="bar_graph"><script>two_part_bar_chart("popular_bar_{{forloop.counter}}", {{pro|floatformat}}, {{con|floatformat}}, { bg: "#D4D1CA", nopad: true, left_label: "Support", right_label: "Oppose" });</script></div>
					{% else %}
					<p>Too few constituents in this district have commented on {{bill.shortname}} to display statistics. <br /> For comments left so far <a href="{{bill.url}}/report">View report.</a></p>
					{% endif %}

	        {% if bill.streetname %}<p>(&quot;{{bill.streetname}}&quot;)</p>{% endif %}
	        </li>
	</ol>
	{% empty %}
	<h4>Nothing trending :(</h4>
	{% endfor %}
	</div><!--end popular legislation -->
	</div><!-- end district-legislation -->
</div><!-- end col_9 col_top col_last -->
{% include "ads/rightbar.html" %}
</div>

{% endblock %}
