{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Suggestions for Action{% endblock%}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% endblock %}
{% block content %}
<div class="content"> 
	<h1>Suggestions for Action</h1>
	
	<div class="col_9 col_top">
		
	{% for sug in suggestions %}
		{% if forloop.first %}
		<p>We have computed the following actions that you might be interested in taking based on the comments you previously left on legislation.</p>
		{% endif %}
	
		<div>
			<div class="col_5">
				<a class="action" href="{{sug.bill.url}}">Action</a>
				<h4><a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a></h4>
				{% if sug.count == -1 %}<p>This bill is trending on POPVOX.</p>{% endif %}
				{% for op in sug.org_sources %}
					<p><a href="{% if op.campaign.default %}{{op.campaign.org.url}}{% else %}{{op.campaign.url}}{% endif %}">{{ op.campaign.org.name }}</a> {% if op.position == "+" %}endorses{% else %}opposes{% endif %} this bill. {% if op.comment %}They wrote:{% endif %}</p>
					{% if op.comment %}
						<div class="message_preview">
							{{op.comment|wraplines:"p"}}
						</div>
					{% endif %}
				{% endfor %}
				{% for sbs in sug.bill_sources %}
					<p>Recommended because you {% if sbs.position == "+" %}supported{% else %}opposed{% endif %} <a href="{{sbs.bill.url}}">{{sbs.bill.title|truncatewords:6}}</a>.</p>
				{% endfor %}
			</div>
			
			{% bill_statistics sug.bill as stats %}
			{% if stats %}
			<div class="col_4 col_last">
				<h5>What Others Think</h5>
				<a href="{{sug.bill.url}}/report">
					<div id="chart-container--{{sug.bill.id}}" class="img_chart" style="width: 75px; height: 75px"></div>
				</a>
				<script>bill_chart("chart-container--{{sug.bill.id}}", {{stats.pro_pct}}, {{stats.con_pct}}, { small: true });</script>
				<div class="chart_info">
					<div class="col_chart">
						<p class="chart_stats">
							<span class="chart_title">{{stats.longdescription}}:</span><br />
							<span class="bg_support">{{stats.pro_pct}}% Support</span><br />
							<span class="bg_oppose">{{stats.con_pct}}% Oppose </span><br />
							<span class="users">({{stats.total}} users)</span>
						</p>
						<p class="view_report">
							<span><a href="{{sug.bill.url}}/report">View Report</a></span>
						</p>
					</div>
				</div>
			</div>
			{% endif %}
			
			<div class="clear"> </div>
		</div>

	{% empty %}
	
		<p>We have no suggested actions for you at this time. Your <a href="/home">home dashboard</a> will show you the comments you have left so far.</p>
	
	{% endfor %}
	
	</div>
</div>
{% endblock %}

