{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Suggestions for Action{% endblock%}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% endblock %}
{% block content %}
<div class="content"> 
	<h1>Suggestions for Action</h1>
	
	<div class="col_9 col_top">
		
	{% for sug in suggestions %}
		{% if forloop.first %}
		<p>We have computed the following actions that you might be interested in taking based on the positions you previously left on legislation.</p>
		{% endif %}
	
		<div>
			<div class="col_5">
				<div style="float: right"><a class="action" href="{{sug.bill.url}}">Action</a></div>
				<h4><a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a></h4>
				{% if sug.source %}
					<p>Recommended because you weighed in on <a href="{{sug.source.url}}">{{sug.source.title|truncatewords:10}}</a>.</p>
				{% else %}
					<p>This bill is trending on POPVOX.</p>
				{% endif %}
				<p>{{sug.bill.status}}</p>
			</div>
			
			{% bill_statistics sug.bill as stats %}
			{% with sug.bill as bill %}
			{% with bill.id as chart_id %}
				{% include "popvox/bill_statistics_pie_simple.html" %}
			{% endwith %}
			{% endwith %}
			
			
			<div class="clear"> </div>
		</div>

	{% empty %}
	
		<p>We have no suggested actions for you at this time. Your <a href="/home">home dashboard</a> will show you the comments you have left so far.</p>
	
	{% endfor %}
	
	</div>
</div>
{% endblock %}

