{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Home{% endblock%}
{%block nav_legstaff_class_dashboard%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
	function showtab(tab) {
		if ($('#' + tab + '_tab').hasClass('active')) return false;

		if (tab == "tracked" && tracked_bills_changed) {
			window.location = '/home';
			return true;
		} else if (tab == "hidden" && antitracked_bills_added) {
			window.location = '/home#' + tab;
			window.location.reload();
			return true;
		} else if (tab != "tracked" && tab != "hidden" && antitracked_bills_removed) {
			window.location = '/home#' + tab;
			window.location.reload();
			return false;
		}
		
		$('.tab_panel').hide();
		$('.horz_tabs li, .ul_tags li').removeClass('active');
		$('#' + tab + "_panel").fadeIn();
		$('#' + tab + '_tab').addClass('active')
		return false; // cancel click
	}

	function addRemoveIssueArea(add_remove, id, statuslabelid, callback) {
		ajax(
			"/ajax/accounts/profile/updatefield",
			{ name: "issue-" + add_remove, value: id},
			{
				success: function() {
					callback(issuearea_list);
					$('#issuearealist').html("");
					for (var ix in issuearea_list) {
						var n = $("<li></li>");
						$(n).text(issuearea_list[ix][1]);
						$('#issuearealist').append(n);
					}
				},
			}
		);
	}
	var issuearea_list = [{% for issue in user.userprofile.issues.all %}[{{issue.id}}, "{{issue.name|escapejs}}"],{% endfor %}];						

	var last_expando = null;
	function expando(billid) {
		if (last_expando) {
			$('#bill_' + last_expando + '_details').hide();
			$('#bill_' + last_expando + '_expando').removeClass("active");
			$('#bill_' + last_expando + '_row1').removeClass("active");
			$('#bill_' + last_expando + '_row2').removeClass("active");
		}
		if (last_expando == billid) {
			last_expando = null;
			return false;
		}
		$('#bill_' + billid + '_details').fadeIn();
		$('#bill_' + billid + '_expando').addClass("active");
		$('#bill_' + billid + '_row1').addClass("active");
		$('#bill_' + billid + '_row2').addClass("active");
		last_expando = billid;
		return false; // cancel click
	}
	
	{% if districtstr %}
	function show_activity() {
		$('#activityloadingstatus').text("Loading...");
		$.ajax({
			type:"POST",
			url: "/ajax/activity",
			data: {
				default_district: 1,
			},
			complete: function(res, status) {
				$('#activityloadingstatus').text("");
				
				if (status != "success") {
					$('#activityloadingstatus').text("Error loading report.");
					return;
				}
				
				$('#activity').html(res.responseText);
			}
		});
	}
	$(show_activity);
	{% endif %}
	
	{% with "1" as leg_staff_home_tabs %}
	{% include "popvox/track.js" %}
	{% endwith %}
	function update_tabs() {
		ajax("ajax/home/legstaff/bill_categories", {}, {
			success: function(ret) {
				var curtab = $('.suggestiontab.active')[0];
				if (curtab) curtab = curtab.id;
				
				$('.suggestiontab').remove();
				
				for (var tab in ret.tabs) {
					var n = document.createElement('li');
					n.setAttribute("id", ret.tabs[tab].id + "_tab");
					n.setAttribute("class", "suggestiontab");
						
					var a = document.createElement('a');
					n.appendChild(a);
					a.setAttribute("href", "#");
					a.setAttribute("onclick", "return showtab('" + ret.tabs[tab].id + "')");
					
					var t = document.createTextNode(ret.tabs[tab].shortname + " (" + ret.tabs[tab].count + ")");
					a.appendChild(t);
					
					$('.ul_tags').append(n);
				}
				
				if (curtab) $('#' + curtab).addClass("active");
			}
		});
	}
</script>
{% endblock %}
{% block content %}
<div class="content leg_staff">

	<div class="col_9 dash">
		<ul class="horz_tabs">
			{% comment %}If the set of tracked bills has changed, then reload the page when user clicks the tracked bills tab. We're dynamically updating the other suggestions tab so no need to reload those.{% endcomment %}
			<li class="active" id="tracked_tab"><a href="/home" onclick="return showtab('tracked')" title="bills you have bookmarked">Bookmarked</a></li>
			
			{% if districtstr %}
			<li id="districtcomments_tab"><a href="#" onclick="return showtab('districtcomments')" title="recent comments from your district">Comments<!-- In Your {{districtstr}}--></a></li>
			{% endif %}

			<li id="suggestions_tab"><a href="#" onclick="return showtab('suggestions')" title="change settings of what is shown here">Settings</a></li>
			
			<li id="hidden_tab"><a href="#" onclick="return showtab('hidden');" title="bills you have hidden">Hidden</a></li>
	
			<div class="clear"> </div>
			
			<script>$(function() {
				if (window.location.hash != "") {
					showtab(window.location.hash.substring(1));
					window.location.hash = "";
				}
			});</script>
		</ul>
		
		<ul class="ul_tags">
			{% for group in suggestions %}
				{% comment %}see update_tabs above{% endcomment %}
				<li id="{{group.id}}_tab" class="suggestiontab"><a href="#" onclick="return showtab('{{group.id}}')">{{group.shortname}} ({{group.count}})</a></li>
			{% endfor %}
		</ul>
		<div class="clear"> </div>
		
		<div id="tracked_panel" class="tab_panel">
			<h2>Bookmarked Legislation</h2>
			
			<table width="100%">
			{% for bill in tracked_bills %}
				<tr class="billbeingtracked" billid="{{bill.id}}">
					<td style="padding-right: 1em";>
						<div style="width: 500px; overflow: hidden; " title="{{bill.title}}">
							<h4>
								<a href="{{bill.url}}/report">
									{{bill.title}}
								</a>
							</h4>
						</div>
					</td>
					<td style="padding-right: 1em;">
						<div style="width: 75px; overflow: hidden;" title="{{bill.sponsor.name}}">
							<div style="height: 1em;">
								({{bill.sponsor.lastname}})
							</div>
						</div>
					</td>
					<td class="flipcolor">
						{% with "+" as tracktype %}
						{% include "popvox/track.html" %}
						{% endwith %}
					</td>
				</tr>
				<tr class="billbeingtracked tracked_detail" billid="{{bill.id}}">
					<td colspan="3" style="padding: .5em">
						{% bill_statistics bill as stats local %}
						{% if stats %}
							<a href="{{bill.url}}/report">
								<div id="chart-container--{{bill.id}}" class="img_chart" style="width: 75px; height: 75px"></div>
							</a>
							<script>bill_chart("chart-container--{{bill.id}}", {{stats.pro_pct}}, {{stats.con_pct}}, { small: true });</script>
							
							<div class="chart_info">
								<div class="col_chart">
									<p class="chart_stats">
										<span class="chart_title">{{stats.longdescription}}:</span><br />
										<span class="bg_support">{{stats.pro_pct}}% Support</span><br />
										<span class="bg_oppose">{{stats.con_pct}}% Oppose </span><br />
										<span class="users">({{stats.total}} users)</span>
									</p>
								 </div>
								 <div class="col_2 col_last">
									 <p class="view_report">
										<span><a href="{{bill.url}}/report">View Report</a></span>
									</p>
								</div>
							</div>
						{% else %}
							<small>Too few constituents {% if districtstr %}in your {{districtstr|lower}}{% endif %} have commented on this bill to display statistics.</small>
						{% endif %}
	
						<p>{{bill.status_advanced}}</p>
						{% for date, text in bill.latest_action_formatted %}
							{% if date %}
							<div>{{date}}: {{text}}</div>
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td>
						<p>You have not bookmarked any legislation here.</p>
						
						{% if suggestions %}
						<p>You have automatically tracked legislation in the following categories:</p>
						<ul class="bullets">
							{% for group in suggestions %}
								<li><a href="#" onclick="return showtab('{{group.id}}')">{{group.name}} ({{group.count}} bill{{group.count|pluralize}})</a></li>
							{% endfor %}
						</ul>
						<p>Click the plus sign next to a bill on those pages to add it to this bookmarked legislation section.</p>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		
		{% for group in suggestions %}
			<div id="{{group.id}}_panel" class="tab_panel" style="display: none">
				<h2>{{group.name}}</h2>

				<table width="100%">
				{% comment %}
				<thead>
					<tr>
						<th colspan="2">Bill</th>
						<th>Sponsor</th>
						<th># Co</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				{% endcomment %}
				
				{% for subgroup in group.subgroups %}
					<tr>
						<td colspan="5">
							<h4>{{subgroup.name}}</h4>
						</td>
					</tr>
					{% for bill in subgroup.bills %}
						<tr id="bill_{{subgroup.id}}_{{bill.id}}_row1" class="bill" billid="{{bill.id}}" valign="top">
							<td style="padding-left: 5px; padding-right: 1em">
								<nobr><a href="{{bill.url}}/report">
									{{bill.displaynumber}}
								</a></nobr>
							</td>
							<td style="padding-right: 1em";>
								<div style="width: 190px; overflow: hidden; " title="{{bill.title}}">
									<div style="width: 1000px; height: 1.2em;">
										<a href="{{bill.url}}/report">
											{{bill.title_no_number}}
										</a>
									</div>
								</div>
							</td>
							<td style="padding-right: 1em;">
								<div style="width: 75px; overflow: hidden;" title="{{bill.sponsor.name}}">
									<div style="width: 1000px; height: 1.2em;">
										{{bill.sponsor.party}} | 
										{{bill.sponsor.lastname}}
									</div>
								</div>
							</td>
							<td style="padding-right: 1em">
								{% comment %}when the metadata isn't loaded, this comes out as None; unfortunately this also hides zero cosponsors, but actually I kinda like that{% endcomment %}
								{% if bill.num_cosponsors %}
								<div title="{{bill.num_cosponsors}} cosponsor{{bill.num_cosponsors|pluralize}}">
									{{bill.num_cosponsors}}
								</div>
								{% endif %}
							</td>
							<td style="padding-right: 1em;">
								{% if group.id != "local" %}
								<div style="width: 140px; overflow: hidden;" title="{{bill.status_advanced}}">
									<div style="width: 1000px; height: 1.2em;">
										<a href="#" onclick="return expando('{{subgroup.id}}_{{bill.id}}')">
											{{bill.status_advanced_abbreviated}}
										</a>
									</div>
								</div>
								{% endif %}
							</td>
							<td class="flipcolor">
								{% with "+" as tracktype %}
								{% include "popvox/track.html" %}
								{% endwith %}
								
								{% if group.id != "local" %}
								{% with "-" as tracktype %}
								{% include "popvox/track.html" %}
								{% endwith %}
								
								<div id="bill_{{subgroup.id}}_{{bill.id}}_expando" class="expand" onclick="expando('{{subgroup.id}}_{{bill.id}}')" title="More Info">Expand/Collapse</div>
								{% endif %}
							</td>
						</tr>
						<tr id="bill_{{subgroup.id}}_{{bill.id}}_row2" class="billdetails">
							<td id="bill_{{subgroup.id}}_{{bill.id}}_details" colspan="6" style="{% if group.id != "local" %}display: none;{% else %}background-color: inherit;{% endif %} padding: 1em">
								<div style="width: 275px; float: right">
									{% comment %}
										only pre-load stats for this tab because otherwise we'll make too many db calls
									{% endcomment %}
									{% if group.id == "local" %}
									{% bill_statistics bill as stats local %}
									{% if stats %}
										<div style="width: 90px; float: left">
											<a href="{{bill.url}}/report">
												<div id="chart-container--{{bill.id}}" class="img_chart" style="width: 75px; height: 75px"></div>
											</a>
											<script>bill_chart("chart-container--{{bill.id}}", {{stats.pro_pct}}, {{stats.con_pct}}, { small: true });</script>
											 <p class="view_report clear" style="padding: 0">
												<span><a href="{{bill.url}}/report">View Report</a></span>
											</p>
										</div>
										
										<div class="chart_info">
											<div class="col_chart">
												<p class="chart_stats">
													<span class="chart_title">{{stats.longdescription}}:</span><br />
													<span class="bg_support">{{stats.pro_pct}}% Support</span><br />
													<span class="bg_oppose">{{stats.con_pct}}% Oppose </span><br />
													<span class="users">({{stats.total}} users)</span>
												</p>
											</div>
										</div>
									{% else %}
										<small>Too few constituents in your {{districtstr|lower}} have commented on this bill to display statistics.</small>
									{% endif %}
									{% endif %}
								</div>
								
								<p>Status: {{bill.status_advanced}}</p>
								{% for date, text in bill.latest_action_formatted %}
									{% if date %}
									<div>{{date}}: {{text}}</div>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
				</table>
			</div>
			
		{% endfor %}
		
		<div id="suggestions_panel" class="tab_panel" style="display: none">
			<h2>Automatic Tracking Settings</h2>
			<p>POPVOX automatically tracks legislation relevant to you based on your <a href="/accounts/profile">account settings</a> and the issue areas you choose that are relevant to your policy work:</p>
			{% if suggestions|length == 0 %}<p>Right now you don&rsquo;t have any automatically tracked legislation.</p>{% endif %}
			
			<ul id="issuearealist" class="bullets">
				{% for ix in user.userprofile.issues.all %}
					<li>{{ ix.name }}</li>
				{% endfor %}
			</ul>
			<a class="btn b_add_edit_issues" href="#" onclick="return showIssueAreaChooser(issuearea_list, function () { window.location.reload() });">Add{% if user.userprofile.issues.all %}/Remove{% endif %} Issue Areas</a>
			
			
			{% include "popvox/issueareachooser.html" %}	
		</div>

		{% if districtstr %}
			<div id="districtcomments_panel" class="tab_panel block your_feed" style="display: none">
				<h2>Recent Comments In Your {{districtstr}}</h2>
				
				<div id="activityloadingstatus"></div>
				
				<div id="activity"></div>
			</div>
		{% endif %}
		
		<div id="hidden_panel" class="tab_panel" style="display: none">
			<h2>Legislation You&rsquo;ve Hidden</h2>
			
			{% if antitracked_bills %}
				<p>Below are the bills you&rsquo;ve removed from your automatically tracked legislation tabs.</p>
			{% endif %}

			<table width="100%">
			{% for bill in antitracked_bills %}
				<tr class="bill billhidden" billid="{{bill.id}}">
					<td style="padding-left: 5px; padding-right: 1em">
						<nobr><a href="{{bill.url}}/report">
							{{bill.displaynumber}}
						</a></nobr>
					</td>
					<td style="padding-right: 1em";>
						<div style="width: 400px; overflow: hidden; " title="{{bill.title}}">
							<div style="width: 1000px; height: 1em;">
								<a href="{{bill.url}}/report">
									{{bill.title_no_number}}
								</a>
							</div>
						</div>
					</td>
					<td style="padding-right: 1em;">
						<div style="width: 75px; overflow: hidden;" title="{{bill.sponsor.name}}">
							<div style="width: 1000px; height: 1em;">
								{{bill.sponsor.lastname}}
							</div>
						</div>
					</td>
					<td class="flipcolor">
						{% with "+" as tracktype %}
						{% include "popvox/track.html" %}
						{% endwith %}
						
						{% with "-" as tracktype %}
						{% include "popvox/track.html" %}
						{% endwith %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td>
						<p>Any legislation you hide from automatic tracking tabs will appear here so you can find it again. You have not hidden any legislation yet.</p> 
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	
	</div>

	{% include "ads/rightbar.html" %}

	<div class="col_3 col_last">
		<div class="search_orange">
			<div class="search_box">
				<p><strong>Bill Search</strong></p> 
				{% include "popvox/billsearch_form.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

