{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Home{% endblock%}
{%block nav_citzen_class_home%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
function clear_all_panels() {
	$('#newsfeed').hide();
	$('#pverify').hide();
}

function phone_number_twilio_callback() {
	$('#verify_phone').fadeOut();
	clear_all_panels();
	$('#newsfeed').fadeIn(); 
	$('#status').fadeIn();
	$('#status').text("Your phone number has been verified.");
	$('#status').delay(3000).fadeOut();
}
{% include "popvox/bookmarked_bills.js" %}
</script>
<style>
.action {
	display: block;
	float: left;
	margin: 4px 15px 20px 0;
}
</style>
{% endblock %}
{% block content %}
<div class="content"> 

<div class="col_9 col_top">
	<h1>Home</h1>
	<a id="edit_tip" href="/accounts/profile">edit profile</a>

	<div class="col_6 col_top">
		<div id="status" style="display: none; position: absolute; margin-top: -1em; color: #497">
		</div>
		
		<div id="postmsg" style="display: none; margin: 1em 0 1em 0; border: 1px solid black; color: #497; padding: .75em">
		</div>
		
		<script>
		if (window.location.hash == "#welcome") {
			$('#postmsg').text("Welcome to POPVOX!")
			$('#postmsg').show();
		}
		</script>
		
		<div id="newsfeed" class="col_9 col_top">
			<script>
			function hide_prompt(billid) {
				ajax(
					"/ajax/accounts/profile/trackbill",
					{
						bill: billid,
						track: "-"
					},
					{
						success: function(ret) {
							var has_remaining_sugs = false;
							$('#suggestions ul.prompts li').each(function() {
								if (this.getAttribute("billid") == billid)
									$(this).fadeOut();
								else
									has_remaining_sugs = true;
							});
							//if (!has_remaining_sugs) $('#suggestions').fadeOut(); // there is still the last two bullets
						}
					});
				return false;
			}
			</script>
			<div id="suggestions">
			{% for sug in suggestions %}
				{% if forloop.first %}
				<h3 class="mar_no">Here are some suggestions for you</h3>
				<ul class="prompts">
				{% endif %}
			
				<li billid="{{sug.bill.id}}">
					{% if forloop.counter <= 2 %}
						<div class="col_6">
						<div style="margin-bottom: .5em"><a href="{{sug.bill.url}}" style="font-weight: bold;">{{sug.bill.title|truncatewords:10}}</a></div>
						<a class="action" href="{{sug.bill.url}}">Action</a>
						<p>
						{% if sug.source %}
							Recommended because you weighed in on <a href="{{sug.source.url}}">{{sug.source.title|truncatewords:10}}</a>.
						{% else %}
							This bill is trending on POPVOX.
						{% endif %}
						Not interested? <a href="#" onclick="return hide_prompt({{sug.bill.id}});">Hide this</a>.
						</p>
						</div>
						
						{% bill_statistics sug.bill as stats %}
						{% with sug.bill as bill %}
						{% with bill.id as chart_id %}
						{% with 60 as chart_size %}
						{% with 1 as chart_no_links %}
							{% include "popvox/bill_statistics_pie_simple.html" %}
						{% endwith %}
						{% endwith %}
						{% endwith %}
						{% endwith %}
						
					{% else %}
						<div><a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a></div>
						<div style="margin-left: 30px"><small>Not interested? <a href="#" onclick="return hide_prompt({{sug.bill.id}});">Hide this</a>.</small></div>
					{% endif %}
					<div class="hr"> </div>
					
				</li>
				
				{% if forloop.last %}
				</ul>

				<ul class="bullets">
					<li><a href="/home/suggestions">More suggestions and explanation...</a></li>
					<li><a href="/bills">More bills...</a></li>
				</ul>
				{% endif %}
			{% endfor %}
			</div>
					
			 <div class="mar_top">
				 <h3>Your Recent Comments</h3>
				
				{% with user.comments.all as comments %}
				{% if comments|length == 0 %}
					<p>You have not made any comments on legislation yet. Go <a href="/bills">find a bill</a> that you have an opinion about.</p>
				{% endif %}
				{% for comment in comments %}
					<div class="{% if comment.position == "+" %}endorse{% else %}oppose{% endif %}">
						<p class="date">{{comment.updated|date2}}</p>
						<h4>You {% if comment.position == "+" %}support{% else %}oppose{% endif %} <a href="{{comment.bill.url}}">{{comment.bill.shortname}}</a></h4>
						{% if comment.message %}
						<p style="margin-bottom: 0">&ldquo;{{comment.message|truncatewords:30}}&rdquo; </p>
						<p style="margin-bottom: 0"><small>({{comment.delivery_status}})</small></p>
						{% if comment.status = 1 %}
							<p><small>({{comment.review_status}})</small></p>
						{% endif %}
						{% if comment.status > 1 %}
							<p class="error">{{comment.review_status}}</p>
						{% endif %}
						{% else %}
						<p style="margin-bottom: 0"><small>{{comment.bill.title_no_number|truncatewords:10}}</small></p>
						{% endif %}
						<div>
							<!--<p class="tag">you {% if comment.position == "+" %}support{% else %}oppose{% endif %} <a href="{{comment.bill.url}}">{{comment.bill.shortname}}</a></p>-->
							<p class="edit edit_box">
								<a href="{{comment.bill.url}}/comment">change</a> |
								<a href="{{comment.bill.url}}/comment/share">share</a> |
								<a href="{{comment.bill.url}}/report">what others wrote</a>
							</p>
						</div>
					</div>
				{% endfor %}
				{% endwith %}
			</div><!-- e:mar -->
		</div>
		
		<div id="pverify" style="display: none">
			<h2>Verify A Phone Number</h2>
			<p>Verifying a phone number helps us ensure that no one is gaming the system by registering many accounts. We won&rsquo;t save your phone number in our records, but we will be able to make sure that no two people use the same number.</p>
			{% include "phone_number_twilio/verify.html" %}
			<p><input type='button' value='Cancel' onclick="clear_all_panels(); $('#newsfeed').fadeIn();"/></p>
		</div>
		
	</div>
	
<!--	
	<div class="col_3 col_top col_last">
		<div class="block homework">
			{% if not user.phonenumber.get.verified %}
			<h3>Homework</h3>

			<div id="verify_phone pad_btm">
				<h4>Verify A Phone Number</h4>
				<p>Verifying a phone number helps us ensure that users do not create multiple accounts to stuff the ballot. This step is optional.</p>
				<div class="clear"><a class="b_verify_phone btn" href="#" onclick="clear_all_panels(); $('#pverify').fadeIn(); return false;">Verify Phone</a></div>
				<div class="clear"> </div>
			</div>
			{% endif %}
	
			<div class="mar_top">
				<h3>Settings</h3>
			
				<p><a class="b_edit_profile btn" href="/accounts/profile">Edit Profile</a></p>
	
				{% if user.phonenumber.get.verified %}
				<p>
					Phone Number: Verified
					{% if not user.phonenumber.get.locked_until %}
					(<a href="#" onclick="clear_all_panels(); $('#pverify').fadeIn(); return false;">Change Number</a>)
					{% endif %}
					{% if user.phonenumber.get.locked_until %}
					<span style="color: #888">(Locked until {{ user.phonenumber.get.locked_until }})</span>
					{% endif %}
				</p>
				{% endif %}
			</div><!-- e:mar
		</div><!-- e:block 
	</div>
-->	
	
	{% include "popvox/bookmarked_bills.html" %}
</div>

	{% include "ads/rightbar.html" %}

</div>
{% endblock %}

