{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Home{% endblock%}
{%block nav_orgadmin_class_dashboard%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% endblock %}
{% block content %}
<div class="content">

<div class="col_9 col_top">
	{% for role in user.orgroles.all %}
		<h1>Home</h1>

		{% if not role.org.description %}
		<p class="whattodonext" style="border-bottom: none">Welcome to POPVOX. The first step is to <a href="{{role.org.url}}/_edit">edit your organization profile</a>.</p>
		{% endif %}
	{% endfor %}

	<div class="col_6 col_top">
		<div class="block leg_agenda">
			<h3>Let&rsquo;s check on your legislative agenda:</h3>
				
			{% for cam in cams %}
				{% if not cam.default %}
				{% comment %} <p>{{ cam.org.name }}</p> {% endcomment %}
				<h4 class="campaign_title"><span>Campaign:</span> {{ cam.name }}</h4>
				{% endif %}
			
				{% for pos in cam.positions.all %}
					<div class="{% if pos.position == '+' %}endorse{% endif %}{% if pos.position == '-' %}oppose{% endif %}">
						<h4><a href="{{pos.bill.url}}">{{pos.bill.title|truncatewords:10}}</a> <span>({% if pos.position == '+' %}Endorsing{% endif %}{% if pos.position == '-' %}Opposing{% endif %})</span></h4>
						
						{% bill_statistics pos.bill as stats %}
						{% if stats %}
							<a href="{{pos.bill.url}}/report">
								<div id="chart-container--{{cam.id}}-{{pos.id}}" class="img_chart" style="width: 75px; height: 75px"></div>
							</a>
							<script>bill_chart("chart-container--{{cam.id}}-{{pos.id}}", {{stats.pro_pct}}, {{stats.con_pct}}, { small: true });</script>
							
							<div class="chart_info">
								<div class="col_chart" style="width: 300px">
									<p class="chart_stats">
										<span class="chart_title">{{stats.longdescription}}: <span class="users">({{stats.total}} users)</span></span><br />
										<span class="bg_support">{{stats.pro_pct}}% Support</span><br />
										<span class="bg_oppose">{{stats.con_pct}}% Oppose </span><br />
									</p>
								 </div>
							</div>
						{% endif %}
					</div>
					<div class="hr"> </div>
				{% endfor %}
			{% endfor %}
				
			{% for role in user.orgroles.all %}
				{% if cams %}
				<h3>Revising Your Legislative Agenda</h3>
				{% endif %}
				<p class="whattodonext">
					{% if not cams %}
					You haven&rsquo;t entered your legislative agenda yet. You can either <a href="{{role.org.url}}/_newcampaign">create a new campaign</a> or search for a bill to endorse or oppose in your legislative agenda:
					{% else %}
					To revise your legislative agenda you can use your <a href="{{role.org.url}}">profile page</a> or search for a bill that your organization endorses or opposes:
					{% endif %}
				</p>
				{% with role.org as org %}
				<div class="bill_search search_orange">
					<div class="search_box">
						<p><strong>Bill Search</strong></p>
						{% include "popvox/endorse_oppose.html" %}
					</div>
				</div>
				{% endwith %}
			{% endfor %}
		</div>
	</div>	
		
	<div class="col_3 col_top col_last">	
		<div class="block your_feed">
			<h3>Your Feed:</h3>
			
			{% for item in feed.entries %}
				<div class="feed_item">
					<p class="date">{{item.updated|parse_feed_time}}</p>
					<h5>{{item.title}}</h5>
					{{item.summary|safe}}
					<p class="tag">{% for tag in item.tags %}{{tag.term}}{% endfor %}</p>
					<p class="more"><a href="{{item.link|translate_govtrack_link}}">details <span>on govtrack.us</span></a></p>
				</div>
			{% empty %}
				<p class="tip">There are no recent events to show.</p>
			{% endfor %}
			<p>The feed is based on bills in your legislative agenda and subject areas chosen for your organization.</p>
			
		</div>
				
	</div>
</div>

{% include "ads/rightbar.html" %}
	
</div>
{% endblock %}

