{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Docket{% endblock%}
{%block nav_legstaff_class_docket%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
	function showtab(tab) {
		if ($('#' + tab + '_tab').hasClass('active')) return false;

		$('.tab_panel').hide();
		$('.horz_tabs li, .ul_tags li').removeClass('active');
		$('#' + tab + "_panel").fadeIn();
		$('#' + tab + '_tab').addClass('active')
		
		if (tab == "issues" || tab.substring(0, 6) == "issue_") {
			$('#issues_tab').addClass('active')
			$('#issue_tabs').fadeIn();
		} else {
			$('#issues_tab').removeClass('active')
			$('#issue_tabs').hide();
		}
		
		if (tab == "issues") {
			$('#issues_no_bills').hide();
			var ix = $('.tab_panel[type=issue]')[0];
			if (ix)
				return showtab(ix.id.substr(0, ix.id.length-6));
			else if (issuearea_list.length == 0)
				return show_add_remove_issues();
			else
				$('#issues_no_bills').show();
		}
		
		if ($('#' + tab + "_panel").text() == "" && tab != "issues")
			refresh_tab(tab);
		
		return false; // cancel click
	}

	function show_add_remove_issues() {
		showIssueAreaChooser(issuearea_list, function () { antitracked_bills_removed = true; update_tabs(); });
		return false;
	}
	
	function addRemoveIssueArea(add_remove, id, statuslabelid, callback) {
		ajax(
			"/ajax/accounts/profile/updatefield",
			{ name: "issue-" + add_remove, value: id},
			{
				success: function() {
					callback(issuearea_list);
					$('#issuearealist').html("");
					for (var ix in issuearea_list) {
						var n = $("<li></li>");
						$(n).text(issuearea_list[ix][1]);
						$('#issuearealist').append(n);
					}
				}
			}
		);
	}
	var issuearea_list = [{% for issue in user.userprofile.issues.all %}[{{issue.id}}, "{{issue.name|escapejs}}"],{% endfor %}];
	
	function toggle_filter() {
		if ($('#filter_tab').hasClass('active')) {
			$('#settings_panel').fadeOut();
			$('#filter_tab').removeClass('active');
		} else {
			$('#settings_panel').fadeIn();
			$('#filter_tab').addClass('active');
		}
	}

	var last_expando = null;
	function expandbill(billid, elemid) {
		if (last_expando) {
			$('#bill_' + last_expando + '_details').hide();
			$('#bill_' + last_expando + '_expando').removeClass("active");
			$('#bill_' + last_expando + '_row1').removeClass("active");
			$('#bill_' + last_expando + '_row2').removeClass("active");
		}
		if (last_expando == elemid) {
			last_expando = null;
			return false;
		}
		
		$('#bill_' + elemid + '_details').fadeIn();
		$('#bill_' + elemid + '_expando').addClass("active");
		$('#bill_' + elemid + '_row1').addClass("active");
		$('#bill_' + elemid + '_row2').addClass("active");
		
		$.ajax({
			type:"POST",
			url: "/ajax/activity",
			data: {
				"default-locale": true,
				"bill": billid,
				"count": 3
			},
			complete: function(res, status) {
				$('#bill_' + elemid + '_details_dynamic').html(res.responseText);
			}
		});
		
		last_expando = elemid;
		return false; // cancel click
	}
	
	{% with "1" as leg_staff_home_tabs %}
	{% include "popvox/track.js" %}
	{% endwith %}
	
	function update_tabs() {
		ajax("/ajax/docket/bill_categories",
			{
				"filternextvotechamber": $('#filter_bills li.active')[0].getAttribute('value')
			},
			{
			success: function(ret) {
				var curtab = $('.suggestiontab.active')[0];
				if (curtab) curtab = curtab.id.replace("_tab", "");
				if (curtab == "issues") curtab = null;
				
				var newtab;
				
				$('.tab_panel').attr("erase_me", "1");
				$('.suggestiontab').remove();
				
				for (var tab in ret.tabs) {
					var n = document.createElement('li');
					n.setAttribute("id", ret.tabs[tab].id + "_tab");
					n.setAttribute("class", "suggestiontab");
						
					var a = document.createElement('a');
					n.appendChild(a);
					a.setAttribute("href", "#");
					a.setAttribute("onclick", "return showtab('" + ret.tabs[tab].id + "')");
					
					var t = document.createTextNode(ret.tabs[tab].shortname + " (" + ret.tabs[tab].count + ")");
					a.appendChild(t);
					
					if (ret.tabs[tab].type != "issue")
						$('#suggestions_main').append(n);
					else
						$('#suggestions_issues').append(n);
					
					if ($("#" + ret.tabs[tab].id + "_panel")[0]) {
						$("#" + ret.tabs[tab].id + "_panel").attr("erase_me", "");
						if (ret.tabs[tab].id != curtab)
							$("#" + ret.tabs[tab].id + "_panel").text("");
					} else {
						$('#panels').append('<div id="' + ret.tabs[tab].id + '_panel" type="' + ret.tabs[tab].type + '" class="tab_panel" style="display: none"></div>');
						if (!newtab) newtab = ret.tabs[tab].id;
					}
				}
				
				$('.tab_panel[erase_me="1"]').remove();
				
				if (curtab && $('#' + curtab + "_tab")[0]) {
					$('#' + curtab + "_tab").addClass('active');
					$('#' + curtab + "_panel").show();
					refresh_tab(curtab);
				} else if (newtab) {
					showtab(newtab);
				} else {
					showtab("tracked");
				}
			}
		});
	}
	
	function refresh_tab(curtab) {
		$.ajax({
			type:"POST",
			url: "ajax/docket/bill_category_panel",
			data: {
				id: curtab
			},
			complete: function(res, status) {
				$('#' + curtab + '_panel').html(res.responseText);
				refresh_tooltips();
			}
		});
	}
	
	function filter(elem) {
		antitracked_bills_removed = true;
		$('#filter_bills li').removeClass('active');
		$(elem).addClass('active');
		update_tabs();
		return false; // cancel click
	}
	
	function refresh_tooltips() {
		//$("[title]").tooltip({opacity: .9, predelay: 200, xxxposition: "top right"});
	}
	
	$(function() {
		// show the first non-empty tab
		if (window.location.hash == "" || window.location.hash == "#")
			showtab($('.tab_panel[panelid]')[0].getAttribute("panelid"));
		else
			showtab(window.location.hash.substring(1));
	});
</script>
{% endblock %}
{% block content %}
<div class="content leg_staff">

	<div class="col_9 dash">
		<div id="settings_tab"><a id="filter_tab" href="#" onclick="return toggle_filter();" title="Filter Settings">Filter</a></div>

		<ul class="horz_tabs">
			<div id="suggestions_main">
				{% for group in suggestions %}
					{% if group.type != 'issue' %}
						<li id="{{group.id}}_tab" class="suggestiontab {% if forloop.first %}active{% endif %}"><a href="#" onclick="return showtab('{{group.id}}')">{{group.shortname}} ({{group.count}})</a></li>
					{% endif %}
				{% endfor %}
			</div>
			
			<li id="issues_tab"><a href="#" onclick="return showtab('issues');" title="issue areas">Issue Areas</a></li>
	
			<div class="clear"> </div>
		</ul>
		
		<div class="clear"> </div>

		<div id="settings_panel" style="display: none">
			<div class="x"><a href="#" title="close filter" onclick="return toggle_filter()">X</a></div>
			<ul id="filter_bills">
				<li class="txt" title="Does not apply to bookmarked, hidden, and hot-in-your-district bills.">FILTER BILLS:</li>
				<li value=""  {% if filternextvotechamber == "" %}class="active"{% endif %} onclick="return filter(this);">All Bills</li>
				<li value="s"  {% if filternextvotechamber == "s" %}class="active"{% endif %} onclick="return filter(this)">Pending Senate Action</li>
				<li value="h"  {% if filternextvotechamber == "h" %}class="active"{% endif %} onclick="return filter(this)">Pending House Action</li>
			</ul>
		</div>
		
		<div id="issue_tabs" style="display: none">
			
			<!--<div id="question_tab" title="POPVOX automatically tracks legislation relevant to you based on your account settings and the issue areas you choose that are relevant to your policy work:"><a href="#">?</a></div>-->
			<div id="suggestions_tab"><a href="#" onclick="return show_add_remove_issues()" title="Add/Remove Issue Areas">Add/Remove</a></div>

			<ul class="ul_tags">
				<div id="suggestions_issues">
					{% for group in suggestions %}
						{% if group.type == 'issue' %}
							<li id="{{group.id}}_tab" class="suggestiontab"><a href="#" onclick="return showtab('{{group.id}}')">{{group.shortname}} ({{group.count}})</a></li>
						{% endif %}
					{% endfor %}
				</div>
				
				<div class="clear"> </div>
			</ul>
			
			<div id="issues_no_bills" style="display: none">
				<p>There are no bills to show in the issue areas you have chosen. You have selected:</p>
				<ul class="bullets">
				{% for ix in user.userprofile.issues.all %}
					<li>{{ix.name}}</li>
				{% endfor %}
				<li><a href="#" onclick="return show_add_remove_issues()" title="Add/Remove Issue Areas">Add Issue Areas</a></li>
				</ul>
			</div>
			
			{% include "popvox/issueareachooser.html" %}
		</div>
		
		<div class="clear"> </div>
		
		<div id="panels">
		{% for group in suggestions %}
			<div id="{{group.id}}_panel" type="{{group.type}}" class="tab_panel" {% if not forloop.first %}style="display: none"{% endif %} {% if group.count > 0 %} panelid="{{group.id}}"{% endif %}>
				{% include "popvox/home_legstaff_panel.html" %}
			</div>
		{% endfor %}
		</div>

	</div>

	{% include "ads/rightbar.html" %}

	<div class="col_3 col_last" style="float: right">
		<div class="search_orange">
			<div class="search_box">
				<p><strong>Bill Search</strong></p> 
				{% include "popvox/billsearch_form.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

