{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Home{% endblock%}
{%block nav_citzen_class_home%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script>
function clear_all_panels() {
	$('#newsfeed').hide();
	$('#pverify').hide();
}

function phone_number_twilio_callback() {
	$('#verify_phone').fadeOut();
	clear_all_panels();
	$('#newsfeed').fadeIn(); 
	$('#status').fadeIn();
	$('#status').text("Your phone number has been verified.");
	$('#status').delay(3000).fadeOut();
}
</script>
{% endblock %}
{% block content %}
<div class="content"> 

<div class="col_9 col_top">
	<h1>Home</h1>

	<div class="col_6 col_top">
		<div id="status" style="display: none; position: absolute; margin-top: -1em; color: #497">
		</div>
		
		<div id="postmsg" style="display: none; margin: 1em 0 1em 0; border: 1px solid black; color: #497; padding: .75em">
		</div>
		
		<script>
		if (window.location.hash == "#welcome") {
			$('#postmsg').text("Welcome to POPVOX!")
			$('#postmsg').show();
		}
		</script>
		
		<div id="newsfeed" class="your_feed">
		
			{% for sug in suggestions %}
				{% if forloop.first %}
				<h3>Take Action</h3>
				<p></p>
				{% endif %}
			
				<p>
					{% if sug.position == "+" %}Support{% endif %}{% if sug.position == "-" %}Oppose{% endif %} 
					<a href="{{sug.bill.url}}">{{sug.bill.title|truncatewords:10}}</a>
				</p>
				{% if sug.users > 1 %}<p>{{sug.users}} other users who took the same action as you {% if sug.position == "+" %}support{% else %}oppose{% endif %} this bill.</p>{% endif %}
				{% for b,p in sug.sources %}
					<p>(Recommended because you {% if p == "+" %}supported{% else %}opposed{% endif %} <a href="{{b.url}}">{{b.title|truncatewords:6}}</a>.)</p>
				{% endfor %}
				
				{% if forloop.last %}
				<p><a href="/home/suggestions">More suggestions and explanation...</a></p>
				{% endif %}
			{% endfor %}
					
			 <div class="mar_top">
				 <h3>Your Recent Comments</h3>
				
				{% with user.comments.all as comments %}
				{% if comments|length == 0 %}
					<p>You have not made any comments on legislation yet. Go <a href="/bills">find a bill</a> that you have an opinion about.</p>
				{% endif %}
				{% for comment in comments %}
					<div class="{% if comment.position == "+" %}endorse{% else %}oppose{% endif %}">
						<p class="date">{{comment.updated|date2}}</p>
						<h4>You {% if comment.position == "+" %}support{% else %}oppose{% endif %} <a href="{{comment.bill.url}}">{{comment.bill.displaynumber}}</a></h4>
						<p>&ldquo;{{comment.message|truncatewords:30}}&rdquo; </p>
						<div>
							<!--<p class="tag">you {% if comment.position == "+" %}support{% else %}oppose{% endif %} <a href="{{comment.bill.url}}">{{comment.bill.displaynumber}}</a></p>-->
							<p class="edit edit_box">
								<a href="{{comment.bill.url}}/comment">edit</a> |
								<a href="{{comment.bill.url}}/comment/clear">remove</a> |
								<a href="{{comment.bill.url}}/comment/share">share</a>
							</p>
						</div>
					</div>
				{% endfor %}
				{% endwith %}
			</div><!-- e:mar -->			
		</div>
		
		<div id="pverify" style="display: none">
			<h2>Verify A Phone Number</h2>
			<p>Verifying a phone number helps us ensure that no one is gaming the system by registering many accounts. We won&rsquo;t save your phone number in our records, but we will be able to make sure that no two people use the same number.</p>
			{% include "phone_number_twilio/verify.html" %}
			<p><input type='button' value='Cancel' onclick="clear_all_panels(); $('#newsfeed').fadeIn();"/></p>
		</div>
		
	</div>
	
	<div class="col_3 col_top col_last">
		<div class="block homework">
			{% if not user.phonenumber.get.verified %}
			<h3>Homework</h3>

			<div id="verify_phone pad_btm">
				<h4>Verify A Phone Number</h4>
				<p>Verifying a phone number helps us ensure that users do not create multiple accounts to stuff the ballot.</p>
				<div class="clear"><a class="b_verify_phone btn" href="#" onclick="clear_all_panels(); $('#pverify').fadeIn(); return false;">Verify Phone</a></div>
				<div class="clear"> </div>
			</div>
			{% endif %}
	
			<div class="mar_top">
				<h3>Settings</h3>
			
				<p><a class="b_edit_profile btn" href="/accounts/profile">Edit Profile</a></p>
	
				{% if user.phonenumber.get.verified %}
				<p>
					Phone Number: Verified
					{% if not user.phonenumber.get.locked_until %}
					(<a href="#" onclick="clear_all_panels(); $('#pverify').fadeIn(); return false;">Change Number</a>)
					{% endif %}
					{% if user.phonenumber.get.locked_until %}
					<span style="color: #888">(Locked until {{ user.phonenumber.get.locked_until }})</span>
					{% endif %}
				</p>
				{% endif %}
			</div><!-- e:mar -->
		</div><!-- e:block -->
	</div>
</div>

	{% include "ads/rightbar.html" %}

</div>
{% endblock %}

