{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Dashboard{% endblock%}
{%block nav_legstaff_class_dashboard%}active{%endblock%}
{% block head %}
<script>
$(function() {
	$.ajax({
		type:"POST",
		url: "/ajax/activity",
		data: {
			count: 5,
			"default-locale": 1
		},
		complete: function(res, status) {
			$('#activity').html(res.responseText);
		}
	});
});
</script>
{% endblock %}
{% block content %}
<div class="content leg_staff_dash">
	<div class="col_9 col_top">
		<h1>Dashboard</h1>
		<div class="dash_docket">
			<a href="/docket" class="btn b_view_docket">View Docket</a>
			<h3>Docket</h3>
			<div class="hr"> </div>

			{% for tab in docket %}
				<h4>{{tab.shortname}}: <a href="/docket#{{tab.id}}">{{tab.count}} bill{{tab.count|pluralize}}</a></h4>
				{% if not forloop.last %}<div class="hr"> </div>{% endif %}
			{% endfor %}
		</div>

		<div class="dash_comments">
			<a href="/activity" class="btn b_view_more">View More</a>
			<h3>Comments</h3>
			<div id="activity"> </div>
		</div><!-- e: dash_comments -->
	</div> <!-- e: col_9 -->
	
	
	<div class="col_3 col_top col_last">
		<div class="dash_calendar">
			<a href="/calendar" class="btn b_view_calendar">View Calendar</a>
			<h3>Calendar</h3>
			<div class="clear"> </div>
			
			{% for pythondate, weekday, date, items in calendar %}
				<h4><span>{{date}}</span>{{weekday}}</h4>
				{% for item in items %}
					<p>{{item.description}}</p>
				{% endfor %}
			{% endfor %}
			
			<h4></h4>
			<div class="userrichtextcontent">
				{% rawtext "calendar_last_update" %}
			</div>
		</div><!-- e: dash_comments -->
	
	</div> <!-- e: col_3 -->	
</div><!-- e: content -->

{% endblock %}

