{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Home{% endblock%}
{%block nav_orgadmin_class_dashboard%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script>
{% include "popvox/bookmarked_bills.js" %}
</script>
{% endblock %}
{% block content %}
<div class="content">

<div class="col_9 col_top">
	<h1>Home</h1>
	
	{% for role in user.orgroles.all %}
		{% if not role.org.description %}
			<p class="whattodonext" style="border-bottom: none">Welcome to POPVOX. The first step is to <a href="{{role.org.url}}/_edit">edit {{role.org.name}}&rsquo;s profile</a>.</p>
		{% endif %}
	{% endfor %}

	<div class="col_6 col_top">
		<div class="block leg_agenda">
			<h3>Let&rsquo;s check on your legislative agenda:</h3>
			{% for cam in cams %}
				{% if user.orgroles.all|length > 1 %}
				 	{% ifchanged %}
						<h4>{{cam.org.name}}</h4>
					{% endifchanged %}
				{% endif %}
			
				{% if not cam.default %}
				{% comment %} <p>{{ cam.org.name }}</p> {% endcomment %}
				<h4 class="campaign_title"><span>Campaign:</span> {{ cam.name }}</h4>
				{% endif %}
			
				{% for pos in cam.positions.all %}
					<div class="{% if pos.position == '+' %}endorse{% endif %}{% if pos.position == '-' %}oppose{% endif %}{% if pos.position == '0' %}neutral{% endif %}">
						<h4><a href="{{pos.bill.url}}">{{pos.bill.title|truncatewords:10}}</a> <span>({% if pos.position == '+' %}Endorsing{% endif %}{% if pos.position == '-' %}Opposing{% endif %}{% if pos.position == '0' %}Neutral{% endif %})</span></h4>
						
						{% bill_statistics pos.bill as stats %}
						{% with pos.bill as bill %}
						{% with pos.id as chart_id %}
							{% include "popvox/bill_statistics_pie_simple.html" %}
						{% endwith %}
						{% endwith %}
					</div>
					{% if not forloop.last %}
					<div class="hr"> </div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			
			{% if user.orgroles.all|length == 1 %}
			{% for role in user.orgroles.all %}
				{% if cams %}
				<h3>Revising Your Legislative Agenda</h3>
				{% endif %}
				<p class="whattodonext">
					{% if not cams %}
					You haven&rsquo;t entered your legislative agenda yet. You can either <a href="{{role.org.url}}/_newcampaign">create a new campaign</a> or search for a bill to endorse or oppose in your legislative agenda:
					{% else %}
					To revise your legislative agenda you can use your <a href="{{role.org.url}}">profile page</a> or search for a bill that your organization endorses or opposes:
					{% endif %}
				</p>
				{% with role.org as org %}
				<div class="bill_search search_orange">
					<div class="search_box">
						<p><strong>Bill Search</strong></p>
						{% include "popvox/endorse_oppose.html" %}
					</div>
				</div>
				{% endwith %}
			{% endfor %}
			{% endif %}
		</div>
	</div>	
		
	<div class="col_3 col_top col_last">	
		<div class="block your_feed">
		</div>
				
	</div>
	
	{% include "popvox/bookmarked_bills.html" %}

</div>

{% include "ads/rightbar.html" %}
	
</div>
{% endblock %}

