 <script>
 var issuearea_count;
 var issuearea_chooser_change_made;
 var issuearea_chooser_finished_callback;
 function showIssueAreaChooser(selectedissues, finished_callback) {
     issuearea_chooser_finished_callback = finished_callback;
	issuearea_chooser_change_made = false;
     $('#issueareachooser_allissueslist_container').height($(window).height() - 250);
     $.colorbox({
		transition: "none",
		inline: true,
		href:'#issueareachooser',
		opacity: .5,
		onComplete: function() {
			issuearea_count = 0;
			$('#issueareachooser_list').text("");
			$('#issueareachooser_allissueslist ul').text("");
			
			$.ajax({ 
				type:"GET",
				url: "/ajax/issues/chooser_list",
				complete:
					function(res, status) {
						$('#issueareachooser_list').text("");
						$('#issueareachooser_allissueslist ul').html(res.responseText);
						$('#issueareachooser_subissueslist').append($('#issueareachooser_allissueslist div'));
						$('#issueareachooser_allissueslist li').first().click();
						
						for (var i = 0; i < selectedissues.length; i++)
							if (selectedissues[i])
								appendIssueArea(selectedissues[i][0]);
					}
			});
		}
	});
	return false;
 }
 function appendIssueArea(id) {
	var d = document.createElement("li");
	d.setAttribute('id', "issueareachooser_selected_" + id);
	d.setAttribute('onclick', 'removeIssueArea_Chooser(' + id + '); return false;');
	d.setAttribute('title', 'remove issue area');
	d.appendChild(document.createTextNode($("#issueareachooser_list_" + id).text()));
	
	$('#issueareachooser_list').append(d);
	issuearea_count++;
	$('#issueareachooser_listnone').hide();
	//$('#issueareachooser_listhead').show();
	
	$("#issueareachooser_list_" + id).addClass("selected");
 }
 function addIssueArea_Chooser(id) {
	 if ($('#issueareachooser_selected_' + id).attr('id')) {
		 removeIssueArea_Chooser(id);
		 return;
	 }
	
	issuearea_chooser_change_made = true;
	addRemoveIssueArea("add", id, "issue_add_remove_status", function(issueareachooser_list) {
		appendIssueArea(id);
		if (issueareachooser_list)
			issueareachooser_list.push([id, $('#issueareachooser_list_' + id).text()]);
	});
 }
 
 function removeIssueArea_Chooser(id) {
	issuearea_chooser_change_made = true;
	addRemoveIssueArea("remove", id, "issue_add_remove_status", function(issueareachooser_list) {
		$("#issueareachooser_selected_" + id).remove();
		$("#issueareachooser_list_" + id).removeClass("selected");
		issuearea_count--;
		if (issuearea_count == 0) {
			$('#issueareachooser_listnone').show();
			//$('#issueareachooser_listhead').hide();
		}
		if (issueareachooser_list) {
			for (var i = 0; i < issueareachooser_list.length; i++) {
				if (issueareachooser_list[i][0] == id) {
					issueareachooser_list.splice(i, 1); // remove it
					break;
				}
			}
		}
	});
 }
 function issueareachooser_search() {
	var m = $('#issueareachooser_search').val();
	if (!m || m == "" || $('#issueareachooser_search').hasClass('default')) {
		$('#issueareachooser_allissueslist li').show();
		$('#issueareachooser_subissueslist li').show();
		$('#issueareachooser_allissueslist li').first().click();
		return;
	}
	m = m.toLowerCase();
	$('#issueareachooser_allissueslist li').each(function(idx, item) {
		item = $(item);
		if (item.text().toLowerCase().match(m)) {
			item.show()
			$('#' + item.attr('id') + '_sx li').show();
		} else {
			item.hide();
			$('#' + item.attr('id') + '_sx li').each(function(idx2, item2) {
				if ($(item2).text().toLowerCase().match(m)) {
					$(item).show();
					$(item2).show();
				} else {
					$(item2).hide();
				}
			});
		}
	});
	$('#issueareachooser_allissueslist li:visible').first().click();
 }
 </script>
 
<div style="display: none">
	<div id="issueareachooser" class="colorbox">
		<div class="col_3 issues_tracking">
			<h2>Selected Issue Areas</h2>
			<ul id="issueareachooser_list" class="scroller">
			</ul>
			<p id="issueareachooser_listnone">No issue areas have been selected yet. Choose some issue areas from the list on the right by clicking on them.</p>
			<p id="issue_add_remove_status" style="display: none"></p>
			<p class="btn b_finished"><input type="button" class="submit" value="Finished" onclick="$.colorbox.close(); if (issuearea_chooser_finished_callback && issuearea_chooser_change_made) issuearea_chooser_finished_callback()"/></p>
		</div>

		<div class="col_3 issues_cat_ad">
			<h2>Add More Issues</h2>
			<input id="issueareachooser_search" type="text" class="issue_search" />
			<script>$('#issueareachooser_search').input_default('search for an issue by name');</script>
			<script>$('#issueareachooser_search').textchange(issueareachooser_search);</script>
			<h3 class="no_rule">Issue Categories</h3>
			{% if request.ua.os_family == "iPhone OS" %}
				<p><strong>iPhone/iPad: Use two fingers to scroll this list!</strong></p>
			{% endif %}

			<div id="issueareachooser_allissueslist" class="scroller">
				<ul>
				</ul>
			</div>
		</div><!-- e: col_3 -->
	
		<div class="col_3 issues_ad col_last">
			<h3 class="no_rule">Issue Areas</h3>
			<div id="issueareachooser_subissueslist" class="scroller">
			</div>

		</div><!-- e: col_last -->
	</div>
</div>

