 <script>
 var issuearea_count;
 var issuearea_chooser_change_made;
 var issuearea_chooser_finished_callback;
 function showIssueAreaChooser(selectedissues, finished_callback) {
     issuearea_chooser_finished_callback = finished_callback;
	issuearea_chooser_change_made = false;
     $('#issueareachooser_allissueslist_container').height($(window).height() - 250);
     $.colorbox({
		transition: "none",
		inline: true,
		href:'#issueareachooser',
		opacity: .5,
		onComplete: function() {
			issuearea_count = 0;
			$('#issueareachooser_list').text("");
			$('#issueareachooser_allissueslist').text("");
			
			$.ajax({ 
				type:"GET",
				url: "/ajax/issues/chooser_list",
				complete:
					function(res, status) {
						$('#issueareachooser_list').text("");
						$('#issueareachooser_allissueslist').html(res.responseText);
						
						for (var i = 0; i < selectedissues.length; i++)
							if (selectedissues[i])
								appendIssueArea(selectedissues[i][0]);
					}
			});
		}
	});
	return false;
 }
 function appendIssueArea(id) {
	var d = document.createElement("li");
	d.setAttribute('id', "issueareachooser_selected_" + id);
	d.appendChild(document.createTextNode($("#issueareachooser_list_" + id).text() + " ("));

	var r = document.createElement("a");
	r.setAttribute('href', '#');
	r.setAttribute('onclick', 'removeIssueArea_Chooser(' + id + '); return false;');
	r.appendChild(document.createTextNode("remove"));
	d.appendChild(r);

	d.appendChild(document.createTextNode(")"));
	
	$('#issueareachooser_list').append(d);
	issuearea_count++;
	$('#issueareachooser_listnone').hide();
	$('#issueareachooser_listhead').show();
	
	$("#issueareachooser_list_" + id).addClass("active");
 }
 function addIssueArea_Chooser(id) {
	 if ($('#issueareachooser_selected_' + id).attr('id')) {
		 removeIssueArea_Chooser(id);
		 return;
	 }
	
	issuearea_chooser_change_made = true;
	addRemoveIssueArea("add", id, "issue_add_remove_status", function(issueareachooser_list) {
		appendIssueArea(id);
		if (issueareachooser_list)
			issueareachooser_list.push([id, $('#issueareachooser_list_' + id).text()]);
	});
 }
 
 function removeIssueArea_Chooser(id) {
	issuearea_chooser_change_made = true;
	addRemoveIssueArea("remove", id, "issue_add_remove_status", function(issueareachooser_list) {
		$("#issueareachooser_selected_" + id).remove();
		$("#issueareachooser_list_" + id).removeClass("active");
		issuearea_count--;
		if (issuearea_count == 0) {
			$('#issueareachooser_listnone').show();
			$('#issueareachooser_listhead').hide();
		}
		if (issueareachooser_list) {
			for (var i = 0; i < issueareachooser_list.length; i++) {
				if (issueareachooser_list[i][0] == id) {
					issueareachooser_list.splice(i, 1); // remove it
					break;
				}
			}
		}
	});
}
 </script>
 
<div style="display: none">
	<div id="issueareachooser" class="colorbox">
	 
	<h1>Your Issue Areas</h1>

	<div class="col_50">
		<h2>Selected Issue Areas</h2>
		<p id="issueareachooser_listhead" style="display: none">You have selected the following issue areas:</p>
		<ul id="issueareachooser_list" class="bullets">
		 </ul>
		 <p id="issueareachooser_listnone" style="font-style: italic">No issue areas have been selected yet. Choose some issue areas from the list on the right by clicking on them.</p>
		 <p id="issue_add_remove_status" style="display: none"></p>
		 <p><input type="button" class="submit" value="Finished" onclick="$.colorbox.close(); if (issuearea_chooser_finished_callback && issuearea_chooser_change_made) issuearea_chooser_finished_callback()"/></p>
	</div>
	<div class="col_50">
		<h2>Available Issue Areas</h2>
		<p>Click on an issue area to add it to your selection. The issue areas are based on the Library of Congress&rsquo;s classification of legislation.</p>
		 <div id="issueareachooser_allissueslist_container" style="height: 350px; overflow: auto">
			<ul id="issueareachooser_allissueslist" class="issueareachooser_allissueslist">
			</ul>
		</div>
	</div>
	
	</div>
</div>

