{% extends "master.html" %}
{% block title %}POPVOX - {{actionword}} a Key Votes Slate{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}
<link href="/media/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
<style type="text/css">
.ms-container { background: none; }

.helptext {display:none}
th { vertical-align:top }

/*
body {
	background: url(http://sodiumhalogen.com/up/89309e99.jpg) center top no-repeat;
}
*/
	
</style>
{% endblock %}
{% block subnav %}{% include "popvox/home_user_subnav.html" %}{% endblock %}
{% block content %}

<h1>{{actionword}} your Key Votes Slate</h1>
<form name="keyvotes" method="post">{% csrf_token %}
<table>
	{% comment %}{{ form.as_table }}{% endcomment%}
	{{ form.non_field_errors }}
	<div id="keyvotes_meta">
		<div id="keyvotes_meta_left">
			<label id="id_name_label" for="id_name">Slate Name</label>
			{{form.name}}
			<label id="id_org_label" for="id_org">Organization</label>
			{{form.org}}
			<label id="id_visible_label" for="id_visible">Publicly Visible?</label>
			{{form.visible}}

		</div>
		<div id="keyvotes_meta_right">
			<label for="id_description_label">Slate Description</label>
			{{form.description}}
		</div>
		<div class="clear"> </div>

			{{form.bills_support}}
			{{form.bills_oppose}}
			{{form.bills_neutral}}
	</div>
</table>
<input id="b_save" type="submit" value="Save Slate" />
</form>
{% if actionword == "sedit" %}<hr/><a href="/keyvotes/{{org.slug}}/{{slate.slug}}/delete">Delete This Slate</a>{% endif %}
<script src="/media/js/jquery.multi-select.js" type="text/javascript"></script>
<script type="text/javascript">
$('#id_bills_support').multiSelect()
$('#id_bills_oppose').multiSelect()
$('#id_bills_neutral').multiSelect()

$('#ms-id_bills_support').children('.ms-selectable').prepend("<label>Bill List</label>");
$('#ms-id_bills_oppose').children('.ms-selectable').prepend("<label>Bill List</label>");
$('#ms-id_bills_neutral').children('.ms-selectable').prepend("<label>Bill List</label>");

$('#ms-id_bills_support').children('.ms-selection').prepend("<label>Bill Supporting</label>");
$('#ms-id_bills_oppose').children('.ms-selection').prepend("<label>Bill Opposing</label>");
$('#ms-id_bills_neutral').children('.ms-selection').prepend("<label>Bill Neutral</label>");

$('#id_description').prop("rows",7);

if ($('input#id_name').val() === "") {
    $('input#id_name').val("Key Votes");
}
</script>
{% endblock %}


