{% extends "master.html" %}
{% block title %}POPVOX - Congress Match{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}See how your representative and senators voted on bills you have weighed in on.{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}

{% endblock %}
{% block subnav %}{% include "popvox/home_user_subnav.html" %}{% endblock %}
{% block content %}

<div class="content myhill slate">

	<div class="col_9 col_top col_last ">
        {% if type == "match" %}
		<h1 class="rule_btm">Congress Match</h1>
        {% else %} {% comment %} type is keyvotes {% endcomment %}
        <h1 class="rule_btm"> {{org.name}} - {{slate.name}}  {% if admin %} | <a href="/keyvotes/{{org.slug}}/{{slate.slug}}/edit">edit</a> {% endif %}</h1>
        <h3>Christian Coalition</h3>
		<!-- <a href="#" class="b_orange">Build Your Own</a> -->
		<div id="log">
			<h2>How did your Member vote?</h2>
			<a href="#" class="b_orange">Log In to See</a>
		</div>
		<p>Organizations that watch Congress frequently identify "key votes" - - bills they identify as especially important ftp then. This is the slate of Key Votes chosen by [organization].</p>
        <a href="#" class="float_right more_org">View more Organizations ></a>
        <p>How do your Members match up with <strong>[organization]</strong>?</p>
        {% endif %}

        {% if type == "match" %}
		<h3>How Did Your Members of Congress Vote?</h3>
		<p>Are your senators and representative voting the way you want them to? Here is a personalized grid that displays every bill on which you weighed in, along with how your legislators voted if a vote was held on the bill. That includes letting you know if your Member of Congress abstained or was absent.  </p>
        {% else %} {% comment %} type is keyvotes {% endcomment %}
        {{slate.description}}
        {% endif %}
	</div>
	<div class="clear"> </div>

    <table>
        <thead>
            <tr>
                <th id="key">
                	<h3>KEY:</h3>
                	<ul>
                		<li class="agreed">agreed</li>
                		<li class="disagreed">disagreed</li>
                		<li class="ab">absent or abstained</li>                		
                	</ul>
                </th>
                <th class="user">
                    {% if type == "match" %}
                        {% if most_recent_address %}
                            <p>{{most_recent_address.firstname}} {{most_recent_address.lastname}}</p>
                        {% else %}
                            <p>You</p>
                        {% endif %}
                    {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <img src="http://sodiumhalogen.com/up/b63796de.jpg" alt="{{member.name}}" width="66" />
                    {% endif %}
                </th>
                {% for member in members %}
                    <th class="rep">
                        <img src="/static/member_photos/{{member.id}}-100px.jpeg" alt="{{member.name}}" width="65" height="80" />
                        <h4>12%</h4>
                        {% if member.pvurl %}
                        <h3><a href="/member/{{member.pvurl}}">{{member.name}}</a></h3>
                        {% else %}
                        <h3>{{member.name}}</h3>
                        {% endif %}
                        <!--<h3>Rep. Chaka Fattah <span>[D, PA-2]</span></h3>-->
                    </th>
                {% empty %}
                    <th class="rep">
                        <h3>Your Representative</h3>
                    </th>
                    <th class="rep">
                        <h3>Your Senator</h3>
                    </th>
                    <th class="rep">
                        <h3>Your Senator</h3>
                    </th>
                {% endfor %}
            </tr>

            
        </thead>
            {% for comment, votes in billvotes %}

                <tr>
                    <td class="name">
                        {% if type == "match" %}
                        <h3><a href="{{comment.bill.url}}">{{comment.bill.title|truncatewords:13}}</a></h3>
                        <p><strong>Status:</strong> {{comment.bill.status_advanced}}</p>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <h3><a href="{{comment.0.url}}">{{comment.0.title|truncatewords:13}}</a></h3>
                        <p><strong>Status:</strong> {{comment.0.status_advanced}}</p>
                        {% endif %}
                    </td>
                    <td class="user_col {% if type == "keyvotes" %}expandy{% endif %}">
                        {% if type == "match" %}
                        <img src="/media/features/myhill/hill_icon_{% if comment.position == "+" %}heart{% else %}anti{% endif %}.png"/>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                        <img src="/media/features/myhill/hill_icon_{% if comment.1 == "+" %}heart{% else %}anti{% endif %}.png"/>
                        {% endif %}
                        {% if type == "match" %}
                            {% if not comment.message %}
                                <a href="{{comment.bill.url}}/comment">Add Comment</a>
                            {% else %}
                                <span></span>
                                {{comment.message|truncatewords:7}} <a href="{{comment.url}}">more</a>
                            {% endif %}
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                                {{comment.2.comment}}
                                {% if is_admin %}
                                    <br/><span class="editbutton">Edit</span>
                                    <form method="post" class="editform" action="/ajax/keyvotes/{{slate.id}}/editcomment/{{comment.0.id}}>
                                        <textarea class="comment" id="{{slateid}}-{{comment.0.id}}">{{comment.2.comment}}</textarea>
                                        <input type="button" class="submit" id="submitbutton" value="Save" onclick="updatecomment(true, {{slate.id}}, {{comment.0.id}})" style="margin-top: 25px ; margin-bottom: 25px;"/>
                                    </form>
                                {% endif %}
                        {% endif %}
                        
                    </td>
                    {% if votes or not members %}
                        {% for vote, reference in votes %}
                        {% if type == "match" %}
                            <td {% if vote == comment.position %}class="agree"{% endif %}>
                        {% else %} {% comment %} type is keyvotes {% endcomment %}
                            <td {% if vote == comment.1 %}class="agree"{% endif %}>
                        {% endif %}
                            {% if vote == "+" %}<p class="yea"></p>{% endif %}
                            {% if vote == "-" %}<p class="nay"></p>{% endif %}
                            {% if vote == "0" %}<p class="ab"></p>{% endif %}
                            {% if vote == "P" %}<p class="ab"></p>{% endif %}
                            {% if vote == "NR" %}{% endif %}
                            <!--{{reference}}-->
                        </td>
                        {% endfor %}
                    {% else %}
                        <td colspan="{{members|length}}" class="novote">
                            <p>This {{comment.bill.proposition_type}} has not come up for a recorded vote.</p>
                        </td>
                    {% endif %}
                </tr>
                {% empty %}
                    <tr>
                        <td class="name">
                        </td>
                        <td class="user_col">
                            <p>You have not weighed in on any bills in Congress. Go <a href="/bills">find a bill</a> to get started.</p>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                {% endfor %}
		</table>
			
		<div class="clear"> </div>
		
		<small>Not all bills come up for a vote in the House and Senate. Delegates and the Resident Comissioner from Puerto Rico are not elligible to vote on bills. Some bills are voted on multiple times as the House and Senate try to come to an agreement, in which case we show how your Members of Congress voted in the most recent vote on the bill.</small>
	</div>
	
</div>
<script type="text/javascript">
$('.expandy').hover(function() {
  /*  var wrapper = $('<div></div>').appendTo('body').css('display', 'block').css('position', 'absolute').css('top', -10000).css('left', -10000).width($(this).width()).height($(this).height());
    var clone = $(this).clone().appendTo(wrapper);    
    document.getElementById("info").innerHTML = clone.height(); */
},
function() {
    $('this').height(150);
});

$('.editform').hide();

$('.editbutton').click(function() {
    $myform = $(this).siblings('form');
    $myform.show();

});

function updatecomment(validate, slateid, billid) {
    ajaxform(function() {
        
    });
}


</script>

{% endblock %}
