{% extends "master.html" %}
{% block title %}POPVOX - {{actionword}} a Key Votes Slate{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}
<link href="/media/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
<style type="text/css">
.ms-container ul.ms-list { width:400px }
.helptext {display:none}
th { vertical-align:top }
</style>
{% endblock %}
{% block subnav %}{% include "popvox/home_user_subnav.html" %}{% endblock %}
{% block content %}

<h1>{{actionword}} a Key Votes Slate</h1>
<form name="keyvotes" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
{% if actionword == "edit" %}<hr/><a href="/keyvotes/{{org.slug}}/{{slate.slug}}/delete">Delete This Slate</a>{% endif %}
<script src="/media/js/jquery.multi-select.js" type="text/javascript"></script>
<script>
$('#id_bills_support').multiSelect()
$('#id_bills_oppose').multiSelect()
</script>
{% endblock %}