{% extends "master.html" %}
{% block title %}POPVOX - Member of Congress{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}See how your representative and senators voted on bills you have weighed in on.{% endblock %}
{%block nav_citzen_class_home%}active{%endblock%}
{% block head %}

{% endblock %}
{% block subnav %}{% include "popvox/home_user_subnav.html" %}{% endblock %}
{% block content %}

<div class="content myhill">

	<div class="col_12 col_top col_last ">
		<h1 class="rule_btm">Member of Congress / {{member.name}}</h1>
		
		<!--<h3>How Did Your Members of Congress Vote?</h3>
		<p>Are your senators and representative voting the way you want them to? Here is a personalized grid that displays every bill on which you weighed in, along with how your legislators voted if a vote was held on the bill. That includes letting you know if your Member of Congress abstained or was absent.  </p> -->
	</div>
	<div class="clear"> </div>
	<div class="member">
		<div class="member-photo"><img src="/static/member_photos/{{member.id}}-100px.jpeg" alt="{{member.name}}"/></div>
		<p>{{member.name}}</p>
	<div class="member-stats">
		<h3>Member Stats</h3>
		<dl>
			<dt>Congress office</dt>
			<dd>{{memdata.congress_office}}</dd>
			{% if memdata.committees %}<dt>Committees<: </dt>
			<dd><ul>{% for committee in memdata.committees %} <li>{{ committee }}</li> {% endfor %}</ul> {% endif %}</dd>
			<dt>Age</dt>
			<dd>{{ memdata.age }}</dd>
			<dt>Birth Date</dt>
			<dd>{{ memdata.birthday|date:"m/d/Y" }}</dd>
		</dl>
	</div><!--end member-stats -->
	</div><!--end member -->
	
	<div class="member-legislation">
	               <script type="text/javascript" src="/media/js/highcharts.js"></script>
	               <script type="text/javascript" src="/media/js/charts.js"></script>
	       <h2>Legislation</h2>
	       <div class="sponsored">
	               <h3>Sponsored</h3>
	               {% for bill,scope,pro,con in sponsored %}
	                   {% if forloop.first %}<ul>{% endif %}
	                            <li> {{bill.nicename}}
	                           <div id="sponsored_bar_{{forloop.counter}}">
	                                  <script>bill_bar_chart("sponsored_bar_{{forloop.counter}}", {{pro|floatformat}}, {{con|floatformat}}, { bg: "#D4D1CA", nopad: true });</script></div>for the {{scope}}
	                              </li>
	                    {% if forloop.last %}</ul>{% endif %}
	                {% empty %}
	                <p>This member has not sponsored any bills</p>
	                {% endfor %}
	                </div><!--end sponsored -->
	       <div class="co-sponsored">
	       <h3>Co-Sponsored</h3>
	       {% for bill in cosponsored %}
	            {% if forloop.first %}<ul>{% endif %}
	        <li> {{bill.nicename}}
	                <div id="cosponsored_bar_{{forloop.counter}}">
	                 <script>bill_bar_chart("cosponsored_bar_{{forloop.counter}}", {{pro|floatformat}}, {{con|floatformat}}, { bg: "#D4D1CA", nopad: true });</script></div>for the {{scope}}
	             </li></li>
	            {% if forloop.last %}</ul>{% endif %}
	        {% empty %}
	        <p>This member has not co-sponsored any bills</p>
	        {% endfor %}
	        </div><!--end co-sponsored -->
	</div><!--end member-legislation -->

    <div class="member-info">
	<h2>Info</h2>
	<h3>Social</h3>
	<ul>
	{% if memdata.facebook_id %}<li><a href="http://facebook.com/{{memdata.facebook_id}}">Facebook</a></li>{% endif %}
	{% if memdata.youtube_url %}<li><a href="{{memdata.youtube_url}}">YouTube</a></li>{% endif %}
	{% if memdata.twitter_id %}<li><a href="http://twitter.com/{{memdata.twitter_id}}">Twitter</a></li>{% endif %}
    {% if memdata.flickr_id %}<li><a href="http://flickr.com/photos/{{memdata.flickr_id}}">Flickr</a></li>{% endif %}
    {% if memdata.googleplus %}<li><a href="{{memdata.googleplus}}">G Plus</a></li>{% endif %}
</ul>
{% if memdata.last_vid %}
	<iframe width="240" height="312" src="http://www.youtube-nocookie.com/embed/{{memdata.last_vid}}" frameborder="0" allowfullscreen></iframe>{% endif %}
    </div><!--end member-info -->

{% endblock %}
