{% extends "master.html" %}
{% load humanize %}
{% load popvox_utils %}
{% block title %}POPVOX Metrics{% endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<style>
	th, td { padding: 4px 7px 4px 7px; font-size: 12px; }
	th { font-weight: bold; }
	tr.multicol th[colspan] { border-bottom: 1px solid black; text-align: center; }
</style>
{% endblock %}
{% block content %}
<div class="content">
	<div class="col_12 col_top col_last">
		<h1>POPVOX Metrics</h1>
		
		<h3>All-Time</h3>
			
		<div class="col_4 pad_no">
			<ul class="activity bullets">
				<li><strong>All Users:</strong> {{count_users|intcomma}}{% comment %}({{count_users_verified}} phone number verified){% endcomment %}</li>
				<li><strong>Leg Staff:</strong> {{count_legstaff|intcomma}}</li>
				<li><strong>Registered Orgs:</strong> {{count_orgs_selfreg|intcomma}}</li>
				<li><strong>Org Directory:</strong> {{count_orgs_all|intcomma}}</li>
			</ul>
		</div>
		<div class="col_4 pad_no col_last">
			<ul class="activity bullets">
				<li><strong>Positions Left:</strong> {{count_comments|intcomma}}</li>
				<li><strong>Comments Left:</strong> {{count_comments_messages|intcomma}}</li>
			</ul>
		</div>
		<div class="clear"> </div>

		<h3>By Cohort</h3>
		
		<p>Cohorts group users who have left at least one position by the month they joined and excludes any user who left a comment only via a widget.</p>
		<p>Retention is the number of days from the first position left to the most recent position left, excluding positions via widgets. The percents indicate the percent of the cohort with a retention of that number of days or more.</p>
		
		<table>
		<tr class="multicol">
			<th/>
			<th/>
			<th/>
			<th colspan="2">Mean Lifetime</th>
			<th/>
			<th colspan="4">Retention</th>
			<th/>
			<th colspan="5">Login Types (%)</th>
		</tr>
		<tr>
			<th>Joined</th>
			<th>Users</th>
			<th/>
			<th title="Positions">Pos'ns</th>
			<th title="Comments">Com'ts</th>
			<th/>
			<th title="Mean Days">Mean</th>
			<th>1d</th>
			<th>7d</th>
			<th>30d</th>
			<th/>
			<th>Pw.</th>
			<th>G</th>
			<th>FB</th>
			<th>Tw</th>
			<th>L.I.</th>
		</tr>
		{% for date, stats in by_cohort %}
			<tr>
				<td>{{date|date:"Y-m"}}</td>
				<td>{{stats.size.count}}</td>
				<th/>
				<td>{{stats.positions_per_user.count}}</td>
				<td>{{stats.comments_per_user.count}}</td>
				<th/>
				<td>{{stats.retention.mean}}</td>
				<!--<td>{{stats.retention.median}}</td>-->
				<td>{{stats.retention.pctile_1day}}%</td>
				<td>{{stats.retention.pctile_7days}}%</td>
				<td>{{stats.retention.pctile_30days}}%</td>
				<th/>
				<td>{{stats.login_types.password}}</td>
				<td>{{stats.login_types.google_openid}}</td>
				<td>{{stats.login_types.facebook}}</td>
				<td>{{stats.login_types.twitter}}</td>
				<td>{{stats.login_types.linkedin}}</td>
			</tr>
		{% endfor %}
		</table>
		
		{% for period, statsbook in general_stats.items %}
		
		<h3>by {{period}}</h3>
		
		<table>
		<tr class="multicol">
			<th/>
			<th/>
			<th colspan="3">Users</th>
			<th/>
			<th colspan="3">Positions</th>
			<th/>
			<th colspan="3">Comments</th>
			<th/>
			<th colspan="3">Widget Users</th>
			<th/>
			<th colspan="3">Widget Positions</th>
		</tr>
		<tr>
			<th>Date</th>
			<th/>
			<th>New</th>
			<th>Total</th>
			<th>%Chg</th>
			<th/>
			<th>New</th>
			<th>Total</th>
			<th>%Chg</th>
			<th/>
			<th>New</th>
			<th>Total</th>
			<th>%Chg</th>
			<th/>
			<th>New</th>
			<th>Total</th>
			<th>%Chg</th>
			<th/>
			<th>New</th>
			<th>Total</th>
			<th>%Chg</th>
		</tr>
		{% for date, stats in statsbook %}
			<tr>
				<td>{{date|date:"Y-m"}}</td>
				<th/>
				<td>{{stats.new_users.count}}</td>
				<td>{{stats.new_users.cumulative}}</td>
				<td>{{stats.new_users.percent_change}}%</td>
				<th/>
				<td>{{stats.new_positions.count}}</td>
				<td>{{stats.new_positions.cumulative}}</td>
				<td>{{stats.new_positions.percent_change}}%</td>
				<th/>
				<td>{{stats.new_comments.count}}</td>
				<td>{{stats.new_comments.cumulative}}</td>
				<td>{{stats.new_comments.percent_change}}%</td>
				<th/>
				<td>{{stats.new_widget_users.count}}</td>
				<td>{{stats.new_widget_users.cumulative}}</td>
				<td>{{stats.new_widget_users.percent_change}}%</td>
				<th/>
				<td>{{stats.new_widget_positions.count}}</td>
				<td>{{stats.new_widget_positions.cumulative}}</td>
				<td>{{stats.new_widget_positions.percent_change}}%</td>
			</tr>
		{% endfor %}
		</table>
		
		{% endfor %}

		<div id="by_day_chart" style="margin-bottom: 20px"> </div>
		<script>
			var chart;
			$(document).ready(function() {
			   chart = new Highcharts.Chart({
				  chart: {
					 renderTo: 'by_day_chart',
					 defaultSeriesType: 'line',
					 marginRight: 75,
					 marginBottom: 25,
					 backgroundColor: "#e8e5df"
				  },
				  title: {text: ""},
				  xAxis: {
				  	  type: "datetime",
				  	  dateTimeLabelFormats: { // don't display the dummy year
						month: '%b \'%y',
						year: '%b'
					 }
				  },
				  yAxis: [{
					 title: {
						text: 'Users / Comments',
						x: -10
					 },
					 min: 0
				  },
				  {
					 title: {
						text: 'Positions',
						x: 10
					 },
					 min: 0,
					 opposite: true
				  }],
				  /*tooltip: {
					 formatter: function() {
							   return '<b>'+ this.series.name +'</b><br/>'+
						   this.x +': '+ this.y +'';
					 }
				  },*/
				  legend: {
					 layout: 'horizontal',
					 align: 'top',
					 verticalAlign: 'top',
					 x: 100,
					 y: 0,
					 borderWidth: 0
				  },
				  plotOptions: {
				  	  line: {
				  	  	  marker: {
				  	  	  	  enabled: false
				  	  	  },
				  	  	  lineWidth: 2
				  	  }
				  },
				  series: [
				  {
					 name: 'Users',
					 data: [{% for date, stats in general_stats.day reversed %}[Date.UTC({{date.year}}, {{date.month}}-1, {{date.day}}), {{stats.new_users.cumulative}}]{% if not forloop.last %},{% endif %}{% endfor %}]
				  },
				  {
				  	 name: 'Comments',
					 data: [{% for date, stats in general_stats.day reversed %}[Date.UTC({{date.year}}, {{date.month}}-1, {{date.day}}), {{stats.new_comments.cumulative}}]{% if not forloop.last %},{% endif %}{% endfor %}]
				  },
				  {
				  	 name: 'Positions (right-hand axis)',
					 data: [{% for date, stats in general_stats.day reversed %}[Date.UTC({{date.year}}, {{date.month}}-1, {{date.day}}), {{stats.new_positions.cumulative}}]{% if not forloop.last %},{% endif %}{% endfor %}],
					 yAxis: 1
				  }
				  ]
			   });
			   
			   
			});		
		</script>

	</div> <!-- col_12 -->
</div><!-- e: content -->
{% endblock %}

