{% extends "master.html" %}
{% load popvox_utils %}
{% load humanize %}
{% block title %}{{ org.name }}{% endblock%}
{% block description %}POPVOX Profile: {% if org.description %}{{org.description}}{% else %}{{org.name}} has a profile and legislative agenda on POPVOX.{% endif %}{% endblock%}
{%block nav_orgadmin_class_profile%}{%if admin%}active{%endif%}{%endblock%}
{%block nav_orgadmin_class_orgs%}{%if not admin%}active{%endif%}{%endblock%}
{%block nav_citzen_class_orgs%}active{%endblock%}
{% block head %}
    <link rel="stylesheet" href="/media/widget/la_widget.css">
	<style>
	.colorbox { width: 550px; height: 420px;}
	</style>
	{% include "popvox/org_common_scripts.html" %}
	<script type="text/javascript">
	function showcolorbox(id) {
		$.colorbox({
			transition: "none",
			inline: true,
			href:"#" + id,
			opacity: .5});
	}
	
	{% if admin %}
		{% include "popvox/org_billaction.js" %}
		
		{% if org.iscoalition %}
		function coalitiondelorg(orgid) {
			ajax("/ajax/orgs/coalition/delete", {
				myorg: {{org.id}},
				theirorg: orgid
			},
			{
				success: function() {
					$('#coalmember' + orgid).fadeOut();
				}
			});
		}
		{% endif %}
	{% endif %}
	
	{% if coalition_can_invite %}
	function coalition_invite() {
		$('#coalition_invite_error').text('');
		showcolorbox("coalition_invite");
		return false;
	}
	function coalition_invite_send() {
		ajax("/ajax/orgs/coalition/invite", {
			theirorg: {{org.id}},
			myorg: $('#coalition_invite_target').val(),
			message: $('#coalition_invite_message').val()
		},
		{
			statusfield: "coalition_invite_error",
			statusstart: "Sending invitation...",
			success: function() {
				$.colorbox.close();
				alert("Invitation sent.");
			}
		});
	}
	{% endif %}
	{% if coalition_can_join %}
	function coalition_join() {
		$('#coalition_join_error').text('');
		showcolorbox("coalition_join");
		return false;
	}
	function coalition_join_send() {
		ajax("/ajax/orgs/coalition/join", {
			theirorg: {{org.id}},
			myorg: $('#coalition_join_target').val(),
			message: $('#coalition_join_message').val()
		},
		{
			statusfield: "coalition_join_error",
			statusstart: "Sending request...",
			success: function() {
				$.colorbox.close();
				alert("Request sent.");
			}
		});
	}
	{% endif %}
	{% if coalition_can_leave %}
	function coalition_leave(orgid) {
		if (!confirm("Are you sure you want to leave this coalition?"))
			return false;
		$('#coalition_leave_status').text("Leaving coalition...");
		ajax("/ajax/orgs/coalition/leave", {
			theirorg: {{org.id}},
			myorg: orgid,
		},
		{
			success: function() { window.location.reload(); },
		});
		return false;
	}
	{% endif %}
	</script>
{% endblock %}
{% block content %}
<div style="display: none">
	{% if coalition_can_invite %}
	<div id="coalition_invite" class="colorbox">
		<h1>Invite To Your Coalition</h1>
		
		{% if coalition_can_invite|length == 1 %}
			<p>Invite <strong>{{org.name}}</strong> to {{coalition_can_invite.0.name}}?</p>
			<input type="hidden" id="coalition_invite_target" value="{{coalition_can_invite.0.id}}"/>
		{% else %}
			<p>Invite <strong>{{org.name}}</strong> to...</p>
			<select id="coalition_invite_target">
			{% for coalition in coalition_can_invite %}
				<option value="{{coalition.id}}">{{coalition.name}}</option>
			{% endfor %}
			</select>
		{% endif %}
		
		<p>We&rsquo;ll send an email to the organization&rsquo;s POPVOX admins inviting them to your coalition. You can optionally customize the email we send:</p>
		
		<textarea id="coalition_invite_message" style="width: 90%; height: 6em">Hi!
		
I would like to invite your organization to join our coalition on POPVOX.</textarea>

		<p>When any of {{org.name}}&rsquo;s admins approves the invitation, it will be listed in your organization profile. We&rsquo;ll send you an email to let you know.</p>

		<p><input id="coalition_invite_send" type="button" value="Send Invitation" onclick="coalition_invite_send()"/>
		<p id="coalition_invite_error"> </p>
	</div>
	{% endif %}
	
	{% if coalition_can_join %}
	<div id="coalition_join" class="colorbox">
		<h1>Join Coalition</h1>
		
		{% if coalition_can_join|length == 1 %}
			<p>Do you want {{coalition_can_join.0.name}} to join the coalition {{org.name}}?</p>
			<input type="hidden" id="coalition_join_target" value="{{coalition_can_join.0.id}}"/>
		{% else %}
			<p>Select which of your organizations you want to join the coalition {{org.name}}?</p>
			<select id="coalition_join_target">
			{% for og in coalition_can_join %}
				<option value="{{og.id}}">{{og.name}}</option>
			{% endfor %}
			</select>
		{% endif %}
		
		<p>Joining a coalition means your organization&rsquo;s name will be listed among the coalition&rsquo;s members.</p>
		
		<p>We&rsquo;ll send an email to the coalition&rsquo;s POPVOX admins notifying them that your organization would like to join their coalition. You can optionally customize the email we send:</p>
		
		<textarea id="coalition_join_message" style="width: 90%; height: 6em">Hi!
		
We would like to join your coalition.</textarea>

		<p>When any of {{org.name}}&rsquo;s admins approves the request, your organization will be listed in the coalition&rsquo;s profile on this page. We&rsquo;ll send you an email to let you know when that happens.</p>

		<p><input id="coalition_join_send" type="button" value="Send Request" onclick="coalition_join_send()"/>
		
		<p id="coalition_join_error"> </p>
	</div>
	{% endif %}
</div>
<div class="orgprofile"> 
	<div class="col_3 col_top profile_block">
		{% if admin and not org.logo %}<a href="{{org.slug}}/_edit" style="border: none">{% endif %}
		<img id="profileimage" src="{% if org.logo %}{{org.logo.url}}{% else %}/media/master/grey.gif{% endif %}" alt="Profile Image" width="220" height="166" />
		{% if admin and not org.logo %}</a>{% endif %}
		
		{% if admin %}
		<p class="edit"><a href="{{org.slug}}/_edit">EDIT PROFILE</a></p>
		{% endif %}
		
		{% if coalition_can_leave %}
		<h3 class="info">Your Membership</h3>
		{% endif %}
		{% for og in coalition_can_leave %}
		<p>{{og.name}} is a member of this coalition. <a href="#" onclick="return coalition_leave({{og.id}});">Leave Coalition</a></p>
		{% endfor %}
		<p id="coalition_leave_status"> </p>
		
		<h3 class="info">Info</h3> 
		{% if org.website %}
		<p class="url"><a href="{{org.website}}">{{org.website|niceurl}}</a></p>
		{% endif %} 
		
		{% if org.facebookurl %}
		<p class="fb"><a href="{{org.facebookurl}}">Our Facebook Page</a> {% if org.facebook_fan_count %}<span>({{ org.facebook_fan_count|intcomma }} fans)</span>{% endif %}</p>
		{% endif %} 
		
		{% if org.gplusurl %}
		<p class="gplus"><a href="{{org.gplusurl}}">Our Google Plus Page</a></p>
		{% endif %} 
		
		{% if org.twittername %}
		<p class="twitter"><a href="http://www.twitter.com/{{org.twittername}}">@{{org.twittername}}</a> {% if org.twitter_follower_count %}<span>({{ org.twitter_follower_count|intcomma }} followers)</span>{% endif %}</p>
		{% endif %} 
		
		{% if org.postaladdress %}
		<p class="address">{{org.postaladdress|linebreaksbr}}</p>
		{% endif %}
		{% if org.phonenumber %}
		<p class="phone">{{org.phonenumber}}</p>
		{% endif %}

		{% if not org.iscoalition and coalition_can_invite %}
		<a href="#" class="btn b_invite_coalition" onclick="return coalition_invite();" style="float: none">invite to your coalition</a>
		{% endif %}

		{% if org.type %}
		<p><small>{{org.get_type_display}}</small></p>
		{% endif %}

        {% if slates %}
        <h3 class="info">Key Vote Slates</h3>
            <ul>
            {% for slate in slates %}
                <li><a href="/keyvotes/{{org.slug}}/{{slate.slug}}">{{slate.name}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
		
		{% comment %}
		<div class="col_top">
			<h3 class="info">Issue Areas</h3>
			<p class="tag">Wars &amp; Conflicts</p>
			<p class="tag">Health &amp; Warfare</p>
			</ul>
		</div>
		{% endcomment %}

		
		{% if org.contacts.all %}
		<div class="block"> 
			<h3>Contacts</h3>
		{% if admin or user.userprofile.is_leg_staff %}
			<p>This information is shared only with Congressional legislative staff.</p>
			<div class="point_people">
			{% regroup org.contacts.all by issues.all as issues_list %}
			{% for issue in issues_list %}
			<h4>{{issue.grouper|join:','}}</h4> 
			{% for contact in issue.list|dictsort:"name" %}
				<div class="point_person">
					{% comment %} <div class="headshot"> </div> {% endcomment %}
					<h5>{{ contact.name }}</h5>
					<h6>{{ contact.title }}</h6>
					{% if not org.createdbyus %}<p class="staff_email"><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>{% endif %}
					<p class="staff_number">{{contact.phonenumber}}</p>
				</div>
			{% endfor %}
			{% endfor %}

			{% if org.createdbyus %}
			<small><em>* This organization profile was set up by POPVOX and the contact information has not been verified by the organization.</em></small>
			{% endif %}
			</div>
		{% else %}
			<p>This organization&rsquo;s {{org.contacts.all|length|apnumber}} contact{% if org.contacts.all|length == 1 %} is{% else %}s are{% endif %} shared only with Congressional legislative staff.</p>
			<p>If you have a <tt>@mail.house.gov</tt> or <tt>@senate.gov</tt> email address, <a href="/accounts/register/legstaff?next={{org.url}}">register</a> to get instant access to this information.</p>
		{% endif %}
		</div> 
		{% endif %}
		
		
		{% if user.is_anonymous %}
		<div class="hr2"> </div>
		<p><small>Don&rsquo;t see your organization on POPVOX? Any U.S. nonprofit organization or community group can <a href="/accounts/register/orgstaff">get listed</a>.</small></p>
		{% endif %}
		
	</div><!-- e: col_3 --> 
	
	<div class="col_9 col_top col_last"> 
		<div class="section_head">
			{% if admin %}
					{% if not org.description %}
						<p class="whattodonext">Welcome to POPVOX.
						{% if not org.approved %}Your organization will need to be approved by POPVOX staff before it can be published to our organization directory. In the meanwhile, please go ahead and get started filling in your profile and legislative agenda.{% endif %}
						The first step is to <a href="{{org.url}}/_edit">edit your organization profile</a>.</p>
					{% else %}
						{% if not cams %}
							<p class="whattodonext">You haven&rsquo;t endorsed or opposed any legislation yet. Check out the Legislative Agenda section below.</p>
						{% else %}
							{% if not org.visible %}
								{% if org.approved %}
									<p class="whattodonext">You must <a href="{{org.url}}/_edit">publish your profile</a>.</p>
								{% else %}
									<p class="whattodonext">Your organization will need to be approved by POPVOX staff before it can be published to our organization directory.</p>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
			{% endif %}
		
			<h1 class="clear">{{org.name}}</h1>

			{% if org.description %}
			<p class="mission"><strong>Mission:</strong> {{org.description}}</p>
			{% endif %}
			
			{% if org.createdbyus %}
			<small><em>* This organization profile has been set up by POPVOX.</em></small>
			{% endif %}
			
			{% comment %}
			{% if org.issues.all %}
				<div>
					<ul>
					{% for issue in org.issues.all %}
						{% if not forloop.first %} {% endif %}
						<li></li><a href="{{ issue.url }}">{{ issue.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% endcomment %}
		</div> <!-- e: section_head -->
		
		{% if org.iscoalition %}
		<div class="block coalition">
			{% if coalition_can_join or coalition_can_invite %}
			<div class="btn_hold">
				{% if coalition_can_join %}
				<a href="#" class="btn b_join" onclick="return coalition_join();">join coalition</a>
				{% endif %}
				{% if coalition_can_invite %}
					<a href="#" class="btn b_invite_coalition" onclick="return coalition_invite();">invite to your coalition</a>
				{% endif %}
			</div>
			{% endif %}
			<h3>Coalition Members</h3>
			<ul class="bullets">
			{% for org in org.coalitionmembers.all %}
				<li id="coalmember{{org.id}}">
					{% if admin %}
					<a href="#" class="btn b_remove" onclick="if (confirm ('Are you sure you want to remove {{org.name|escapejs}} from your coalition?')) coalitiondelorg({{org.id}}); return false;" title="Remove Organization From Coalition">remove</a>
					{% endif %}
					<a href="{{org.url}}">{{org.name}}</a>
				</li>
			{% empty %}
				<li><em>No members of this coalition are listed on POPVOX.</em></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		{% if cams or admin %}
		<div class="block campaigns">
			<h3>Legislative Agenda</h3>

            {% include "popvox/widgets/leg-agenda.html" with embed=1 %}
			
			{% for cam in cams %}
				{% if not cam.default %}
				<p class="campaign_edit">
					<a class="b_view" href="{{ cam.url }}">view</a>
					{% if admin %} <a class="b_edit" href="{{cam.url}}/_edit">edit</a>{% endif %}
				</p>
				<h4>{{ cam.name }}</h4>
				{% if cam.description %}<p class="campaign_description"><em>{{ cam.description }}</em></p>{% endif %}
				{% endif %}
				
				<div id="agendaitems_{{cam.id}}">
				{% for position in cam.positions.all %}
					{% include "popvox/org_common_position.html" %}
				{% empty %}
					<p style="margin-left: 45px">This campaign does not have a legislative agenda.</p>
				{% endfor %}
				</div>
				
				{% if admin %}
				<script type="text/javascript">$("#agendaitems_{{cam.id}}").sortable({
					items: ".orgcampaignposition",
					axis: "y",
					containment: ".campaigns", // containing to the list prevents moving any item to the bottom
					handle: ".b_move",
					update: function(event,ui) { set_position_order({{cam.id}}, "{{cam.slug|escapejs}}"); }
					}); $("#agendaitems_{{cam.id}} .b_move").disableSelection();</script>
				{% endif %}

				{% if not cam.visible %}<p class="error" style="margin-left: 45px">(This campaign has not yet been <a href="{{cam.url}}/_edit">published</a>. It is currently hidden from public view.)</p>{% endif %}

			{% endfor %}
			
			{% if admin %}
			{% if cams %}
			<div class="hr"> </div>
			{% endif %}

			<p><em>To endorse, oppose, or leave a neutral statement on legislation search for a bill
			below, or <a href="{{org.url}}/_newcampaign">create a new campaign</a> if you intend to
			group multiple bills under a single silo.</em></p>
			
			<div class="bill_search search_orange">
				<div class="search_box">
					<p><strong>ADD BILL</strong></p>
					{% include "popvox/endorse_oppose.html" %}	
				</div>
			</div>
			{% endif %}			
		</div> 
		{% endif %}
	
		{% if admin and cams and org.visible %}
		<div class="hr"> </div>
		<p class="whattodonext">Done setting up your organization&rsquo;s profile? Check on your legislation on your <a href="/home">home dashboard</a>.</p>
		{% endif %}
		
	</div><!-- e: col_6 -->
 
</div>	<!-- e: orgprofile -->
	
{% endblock %}

