{% load popvox_utils %}
<div id="campos_{{cam.id}}_{{position.id}}">
	{% if admin %}
	<a href="#" class="btn b_remove" onclick="if (confirm ('Are you sure you want to remove your position on this bill?')) delpos('{{cam.slug|escapejs}}', {{cam.id}}, {{position.id}}); return false;" title="Remove Bill From Agenda">remove</a>
	{% endif %}
	<div class="{% if position.position == "+" %}endorse{% endif %}{% if position.position == "-" %}oppose{% endif %}{% if position.position == "0" %}neutral{% endif %}">
		<a href="{{position.bill.url}}{% if admin %}/report{% endif %}">{{ position.bill.title|truncatewords:25 }}</a>
		
		<div id="campos_{{cam.id}}_{{position.id}}_comment" class="usercomment comment" {% if admin %}title="Click to Edit"{% endif %}>{% if position.comment %}{{position.comment|wraplines:"p"}}{% else %}{% if admin %}<em>No comment.</em>{% endif %}{% endif %}</div>
				
		{% with position.bill.getDeadReason as deadstatus %}
			{% if deadstatus %}
				<div><small>(This bill {{deadstatus}}.)</small></div>
			{% endif %}
		{% endwith %}

		{% if admin %}
		<div id="campos_{{cam.id}}_{{position.id}}_comment_editor" style="display: none">
			<textarea id="campos_{{cam.id}}_{{position.id}}_comment_textarea" style="width: 375px">{% if position.comment %}{{position.comment}}{% endif %}</textarea>
		</div>
		<script>
			$('#campos_{{cam.id}}_{{position.id}}_comment').inline_edit(
				function(value, field, callback) {
					setposcomment('{{cam.slug|escapejs}}', {{cam.id}}, {{position.id}}, value, field, callback);
				} );
			$('#campos_{{cam.id}}_{{position.id}}_comment_textarea').input_autosize();
		</script>
		
		{% with position.bill as bill %}
			{% include "popvox/org_billaction.html" %}
		{% endwith %}
		{% endif %}
		
		{% if not admin %}
			{% for doc in position.documents %}
				{% if forloop.first %}<ul class="bullets">{% endif %}
				<li><a href="{{position.bill.url}}/docs/{{org.slug}}/{{doc.doctype}}">{{doc.get_doctype_display}}: {{doc.title}}</a></li>
				{% if forloop.last %}</ul>{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>

