{% load humanize %}
	<ul class="bullets org_action">
		<li id="getorgshorturl_{{position.id}}"><a class="get_tracking_url" href="#" onclick="return getorgshorturl({{position.id}})">Get a tracking URL</a></li>
		{% if position.position != "0" %}
		<li><a class="create_action_pg" href="{{position.campaign.org.url}}/_action/{{position.id}}">Create a customized action page for list building</a></li>
		{% endif %}
		
		{% with position.documents as docs %}
			<li><a class="upload_doc" href="{{position.bill.url}}/upload?org={{position.campaign.org.slug}}">
				{% if not docs %}
					Upload Document
				{% else %}
					{{docs|length}} document{{docs|pluralize}} uploaded (edit)
				{% endif %}
				</a></li>
		{% endwith %}
	</ul>

