{% extends "master.html" %}
{% block title %}Org Customized Action Page{% endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="content org_custom">

		<div class="col_12">
			<h1 class="rule_btm">We&rsquo;ve Waited Long Enough <span>A message from the Association of Flight Attendants</span></h1>
		</div>
		
		<div class="col_6">
			<div class="block custom_msg">
				<img class="float_right" src="http://william.popvox.com/media/master/_dummy_org_upload.jpg" alt="dummy" width="" height="" />
				<h3 class="no_rule">Ensure Safe Skies. Reauthorize.</h3>
				<p>The Association of Flight Attendants &ndash; CWA, representing 55,000 members at 23 airlines urges Congress to complete action on the FAA Reauthorization Bill and pass this bill.The current FAA reauthorization expired in September 2007. Since that time the FAA has been funded by a series of extensions.We appreciate the difficulty of this task and understand that there have been difficult compromises made by both sides, but it is clearly time to move forward and pass this bill.</p>
			</div>
			
			<div class="bill">
				
				<h4><a href="{{billrec.bill.url}}">Bill Name</a></h4>
				<p><strong>Sponsor:</strong>
					<a href="http://www.govtrack.us/congress/person.xpd?id={{bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ bill.sponsor.name }}</a>
				</p>
				
				{% comment %}
				<p><strong>Status:</strong>
				<em>
				{% if user.userprofile.is_org_admin or user.userprofile.is_leg_staff %}
					{{bill.status_advanced}}
				{% else %}
					{{bill.status}}
				{% endif %}
				</em></p>
				{% endcomment %}
				
				{% if bill.officialtitle %}<p class="bill_detail">{{ bill.officialtitle|truncatewords:18 }}</p>{% endif %}
				
				{% for org in billrec.orgs %}
				<div class="bill_endorseoppose">
					<p>
						{% if org.position == "+" %}Endorsed{% endif %}
						{% if org.position == "-" %}Opposed{% endif %}
						by
						<a href="{{org.url}}">{{org.name}}</a>
					</p>
					{% for cam in org.campaigns %}
						<p style="margin-left: 1.5em"><a href="{{cam.url}}">{{cam.name}}</a>{% if cam.description %}: {{ cam.description|truncatewords:50 }}{% endif %}</p>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="col_6 col_last stroke_box">
			<h3 class="no_rule orange">Please Support HR 1212</h3>
			<h4>Help ORG NAME by telling Congress to support this bill.</h4>
			<form class="form form_org" action="#" method="post" name="contact"><br />
			
				<input id="name_first" class="c3" type="text" value="first name">
				<input id="name_last" class="c3 last" type="text" value="last name"><br />
				<input id="email" class="c3" type="text" value="email">
				<input id="zip" class="c2 last" type="text" value="zip"><br />
				<div class="radio">
			        <input type="radio" name="share_with_org" />
			        <p>Share with the Association of Flight Attendants?</p>
				</div>
				
				<input value="Contact Us" id="billsearch_endorse_oppose_submit_support" onclick="ValidateForm();return false;" type="button">
			</form>
			
		</div>
		
<!--
		{% include "ads/rightbar.html" %}
-->

    </div>
{% endblock %}

