{% extends "master.html" %}
{% block title %}Organizations{% endblock%}
{%block nav_legstaff_class_orgs%}active{%endblock%}
{%block nav_orgadmin_class_orgs%}active{%endblock%}
{%block nav_citzen_class_orgs%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script>
var current_cat = "issue";
var last_issue_elem = null;
function showlist(elem, issueslug) {
	$('#activity').hide();
	$('#orglist_title').text($(elem).text() + " organizations:");
	$('#orglist_list').text('');
	if (last_issue_elem) $(last_issue_elem).removeClass('active');
	$(elem).addClass('active');
	last_issue_elem = elem;
	$('#orglist_status').text("Loading...");
	var data = { "format": "json" };
	data[current_cat] = issueslug;
	ajax(
		'ajax/orgs/search',
		data,
		{
			method: "GET",
			statusfield: "orglist_status",
			success: function(ret) {
				$('#orglistloading').hide();
				var lst = $('#orglist_list');
				lst.text('');
				
				var last_homestate = "??";
				var distinct_state_count = 0;
				var states_list = $("<p style='margin-top: 1em'>Jump to: </p>");
				var states_list_count = 0;
				for (orgx in ret.orgs) {
					var org = ret.orgs[orgx];
					if (org.homestate != last_homestate) {
						if (org.homestate != null) {
							if (states_list_count > 0)
								states_list.append($('<span style="padding: 0 .5em">|</span>'));
							states_list_count++;
							
							var a = $("<a style=\"text-decoration: underline\">" + org.homestate + "</a> ");
							a.attr('href', '#' + org.homestate);
							states_list.append(a);
						}
						distinct_state_count++;
						last_homestate = org.homestate;
					}
				}
				if (distinct_state_count > 1)
					lst.append(states_list);
				
				last_homestate = "??";;
				for (orgx in ret.orgs) {
					var org = ret.orgs[orgx];
					
					if (org.homestate != last_homestate && distinct_state_count > 1) {
						var homestate = org.homestate;
						if (!homestate) {
							homestate = "National Organizations";
						} else {
							var a = $("<a></a> ");
							a.attr('name', org.homestate);
							lst.append(a);
						}
						lst.append($("<p style=\"margin-top: 1.5em;\"><em>" + homestate + "</em></p>"));
						last_homestate = org.homestate;
					}
					
					var tn = document.createTextNode(org.label);
					var an = document.createElement("a");
					an.setAttribute("href", org.url);
					an.appendChild(tn);
					var ln = document.createElement("li");
					ln.appendChild(an);
					lst.append(ln);
					if (!org.createdbyus)
						an.setAttribute("class", "notcreatedbyus");
				}
				
				max_scroll = $('#orglist_title').offset().top - 30;
				if ($(window).scrollTop() > max_scroll) $(window).scrollTop(max_scroll);
				
				$('#orgnote').show();
			}
		}
		);
	return false; // cancel click
}
$(function() {
	$.ajax({
		type:"POST",
		url: "/ajax/activity",
		data: {
			comments: false,
			count: 8
		},
		complete: function(res, status) {
			$('#activity').html(res.responseText);
		}
	});
});

function toggle_categories() {
	if (current_cat == "issue") {
		current_cat = "state";
		$('.orgs h2 span').text("Browse by State");
		$('.orgs h2 a').text("browse by issue area");
		$('#issue_list').hide();
		$('#state_list').show();
	} else {
		current_cat = "issue";
		$('.orgs h2 span').text("Browse by Issue Area");
		$('.orgs h2 a').text("browse by state");
		$('#issue_list').show();
		$('#state_list').hide();
	}
	return false;
}
</script>
{% endblock %}
{% block content %}
	<div class="content">

		<div class="col_9 col_top">
			<div class="">
				<h1>Organization Directory</h1>
				<div class="block bill_search">
					<div class="search_box">
						<input id="orgsearchbox" type="text" class="search" value="search for an organization"  onfocus="if (this.value=='search for an organization') this.value='';"/>
						<span>Start typing the name of an organization</span>	
					</div>
				    <script>
				    $(document).ready(function(){
						  $("#orgsearchbox").autocomplete({
						  	source: "/ajax/orgs/search",
							select: function(event, ui) {
								location.href = "/orgs/" + ui.item.slug;
							}
						  });
				    });
				    </script>
				</div>
			</div>
			
			<div class="block orgs rule">
				<h2>
					<span>Browse by Issue Area</span>
					<small>or <a href="#" onclick="return toggle_categories()">browse by state</a></small>
				</h2>
			
				<div class="col_50">
					
					<div id="issue_list">
					<ul class="issue_list">
					   {% for issue in issueareas %}
						  <li>
							<a href="#" onclick="return showlist(this, '{{issue.slug|escapejs}}')">{{ issue.name }}</a>
						</li>
					   {% endfor %}
					 </ul>
					 </div>

					<div id="state_list" style="display: none;">
					<ul class="issue_list">
					   {% for abbr, name in states %}
						  <li>
							<a href="#" onclick="return showlist(this, '{{abbr|escapejs}}')">{{ name }}</a>
						</li>
					   {% endfor %}
					 </ul>
					 </div>
			    </div>
				
				<div class="col_50 col_last">
					<h4 id="orglist_title" style="margin-bottom: 1em">Recently updated organizations:</h4>
					<div id="orglist_status"></div>
					<ul id="orglist_list" class="org_all">
					</ul>
					<p id="orgnote" class="pad_top" style="display: none"><small>(Entries in bold indicate information reported by the organization itself.)</small></p>
					<div id="activity" style="margin-top: 1.5em"></div>
				</div>
			</div>
		</div>

		{% include "ads/rightbar.html" %}

		<div class="col_3 col_last">
			{% if user.is_anonymous %}
			<div class="hr2"> </div>
			<p><small>Don&rsquo;t see your organization on POPVOX? Any U.S. advocacy organization can <a href="/accounts/register/orgstaff">get listed</a>.</small></p>
			{% endif %}
		</div>

    </div>
{% endblock %}

