{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}{{position.action_headline}} - {{position.campaign.org.name}}{% endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script>
{% if admin %}
function update_headline() {
	ajax(
		"/ajax/orgs/updateaction",
		{
			id: {{position.id}},
			action_headline: $("#action_headline_textarea").val()
		},
		{
			success: function(res) {
				$("#action_headline").text(res.action_headline);
			}
		}
	);
}
function update_body() {
	ajax(
		"/ajax/orgs/updateaction",
		{
			id: {{position.id}},
			action_body: tinyMCE.get('action_body_textarea').getContent()
		},
		{
			success: function(res) {
				$("#action_body").html(res.action_body);
			}
		}
	);
}
{% endif %}
function validate(form) {
	if ($('#share_with_org').prop('checked')) {
		if ($('#name_first').hasClass('default') || $('#name_last').hasClass('default') || $('#email').hasClass('default') || $('#zip').hasClass('default')) {
			alert("All fields are required.");
			return false;
		}
	}
	clear_default_fields(form);
	return true;
}
</script>
{% endblock %}
{% block content %}
	<div class="content org_custom">
		{% if admin %}
			<p class="whattodonext">
				<strong>This is your custom action page for {{position.bill.title|truncatewords:20}}.</strong>
				<br/><br/>
				Edit the headline and body text below to create a compelling message for your members. When you are done, send your members to this page to take action. (They won&rsquo;t see the edit buttons or this text!) Use the short URL <tt>{{shorturl}}</tt> to link to this page (we&rsquo;ll be adding analytics in the future).
			</p>
		{% endif %}

		<div class="col_12">
			{% if admin %}<div class="b_edit b_edit_h1" id="action_headline_editbtn" onclick="$('#action_headline').click()"></div>{% endif %}
			<h1 class="rule_btm"><span id="action_headline">{{position.action_headline}}</span> <span class="info">A message from {{position.campaign.org.name}}</span></h1>
			{% if admin %}<script>$('#action_headline').inline_edit(update_headline, 'input');</script>{% endif %}
		</div>
		
		<div class="col_6">
			<div class="block custom_msg">
				{% comment %}
				<img class="float_right" src="http://william.popvox.com/media/master/_dummy_org_upload.jpg" alt="dummy" width="" height="" />
				{% endcomment %}
				
				{% if admin %}<div class="b_edit b_edit_msg" id="action_body_editbtn" onclick="$('#action_body').click()"></div>{% endif %}
				<div id="action_body">
					{{ position.action_body|safe }}
				</div>
				{% if admin %}<script>$('#action_body').inline_edit(update_body, 'tinymce');</script>{% endif %}
				
			</div>
			
			<div class="bills">
				<div class="bill">
					
					<h4 style="margin-bottom: 10px"><a class="orange" href="{{position.bill.url}}">{{position.bill.title|truncatewords:30}}</a></h4>
					{% if position.bill.sponsor %}
					<p><strong>Sponsor:</strong>
						<a href="http://www.govtrack.us/congress/person.xpd?id={{position.bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ position.bill.sponsor.name }}</a>
					</p>
					{% endif %}
					
					{% if bill.is_bill %}
					<p><strong>Status:</strong>
					<em>{{position.bill.status}}</em>
					</p>
					{% endif %}
					
					{% if position.bill.description %}<p class="bill_detail">{{ position.bill.description|truncatewords:18 }}</p>{% endif %}
					
					<div class="bill_endorseoppose">
						<p class="{% if position.position == "+" %}support{% endif %}{% if position.position == "-" %}oppose{% endif %}_icon">
							<strong>
							{% if position.position == "+" %}Endorsed{% endif %}
							{% if position.position == "-" %}Opposed{% endif %}
							by</strong>
							<a href="{{position.campaign.org.url}}">{{position.campaign.org.name}}</a>
						</p>
						{% if position.comment %}
							{{position.comment|wraplines:"p"}}
						{% endif %}
					</div> 
				</div>
			</div><!-- e: bill -->
		</div><!-- e: bills -->

		<div class="col_6 col_last stroke_box">
			{% if not position.bill.isAlive and not position.bill.died %}
				<p>This bill {{position.bill.getDeadReason}}. You can no longer write a comment about this bill.</p>
			{% else %}
		
			<h3 class="no_rule orange">{{verb}} {{position.bill.shortname}}</h3>
			<form class="form form_org" action="{{position.bill.url}}/comment/{% if position.position == "+" %}support{% endif %}{% if position.position == "-" %}oppose{% endif %}" method="POST" onsubmit="return validate(this);"><br />
			{% csrf_token %}
				<input type="hidden" name="orgcampaignposition" value="{{position.id}}"/>
				<input id="name_first" name="name_first" class="c3" type="text">
				<input id="name_last" name="name_last" class="c3 last" type="text"><br />
				{% if not request.user.is_authenticated %}
				<input id="email" name="email" class="c3" type="text">
				{% else %}
				<input id="email" name="email" type="hidden" value="{{request.user.email}}">
				{% endif %}
				<input id="zip" name="zip" class="c2 last" type="text"><br />
				<div class="radio">
			        <input id="share_with_org" type="checkbox" name="share_with_org" checked="1" value="1"/>
			        <p><label for="share_with_org">Share my info with {{position.campaign.org.name}}?</label></p>
				</div>
				<script>
					$('#name_first').input_default("first name");
					$('#name_last').input_default("last name");
					$('#email').input_default("email address");
					$('#zip').input_default("zip code");
				</script>
				
				<input id="billsearch_endorse_oppose_submit_{% if position.position == "+" %}support{% endif %}{% if position.position == "-" %}oppose{% endif %}" type="submit">
			</form>
			
			{% endif %}
		
			{% if admin %}
				<p class="whattodonext">
					{{num}} user{{num|pluralize}} filled out this form so far.
					{% if campaign %}
						<br/><br/>Download data in <a href="/services/api/campaign/{{campaign.id}}/supporters/csv">CSV</a> format.
					{% else %}
						You&rsquo;ll be able to download supporter information in CSV format.
					{% endif %}
				</p>
			{% endif %}
		</div>
		
    </div>
{% endblock %}

