{% comment %} for endorse_oppose, reordering leg agenda items {% endcomment %}
<script>
function delpos(camslug, camid, id) {
	ajax(
		"/ajax/orgs/cam/updatefield",
		{ org:"{{org.slug|escapejs}}", cam:camslug, name: "billposition-remove", value: id},
		{
			success: function() {
				$('#campos_' + camid + "_" + id).remove();
			}
		}
	);
}
function setposcomment(camslug, camid, posid, comment, field, next) {
	ajax(
		"/ajax/orgs/cam/updatefield",
		{ org:"{{org.slug|escapejs}}", cam:camslug, name: "billposition-comment-" + posid, value: comment},
		{
			statusstart: "Saving...",
			statusfield: "campos_" + camid + "_" + posid + "_comment",
			success: function(res) {
				$("#campos_" + camid + "_" + posid + "_comment").show();
				$("#campos_" + camid + "_" + posid + "_comment").html(res.html);
				if (next) next();
			}
		}
	);
}
function set_position_order(camid, camslug) {
	var order = Array();
	$('#agendaitems_' + camid + ' .orgcampaignposition').each(function() {
		order.push(this.getAttribute("orgcampaignpositionid"));
	});
	ajax(
		"/ajax/orgs/cam/updatefield",
		{ org: "{{org.slug|escapejs}}",
		   cam: camslug,
		   name: "position_order",
		   value: order.toString()}
	);
}
</script>

