{% extends "master.html" %}
{% block title %}Organizations{% endblock%}
{% block description %}Organization Directory - find community groups and non-profit organizations listed on POPVOX.{% endblock%}
{%block nav_legstaff_class_orgs%}active{%endblock%}
{%block nav_orgadmin_class_orgs%}active{%endblock%}
{%block nav_citzen_class_orgs%}active{%endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
<script>
var current_cat = "issue";
function showlist(elem, issueslug) {
	$('#activity').hide();
	$('#orglist_title').text($(elem).text() + " organizations");
	$('#orglist_list').text('');
	$('#orglist_status').text("Loading...");
	var data = { "format": "json" };
	data[current_cat] = issueslug;
	data["group"] = "1";
	ajax(
		'ajax/orgs/search',
		data,
		{
			method: "GET",
			statusfield: "orglist_status",
			success: function(ret) {
				$('#orglistloading').hide();
				var lst = $('#orglist_list');
				lst.text('');
				
				for (groupx in ret.orgs) {
					if (ret.orgs.length > 1)
						lst.append($("<h4 class='mar_top rule' style='font-weight: bold; margin-bottom: 10px'/>").text(ret.orgs[groupx].name));
					
					for (orgx in ret.orgs[groupx].objlist) {
						var org = ret.orgs[groupx].objlist[orgx];
						
						var tn = document.createTextNode(org.label);
						var an = document.createElement("a");
						an.setAttribute("href", org.url);
						an.appendChild(tn);
						var ln = document.createElement("li");
						ln.appendChild(an);
						lst.append(ln);
						if (!org.createdbyus)
							an.setAttribute("class", "notcreatedbyus");
					}
				}
				
				max_scroll = $('#orglist_title').offset().top - 30;
				if ($(window).scrollTop() > max_scroll) $(window).scrollTop(max_scroll);
				
				$('#orgnote').show();
			}
		}
		);
	return false; // cancel click
}
$(function() {
	$.ajax({
		type:"POST",
		url: "/ajax/activity",
		data: {
			comments: false,
			count: 8
		},
		complete: function(res, status) {
			$('#activity').html(res.responseText);
		}
	});
	
	$('#issue_list .issue').click(function() {
		$('#issue_list .issue').removeClass("active");
		$(this).addClass("active");
		showlist(this, $(this).attr('slug'));
	});
});

function toggle_categories() {
	if (current_cat == "issue") {
		current_cat = "state";
		$('#by_issue').hide();
		$('#by_state').show();
	} else {
		current_cat = "issue";
		$('#by_state').hide();
		$('#by_issue').show();
	}
	return false;
}
</script>
{% endblock %}
{% block content %}
	<div class="content">

		<div class="col_9 col_top">
			<div class="">
				<h1>Organization Directory</h1>
				<div class="block bill_search">
					<div class="search_box">
						<input id="orgsearchbox" type="text" class="search" value="search for an organization"  onfocus="if (this.value=='search for an organization') this.value='';"/>
						<span>Start typing the name of an organization</span>	
					</div>
				    <script>
				    $(document).ready(function(){
						  $("#orgsearchbox").autocomplete({
						  	source: "/ajax/orgs/search",
							select: function(event, ui) {
								location.href = "/orgs/" + ui.item.slug;
							}
						  });
				    });
				    </script>
				    
					<p><small>Don&rsquo;t see your organization on POPVOX? Any U.S. nonprofit organization or community group can <a href="/accounts/register/orgstaff">get listed</a>.</small></p>
				</div>
			</div>
		</div>
			
		{% with 1 as no_rule %}
		{% include "ads/rightbar_single.html" %}
		{% endwith %}
		
		<div id="issue_list" class="col_3 rule">
			<div id="by_issue">
			<h3 class="no_rule">Issue Areas
				<small>or <a href="#" onclick="return toggle_categories()">browse by state</a></small>
			</h3>
			<div class="issues">
			   {% for issue in issueareas %}
				  <div class="issue" slug="{{issue.slug}}">
					<span class="name">{{ issue.name }}</span>
				</div>
			   {% endfor %}
			 </div>
			 </div>

			<div id="by_state" style="display: none;">
			<h3 class="no_rule">States
				<small>or <a href="#" onclick="return toggle_categories()">browse by issue</a></small>
			</h3>
			<div class="issues">
			   {% for abbr, name in states %}
				  <div class="issue" slug="{{abbr}}">
					<span class="name">{{ name }}</span>
				  </div>
			   {% endfor %}
			 </div>
			 </div>
		</div>
			
		<div class="col_9 col_last">
			<h3 id="orglist_title" class="no_rule" style="padding-top: 0">Recently updated organizations</h3>
			<div id="orglist_status"></div>
			<ul id="orglist_list" class="org_all">
			</ul>
			<p id="orgnote" class="pad_top" style="display: none"><small>(Entries in bold indicate information reported by the organization itself.)</small></p>
			<div id="activity" style="margin-top: 1.5em"></div>
		</div>
	</div>

{% endblock %}

