{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}{{position.action_headline}} - {{position.campaign.org.name}}{% endblock%}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="content org_custom">

		<div class="col_12">
			<h1 class="rule_btm">{{position.action_headline}} <span>A message from {{position.campaign.org.name}}</span></h1>
		</div>
		
		<div class="col_6">
			<div class="block custom_msg">
				<img class="float_right" src="http://william.popvox.com/media/master/_dummy_org_upload.jpg" alt="dummy" width="" height="" />
				{{ position.action_body|safe }}
			</div>
			
			<div class="bill">
				
				<h4><a href="{{position.bill.url}}">{{position.bill.title|truncatewords:30}}</a></h4>
				<p><strong>Sponsor:</strong>
					<a href="http://www.govtrack.us/congress/person.xpd?id={{position.bill.sponsor.id}}" class="blank" title="More information on www.GovTrack.us">{{ position.bill.sponsor.name }}</a>
				</p>
				
				<p><strong>Status:</strong>
				<em>{{position.bill.status}}</em>
				</p>
				
				{% if position.bill.officialtitle %}<p class="bill_detail">{{ position.bill.officialtitle|truncatewords:18 }}</p>{% endif %}
				
				<div class="bill_endorseoppose">
					<p>
						{% if position.position == "+" %}Endorsed{% endif %}
						{% if position.position == "-" %}Opposed{% endif %}
						by
						<a href="{{position.campaign.org.url}}">{{position.campaign.org.name}}</a>
					</p>
					{% if position.comment %}
						{{position.comment|wraplines:"p"}}
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col_6 col_last stroke_box">
			<h3 class="no_rule orange">Please Support {{position.bill.displaynumber}}</h3>
			<h4>Help {{position.campaign.org.name}} by telling Congress to {% if position.position == "+" %}support{% endif %}{% if position.position == "-" %}oppose{% endif %} this bill.</h4>
			<form class="form form_org" action="#" method="post" name="contact"><br />
			
				<input id="name_first" class="c3" type="text" value="first name">
				<input id="name_last" class="c3 last" type="text" value="last name"><br />
				<input id="email" class="c3" type="text" value="email">
				<input id="zip" class="c2 last" type="text" value="zip"><br />
				<div class="radio">
			        <input id="share_with_org" type="checkbox" name="share_with_org" checked="1"/>
			        <p><label for="share_with_org">Share my info with {{position.campaign.org.name}}?</label></p>
				</div>
				
				<input id="billsearch_endorse_oppose_submit_{% if position.position == "+" %}support{% endif %}{% if position.position == "-" %}oppose{% endif %}" onclick="ValidateForm();return false;" type="button">
			</form>
			
		</div>
		
<!--
		{% include "ads/rightbar.html" %}
-->

    </div>
{% endblock %}

