{% extends "master.html" %}
{% block title %}Help - {{ org.name }}{% endblock%}
{%block nav_orgadmin_class_profile%}active{%endblock%}
{% block content %}
<div class="content"> 

	<h1>Setting Up Your Organization Profile</h1>
	
	<p>Welcome to POPVOX. Adding your organization to POPVOX&rsquo;s organization directory will help you get your legislative agenda in front of Congressional staff.</p>
	
	<p>There are three steps to getting set up on POPVOX.</p>
	
	<h2>1. Basic Information</h2>
	
	<h2>2. Legislative Agenda</h2>
	
	<h2>3. Campaigns</h2>
 
</div>	<!-- e: content -->
	
{% endblock %}

