{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Reports{% endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
<script type="text/javascript">
var protocol = document.location.protocol == 'https:' ? 'https:' : 'http:';
document.write(unescape('%3Cscript src="' + protocol + '//mixpanel.com/site_media/api/platform/platform.1.min.js" type="text/javascript"%3E%3C/script%3E'));
</script>
<style>
h1 { font-size: 30px; }
h2 { font: bold 20px/30px "LucidaGrande",helvetica,arial,sans-serif; margin-bottom: 15px;  }
h4 { font: bold 14px/16px "LucidaGrande",helvetica,arial,sans-serif; margin-bottom: 15px;  }
</style>
{% endblock %}
{% block content %}
<div class="content">
<div class="col_9 col_plus col_top">

<h1>Legislative Reports and Campaign Analytics</h1>
	
<ul class="tabs">
	<li><a href="#overview"><span>Overview</span></a></il>
	<li><a href="#details"><span>Details</span></a></il>
</ul>
<div class="tabs_panel">
	
<div class="tab_overview">
	
	{% for role in user.orgroles.all %}

		{% if user.orgroles.all|length > 1 %}
		<h2>{{role.org.name}}</h2>
		{% endif %}
	
		<div class="block campaigns {% if not forloop.first %}rule{% endif %}">
		{% for cam in role.org.all_campaigns %}
			<div class="block">
			
			{% if not cam.default %}
			<h3>{{cam.name}}<span> <a href="{{cam.url}}">View this Campaign</a></span></h3>
			{% endif %}
			
			<div class="support_oppose">
			{% for pos in cam.positions.all %}
					{% bill_statistics pos.bill as stats %}
					<div class="col_50">
						<h4 style="margin-bottom: 1em">
							<a href="{{pos.bill.url}}/report">{{pos.bill.title|truncatewords:10}}</a>
							<span> ({% if pos.position == '+' %}Endorsing{% endif %}{% if pos.position == '-' %}Opposing{% endif %}{% if pos.position == '0' %}Neutral{% endif %})</span>
						</h4>
						
						{% with pos.actionrecords.all.count as count %}
						{% if count %}
							<p>{{count}} supporter{% if count > 1 %}s{% endif %} took action. View <a href="#details=ocp_{{pos.id}}">detailed analytics for your widget or action page</a>.</p>
							
							<p style="text-align: center; margin-bottom: 0">Widget Completions</p>
							
							<div id="analytics_{{pos.id}}" style="height: 150px; margin-bottom: 15px;"> </div>
							<script>
							var platform = new Mixpanel.Platform(
								'{{MIXPANEL_API_KEY}}',
								"{{pos.mixpanel_bucket_secret|escapejs}}",
								"ocp_{{pos.id}}"
							);
							platform.create_line_chart('analytics_{{pos.id}}', ['widget_writecongress_send'], { legend: false} );
							</script>

						{% else %}
							<p>Create a <a href="/services/widgets#writecongress">widget</a> or <a href="{{role.org.url}}/_action/{{pos.id}}">customized action page</a> to drive your supporters to take action.</p>
						{% endif %}
						{% endwith %}
					</div>
					<div class="col_50">
						{% with pos.bill as bill %}
						{% with pos.id as chart_id %}
						{% with 75 as chart_size %}
							{% include "popvox/bill_statistics_pie_simple.html" %}
						{% endwith %}
						{% endwith %}
						{% endwith %}
					</div>
					{% if not forloop.last %}<div class="hr"> </div>{% endif %}
			{% empty %}
				<p>There are no bills endorsed or opposed in this campaign.</p>
			{% endfor %}
			
			<div class="clear"> </div>

		
			</div>
		
			</div>			
		{% endfor %}

	</div>	
	{% endfor %}
</div> <!-- e:tab_overview -->

<div class="tab_details">

	<script>
	var campaign_info = { };
	</script>

	<ul class="ul_tags">
		{% for role in user.orgroles.all %}
			{% for cam in role.org.all_campaigns %}
				{% for pos in cam.positions.all %}
					<li><a href="#details=ocp_{{pos.id}}" title="{{role.org.name}}">{{pos.bill.displaynumber}}</a></li>
				{% endfor %}
			{% endfor %}
		{% endfor %}
		<div class="clear"> </div>
	</ul>
	
	<h2>S. 1234</h2>
	<p class="campaignl_summary">A bill to do this and that.</p>
	
	<h3>Analytics</h3>
	<div id="analytics_frame" style="width: 600px; height: 300px; margin-bottom: 15px;"> </div>

	<h3>Supporters</h3>
	<p>grid</p>
	<a href="{{position.get_absolute_url}}/_download/csv">Download</a>

</div>
	
</div> <!-- e:tabs_panel -->	
</div>	<!-- e:col_9 -->
{% include "ads/rightbar.html" %}
</div> <!-- e:content -->

<script>
	function show_analytics(id) {
		if (id == null) {
			$('.tab_details h2').text("No Campaign Selected");
			$('.tab_details .campaignl_summary').text("Select a campaign from the list above.");
			return;
		}
	}

	$('.tabs').pvtabs(function(active_tab, is_initial, hash_argument) { if (active_tab == "details") show_analytics(hash_argument); });
</script>
{% endblock %}

