{% extends "master.html" %}
{% block title %}Reports{% endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{% block head %}
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>
{% endblock %}
{% block adunits %}{% include "ads/rightbar_head.html" %}{% endblock %}
{% block content %}
	<div class="content">
	
		<h1>Legislative Reports</h1>
	
		<div class="col_9 col_plus col_top">
		
		...
	
	</div>
	
	{% include "ads/rightbar.html" %}


	</div>
{% endblock %}

