{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX Services: Widgets{% endblock%}
{% block description %}POPVOX - Harness the power of POPVOX on your site with POPVOX widgets.{% endblock%}
{%block nav_citzen_class_reports%}active{%endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{% block head %}
<link rel="stylesheet" media="screen" type="text/css" href="/media/css/jquery.miniColors.css" />
<script type="text/javascript" src="/media/js/jquery.miniColors.js"></script>
<script type="text/javascript" src="/media/js/jquery.ba-bbq.min.js"></script>

<script type="text/javascript">
var protocol = document.location.protocol == 'https:' ? 'https:' : 'http:';
document.write(unescape('%3Cscript src="' + protocol + '//mixpanel.com/site_media/api/platform/platform.1.min.js" type="text/javascript"%3E%3C/script%3E'));
</script>

<style>
/* splash tab */

#wTop .left {
    width: 160px;
    float: left;
    padding: 0 0px 20px 30px;
    }

#wTop .right {
    border: none;
    padding: 0px 20px 20px 0;
    }
    #wTop .right h3 {
        margin-bottom: 5px;
        }
    #wTop .right p {
        font-size: 16px;
        line-height: 15px;
        }

.wBottom {
    background: #DFDCD5;
    clear: both;
    padding: 20px;
    }
    
    .wBottom p, .wBottom ul.bullets li, .blob p, .blob li {
        font: normal 16px/24px helvetica, arial, sans-serif;
        }
        
.wBottom img {
    width: 170px;
    height: 266px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    }

#splash h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    background-image: none;
    line-height: 150%;
    }

    .wBottom h3 {
        margin-bottom: 10px;
        }

#splash h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    }
    
.left {
    width: 150px;
    float: left;
    }

.right {
    width: 729px;
    float: right;
    border-left: #8C8C8C 1px solid;
    padding-left: 20px;
    }

    .right h3 {
        margin-top: 0;
        padding-top: 0;
        }

ul#wSelect {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    ul#wSelect li {
        margin-bottom: 4px;
        padding: 5px;
        width: 120px;
        font-weight: bold;
        }
        
    ul#wSelect li.active {
        background: #CC6A11;
        -moz-border-radius: 6px;
        border-radius: 6px;
        }
    
        ul#wSelect li.active a {
            color: white;
            border: none;
            font-weight: bold;
            }
        
            ul#wSelect li a:hover {
                text-decoration: none;
                }

.start {
    margin-top: 18px;
    }                
    .start a {
        font-size: 24px;
        font-weight: bold;
        }
                
.blob {
    clear: both;
    margin: 30px 0 20px 0;
    background: #DFDCD5; 
    padding: 20px;
    }

    .blob h3 {
        margin-bottom: 6px;
        }

    .blob p {
        margin: 0 0 10px 0px;
        }
    
    .blob .left {
        width: 400px;
        float: left;
        }
        
    .blob .right {
        width: 400px;
        float: right;
        border: none;
        }

/* configuration forms */

.form .plus h4 a {
    background: none repeat scroll 0 0 #ACACB0;
    color: #FFFFFF;
    font-family: georgia;
    font-size: 11px;
    font-style: italic;
    margin-top: -3px; 
    margin-left: 10px;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.form .plus h4 a:hover {
    border-bottom: none;
    background: #b36015;
    }
    
#must_login_to_customize {
    margin: 20px 0 40px 0;
    border-top: 1px solid #CCC;
    padding-top: 20px;
    }
    
/* widget features */
#features_write_congress {
    display: block;
    width: 400px;
    padding: 10px 0 15px 0px;
    /*background: url(_temp_featu res.jpg) left top no-repeat;*/
    background: #CD6913;
    }
    
    #features_write_congress h3 {
        color: #fff;
        text-shadow: 0px -1px 1px #8c4607;
        background: none;
        margin: 10px 0 10px 25px;
        padding: 0;
        }
    
    #features_write_congress li {
        width: 200px;
        height: 150px;
        float: left;
        text-align: center;
        list-style-type: none;
        color: #fff;
        }
        
        #features_write_congress li#customize:hover,
        #features_write_congress li#talking_points:hover,
        #features_write_congress li#build:hover,
        #features_write_congress li#analytics:hover {
            background-position: center 0px; 
            }
        
        #features_write_congress li h4 {
            font: bold 16px Helvetica, arial;
            text-transform: uppercase;
            text-shadow: 0px -1px 1px #8c4607;
            padding-top: 66px;
            width: 200px;
            margin-bottom: 8px;
            }
            
            #features_write_congress li p {
                font: italic normal 13px georgia, serif;
                text-shadow: 0px -1px 1px #8c4607;
                }
        
        #features_write_congress li#customize {
            background: url(/media/master/icon_customize.png) center 3px no-repeat;
            }
            
        #features_write_congress li#talking_points {
            background: url(/media/master/icon_talking.png) center 3px no-repeat;
            }

        #features_write_congress li#build {
            background: url(/media/master/icon_build.png) center 3px no-repeat;
            }

        #features_write_congress li#analytics {
            background: url(/media/master/icon_analytics.png) center 3px no-repeat;
            }
            
        #features_write_congress a {
            background: url(/media/master/b_upgrade_now.png) left top no-repeat;
            width: 182px;
            height: 47px;
            display: block;
            margin: 16px 0 0 109px;
            }
            
            #features_write_congress a:hover {
                background-position: left bottom;
                }

#color_theme_picker {
    margin-bottom: 1em;
    }
#color_themes div.theme {
    padding: 2px;
    cursor: pointer;
    }
#color_themes div.theme:hover {
    color: white;
    background-color: #777;
    }
#color_themes div.theme.active {
    color: white;
    background-color: #F77;
    }
#color_themes span.label {
    display: inline-block;
    width: 120px;
    font-size: 12px;
    }
#color_themes span.color {
    display: inline-block;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid #AAA;
    border-left: none;
    }
#color_themes span.color.first {
    border-left: 1px solid #AAA;
    }                
</style>

<link rel="stylesheet" href="/media/widget/widget.css" type="text/css" media="screen" />

<script type="text/javascript">
function splash_tab(tab) {
    $('#wSelect>li').removeClass("active");
    $(tab.parentNode).addClass("active");
    $('#splash .wBottom .right>div').each(function() {
        $(this).toggle(this.getAttribute("tab") == tab.getAttribute("tab"));
    });
    return false;
}

var accounts = [
    {% for account in accounts %}
    {
        id: {{account.id}},
        name: "{{account|escapejs}}",
        api_key: "{{account.api_key|escapejs}}",
        secret_key: "{{account.secret_key|escapejs}}",
        permissions: {% templatetag openbrace %}{% for p in account.permissions.all %}"{{p.name|escapejs}}": true{% if not forloop.last %}, {% endif %}{% endfor %}},
        bill_positions: [{% for p in account.org.positions_can_comment %}
                {% templatetag openbrace %} id: {{p.id}},
                campaign: {% if p.campaign.default %}null{% else %}"{{p.campaign.name|truncatewords:3|escapejs}}"{% endif %},
                    position: "{{p.position}}",
                    bill: "{{p.bill.title|truncatewords:6|escapejs}}",
                    mixpanel_bucket_secret: "{{p.mixpanel_bucket_secret}}"
                    {% templatetag closebrace %}{% if not forloop.last %},{% endif %}{% endfor %} ],
        has_fb_page: {% if account.fb_page_id %}true{% else %}false{% endif %}
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
];

var current_account;
var widgettype;
var writecongress_by_ocp;

function change_widget(tabname, is_initial) {
    widgettype = tabname;
    
    if (widgettype == "splash") {
        $('.config_pane, .preview_pane').hide();
        $('#splash').show();
    } else if (widgettype == "integration") {
        $('.config_pane, .preview_pane, #splash').hide();
    } else {
        $('.config_pane, .preview_pane').show();
        $('#splash').hide();
    }
    
    $('.widget_opts').not('.' + widgettype + '_opts').hide();
    $('.' + widgettype + '_opts').fadeIn();

    $('.preview_pane').show();
    $('.preview_pane iframe').hide();
    
    if (widgettype == "commentstream") {
        $('#widget_description').html("The Comment Stream Widget displays the most recent constituent comments left on POPVOX for a given bill or issue area. What comments do you want to display?");
        $('#code').css({width: "230px"});
        $('.config_pane').css({width: '640px'});
        $('.preview_pane').css({width: '240px'});
    }

    if (widgettype == "writecongress") {
        {% if franking == "true" %}
            $('#widget_description').html("The free “Write Congress” widget embeds the powerful POPVOX advocacy tool onto your own website. Your visitors weigh in on the bill you feature, POPVOX takes care of the rest!");
        {% else %}
            $('#widget_description').html("The free “Write Congress” widget embeds the powerful POPVOX advocacy tool onto your own website. Your visitors weigh in on the bill you feature, POPVOX takes care of the rest!<br/><br/><em>Congressional Staff:</em> <a href='/accounts/register/legstaff'>sign up for a staff account</a> for a writecongress widget designed with franking in mind.");
        {% endif %}
        $('#code').css({width: "450px"});
        $('.config_pane').css({width: '400px'});
        $('.preview_pane').css({width: '460px'});
    }
    
    if (widgettype == "bill_button") {
        $('#widget_description').html("Send your readers to weigh in on bills on POPVOX using a custom button that shows real-time support or opposition on the bill.");
        $('#code').css({width: "260px"});
        $('#code2').css({width: "260px"});
        $('.config_pane').css({width: '600px'});
        $('.preview_pane').css({width: '280'});
    }
    
    if (widgettype == "popvox_button") {
        $('#widget_description').html("Send your readers to POPVOX with this button.");
        $('#code').css({width: "260px"});
        $('.config_pane').css({width: '600px'});
        $('.preview_pane').css({width: '280'});
    }

    if (widgettype == "minimap") {
        $('#widget_description').html("Show your readers nationwide sentiment on a bill on POPVOX with this widget.");
        $('#code').css({width: "280px"});
        $('.config_pane').css({width: '580px'});
        $('.preview_pane').css({width: '300'});
    }

    window.setTimeout("update_preview(" + (is_initial ? 'true' : 'false') + ")", 600);
    
    return false;
}

function account_changed(is_initial) {
    $('.secret_key').text("<not available>");
    
    current_account = null;
    
    {% if accounts|length > 0 %}
    var acct_idx = {% if accounts|length > 1 %}$('#serviceaccount').val(){% else %}0;{% endif %}
    current_account = accounts[acct_idx];
    
    var fb_enabled = current_account.has_fb_page;
    $('.secret_key').text(current_account.secret_key);
        
    var plus_enabled = current_account.permissions["widget_theme"] ? true : false;
    fb_enabled &= current_account.permissions["fb_page"];
    
    //if (plus_enabled) $('.plus .panel').removeClass("disabled"); else $('.plus .panel').addClass("disabled");
    $('.plus').toggle(plus_enabled);
    $('.plus_teaser').toggle(!plus_enabled);
    
    $('.plus input').prop("disabled", !plus_enabled)
    $(".miniColors").miniColors('disabled', !plus_enabled);
    
    $('#writecongress_bill_1').hide();
    $('#writecongress_bill_2').show();
    $('#writecongress_bill_position').text('');
    
    writecongress_by_ocp = false;
    if (current_account.bill_positions.length > 0) {
        writecongress_by_ocp = true;
        $('#writecongress_bill_1').show();
        $('#writecongress_bill_2').hide();
        $('#writecongress_bill_position').text('');
        for (var j = 0; j < current_account.bill_positions.length; j++) {
            var opt = $('<option/>');
            opt.attr('value', current_account.bill_positions[j].id);
            var verb = "";
            if (current_account.bill_positions[j].position == "+") verb = "Support: ";
            if (current_account.bill_positions[j].position == "-") verb = "Oppose: ";
            opt.text(
                (current_account.bill_positions[j].campaign ? current_account.bill_positions[j].campaign + ": " : "") 
                + verb
                + current_account.bill_positions[j].bill
                );
            $('#writecongress_bill_position').append(opt);
        }
    }
    
    if (!fb_enabled)
        $('#fb_page').hide();
    else
        $('#fb_page').show();
    
    if (current_account.permissions.writecongress_ocp) {
        $('#talkingpoints').text("Talking points from your legislative agenda appear in your widget.");
        $('#supporters').text("Your Pro account gives you access to the information supporters enter into widgets you place on your website.");
    } else {
        $('#talkingpoints').text("With a Pro account, you could add talking points to your widget.");
        $('#supporters').text("With a Pro account you could get access to the information supporters enter into widgets you place on your website.");
    }
    
    $('.allow_optin_option').toggle(current_account.permissions.widget_optin);
    
    {% endif %}
    
    update_preview(is_initial);
}

var last_preview_html = "";
var last_preview_html2 = "";
var fb_code = "";
var hold_update = false;

function update_preview(is_initial) {
    if (hold_update) return;
    
    update_analytics();
    
    var opts = "";
    var default_width;
    var default_height;
    var can_change_height = true;
    
    if (widgettype == "commentstream") {
        if (this && this.id=="commentstream_issuearea" && $('#commentstream_issuearea').val() != "") $('#commentstream_bills').val("");
        if (this && this.id=="commentstream_bills" && $('#commentstream_bills').val() != "") $('#commentstream_issuearea').val("");
        
        var bills = [];
        if (!$('#commentstream_bills').hasClass("default")) bills = $('#commentstream_bills').val().split(/,\s*/);
        if (bills[0] == "") bills = [];
        $('#commentstream_bills_error').hide();
        for (var i = 0; i < bills.length; i++) {
            var bill_re = /^(supporting|opposing)?(HR|S|HRES|SRES|HJRES|SJRES|HCONRES|SCONRES|X)(\d+)(\/(\d+))?$/i;
            var match = bill_re.exec(bills[i].replace(/\s/g, "").replace(/\./g, ""));
            if (!match) {
                $('#commentstream_bills_error').text("I didn't understand <" + bills[i] + ">. Example bill numbers are H.R. 1, S. 2, H.Res. 3, etc. Precede a bill number with \"supporting\" or \"opposing\" to show only show supporting or opposing comments. Separate multiple bills with commas.");
                $('#commentstream_bills_error').show();
                return;
            }
            
            var support_oppose = match[1];
            var billtype = match[2].replace(/\s/g, "").replace(/\./g, "").toLowerCase();
            var billnumber = match[3];
            var congressnumber = match[5]; // possibly undefined, GovTrack style prev congress search
            if (!congressnumber) congressnumber = {{current_congress}};
            
            bills[i] = "us/" + congressnumber + "/" + billtype + billnumber + (support_oppose ? ":" + support_oppose : "");
        }
        if (bills.length > 0) opts += "&bills=" + bills;
        
        var ix = $('#commentstream_issuearea').val();
        if (ix) opts += "&issue=" + ix;
        
        var state = $('#commentstream_state').val();
        if (state) opts += "&state=" + state;
        
        default_width = 240;
        default_height = 376;
    }
    
    if (widgettype == "writecongress") {
        if (!writecongress_by_ocp) {
            $('#writecongress_bill_error').hide();
            var bill_re = /^(HR|S|HRES|SRES|HJRES|SJRES|HCONRES|SCONRES|X)(\d+)(\/(\d+))?$/i;
            var match = bill_re.exec($('#writecongress_bill').val().replace(/\s/g, "").replace(/\./g, ""));
            if (!match) {
                $('#writecongress_bill_error').text("Example bill numbers are H.R. 1, S. 2, H.Res. 3, etc.");
                $('#writecongress_bill_error').show();
                return;
            }
            
            var support_oppose = match[0];
            var billtype = match[1].replace(/\s/g, "").replace(/\./g, "").toLowerCase();
            var billnumber = match[2];
            var congressnumber = match[4]; // possibly undefined, GovTrack style prev congress search
            if (!congressnumber) congressnumber = {{current_congress}};
            
            bill = "us/" + congressnumber + "/" + billtype + billnumber;
            
            opts += "&bill=" + bill;
            if ($('#writecongress_position').val() != "neutral")
                opts += "&position=" + $('#writecongress_position').val();
        } else {
            opts += "&ocp=" + $('#writecongress_bill_position').val();
        }
		{% if franking %}
        opts += "&franking=" + {{franking}};
		{% endif %}
        
        default_width = 460;
        default_height = 700;
        can_change_height = false;
        
        {% if accounts|length > 0 %}
        if (current_account.permissions["widget_optin"] && $('#optin_option').prop('checked')) {
            opts += "&optin=1";
        }
        {% endif %}
    }
    
    if (widgettype == "bill_button") {
        $('#billbutton_bill_error').hide();
        var bill_re = /^(HR|S|HRES|SRES|HJRES|SJRES|HCONRES|SCONRES|X)(\d+)(\/(\d+))?$/i;
        var match = bill_re.exec($('#billbutton_bill').val().replace(/\s/g, "").replace(/\./g, ""));
        if (!match) {
            $('#billbutton_bill_error').text("Example bill numbers are H.R. 1, S. 2, H.Res. 3, etc.");
            $('#billbutton_bill_error').show();
            return;
        }
        
        var billtype = match[1].replace(/\s/g, "").replace(/\./g, "").toLowerCase();
        var billnumber = match[2];
        var congressnumber = match[4]; // possibly undefined, GovTrack style prev congress search
        if (!congressnumber) congressnumber = {{current_congress}};
            
        bill = congressnumber + "/" + billtype + billnumber;
        opts += "&bill=" + bill + "&stats=1&title=1";
        
        default_width = 280;
        default_height = 100;
        can_change_height = false;
    }

    if (widgettype == "minimap") {
        $('#minimap_bill_error').hide();
        var bill_re = /^(HR|S|HRES|SRES|HJRES|SJRES|HCONRES|SCONRES|X)(\d+)(\/(\d+))?$/i;
        var match = bill_re.exec($('#minimap_bill').val().replace(/\s/g, "").replace(/\./g, ""));
        if (!match) {
            $('#minimap_bill_error').text("Example bill numbers are H.R. 1, S. 2, H.Res. 3, etc.");
            $('#minimap_bill_error').show();
            return;
        }
        
        var billtype = match[1].replace(/\s/g, "").replace(/\./g, "").toLowerCase();
        var billnumber = match[2];
        var congressnumber = match[4]; // possibly undefined, GovTrack style prev congress search
        if (!congressnumber) congressnumber = {{current_congress}};
            
        bill = congressnumber + "/" + billtype + billnumber;
        opts += "&bill=" + bill + "&stats=1&title=1";
        
        default_width = 280;
        default_height = 100;
        can_change_height = false;
    }
    if (widgettype == "integration" || widgettype == "splash") {
        return;
    }
    
    var width = $('#widget_width').val() || default_width;
    var height = (can_change_height && $('#widget_height').val()) || default_height;
    
    var account = "";
    
    {% if accounts|length > 0 %}
    if (current_account.permissions["widget_theme"] && widgettype != "bill_button") {
        // Only apply these configuration options if they are permitted.
        var clrs = ["sbg", "sbg2", "sfg", "lnk", "bg", "fg", "fg2"];
        for (var e in clrs)
            opts += "&" + clrs[e] + "=" + $('#color_' + clrs[e]).val().replace("#", "");
    }
    account = current_account.api_key
    {% else %}
    account = 'RI5CMP00800KPKEV';
    {% endif %}
        
    function make_code(host, width, height, demo) {
        if (widgettype == "bill_button") {
            if (demo) {
                return '<iframe src="' + host + "/widgets/js/bill.html?iframe=1" + opts + '" width="' + width + '" height="' + height + '" border="0" frameBorder="0"> </iframe>';
            } else {
                return '<' + 'script src="' + host + "/widgets/js/bill.js?" + opts + '"> ' + '<' + '/script>';
            }
        } else if (widgettype == "popvox_button") {
            return '<a href="https://www.popvox.com/bills" style="text-decoration: none; border: none;"><img src="https://www.popvox.com/media/buttons/popvox_bills_widget.gif" alt="write congress at POPVOX" width="158" height="100" border="0"/></a>';
        } else if (widgettype == "minimap") {
		return '<div style="width:280px"><iframe src="https://www.popvox.com/widgets/minimap?'+ opts +'" scrolling="no" border="0" marginheight="0" marginwidth="0" frameborder="0" width="280" height="740" style="border:1px solid #cc6a11"> </iframe><br><center><small>powered by <a href="https://www.popvox.com">popvox.com</a></small></center></div>';
        } else {
            return '<iframe src="' + host + '/services/widgets/w/' + (account ? "account/" + account + "/" : "") + widgettype + '?iframe=1' + opts + (demo ? "&demo=1{% if user.is_staff or user.username == "demo_org_staffer"%}&debug=1{% endif %}" : "") + '" width="' + width + '" height="' + height + '" border="0" frameBorder="0" > </iframe>';
        }
    }

    function make_code2(host, width, height, demo) {
        return '<iframe src="' + host + "/widgets/bill-inline?" + opts + '" height="' + height + '" border="0" scrolling= "no" frameBorder="0"> </iframe>';
    }

    var prv = make_code("", default_width, default_height, true);
    if (last_preview_html != prv) $('#preview').html(prv);
    last_preview_html = prv;

    if (widgettype == "bill_button") {
        var prv = make_code2("", default_width, 21, true);
        if (last_preview_html2 != prv) $('#preview2').html(prv);
        last_preview_html2 = prv;        
    }
    {% if accounts|length > 0 %} /* logged in */
        $('#code').val(make_code("https://www.popvox.com", width, height, false));
        if (widgettype == "bill_button") {
            $('#code2').show()
            $('#code2').val(make_code2("https://www.popvox.com", width, 21, false));
            $('#preview2').show();
        } else {
            $('#code2').hide()
            $('#preview2').hide();
        }
    {% else %} /* not logged in */
        if (widgettype == "bill_button") {
            $('#codetext').html('Copy and paste the following HTML code into your website:');
            $('#code').show()
            $('#code').val(make_code("https://www.popvox.com", width, height, false));
            $('#code2').show()
            $('#code2').val(make_code2("https://www.popvox.com", width, 21, false));
            $('#preview2').show();
            $('#must_login_to_customize').hide();
        } else {
            $('#code2').hide()
            $('#preview2').hide();
            if (widgettype == "minimap" || widgettype == "popvox_button") { /* no API key needed */
                $('#code').show();
                $('#codetext').html('Copy and paste the following HTML code into your website:');
                $('#code').val(make_code("https://www.popvox.com", width, height, false));
                $('#must_login_to_customize').hide();
            } else { /* API key needed */
                $('#codetext').html('Please <a href="https://www.popvox.com/accounts/login?next=/services/widgets">login</a> or <a href="https://www.popvox.com/accounts/register?next=/services/widgets">register</a> to embed this on your site.');
                $('#code').hide();
                $('#must_login_to_customize').show();

            }
        }
    {% endif %}


    fb_code = make_code("https://www.popvox.com", "520", height, false);
    
    $('.preview_pane iframe').show();

    $('#fb_page a').show();
    $('#fb_page span').hide();
    
    if (!is_initial) $('.preview_pane h3').text("Preview");
}

function set_fb_page_code() {
    $('#fb_page a').hide();
    $('#fb_page span').show();
    $('#fb_page span').text("Saving...");

    $.ajax({
            url: "/ajax/services/setopt",
            data: {
                account: current_account.id,
                name: "fb_page_code",
                value: $('#code').val()
            },
            type: "POST",
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                if (data.status == "fail") {
                    $('#fb_page a').show();
                    $('#fb_page span').text(data.msg);
                } else {
                    $('#fb_page span').text("Your Facebook tab has been updated.");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $('#fb_page a').show();
                $('#fb_page span').text("We're having technical difficulties.");
            }
        });

    return false;
}

function update_analytics() {
    $('#analytics_frame').html("<p>With a Pro account we'll show you how your campaign is going.</p>");
    
    if (widgettype != "writecongress") return;
    if (!writecongress_by_ocp) return;
    
    var ocp = $('#writecongress_bill_position').val();
    var bucket_secret;
    for (var i = 0; i < current_account.bill_positions.length; i++)
        if (current_account.bill_positions[i].id == ocp)
            bucket_secret = current_account.bill_positions[i].mixpanel_bucket_secret;
            
    var platform = new Mixpanel.Platform(
        '{{MIXPANEL_API_KEY}}',
        bucket_secret,
        "ocp_" + ocp
    );
    platform.create_line_chart('analytics_frame');
    $('#analytics_frame').css("margin-bottom", "15px");
}

$(function() {
    $('.form input[type=text]').keyup_delayed(update_preview);
    $('.form select').change(update_preview);
    $('.form input[type=radio]').click(update_preview);
    $('.form input[type=checkbox]').click(update_preview);
    
    splash_tab($('#wSelect li a')[0]);
    account_changed(true);

    $('#features_write_congress li').hover(function(event) {
        $(this).animate({"background-position-y": (event.type == "mouseenter" ? -3 : 0)}, 80, "linear");
    });
});

var minicolors_opts = {
    change: function(hex, rgb) {
        if (!hold_update) $('#color_themes div.theme').removeClass("active");
        $('#color_sbg').keyup(); // trigger delayed update of preview
    }
};
</script>
{% endblock %}
{% block subnav %}
    {% include "popvox/services_subnav.html" %}
{% endblock %}
{% block content %}
<div class="content widgetizer">

    <h1>POPVOX Widgets</h1>

    {% if accounts|length > 1 %}
    {% comment %}This goes outside of the form so that the select doesn't trigger a preview update. Only show if there is more than one service account associated with the user. Otherwise there's no need to ask.{% endcomment %}
    <div class="block1">
        <label for="serviceaccount">Service Account:</label>
        <select id="serviceaccount" onchange="account_changed()">
            {% for account in accounts %}
                <option value="{{forloop.counter0}}" {% if forloop.first %}selected="1"{% endif %}>{{account}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    
    <ul class="tabs">
        <li><a href="#splash"><span>What Are They?</span></a></li>
    
        <li><a href="#writecongress"><span>Write Congress</span></a></li>
        <li><a href="#commentstream"><span>Comment Stream</span></a></li>
        <li><a href="#bill_button"><span>Link to a Bill</span></a></li>
        <li><a href="#popvox_button"><span>Link to POPVOX</span></a></li>
        <li><a href="#minimap"><span>Opinion Map</span></a></li>
        
        <li><a href="#integration"><span>Facebook</span></a></li>
    </ul>

    <div id="splash" class="tab_splash">
        <div id="wTop">
            <div class="left">
                <img src="/media/widget/widgetpage_cogs.png" />
            </div>
            <div class="right">
                <h3>HARNESS THE POWER OF POPVOX ON YOUR SITE</h3>

                <p>Now users can write to Congress without leaving your website</p>
                <p>Keep your content fresh with real-time streaming comments</p>
            </div>
            <div class="clear"> </div>
        </div><!---end of wTop--->
        
        <div class="wBottom">
            <h3>Features Overview</h3>
    
            <div class="left">
                <ul id="wSelect">
                  <li><a href="#" onclick="return splash_tab(this);" tab="writecongress">Write Congress</a></li>
                  <li><a href="#" onclick="return splash_tab(this);" tab="commentstream">Comment Stream</a></li>
                </ul>
            </div><!---end of left--->
            
            <div class="right">
                <div tab="commentstream">
                  <img src="/media/widget/commentstream_thumbnail.png" alt="Preview Image" onclick="window.location='#commentstream'"/>
                  <h4>Display what others are saying about your issues.</h4>
                  <p>With POPVOX’s Comment Stream, individuals and organizations can:</p>
                    <ul class="bullets">
                        <li><b>Stream</b> comments in real-time&mdash;filtered by bill number, position (supporting or opposing) and their location.</li>
                        <li><b>Inform</b> users with fresh content and honest, personal stories written by real individuals using POPVOX.</li>
                        <li><b>Inspire</b> others to take action and write to their Members of Congress.</li>
                    </ul>
                  <p class="start"><a href="#commentstream">Start Using This Widget Now...</a></p>
                </div>
            
                <div tab="writecongress">
                  <img src="/media/widget/writecongress_thumbnail.png" alt="Preview Image" style="border: 2px solid #CC6A11;" onclick="window.location='#writecongress'"/>
                  <h4>Direct your membership to take action without leaving your website.</h4>
                    <p>The “Write Congress” widget embeds POPVOX’s powerful advocacy tool onto your own website. And since it&rsquo;s powered by POPVOX:</p>
                            
                    <ul class="bullets">
                        <li>Constituent information is <b>verified</b> for Congressional offices.</li>
                        <li>Messages from your activists are <b>quantified</b> and aggregated with other messages to show true grassroots power.</li>
                        <li>Activists get guaranteed delivery to Congress and can view their delivery status.</li>
                    </ul>
                    
                    <p>With a Pro account, your customized text will explain why your site visitors should support or oppose the bills you care about, and the widget integrates into your existing campaign tools.</p>
                    
                    <p class="start"><a href="#writecongress">Start Using This Widget Now...</a></p>
                </div>
            </div><!--end of right-->
            <div class="clear"> </div>
        </div><!--end of wbottom-->
        
        <div class="blob">
          <h3 class="left">GET STARTED</h3>
          
          <h3 class="right">GO PRO</h3>
    
          <p class="left">POPVOX widgets are easy to load onto any site that allows you to paste HTML code and embed iframes, including WordPress and tumblr, and can be <a href="#integration">added to Facebook Pages</a>. Select a widget from the tabs at the top, complete the customization form, and copy and paste the HTML code onto your own website!</p>

           <div class="right">
            <p>With POPVOX Pro, you can:</p>
            <ul class="bullets">
             <li>Customize the widget with your colors</li>
             <li>Embed your talking points as suggestions for letters to Congress</li>
             <li>Access an analytics dashboard <em>(coming soon)</em></li>
             <li>Integrate with your existing list-building tools <em>(coming soon)</em></li>
            </ul>               
            <p>Please contact {% obfuscated_email "rachna@popvox.com" %} to get started.</p>
            </div>
          
          <div class="clear"> </div>
        </div>
    </div><!-- e:splash -->

    <div class="tab_writecongress tab_commentstream tab_bill_button tab_popvox_button tab_minimap">
    <div class="config_pane">
        <p id="widget_description"></p>
    
        {% comment %}when the user isn't logged in with a service account, then don't show
        the form because the user will lose his customization when he logs in, but keep the
        form elements because they are needed to generate the preview iframe URL{% endcomment %}
        <form class="form" >
        
            <div class="block2 widget_opts commentstream_opts">
            
                <div class="vert">
                    <label for="commentstream_bills">Related to these bills</label>
                    <input id="commentstream_bills" type="text" value="supporting H.R. 96" class="c2"/>
                    <small style="width: 250px">Enter a bill number on its own, e.g. &ldquo;H.R. 1234&ldquo;, to show both supporting and opposing comments.</small>
                </div>
                <div class="vert">
                    <p class="or">or</p>
                </div>
                <div class="vert">
                    <label for="commentstream_issuearea">Related to this subject</label>
                    <select id="commentstream_issuearea" class="c3">
                        <option value="">(Select)</option>
                        {% for ix in issueareas %}
                            <option value="{{ix.id}}">{{ix.name}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="clear"> </div>
        
                <div id="commentstream_bills_error" class="error"> </div>
                
                <div class="vert">
                    <label for="commentstream_state">Show users in</label>
                    <select id="commentstream_state" class="c2">
                        <option value="">(All States)</option>
                        {% for abbr, name in states %}
                            <option value="{{abbr}}">{{name}}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="clear "> </div>
            </div><!-- e: block -->    
            
            <div class="block2 widget_opts writecongress_opts">
                {% if accounts|length > 0 %}
                <div class="vert" id="writecongress_bill_1">
                    <label>Choose your position and bill</label>
                    <select id="writecongress_bill_position" size="1" style="width: 400px"></select>
                    <small>You may choose from the bills endorsed or opposed in your legislative agenda which are pending Congressional action<!-- or await reintroduction-->.</small>
                </div>
                {% endif %}
                
                <div class="vert" id="writecongress_bill_2">
                    <label for="writecongress_bill">Choose your position and bill</label>
                    <select id="writecongress_position" size="1" style="width: 10em"><option value="support">supporting</option> <option value="oppose">opposing</option> <option value="neutral">support/oppose</option></select>
                    <input id="writecongress_bill" type="text" value="H.R. 96" style="width: 8em"/>
                </div>
                <div class="clear"> </div>
                                        
                <div id="writecongress_bill_error" class="error"> </div>
                
                <p style="padding-bottom: 1em">Comments submitted through the widget will be sent to Congress and posted anonymously on POPVOX. Users will create a POPVOX account if they don&rsquo;t already have one.</p>
                <div class="clear"> </div>
            </div><!-- e: block -->
            
            <div class="block2 widget_opts bill_button_opts">
                <div class="vert">
                    <label for="billbutton_bill">Choose a bill</label>
                    <input id="billbutton_bill" type="text" value="H.R. 96" style="width: 8em"/>
                </div>
                <div class="clear"> </div>
                                        
                <div id="billbutton_bill_error" class="error"> </div>
            </div><!-- e: block -->
            
            <div class="block2 widget_opts minimap_opts">
                <div class="vert">
                    <label for="minimap_bill">Choose a bill</label>
                    <input id="minimap_bill" type="text" value="H.R. 96" style="width: 8em"/>
                </div>
                <div class="clear"> </div>
                                        
                <div id="minimap_bill_error" class="error"> </div>
            </div><!-- e: block -->
            
            <div class="block3 widget_opts commentstream_opts writecongress_opts">
                <!--<h4>Basic </h4><p class="free">(free)</p>-->
                <h5 class="clear">Widget Dimensions</h5>
                <div class="vert">
                    <label for="widget_width">Width (px)</label>
                    <input id="widget_width" type="text" value="" class="c2"/>
                </div>
                <div class="vert widget_opts commentstream_opts">
                    <label for="widget_height">Height (px)</label>
                    <input id="widget_height" type="text" value="" class="c2"/>
                </div>
                <!--
                <div class="vert">
                    <p class="or">or</p>
                </div>
                <div class="radio vert">
                    <input class="auto" type="radio" name="" value="auto"/>
                    <label class="auto" for="auto">Auto</label>
                </div>
                -->
                <div class="vert last">
                    <p><small>Widget size does not update in preview.</small></p>
                </div>
                <div class="clear"> </div>
            </div><!-- e: block2 -->
            
            <div class="widget_opts writecongress_opts commentstream_opts">
            <div class="plus" {% if accounts|length == 0 %}style="display: none"{% endif %}>
                <h4>Pro Options</h4>
                <div class="clear"> </div>
                
                <div class="panel">
                    <h5>Widget Colors</h5>
                    
                    <div id="color_theme_picker">
                        <div id="color_themes">
                        </div>
                        <div style="padding: 2px; font-size: 12px"><a href="#" onclick="$('#color_theme_picker').hide(); $('#color_pickers').show(); return false;">Customize colors...</a></div>
                    </div>
                    <script type="text/javascript">
                        var color_themes = {
                            "Standard":     { sbg: "b36015", sbg2: "e7e4dd", sfg: "ffffff", lnk: "cc6a11", bg: "fafafa", fg: "404045", fg2: "555555" },
                            "Bald Eagle":                { sbg: "073F6D", sbg2: "54B3E1", sfg: "ffffff", lnk: "073F6D", bg: "F1F1F1", fg: "404045", fg2: "555555" },
                            "American Flag":    { sbg: "B33220", sbg2: "B7BEC0", sfg: "ffffff", lnk: "B33220", bg: "ffffff", fg: "254F66", fg2: "555555" },
                            "E Pluribus Unum":    { sbg: "68B004", sbg2: "ADAB9F", sfg: "ffffff", lnk: "68B004", bg: "ffffff", fg: "555555", fg2: "cfcdcd" },
                            "Corn on the Cob":    { sbg: "F7DC34", sbg2: "E1DCCA", sfg: "ffffff", lnk: "F7DC34", bg: "ffffff", fg: "5B595A", fg2: "efefef" },
                            "Facebook":    { sbg: "3B5998", sbg2: "ededed", sfg: "ffffff", lnk: "3B5998", bg: "ffffff", fg: "000000", fg2: "333333" },
                            "dummy":    null // so prev entry can end with comma
                        };

                        var clrs = ["lnk", "sbg", "sbg2",  "fg2", "fg", "bg", "sfg"];
                        for (var clr in color_themes) {
                            if (clr == "dummy") continue;
                            var node = $("<div class='theme'><span class='label'></span></div>");
                            node.find(".label").text(clr);
                            if (clr == "Standard") node.addClass("active");
                            var first = " first";
                            for (var c in clrs) {
                                var cnode = $("<span class='color " + clrs[c] + first + "'/>");
                                cnode.css("background-color", "#" + color_themes[clr][clrs[c]]);
                                node.append(cnode);
                                first = "";
                            }
                            $('#color_themes').append(node);
                        }
                        
                        $('#color_themes div.theme').click(function() {
                            $('#color_themes div.theme').removeClass("active");
                            $(this).addClass("active");
                            var theme = $(this).find('.label').text();
                            hold_update = true;
                            for (var clr in color_themes[theme])
                                $('#color_' + clr).miniColors("value", "#" + color_themes[theme][clr]);
                            hold_update = false;
                            update_preview();
                        });
                    </script>                    
                    
                    <div id="color_pickers" style="display: none">
                    <div class="vert">
                        <input id="color_bg" type="text" value="#fafafa" class="colorpicker"/>
                        <label for="color_bg">main background</label>
                        <script type="text/javascript">$('#color_bg').miniColors(minicolors_opts);</script>
                    </div>
                    
                    <div class="vert">
                        <input id="color_fg" type="text" value="#404045" class="colorpicker"/>
                        <label for="color_fg">main text</label>
                        <script type="text/javascript">$('#color_fg').miniColors(minicolors_opts);</script>
                    </div>
                
                    <div class="vert">
                        <input id="color_lnk" type="text" value="#cc6A11" class="colorpicker"/>
                        <label for="color_lnk">link</label>
                        <script type="text/javascript">$('#color_lnk').miniColors(minicolors_opts);</script>
                    </div>
                    
                    <div class="vert">
                        <input id="color_sbg" type="text" value="#b36015" class="colorpicker"/>
                        <label for="color_sbg">shell background</label>
                        <script type="text/javascript">$('#color_sbg').miniColors(minicolors_opts);</script>
                    </div>
                    
                    <div class="vert widget_opts writecongress_opts">
                        <input id="color_sbg2" type="text" value="#e7e4dd" class="colorpicker"/>
                        <label for="color_sbg2">shell light background</label>
                        <script type="text/javascript">$('#color_sbg2').miniColors(minicolors_opts);</script>
                    </div>
                    
                    <div class="vert">
                        <input id="color_sfg" type="text" value="#ffffff" class="colorpicker"/>
                        <label for="color_sfg">shell text</label>
                        <script type="text/javascript">$('#color_sfg').miniColors(minicolors_opts);</script>
                    </div>

                    <div class="vert widget_opts writecongress_opts">
                        <input id="color_fg2" type="text" value="#555555" class="colorpicker"/>
                        <label for="color_fg2">light text</label>
                        <script type="text/javascript">$('#color_fg2').miniColors(minicolors_opts);</script>
                    </div>
                    
                    <div class="vert">
                        <a href="#" onclick="$('#color_theme_picker').show(); $('#color_pickers').hide(); return false;" style="font-size: 12px">Choose a theme...</a>
                    </div>

                    </div>
                </div><!-- e: panel -->
                <div class="clear"> </div>
                
                <div class="plus widget_opts writecongress_opts">
                    <h5>Talking Points</h5>
                    <p id="talkingpoints"></p>
                    
                    <h5>Your Supporters</h5>
                    <p id="supporters"></p>
                    
                    <div class="allow_optin_option">
                        <div class="radio" style="width: auto">
                            <input id="optin_option" type="checkbox"/>
                            <label for="optin_option">Users must opt-in to receiving POPVOX updates</label>
                        </div>
                        <div class="clear"> </div>
                    </div>

                    <h5>Analytics</h5>
                    <div id="analytics_frame"> </div>
                </div>
        
            </div>
            </div>

        </form><!-- e: form -->
        
        {% if accounts|length == 0 %}
        <div id="must_login_to_customize">
            <p>You must <a href="/accounts/login?next=/services/widgets" onclick="window.location='/accounts/login?next=/services/widgets' + escape(window.location.hash); return false;">log in or create an account</a> to set up a free widget.</p>
        </div>
        {% endif %}
        
        <div class="widget_opts writecongress_opts commentstream_opts">
        <div id="features_write_congress" class="plus_teaser">
            <h3>With a Pro account you can:</h3>
            <ul>
                <li id="customize">
                    <h4>Customize</h4>
                    <p>Use your own colors.</p>
                </li>    
                <li id="talking_points" class="widget_opts writecongress_opts">
                    <h4>Suggest</h4>
                    <p>Guide users to write<br />effective letters.</p>
                </li>    
                <li id="build" class="widget_opts writecongress_opts">
                    <h4>Build Your Base</h4>
                    <p>Track grassroots<br />activity &amp; grow.</p>
                </li>    
                <li id="analytics" class="widget_opts writecongress_opts">
                    <h4>Analyze</h4>
                    <p>Track the success of<br />your campaign.</p>
                </li>
            </ul>
            <div class="clear"> </div>
            {% if accounts|length > 0 %}
            <a href="/about/contact" class="btn" onclick="alert('Our Pro features are currently in a limited beta trial. For more information, please contact rachna@popvox.com.'); return false;">upgrade now</a>
            {% endif %}
        </div>        
        </div>
    </div>
    
    <div class="preview_pane">
        <!--<a class="b_copy_code btn" href="#">Copy Code</a>-->
        <h3 class="no_rule">Sample</h3>


        <div>
            <p id="codetext">Copy and paste the following HTML code into your website:</p>
            <textarea id="code" rows="4" style="width: 230px; margin-bottom: 15px; padding: 5px;"> </textarea>

        </div>
        {% if accounts|length > 0 %}
        <div id="fb_page">
            <p><b>Facebook Page:</b> <a href="#" onclick="return set_fb_page_code()">Publish</a> <span style="display: none">Saving...</span></p>
        </div>
        {% endif %}

        <div id="preview">
        </div>
        <textarea id="code2" rows="4" style="width: 230px; margin-bottom: 15px; padding: 5px;"> </textarea>
        <div id="preview2"> 
        </div>
    </div>
    </div> <!-- tab pane -->
    
    <div class="tab_integration">
        <h3 class="no_rule">Facebook</h3>
        <p>Any POPVOX widget can be added to a Facebook Page in a new POPVOX tab. To add a POPVOX tab to your Page, follow these instructions:</p>
        <ul class="bullets">
            {% if accounts|length == 0 %}
            <li>You must first <a href="/accounts/login?next=/services/widgets" onclick="window.location='/accounts/login?next=/services/widgets' + escape(window.location.hash); return false;">log in or create an account</a> to set up a free widget.</li>
            {% endif %}
            <li>Click <a href="http://www.facebook.com/dialog/pagetab?app_id=150910028257528&next=http://www.popvox.com/services/widgets#integration">this link</a> to add the POPVOX tab to your page. (Alternatively, Visit the <a href="http://www.facebook.com/apps/application.php?id=150910028257528" target="_blank">POPVOX Facebook App</a> wall. The link will open in a new tab so you can switch back to these instructions after. Then click <em>Add to My Page</em> in the lower left list of links.)</li>
            <li>Visit your page and click on the new POPVOX tab on the left. That is where your widget will be.</li>
            <li>You&rsquo;ll be asked to set up POPVOX-Facebook integration first. Copy your service account secret password <b class="secret_key">xxxx</b> to the clipboard and paste it back in Facebook where you are asked for it. Do not share this password.</li>
            <li>Come back to this page to publish a widget to your Facebook page. Choose a widget from the tabs above, configure its settings, and then click Publish to Facebook.</li>
            <li>Now check out your Facebook widget. Go back to your Facebook Page and click your browser&rsquo;s Reload button to refresh the page. You should see your widget.</li>
        </ul>
        <p>Unfortunately, Facebook supports widgets only on its &ldquo;Pages&rdquo;,
        which does not include personal pages or groups, and only one widget can be placed on a Page.</p>
        
        <h3>Other Integrations</h3>
        <p>We are working on other ways to integrate POPVOX widgets into your website or campaign software. Please <a href="/about/contact">contact us</a> with any requests.</p>
    </div>    
    
    
    <script type="text/javascript">$('.tabs').pvtabs(change_widget);</script> <!-- execute early to get visibiity set -->
</div><!-- e: content -->

{% endblock %}

