{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}POPVOX Services: Widgets{% endblock%}
{% block head %}
<style>
.config_pane {
	float: left;
	width: 650px;
	}
.preview_pane {
	float: left;
	width: 225px;
	background-color: white;
	margin-left: 2em;
	padding: 1em;
	}
.form .vert {
	float: left;
	margin-right: 15px;
	}
.form .vert label {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
	}
.form .vert small {
	margin: 0;
	padding: 0;
	width: auto;
	}
.form .error {
	margin: 7px 0px 20px 0;
	}
.form input {
	font-size: 11px;
	height: 14px;
	}
.preview_pane textarea {
	font-size: 10.5px;
	}
</style>
<script>
var accounts = [
	{% for account in accounts %}
	{
		name: "{{account|escapejs}}",
		key: "{{account.api_key|escapejs}}",
		permissions: [{% for p in account.permissions.all %}"{{p.name|escapejs}}",{% endfor %} ""]
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

function update_preview() {
	var account = "";
	// account = 'accounts/' + account + '/' + config + '/';
	var widgettype = "commentstream";
	var opts = "";
	
	var bills = [];
	if (!$('#commentstream_bills').hasClass("default")) bills = $('#commentstream_bills').val().split(/,\s*/);
	if (bills[0] == "") bills = [];
	$('#commentstream_bills_error').hide();
	for (var i = 0; i < bills.length; i++) {
		var bill_re = /^(supporting|opposing)?(HR|S|HRES|SRES|HJRES|SJRES|HCONRES|SCONRES)(\d+)(\/(\d+))?$/i;
		var match = bill_re.exec(bills[i].replace(/\s/g, "").replace(/\./g, ""));
		if (!match) {
			$('#commentstream_bills_error').text("I didn't understand <" + bills[i] + ">. Example bill numbers are H.R. 1, S. 2, H.Res. 3, etc. Precede a bill number with \"supporting\" or \"opposing\" to show only show supporting or opposing comments. Separate multiple bills with commas.");
			$('#commentstream_bills_error').show();
			return;
		}
		
		var support_oppose = match[1];
		var billtype = match[2].replace(/\s/g, "").replace(/\./g, "").toLowerCase();
		var billnumber = match[3];
		var congressnumber = match[5]; // possibly undefined, GovTrack style prev congress search
		if (!congressnumber) congressnumber = {{current_congress}};
		
		bills[i] = "us/" + congressnumber + "/" + billtype + billnumber + (support_oppose ? ":" + support_oppose : "");
	}
	if (bills.length > 0) opts += "&bills=" + bills;
	
	var ix = $('#commentstream_issuearea').val();
	if (ix) opts += "&issue=" + ix;
	
	var state = $('#commentstream_state').val();
	if (state) opts += "&state=" + state;
	
	var width = $('#commentstream_width').val() || 220;
	var height = $('#commentstream_height').val() || 350;
	
	function make_code(host, width, height) {
		return '<iframe src="' + host + '/services/widgets/w/' + account + widgettype + '?iframe=1' + opts + '" width="' + width + '" height="' + height + '" border="0"> </iframe>';
	}

	var prv = make_code("", 220, 350);
	if ($('#preview').html() != prv) $('#preview').html(prv);
	
	$('#code').val(make_code("https://www.popvox.com", width, height));
}

$(function() {
	$('.form input[type=text]').keyup_delayed(function() { update_preview(); });
	$('.form select').change(function() { update_preview(); });
	update_preview();
});
</script>
{% endblock %}
{% block content %}
<div class="content">

	<h1>POPVOX Widgets</h1>
	
	{% if accounts|length > 1 %}
	<div>Select Billing Account:
		<select id="serviceaccount">
			<option value="">- Free Services Only -</option>
			{% for account in accounts %}
				<option value="{{forloop.counter0}}">{{account}}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	<div class="config_pane">
		<p>The Comment Stream Widget displays the most recent constituent comments left on POPVOX for a given bill or issue area.</p>
		
		<div class="form">
		
		<h4>Stream Options</h4>
		<div class="vert">
			<label for="commentstream_bills">Related to these bills</label>
			<input id="commentstream_bills" type="text" value="" class="c2"/>
			<script>$('#commentstream_bills').input_default("supporting H.R. 1234");</script>
		</div>
		<div class="vert">
			<p>or</p>
		</div>
		<div class="vert">
			<label for="commentstream_issuearea">Related to this subject</label>
			<select id="commentstream_issuearea" class="c3">
				<option value="">(All)</option>
				{% for ix in issueareas %}
					<option value="{{ix.id}}">{{ix.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="clear"> </div>

		<div id="commentstream_bills_error" class="error"> </div>
		
		<div class="vert">
			<label for="commentstream_state">Show users in</label>
			<select id="commentstream_state" class="c2">
				<option value="">(All)</option>
				{% for abbr, name in states %}
					<option value="{{abbr}}">{{name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="clear"> </div>

		<h4>Widget Dimensions</h4>
		
		<div class="vert">
			<label for="commentstream_width">Width (pixels)</label>
			<input id="commentstream_width" type="text" value="" class="c2"/>
		</div>
		<div class="vert">
			<label for="commentstream_height">Height (pixels)</label>
			<input id="commentstream_height" type="text" value="" class="c2"/>
		</div>
		<div class="vert" class="c2">
			<p><small>Widget size does not update in preview.</small></p>
		</div>
		
		</div>
	</div>
	
	<div class="preview_pane">
		<h3 class="no_rule">Preview</h3>

		<div id="preview">
		</div>
	
		<p style="margin-top: 15px">Copy and paste the following HTML code into your website:</p>
		
		<textarea id="code" style="width: 100%; height: 6em"> </textarea>
	</div>
</div><!-- e: content -->

{% endblock %}

