{% extends "master.html" %}
{% load popvox_utils %}
{% block title %}Campaign Analytics{% endblock%}
{%block nav_orgadmin_class_reports%}active{%endblock%}
{%block nav_user_class_reports%}active{%endblock%}
{% block head %}
<script src="/media/js/jquery.dataTables.js" type="text/javascript"></script>

<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/charts.js"></script>

<script type="text/javascript">
var protocol = document.location.protocol == 'https:' ? 'https:' : 'http:';
document.write(unescape('%3Cscript src="' + protocol + '//mixpanel.com/site_media/api/platform/platform.1.min.js" type="text/javascript"%3E%3C/script%3E'));
</script>

<style>
h2 { font: bold 20px/30px "LucidaGrande",helvetica,arial,sans-serif; margin-bottom: 15px;  }
h4 { font: bold 14px/16px "LucidaGrande",helvetica,arial,sans-serif; margin-bottom: 15px;  }
#analytics_numbers { margin: 1em 1em 2em 1em; }
#analytics_numbers th, #analytics_numbers td { font-size: 13px;  padding: 6px 6px 0 0; }
#analytics_numbers p { margin-top: 6px; font-style: italic; font-size: 11px; }
.chart_title { text-align: center; }

#analyticsFunnel {
background: #e8e5df;
width: 715px;
padding-top: 22px;
}

.boxes {
background: url(/media/widget/box.png) no-repeat;
height: 128px;
width: 132px;
padding-left: 8px;
background-position: bottom right;
float:left;
}

.first {
/***padding-left: 22px;***/
padding-left: 0px;
}

.last {
/***padding-right: 22px;
background-position: 12px 22px;***/
}

.stat {
font-family: 'BebasNeueRegular';
color: white;
width: 132px;
margin: 0 auto;
text-align: center;
}

.top {
padding-top: 22px;
font-size: 48px;

}

.bottom {
padding-top: 0;
font-size: 26px;
}

#headLeft {
/***padding-left: 22px;****/
padding-top: 21px;
width: 400px;
}

.wTitle {
font-family: 'BebasNeueRegular';
font-size: 26px;
color: #75757d;
}

.wSubTitle {
padding-top: 5px;
font-family: Helvetica, Tahoma;
font-size: 18px;
color: #75757d;
font-weight: normal;
}

#headRight {
width: 200px;
float: right;
margin-top: -44px;
padding-right: 22px;
text-align: right;
}

.wDate {
font-family: Helvetica, Tahoma;
font-size: 18px;
color: #75757d;
font-weight: normal;
}

.dCustom {
font-size: 14px;
font-style: italic;
}

#boxContain {
height: 150px;
}
#iconContain {
width: 100%;
height: 115px;
clear: both;
margin-bottom: 25px;
}

.icons {
float: left;
width: 141px;
padding-top: 10px;
height: 115px;
}

.iconFirst {
/***margin-left: 22px;***/
background: url(/media/widget/pointer.png) no-repeat 40% 20%;
}


/***Support** 
.iconSecond {
background: url(/media/widget/support.png) no-repeat 40% 30%;
}
**/

/**Support and Oppose**/
.iconSecond {
background: url(/media/widget/oppose.png) no-repeat 20% 30%;
}




.iconThird {
background: url(/media/widget/house.png) no-repeat 40% 20%;
}

.iconFourth {
background: url(/media/widget/letter.png) no-repeat 40% 30%;
}

.iconFifth {
background: url(/media/widget/confirmed.png) no-repeat 40% 15%;
}

.iconText {
background: url(/media/widget/arrow.png) no-repeat 100% 40%;
font-size: 13px;
font-family: Helvetica, Tahoma;
font-weight: bold;
color: #75757d;
padding-top: 80px;
text-align: center;
padding-right: 17px;
padding-left: 5px;
}

.textLast {
background: none;
}

#iconHelp {
	height: 2em;
}

p.help {
	font-size: 12px;
	font-style: italic;
	color: #666;
}

</style>
{% endblock %}
{% block content %}
<div class="content">
<div class="col_9 col_plus col_top">

<h1>Campaign Analytics</h1>

{% if has_campaigns %}
	<ul class="tabs">
		<li><a href="#overview"><span>Overview</span></a></il>
		<li><a href="#details"><span>Details</span></a></il>
	</ul>
	<div class="tabs_panel">
{% endif %}
	
<div class="tab_overview">
	{% if user.orgroles.all|length == 0 %}
		<p>Use our <a href="/services/widgets#writecongress">Write Congress Widget</a> to create a letter-writing campaign.</p>
	{% else %}
		<p>Create letter-writing campaigns for bills in your legislative agenda using our <a href="/services/widgets#writecongress">Write Congress Widget</a> or customized action pages.</p>
	{% endif %}
	
	
	{% for acct in accts %}

		{% if accts|length > 1 %}
		<h2>{{acct}}</h2>
		{% endif %}
	
		<div class="block campaigns {% if not forloop.first %}rule{% endif %}">
		{% for cam in acct.campaigns.all %}
			<div class="support_oppose">
				{% bill_statistics cam.bill as stats %}
				<div class="col_50">
					<h4 style="margin-bottom: 1em">
						{{cam.bill.title|truncatewords:10}}
						<span> ({% if cam.position == '+' %}Endorsing{% endif %}{% if cam.position == '-' %}Opposing{% endif %}{% if cam.position == '0' %}Neutral{% endif %})</span>
					</h4>
					
					{% with cam.actionrecords.all.count as count %}
					{% if count %}
						<p>{{count}} supporter{% if count > 1 %}s{% endif %} took action. View <a href="#details={{cam.id}}">detailed analytics for your widget or action page</a>.</p>
						
						{% comment %}
						<p style="text-align: center; margin-bottom: 0">Widget Completions</p>
						
						<div id="analytics_{{cam.id}}" style="height: 150px; margin-bottom: 15px;"> </div>
						<script>
						var platform = new Mixpanel.Platform(
							'{{MIXPANEL_API_KEY}}',
							"{{cam.mixpanel_bucket_secret|escapejs}}",
							"sac_{{cam.id}}"
						);
						platform.create_line_chart('analytics_{{cam.id}}', ['widget_writecongress_send'], { legend: false} );
						</script>
						{% endcomment %}

					{% else %}
						<p>Create a <a href="/services/widgets#writecongress">widget</a> to drive your supporters to take action.</p>
					{% endif %}
					{% endwith %}
				</div>
				<div class="col_50">
					{% with cam.bill as bill %}
					{% with cam.id as chart_id %}
					{% with 75 as chart_size %}
						{% include "popvox/bill_statistics_pie_simple.html" %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
				</div>
				{% if not forloop.last %}<div class="hr"> </div>{% endif %}
				</div> <!-- e: support_oppose -->
		{% endfor %}
		</div> <!-- e: block campaigns -->
	{% endfor %}
	
	{% for role in user.orgroles.all %}
		{% for cam in role.org.all_campaigns %}
			{% for pos in cam.positions.all %}
				{% if not pos.has_service_account_campaign %}
					{% bill_statistics pos.bill as stats %}
					<div class="clear hr"> </div>
					<div class="col_50">
						<h4{% if not cam.default %} style="margin: 0"{% endif %}>
							{{pos.bill.title|truncatewords:10}}
							<span> ({% if pos.position == '+' %}Endorsing{% endif %}{% if pos.position == '-' %}Opposing{% endif %}{% if pos.position == '0' %}Neutral{% endif %})</span>
						</h4>
						
						{% if not cam.default %}
						<p style="font-style: italic">{{cam.name}}</p>
						{% endif %}

						<p>Create a <a href="/services/widgets#writecongress">widget</a> or <a href="{{role.org.url}}/_action/{{pos.id}}">customized action page</a> to drive your supporters to take action.</p>
					</div>
					<div class="col_50">
						{% with pos.bill as bill %}
						{% with pos.id as chart_id %}
						{% with 75 as chart_size %}
							{% include "popvox/bill_statistics_pie_simple.html" %}
						{% endwith %}
						{% endwith %}
						{% endwith %}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}	
	{% endfor %}
</div> <!-- e:tab_overview -->

{% if has_campaigns %}
<div class="tab_details">

	<script>
	var campaigns_info = { };
	</script>

	<ul class="ul_tags">
		{% for acct in accts %}
			{% for cam in acct.campaigns.all %}
					<li><a href="#details={{cam.id}}" title="{{acct}}">{{cam.bill.displaynumber}}</a></li>
					<script>
					{% regroup cam.actionrecords.all|dictsort:"completed_stage" by completed_stage as pos_record_stage %}
					campaigns_info["{{cam.id}}"] = {
						account_name: "{{acct|escapejs}}",
						title: "{{cam.bill.title_or_streetname|truncatewords:10|escapejs}} {% if accts|length > 1 %}[{{acct.org.slug}}]{% endif %}",
						descr: "{% if cam.bill.officialtitle %}{{cam.bill.officialtitle|truncatewords:25|escapejs}}{% endif %}",
						position: "{{cam.position|escapejs}}",
						date_start: "{{cam.first_action_date|date:'n-j-y'|escapejs}}",
						date_end: "{{cam.last_action_date|date:'n-j-y'|escapejs}}",
						mixpanel_bucket: "{{cam.mixpanel_bucket|escapejs}}",
						mixpanel_bucket_secret: "{{cam.mixpanel_bucket_secret|escapejs}}",
						download_url: "/services/api/campaign/{{cam.id}}/supporters/",
						counts: { {% for stage in pos_record_stage %}"{{stage.grouper|escapejs}}": {{stage.list|length}}, {% endfor %} total: {{cam.total_widget_records}}, hits: {{cam.mixpanel_totals.hit}}},
						mapurl: '/widgets/bill-comment-map?sac={{cam.id}}',
						null: null
					};
					</script>
			{% endfor %}
		{% endfor %}
		<div class="clear"> </div>
	</ul>
	
	<div id="headLeft">
		<span class="wTitle">Campaign Account</span><br />
		<span class="wSubTitle">Campaign Title</span>
	</div>
	<div id="headRight">
		<span class="wDate"><span class="wDateStart">...</span> <span class="dCustom">thru</span> <span class="wDateEnd">...</span></span>
	</div>
		
	<div id="analyticsFunnel">
		<div id="boxContain">
			<div class="boxes first">
				<div class="stat top">
				A
				</div>
				<div class="stat bottom">
				A%
				</div>		
			</div>
			<div class="boxes">
				<div class="stat top">
				B
				</div>
				<div class="stat bottom">
				B%
				</div>	
			</div>
			<div class="boxes">
				<div class="stat top">
				C
				</div>
				<div class="stat bottom">
				C%
				</div>	
			</div>
			<div class="boxes">
				<div class="stat top">
				D
				</div>
				<div class="stat bottom">
				D%
				</div>	
			</div>
			<div class="boxes last">
				<div class="stat top">
				E
				</div>
				<div class="stat bottom">
				E%
				</div>	
			</div>
		</div>
		
		<div id="iconContain">
			<div class="icons iconFirst" help_text="The number of times the widget was viewed.">
				<div class="iconText">
				landed on the widget page
				</div>
			</div>
			<div class="icons iconSecond" help_text="You can browse and download this supporter information below.">
				<div class="iconText">
				gave their name &amp; email address
				</div>
			</div>
			<div class="icons iconThird" help_text="You can browse and download this supporter information below.">
				<div class="iconText">
				provided their mailing address
				</div>
			</div>
			<div class="icons iconFourth" help_text="Most supporters will need to confirm their email address before their letter is sent.">
				<div class="iconText">
				wrote letter to Congress
				</div>
			</div>
			<div class="icons iconFifth" help_text="Supporter letters will be sent to Congress shortly after this step is completed..">
				<div class="iconText textLast">
				confirmed email &amp; sent letter
				</div>
			</div>
		</div>
		
		<p id="iconHelp" class="help"> </p>
		<script>
			$('#iconContain .icons').hover(
				function() { $('#iconHelp').text(this.getAttribute("help_text")); },
				function() { $('#iconHelp').text(''); });
		</script>
	</div>
	
	<h3>Recent Activity</h3>
	<p id="analytics_alt">There are no analytics to display for this campaign.</p>
	<div id="analytics_frame" style="width: 680px; margin-bottom: 15px; border: 1px solid black; background-color: white;">
		<div style="float: left;">
			<!--<div class="chart_title">Widget Usage</div>-->
			<div id="analytics_activity" style="width: 680px;"> </div>
		</div>
		<!--
		<div style="float: left;">
			<div class="chart_title">Wrote a Personal Message?</div>
			<div id="analytics_personalized" style="width: 300px; height: 250px;"> </div>
		</div>
		-->
		<div class='clear'> </div>
	</div>

	<h3>Supporters</h3>
	<p id="supporters_alt">There are no supporters for this campaign yet. Why don&rsquo;t you create a <a href="/services/widgets#writecongress">widget</a> to drive your supporters to take action!</p>

	<p id="supporter_map_help" class="help">The map below shows each congressional district from which a letter to Congress was completed using your widget. The size of the circle indicates the number of individuals in that district.</p>
	<iframe id="supporters_map" width="940" height="590" border="0" marginheight="0" marginwidth="0" frameborder="0"></iframe>

	<table id="supporters_grid">
		<thead>
			<th>ID</th>
			<th>Date</th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>ZIP Code</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<a id="supporters_download" href="#overview">Download</a>
</div> <!-- tab_details -->
</div> <!-- e:tabs_panel -->	
{% endif %}

</div>	<!-- e:col_9 -->
{% include "ads/rightbar.html" %}
</div> <!-- e:content -->

<script>
	function myround(num) {
		if (!num) return 0;
		return Math.round(num);
	}
	function show_analytics(id) {
		var campaign_info;
		
		if (id == null) {
			$('.tab_details .wTitle').text("No Campaign Selected");
			$('.tab_details .wSubTitle').text("Select a campaign from the list above.");
		} else {
			campaign_info = campaigns_info[id];
			$('.tab_details .wTitle').text(campaign_info.account_name);
			$('.tab_details .wSubTitle').text(campaign_info.title);
		}
		
		if (id == null || !campaign_info.counts.total) {
			$("#analytics_alt, #supporters_alt").show();
			
			$('.tab_details .headRight').hide();
			$('#analytics_frame, #analyticsFunnel').hide();
			$("#supporters_grid, #supporters_download, #supporters_map, #supporter_map_help").hide();
			return;
		}
		
		$('#analytics_alt, #supporters_alt').hide();
		
		$('.tab_details .headRight').show();
		$('#analytics_frame, #analyticsFunnel').show();
		$("#supporters_grid, #supporters_download, #supporters_map, #supporter_map_help").show();
		
		$('.tab_details .wDateStart').text(campaign_info.date_start);
		$('.tab_details .wDateEnd').text(campaign_info.date_end);
		
		var counts = [campaign_info.counts.hits, campaign_info.counts.total, campaign_info.counts.total-campaign_info.counts.start, campaign_info.counts.total-campaign_info.counts.start-campaign_info.counts.address, campaign_info.counts.finished];
		for (var i in counts) {
			//$('#analyticsFunnel #boxContain div.boxes:eq(' + i + ')').css({"height": 96+32*Math.log(counts[i]/counts[0]+1)/Math.log(2)});
			if (!counts[i]) counts[i] = 0;
			$('#analyticsFunnel #boxContain div.boxes:eq(' + i + ') .top').text(counts[i]);
			$('#analyticsFunnel #boxContain div.boxes:eq(' + i + ') .bottom').text(Math.round(100*counts[i]/counts[0]) + "%");
			if (i > 0 && counts[i] > counts[0]) {
				$('#analyticsFunnel #boxContain div.boxes:eq(0) .bottom').text("?");
				$('#analyticsFunnel #boxContain div.boxes:eq(' + i + ') .bottom').text("?");
			}
		}
		
		var platform = new Mixpanel.Platform(
			'{{MIXPANEL_API_KEY}}',
			campaign_info.mixpanel_bucket_secret,
			campaign_info.mixpanel_bucket
		);
		/*platform.create_bar_chart('analytics_totals',
				["widget_writecongress_hit", "widget_writecongress_start", "widget_writecongress_send", "widget_writecongress_share"], {
				mapping: { "widget_writecongress_hit": "Hit Page", "widget_writecongress_send": "Letter Sent", "widget_writecongress_share": "Shared", "widget_writecongress_start": "Began Widget" },
				interval: 365*10,
				type: "unique"
		})*/;
		platform.create_line_chart('analytics_activity',
				["widget_writecongress_hit", "widget_writecongress_start", "widget_writecongress_send", "widget_writecongress_share"], {
				mapping: { "widget_writecongress_hit": "Hit Page", "widget_writecongress_send": "Letter Sent", "widget_writecongress_share": "Shared", "widget_writecongress_start": "Began Widget" },
				//drilldown: [ "personalized", "share_method" ],
				type: "unique"
		});
		/*platform.create_property_pie_chart('analytics_personalized', 'widget_writecongress_write', 'personalized', null,
			{ legend: false, mapping: { "False": "No", "True": "Yes" }, type: "unique" });*/
		
		$('#supporters_grid').dataTable( {
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": campaign_info.download_url + "json",
			"bDestroy": true,
			//"bJQueryUI": true,
			"bFilter": false,
			"aaSorting": [[1,'desc']],
			"aLengthMenu": [15, 30, 50],
			"iDisplayLength": 15,
			"sScrollX": "100%",
			"aoColumns": [
				{ "sWidth": "50px" },
				{ "sWidth": "130px", "fnRender": function (cell) { return cell.aData[1].substr(0, 16); } },
				{ "sWidth": "200px" },
				{ "sWidth": "110px" },
				{ "sWidth": "130px" },
				{ "sWidth": "100px" }
				]
		} );
		
		$('#supporters_download').attr('href', campaign_info.download_url + "csv")
		
		$('#supporters_map').attr('src', campaign_info.mapurl);
	}

	$('.tabs').pvtabs(function(active_tab, is_initial, hash_argument) { if (active_tab == "details") show_analytics(hash_argument); });
</script>
{% endblock %}

