<div onclick="track({{bill.id}}, '{{tracktype}}')"
	{% if tracktype == "+" %}
		{% if bill.trackstatus %}
			title="Un-Track This Bill"
		{% else %}
			title="Track This Bill"
		{% endif %}
	{% endif %}
	{% if tracktype == "-" %}
		{% if bill.antitrackstatus %}
			title="Add Back to Suggestions"
		{% else %}
			title="Hide From Suggestions"
		{% endif %}
	{% endif %}
	class="bill{% if tracktype == "+" %}track{% if bill.trackstatus %} active{% endif %}{% else %}antitrack{% if bill.antitrackstatus %} active{% endif %}{% endif %}"
	billid="{{bill.id}}"
	>
	{% if tracktype == "+" %}
		{% if bill.trackstatus %}
			Un-track This Bill
		{% else %}
			Track This Bill
		{% endif %}
	{% endif %}
	{% if tracktype == "-" %}
		{% if bill.antitrackstatus %}
			Add Back to Suggestions
		{% else %}
			Hide From Suggestions
		{% endif %}
	{% endif %}
</div>

