{% load popvox_utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>POPVOX Bill Report</title>
		<link rel="stylesheet" type="text/css" media="screen,projection" href="/media/mobile/css/style.css" />
		<link rel="stylesheet" type="text/css" media="print" href="/media/mobile/css/print.css" />
		<script type="text/javascript">
		<!--
		if(navigator.userAgent.indexOf('Mac') > 0 ){
			document.documentElement.className += "mac";
		}
		//-->
		</script>

		<script src="/media/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/media/js/highcharts.js"></script>
		<script type="text/javascript" src="/media/js/charts.js"></script>
		
		<script>
		var statereps = {{statereps|json}};
		
		var report_state = null;
		var report_district = null;
		
		var comments_start = 0;
		var comments_loaded = 0;
		var comments_count = 20;
		
		function ordinal(num) {
			if (num % 100 >= 11 && num % 100 <= 13)
				return "th"
			else if (num % 10 == 1)
				return "st"
			else if (num % 10 == 2)
				return "nd"
			else if (num % 10 == 3)
				return "rd"
			return "th"
		}
		
		function update(control, value) {
			if (control == "state") {
				if (!value) {
					report_state = null;
					
					$('#options_district_container').text('');
					report_district = null
				} else if (statereps[value].length == 0) {
					report_state = value;
					
					report_district = null
					$('#options_district_container').text('');
				} else {
					report_state = value;

					$('#options_district_container').text('');
					var n = $('<select id="options_district" onchange="update(\'district\', this.value)" data-inline="true"/>'); // <label for="options_district">District</label>
					$('#options_district_container').append(n);
					
					report_district = null
					$('#options_district').text(''); // clear
					$('#options_district').
						append($("<option></option>").
							attr("value", "").
							text("Whole State"));
					for (var i = 0; i < statereps[report_state].length; i++) {
						$('#options_district').
							append($("<option></option>").
								attr("value", (i+1)).
								text((i+1) + " -- " + statereps[report_state][i])); 
					}
				}
				
			} else if (control == "district") {
				report_district = value;
			}
			
			comments_start = 0;
			comments_loaded = 0;
			comments_count = 20;
			
			show_report();
		}
			
		function show_report(is_more) {
			$('#loadingstatus').text("");
			
			if (!is_more) {
				$('.b_more_comments, .more_comments_loading').hide();
			} else {
				$('.b_more_comments').hide();
				$('.more_comments_loading').show();
				comments_start = comments_loaded;
				comments_count *= 2;
			}
			
			$.ajax({
				type:"GET",
				url: "/ajax{{bill.url}}/report/getinfo",
				data: {
					state: report_state ? report_state : "",
					district: report_district ? report_district : "",
					start: comments_start,
					count: comments_count
				},
				complete: function(res, status) {
					isloading = false;
					comments_loaded = comments_start + comments_count;
					
					if (status != "success") {
						$('#loadingstatus').text("Error loading report.");
						return;
					}
					
					$('#loadingstatus').text("");
					$('.more_comments_loading').hide();
					
					res = eval('(' + res.responseText + ')');
					
					if (res.debug_info)
						$('#debug_info').text(res.debug_info);
					
					// Charts
					{% if request.GET.tab == "report" %}
					function set_scaled_num(target, num) {
						if (num < 1000) {
							$(target + " .num").text(num);
							$(target + " .scale").text("");
						} else if ($(target + " .scale").length) {
							$(target + " .num").text(Math.round(num/100)/10);
							$(target + " .scale").text("K");
						} else {
							$(target + " .num").text(Math.round(num/100)/10 + "k");
						}
					}
					
					$('#nationalmappercents').toggle(res.stats.overall != null);
					if (!res.stats.overall) {
						set_scaled_num("#stats_nation_positions", 0);
						set_scaled_num("#stats_nation_comments", 0);
						set_scaled_num('#stats_nation .summ-support', 0);
						set_scaled_num('#stats_nation .summ-oppose', 0);
					} else {
						$('#stats_nation .popvox-fav').text(res.stats.overall.pro_pct + "%");
						$('#stats_nation .popvox-opp').text(res.stats.overall.con_pct + "%");
						$('#stats_nation .popbox-box-outer').attr('style', "width: " + Math.round(45 + (380-45)*res.stats.overall.pro_pct/100.0) + "px");
						set_scaled_num("#stats_nation_positions", res.stats.overall.total);
						set_scaled_num("#stats_nation_comments", res.stats.overall.total_comments);
						set_scaled_num('#stats_nation .summ-support', res.stats.overall.pro);
						set_scaled_num('#stats_nation .summ-oppose', res.stats.overall.con);
					}
					
					//bill_chart('chart_pie', stats.pro_pct, stats.con_pct, { "bg": "white" });
					if (!report_state) {
						$('#stats_state, #stats_district').hide();
						$('#stats_state_none').hide();
						if (res.stats.overall && res.stats.overall.timeseries) {
							$('#chart_time, #chart_time_title').show();
							$('#chart_time_title').text("National Sentiment Since " + res.stats.overall.timeseries.xaxis[0]);
							bill_timeseries('chart_time', res.stats.overall.timeseries, { "bg": "white", "tooltip": false, "xlabels": true, "width": 260 });
						}
					} else if (!res.stats.state) {
						$('#stats_state_none').show();
						$('#chart_time, #chart_time_title, #stats_state, #stats_district').hide();
					} else {
						$('#chart_time, #chart_time_title, #stats_state_none').hide();
						$('#stats_state').show();
						
						$('#stats_state .txt-outer h3 span').text(report_state);
						$('#stats_state .num').text(res.stats.state.total);
						$('#stats_state .summary .fav').text(res.stats.state.pro_pct + "%");
						$('#stats_state .summary .opp').text(res.stats.state.con_pct + "%");
						
						if (report_district && res.stats.district) {
							$('#stats_district').show();
							$('#stats_district .txt-outer span').text(report_district);
							$('#stats_district .txt-outer em').text(ordinal(report_district));
							$('#stats_district .users .num').text(res.stats.district.total);
							$('#stats_district .summary .fav').text(res.stats.district.pro_pct + "%");
							$('#stats_district .summary .opp').text(res.stats.district.con_pct + "%");
							$('#stats_district_none').hide();
						} else if (report_district) {
							$('#stats_district_none').show();
							$('#stats_district').hide();
						} else {
							$('#stats_district_none').hide();
							$('#stats_district').hide();
						}
					}
					{% endif %}
					
					// Comments
					{% if request.GET.tab == "comments" %}
					var containers = [$('#supporting_comments'), $('#opposing_comments')];
					var counts = [0, 0];
					var words = ["supporting", "opposing"];
					
					if (!is_more)
						for (var i in containers)
							containers[i].text("");
					
					$('.left-column .b_more_comments').toggle(res.pro_more);
					$('.right-column .b_more_comments').toggle(res.con_more);
					
					for (var i = 0; i < res.comments.length; i++) {
						c = res.comments[i];
						
						var elem = $('#templates .comment').clone();
						
						if (counts[(c.pos == "+") ? 0 : 1] == 0)
							elem.find('h4').addClass("first");
						counts[(c.pos == "+") ? 0 : 1]++;
						
						if (!c.private_info) {
							elem.find("h4 span.screenname").text(c.user);
							elem.find('.who').addClass('when_only');
						} else {
							elem.find("h4 span.screenname").text(c.private_info.name);
							
							addrpars = (c.private_info.address + "\n" + c.private_info.email).split("\n");
							for (var j = 0; j < addrpars.length; j++) {
								elem.find(".who .address").append($('<div/>').text(addrpars[j]));
							}
						}
						if (c.location) {
							elem.find("h4 span.where").text(c.location)
							elem.find("h4 span.wherein").text("in")
						}
						elem.find(".who .when").text(c.date);
	
						elem.find(".message").text('');
						var msgpars = c.msg.split("\n");
						for (var j = 0; j < msgpars.length; j++) {
							var par = $('<div style="margin-bottom: 5px"/>');
							par.text(msgpars[j]);
							elem.find(".message").append(par);
						}
						elem.appendTo(containers[(c.pos == "+") ? 0 : 1]);
					}
					
					if (!is_more)
					for (var i in words) {
						if (counts[i] == 0) {
							containers[i].append($("<p>No " + words[i] + " comments have been left" + (report_district ? " in this district" : (report_state != "" ? " in this state" : "")) + ".</p>"));
						}
					}
					{% endif %}
										
				}
			});
			
			return false;
		}
		
		$(function() {
			// can't do overflow: auto because it requires double-touch
			//$('.wrapper').height($(window).height() - $('#select_district_box').height() - 60);
			//$('.wrapper').css({ overflow: "auto" });
			
			show_report();
			
			$('.left-column .b_people').click(function() { $('.b_people .co-sponsors').toggle(); });
			$('.right-column .b_people').click(function() { $('.b_people .organizations').toggle(); });
		});
		</script>
	</head>
	<body id="ipad">
	
	{% if request.GET.tab == "comments" %}
	<div id="select_district_box">
	<div class="select_district_box_wrapper">
		<h2>Change State</h2> 
		<select id="options_state" onchange="update('state', this.value)" data-inline="true">
			<option value="">POPVOX Nation</option>
			{% for stateabbr, statename in stateabbrs %}<option value="{{stateabbr}}">{{stateabbr}} - {{statename}}</option>{% endfor %}
		</select>
		<span id="options_district_container">
		</span>
		<span id="loadingstatus"></span>
	</div>
	</div>
	{% endif %}

	<div class="wrapper">

	<div class="subtitle"> 
		<!--<a href="#" id="annotations">annotations</a>--> 
		{{bill.title|truncatewords:25}}
	</div><!-- subtitle --> 

	<div class="header" id="header">
		<a href="#" class="logo" onclick="return false;">
			{% if request.GET.tab == "report" %}BILL REPORT{% endif %}
			{% if request.GET.tab == "positions" %}ORGANIZATION POSITIONS{% endif %}
			{% if request.GET.tab == "comments" %}CONSTITUENT COMMENTS{% endif %}
		</a>
		<!--
		<div class="header-right">
			<a href="#">STATE</a>
				&#160;(WHO)<br />
			<a href="#">District XXX</a>
				&#160;(WHO)
		</div>--><!-- header-right -->
	</div><!-- header -->
	
	{% if request.GET.tab == "report" %}
		<div class="columns report-data" id="container">
			<div class="left-column">
				<p>
					<span>Sponsor:</span>&#160; {{bill.sponsor.name}}
				</p>
				{% if bill.is_bill %}
				<p>
					<span>Introduced:</span>&#160; {{bill.introduced_date|date:"DATE_FORMAT"}}
				</p>
				{% if not bill.description %}</div><!-- left-column --> <div class="right-column">{% endif %} {% comment %} break column here if there is no description {% endcomment %}
				<p>
					<span>Status:</span>&#160; {{bill.status_advanced}}
				</p>
				{% endif %}
			{% if bill.description %}
			</div><!-- left-column -->
			<div class="right-column">
				<p>
					<span>Summary:</span>&#160; {{bill.description}}
				</p>
			{% endif %}
			</div><!-- right-column -->
		</div><!-- container columns report-data -->

		<div class="columns stats" style="overflow: visible">
			<div class="left-column">
				{% if cosponsors_bar != -1 %}
				<div class="b_people"> 
					<div class="co-sponsors">
						<!--<span class="tick">tick</span>--> 
						<h4>Co-Sponsors</h4> 
						{% for k, v in cosponsors.items %}
						<div class="col_l {% if forloop.first %}first{% endif %}">
							<ul class="co-{{k|lower}}">
								{% for c in v %}
									{% if forloop.counter < 11 %}
										<li>{{c.name}}</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div><!-- col_l -->
						{% endfor %}
					</div> 
				</div> 
				{% endif %}
				<h3 class="sponsors">
					Co-Sponsors
				</h3><!-- sponsors -->
				{% if cosponsors_bar != -1 %}
				<div class="stat-bar">
					<div class="stat-bar-inner">
						<div class="stat-bar-bg" style="background-position: -{{cosponsors_bar}}px 0;">
						</div><!-- stat-bar-bg -->
					</div><!-- stat-bar-inner -->
					<div class="box1">
						D-{{cosponsors.D|length}}
					</div><!-- box1 -->
					{% if cosponsors.I|length %}
					<div class="box2" style="right:{{cosponsors_bar|add:-19}}px;">
						I-{{cosponsors.I|length}}
					</div><!-- box2 -->
					{% endif %}
					<div class="box3">
						R-{{cosponsors.R|length}}
					</div><!-- box3 -->
				</div><!-- stat-bar -->
				{% else %}
				(none)
				{% endif %}
			</div><!-- left-column -->
			<div class="right-column">
				{% if orgs %}
				<div class="b_people right"> 
					<div class="organizations">
						<span class="tick"></span> 
						{% for group, orglist in orgs %}
						<div class="col_l {% if forloop.first %}first{% endif %}">
							{% if group == "+" %}<h4 class="h4_endorse">Endorsing</h4>{% endif %}
							{% if group == "-" %}<h4 class="h4_oppose">Opposing</h4>{% endif %}
							{% if group == "0" %}<h4 class="h4_other">Other</h4>{% endif %}
							<ul>
								{% for org, pos in orglist %}
									{% if forloop.counter < 8 %}
										<li>{{org.name}}</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div><!-- col_l -->
						{% endfor %}
					</div> <!-- organizations -->
				</div> <!-- b_people -->
				{% endif %}
				<h3 class="org">
					Organizations
				</h3><!-- organizations -->
				{% if orgs %}
				<div class="stat-bar2">
					<div class="stat-bar2-inner">
						<div class="stat-bar-bg" style="width:{{org_support_percent}}%;">
						</div><!-- stat-bar-bg -->
					</div><!-- stat-bar2-inner -->
					<div class="box-fav">
						{{org_support_oppose_count.0}}
					</div><!-- box-fav -->
					<div class="box-opp">
						{{org_support_oppose_count.1}}
					</div><!-- box-opp -->
				</div><!-- stat-bar2 -->
				{% else %}
				(none)
				{% endif %}
			</div><!-- right-column -->
			<div style="clear: both;"> </div>
		</div><!-- columns stats -->

		<div id="select_district_box" style="margin: 15px 0 25px 0">
		<div class="select_district_box_wrapper">
			<h2>Change State</h2> 
			<select id="options_state" onchange="update('state', this.value)" data-inline="true">
				<option value="">POPVOX Nation</option>
				{% for stateabbr, statename in stateabbrs %}<option value="{{stateabbr}}">{{stateabbr}} - {{statename}}</option>{% endfor %}
			</select>
			<span id="options_district_container">
			</span>
			<span id="loadingstatus"></span>
		</div>
		</div>

		<div class="columns">
			<div class="left-column2" id="stats_nation">
				<h3 class="popvox">
					POPVOX Nation
				</h3><!-- popvox -->
				<div id="nationalmappercents" class="popvox-box" style="display: none;">
					<div class="popbox-box-outer" style="width:0%;">
					</div><!-- popbox-box-outer -->
					<div class="popvox-box-inner">
						<div class="popvox-box-bg">
						</div><!-- popvox-box-bg -->
					</div><!-- popvox-box-inner -->
					<div class="popvox-fav">
					</div><!-- popvox-fav -->
					<div class="popvox-opp">
					</div><!-- popvox-opp -->
					<div class="info-fav">
						Support
					</div><!-- info-fav -->
					<div class="info-opp">
						Oppose
					</div><!-- info-fav -->
				</div><!-- popvox-box -->
				<div class="summary">
					<div class="summary-line">
						<div class="summ-users" id="stats_nation_positions"><strong class="num"></strong><em class="scale"></em> <span>PEOPLE</span>
						</div><!-- summ-users -->
						<div class="summ-support">
							<strong><span class="num"></span><em class="scale">K</em></strong>
						</div><!-- summ-support -->
					</div><!-- summary-line -->
					<div class="summary">
						<div class="summ-users" id="stats_nation_comments"><strong class="num"></strong><em class="scale"></em> <span>LETTERS</span>
						</div><!-- summ-users -->
						<div class="summ-oppose">
							<strong><span class="num"></span><em class="scale">K</em></strong>
						</div><!-- summ-oppose -->
					</div><!-- summary -->
				</div><!-- summary -->
			</div><!-- left-column2 -->

			<div class="right-column2">
				<h3 id="chart_time_title"> </h3>
				<div id="chart_time" style="height: 250px"> </div>
				<div id="stats_state_none" style="display: none">Not enough constituents have weighed in to display statistics from this state.</div>
				<div id="stats_state" style="display: none">
				<h3 class="state">
					State
				</h3><!-- state -->
				<div>
					<div class="txt-outer">
						<h3 id="state" class="txt"><span>STATE</span></h3> 
					</div><!-- txt-outer -->
					<div class="users">
						<em class="num">QQ</em><em></em><span>PEOPLE</span>
					</div><!-- users -->
				</div>
				<div class="summary">
					<div class="fav">
						XX%
					</div><!-- fav -->
					<div class="opp">
						YY%
					</div><!-- opp -->
				</div><!-- summary -->
				</div>
				<div id="stats_district_none" style="display: none">Not enough constituents have weighed in to display statistics from this district.</div>
				<div id="stats_district" style="display: none">
				<h3 class="district">
					District
				</h3><!-- district -->
				<div>
					<div class="txt-outer">
						<h3 id="district" class="txt"><span>2</span><em>nd</em></h3> 
					</div><!-- txt-outer -->
					<div class="users">
						<strong class="num">QQ</strong> <span>PEOPLE</span>
					</div><!-- users -->
				</div>
				<div class="summary">
					<div class="fav">
						XX%
					</div><!-- fav -->
					<div class="opp">
						YY%
					</div><!-- opp -->
				</div><!-- summary -->
				</div> <!-- stats_district -->
			</div><!-- right-column2 -->
		</div><!-- columns -->
		
		<iframe src="/widgets/bill-comment-map?bill={{bill.id}}&background=white&hover=0&width=558" width="558" height="500" border="0" marginheight="0" marginwidth="0" frameborder="0" style="margin: 20px 0 0 -10px;"></iframe>
	{% endif %}

	{% if request.GET.tab == "positions" %}
	<div class="columns datacolumn">
		{% if not orgs %}
			<p>No organization positions are known on this {{bill.proposition_type}}.</p>
		{% endif %}
		{% for group, orglist in orgs %}
			{% if group == "+" %}
				<div class="left-column"> 
				<h3 class="for1"> 
					ENDORSING
				</h3><!-- for1 -->
			{% endif %}
			{% if group == "-" %}
				<div class="right-column"> 
				<h3 class="opp1"> 
					OPPOSING
				</h3><!-- opp1 -->
			{% endif %}
			{% if group == "0" %}
				<div class="clear" {% if not orglist %}style="display: none;"{% endif %}>
				<h3 class="other1"> 
					OTHER POSITIONS
				</h3><!-- other1 -->
			{% endif %}
			{% for org, position in orglist %}
				<p>
					<a href="{{org.url}}" target="_blank" class="link">{{org.name}}</a>

					{% if position.comment %}
						{{position.comment|wraplines:"div style='margin-bottom: .5em' links='false'"}}
					{% else %}
						(no comment)
					{% endif %}
				
					{% comment %}
					can't link out because it would stay inside our UIWebView control
					{% for doc in position.documents %}
						{% if forloop.first %}<ul class="bullets doc">{% endif %}
						<li><a href="{{doc.url}}">{{doc.get_doctype_display}}: {{doc.title}}</a></li>
						{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
					{% endcomment %}
				
					{% if org.createdbyus %}
					<small><em>* The organization&rsquo;s position on this bill was entered by POPVOX.</em></small>
					{% endif %}

				</p>
			{% empty %}
				<p>POPVOX does not know of any organizations in this category.</p>
			{% endfor %}
		</div>
		{% endfor %}
	{% endif %}
	
	{% if request.GET.tab == "comments" %}
		<div class="columns datacolumn ipadcomments">
			<div class="left-column">
				<h3 class="for2">
					SUPPORTING COMMENTS
				</h3><!-- for2 -->
				
				<div id="supporting_comments"> </div>
				
				<div class="more_comments_loading">Loading...</div>
				<a href="#" class="b_more_comments" onclick="return show_report(1)">more comments</a>
			</div><!-- left-column -->
			<div class="right-column">
				<h3 class="opp2">
					OPPOSING COMMENTS
				</h3><!-- opp2 -->
				
				<div id="opposing_comments"> </div>
				
				<div class="more_comments_loading">Loading...</div>
				<a href="#" class="b_more_comments" onclick="return show_report(1)">more comments</a>
			</div><!-- right-column -->
		</div><!-- columns datacolumn -->
		
		<div class="footer" id="footer">
		<!--
			<p>
				<a href="#">https://www.popvox.com/bills/us/112/s968</a>
			</p>
		-->
		</div><!-- footer -->
		
	</div>
	{% endif %}
	
	<div id="templates" style="display: none">
		<div class="comment">
			<h4>
				<span class="screenname"></span> <span class="wherein"></span> <span class="where"></span>
			</h4>
			<p class="who">
				<span class="when"></span>
				<span class="address"></span>
			</p>
			<p class="message">
			</p>
		</div>
	</div>
	
	</body>
</html>
