{% extends "master.html" %}
{% load registration_providers %}
{% block title %}POPVOX - Get To Know - A District - A Member of Congress{% endblock %}
{% block title2 %}{% endblock %}
{% block description %}POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive.{% endblock %}
{% block bodyattributes %}class="land gettoknow"{% endblock %}
{% block navattributes %}id="head_r"{% endblock %}
{% block disable_login_redirect %}{% endblock %}
{% block head %}
<style>
	.colorbox { width: 500px; height: 500px; }
	#whoami { display: none; }
	

</style>
<script>
function zoompop(id) {
	$.colorbox({
                transition: "none",
                inline: true,
                href: '#' + id,
                opacity: .5
		});
	return false;
}
function subscribe(validate) {
	if ($('#subscribe_email').hasClass("default")) return false;
	ajaxform("post/home/subscribe",
		{ "validate": (validate ? "validate" : "submit") },
		{ "email": "#subscribe_email" },
		{ "statusfield": "subscribe_status",
		   "statussuccess": (validate ? null : "Thanks!")} );
	return false;
}
</script>
{% endblock %}
{% block head_r_content %}
<h1>Get to know a congressional district or a Member of Congress.</h1>
{% endblock %}
{% block content %}
<div class="hm_slide gtk">
	<div class="hm_slide_mid">
		<div class="hm_slide_div">
			<div class="left_gtk">
				<h2>A State or District</h2>
				<div class="search_live">
					<input type="text" value="live search" />
				</div>
				<table class="district_table">
				    <thead>
					    <tr>
					        <th class="state">State</th>
					        <th class="district">District</th>
					    </tr>
				    </thead>
				    <tbody>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">1st</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">2nd</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">3rd</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">4th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">5th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">6th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
					    <td><a href="#">7th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alaska</a></td>
					    <td><a href="#">At-large</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">1st</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">2nd</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">3rd</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">4th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">5th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">6th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">7th</a></td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Arizona</a></td>
					    <td><a href="#">8th</a></td>
				    </tr>
				    </tbody>
				</table>
			</div>

			<div class="right_gtk">
				<h2>A Member of Congress</h2>
				<div class="search_live">
					<input type="text" value="live search" />
				</div>
				
				<table class="congress_member_table">
				    <thead>
					    <tr>
					        <th class="state">State</th>
					        <th class="moc">Congress Person</th>
					        <th>&nbsp;</th>
					    </tr>
				    </thead>
				    <tbody>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Sen Richard Shelby</a></td>
						<td class="td_rd">(R, AL)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Sen Jeff Sessions</a></td>
						<td class="td_rd">(R, AL)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Jo Bonner</a></td>
						<td class="td_rd">(R, AL-1)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Martha Roby	</a></td>
						<td class="td_rd">(R, AL-2)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Mike Rogers	</a></td>
						<td class="td_rd">(R, AL-3)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Robert B. Aderholt</a></td>
						<td class="td_rd">(R, AL-4)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Mo Brooks</a></td>
						<td class="td_rd">(R, AL-5)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Spencer Bachus</a></td>
						<td class="td_rd">(R, AL-6)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alabama</a></td>
						<td class="td_moc"><a href="#">Rep Terri A. Sewell</a></td>
						<td class="td_rd">(D, AL-7)</td>
				    </tr>
				    <tr>
					    <td class="td_st"><a href="#">Alaska</a></td>
						<td class="td_moc"><a href="#">Sen Lisa Murkowski</a></td>
						<td class="td_rd">(R, AK)</td>
				    </tr>
				    </tbody>
				</table>
			</div>
			<div class="clear"> </div>
						
		</div>
	</div>
</div>
<div class="clear"> </div>


<div class="content">
	<div class="col_9 rule">
		{% comment %}
		<div class="block hot">
			<h2>HOT TWEETS</h2>
			<img src="/media/master/_sh_twitterface.jpg" alt="_sh_twitterface" width="32" height="32" />
			<p class="tweet"><strong>sodiumhalogen</strong> <a href="http://popvox.com">http://popvox.com</a> - exciting new site we are working on where you can let congress know your opinion. effectively. <a href="#">#popvox</a></p>
			<div class="tweet_info">
				<p class="tweets">23</p>
				<a class="retweet btn" href="#">retweet</a>
			</div>
			<div class="clear"> </div>
		</div>
		{% endcomment %}
		
		<div class="block about">
			<h2>About POPVOX</h2>
			<p>POPVOX bridges the gap between the input the public wants to provide and the information Members of Congress want and need to receive. Designed by <a href="/about/team">people who understand Congress</a>, POPVOX is different from other political sites. It is not a discussion forum. It is a place for action. For more about the site, see <a href="/about">About POPVOX</a> or <a href="/about/whyitworks">Why It Works</a>.</p>
			<p>POPVOX is a nonpartisan, transparent, public platform for activity on bills pending before Congress.</p>
		</div>
			
	</div><!-- e: col_6 -->
	
	{% comment %}
	<div class="col_3 rule">
		<div class="block signup">
			<h2>Email Signup</h2>
			<p>Want updates on what is new with POPVOX?</p>
			<form id="signup_form" action="#" method="post" name="signup"><br />
			
				<input id="subscribe_email" class="signup_input" name="email" size="25" maxlength="60" type="text"><br />
				
				<p id="subscribe_status" class="error"></p>
				
				<input value="join" id="subscribe_button" onclick="return subscribe(false)" type="button">
				<script>
				$('.subscribe_email').input_default("email");
				$('.signup_input').textchange(function() { subscribe(true); return true; });
				$('.signup_input').keydown_enter(function() { return subscribe(false); });
				</script>
			</form>
		</div>		
	</div><!-- e: col_3 -->
	{% endcomment %}
	
	<div class="col_3 col_last rule">
		<div class="block follow_us">
			<h2>Follow Us</h2>
			<ul class="social" style="height: 60px">
				<li><a class="twitter" href="http://www.twitter.com/popvox">twitter</a></li>
				<li><a class="facebook" href="http://www.facebook.com/POPVOXnation">facebook</a></li>
				<!--<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D150910028257528&amp;layout=box_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>-->
				<!--<li class="linked_in"></li>-->
			</ul>
		</div>
		
		
	</div><!-- e: col_3 -->
	<div class="clear"> </div>
</div>

{% endblock %}
