<html> 
 <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

	<title>POPVOX - IE6 Is Not Supported</title>
	
	<META NAME="ROBOTS" CONTENT="NOINDEX">

	<link rel="shortcut icon" href="/media/favicon.ico" />
	
	<style>
	body {
		font-family: Helvetica, Arial, sans-serif;
	}
	</style>

	{% if not debug %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18126194-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	{% endif %}
</head>
<body>
	<center>
	<div style="width: 35em">
		<h1>Your Browser Is Not Supported</h1>
		
		<p>We&rsquo;re sorry but POPVOX does not support your web browser. If you are using Microsoft Windows XP or later, we recommend that you download and install <a href="http://www.google.com/chrome?platform=win&hl=en">Google Chrome</a> or update to the latest version of Internet Explorer.</p>
		
		<p>You are using the Internet Explorer 6 web browser, which was released in 2001. That&rsquo;s nearly a lifetime ago in Internet years. Because the point of POPVOX is to use technology to innovate our civic lives, we would not be able to fulfill our mission by including support for web browsing software a decade old. Major websites began dropping support for Internet Explorer 6 starting in 2010.</p>
		
		<p>If you are using Windows 98, 2000, or ME, you will not be able to use POPVOX on this computer.</p>
		
		<p>We recognize that upgrading is not an option for everyone. In that case, we hope that you will continue to communicate with your Members of Congress through their websites directly. You can also try to access POPVOX at your local library.</p>
		
		<p>Thank you for your understanding.</p>
	</div>
	</center>
</body> 
</html>

