{% extends "master.html" %}
{% block title %}POPVOX - Site Error (500) {% endblock %}
{% block title2 %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}

<div class="content">
<h1>Oops</h1>

{% if not error %}
<p>We did something wrong and can&rsquo;t show you the page you were looking for.
Our technical team has been notified of the problem.</p>
{% else %}
<p class="error">{{error}}</p>
{% endif %}

<p>You can <a href="javascript:history.go(-1)">go back</a> or start again at our <a href="/">homepage</a>.</p>
</div>

{% endblock %}
