<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head profile="http://gmpg.org/xfn/11"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><!--[if lte IE 7]><meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]--> 

	<!--
						  _                                      
		 _| _ _. _  _  __ |_.(_. _   _ _  _ . _  _ _ _. _  _   |_    
		(_|(-_)|(_)| )    |_|| |(_  (-| )(_)|| )(-(-| || )(_)  |_)\/ 
			   _/                       _/               _/      /  
		 ____            _ _                 _   _       _                        
		/ ___|  ___   __| (_)_   _ _ __ ___ | | | | __ _| | ___   __ _  ___ _ __  
		\___ \ / _ \ / _` | | | | | '_ ` _ \| |_| |/ _` | |/ _ \ / _` |/ _ \ '_ \ 
		 ___) | (_) | (_| | | |_| | | | | | |  _  | (_| | | (_) | (_| |  __/ | | |
		|____/ \___/ \__,_|_|\__,_|_| |_| |_|_| |_|\__,_|_|\___/ \__, |\___|_| |_|.com
													  |___/           
	--> 
		

	<title>{% block title %}{% endblock %}{% block title2 %} - POPVOX.com{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>

	<link rel="shortcut icon" href="/media/favicon.ico" />

	<meta property="og:site_name" content="POPVOX"/>
	<meta property="og:image" content="http://www.popvox.com/media/logo.png"/>
	<meta property="fb:app_id" content="150910028257528"/>
	
	<link rel="stylesheet" href="/media/master/reset.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/media/master/stylesheet.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/media/master/fonts.css" type="text/css" media="screen" /> 
	
	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
	<script>$('html').ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); });</script>
	{% if request.ua.ua_family == "Firefox" %}<script>jQuery.fx.off = true</script>{% endif %}
	<script type="text/javascript" src="/media/js/ajaxforms.js"></script>
	
	<link href="/media/css/jquery-ui.css" rel="stylesheet" type="text/css"/> <!-- autocomplete -->
	<script type="text/javascript" src="/media/js/jquery-ui-1.8rc3.custom.min.js"></script>
	
	<link rel="stylesheet" href="/media/css/colorbox/colorbox.css" type="text/css" />
	<script src="/media/js/jquery.colorbox-min.js"></script>

	<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
	tinyMCE.init({
		mode : "none",
		plugins : "save",
		theme : "advanced",
		theme_advanced_buttons1 : "save,bold,italic,link,unlink,bullist,numlist,blockquote,undo,redo,removeformat,cleanup,code",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "", 
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		save_onsavecallback: "tinymce_save_callback"
		});
	function tinymce_save_callback() {
		if (tinyMCE.activeEditor.on_save)
			tinyMCE.activeEditor.on_save();
		else
			eval(tinyMCE.activeEditor.id + "_on_save()");
		return false;
	}
	
	var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
	$(document).keydown(function(e) {
		kkeys.push( e.keyCode );
		if ( kkeys.toString().indexOf( konami ) >= 0 ){
			$(document).unbind('keydown',arguments.callee);
			$('#wrap').append("<img src='/media/photos/easteregg.png' style='position: absolute; left: 150px; top: 200px; border: 1px solid black'/>");
		} else if (konami.indexOf(e.keyCode) == -1) {
			kkeys = [];
		}
	});	
	</script>
	
	{% comment %}{% include "feedback/header.html" %}{% endcomment %}
	<link rel="stylesheet" href="/media/feedback/main.css"/>
	<script src="/media/feedback/jquery.form.js"></script>
	<script src="/media/feedback/main.js"></script>

	<!--<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>-->
	
	<script>
	var login_redirect = "";
	{% block disable_login_redirect %}
	login_redirect = '?next=' + document.location.pathname + document.location.search;
	{% endblock %}
	</script>

	{% block head %}
	{% endblock %}

	{% if not debug %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18126194-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script>
	_gaq.push(['_setCustomVar', 1, 'usertype', {% if not user.is_authenticated %}"anonymous"{% else %}{% if user.userprofile.is_leg_staff %}'legstaff'{% endif %}{% if user.userprofile.is_org_admin %}'orgstaff'{% endif %}{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}"individual"{% endif %}{% endif %}, 1]);
	</script>
	{% endif %}
</head>
<body {% block bodyattributes %}{% endblock %}>

{% include "feedback/button.html" %}

<div id="wrap"> 
	<div id="head"> 
		<a href="/" id="logo">POPVOX</a>
		<div id="beta">beta</div> 
		
		<div {% block navattributes %}id="content_head_r"{% endblock %}>
			<ul id="nav"> 
				{% block navbarlinks %}{% endblock %}
				{% if user.is_admin or user.is_staff %}
					<li class="last"><a style="font-weight: bold; color: #FCC" href="/admin">ADMIN</a></li>
				{% endif %}
				{% block loginblock %}
				{% if user.is_authenticated %}
					<li><a href="/accounts/logout" onclick="document.location = '/accounts/logout' + login_redirect; return false;">Logout</a></li>
				{% else %}
					<li><a href="/accounts/login" onclick="document.location = '/accounts/login' + login_redirect; return false;">Join or Login</a></li>
				{% endif %}
				{% endblock %}
				<li><a href="http://www.popvox.com/blog">Blog</a></li>
				<li><a href="/press">Press</a></li>
				<li><a href="/about" class="last">About</a></li> 
			</ul>
			
			{% block head_r_content %}
				{% comment %} On the homepage, this is replaced by Verified, Quantified, ... {% endcomment %}
			<ul id="nav_2"> 
				{% if user.userprofile.is_leg_staff %}
					<li class="{%block nav_legstaff_class_dashboard%}{%endblock%}"><a href="/home">Dashboard</a></li>
					<li class="{%block nav_legstaff_class_docket%}{%endblock%}"><a href="/docket">Docket</a></li>
					<li class="{%block nav_legstaff_class_comments%}{%endblock%}"><a href="/activity">Comments</a></li>
					<li class="last {%block nav_legstaff_class_orgs%}{%endblock%}"><a href="/orgs">Organizations</a></li>
					<li class="last {%block nav_legstaff_class_calendar%}{%endblock%}"><a href="/calendar">Calendar</a></li>
				{% endif %}
				{% if user.userprofile.is_org_admin %}
					<li class="{%block nav_orgadmin_class_dashboard%}{%endblock%}"><a href="/home">Home</a></li>
					<li id="master_profile_orglist_li" class="{%block nav_orgadmin_class_profile%}{%endblock%}"
					{% if user.orgroles.all|length == 1 %}
					><a href="{{role.org.url}}">Profile</a></li>
					{% else %}
					onmouseover="$('#master_profile_orglist').show();"><a href="#" onclick="return false;">Profile</a>
						<div id="master_profile_orglist" style="display: none; position: absolute; z-index: 999; left: 180px; top: 45px; width: 300px;">
							<div style="height: 19px;"> </div> 
							<div style="background-color: black; padding: .5em 1em .75em 1em">
							{% for role in user.orgroles.all %}
								<div style="margin: .5em"><a href="{{role.org.url}}">{{role.org.name}}</a></div>
							{% endfor %}
							</div>
						</div>
						<script>$('#master_profile_orglist_li').mouseleave(function() { $('#master_profile_orglist').fadeOut() });</script>					
					</li>
					{% endif %}
					<li class="{%block nav_orgadmin_class_reports%}{%endblock%}"><a href="/home/reports">Reports</a></li>
					<li class="last {%block nav_orgadmin_class_orgs%}{%endblock%}"><a href="/orgs">Find Orgs</a></li>
					<li class="last {%block nav_orgadmin_class_bills%}{%endblock%}"><a href="/bills">Find Bills</a></li>
					<li class="last {%block nav_orgadmin_class_calendar%}{%endblock%}"><a href="/calendar">Calendar</a></li>
				{% endif %}
				{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}
					{% if not user.is_authenticated %}
					<li><a href="/">Home</a></li>
					{% else %}
					<li class="{%block nav_citzen_class_home%}{%endblock%}"><a href="/home">Home</a></li>
					{% endif %}
					<li class="{%block nav_citzen_class_bills%}{%endblock%}"><a href="/bills">Bills in Congress</a></li> 
					<li class="last {%block nav_citzen_class_orgs%}{%endblock%}"><a href="/orgs">Organizations</a></li>
				{% endif %}
			</ul>
			<div id="search_head">
				<form method="get" action="/bills/search" onsubmit="return !$('#master_billsearch_q').hasClass('default')">
					<input type="text" value="" name="q" class="search" id="master_billsearch_q"><br />
					<input type="submit" value="Search" class="submit_search btn">
					<script>$('#master_billsearch_q').input_default("bill number or keywords");</script>
				</form>
			</div>
			{% endblock %}
			{% if user.is_authenticated %}
			<div id="whoami">
				<p>
					Welcome, <a href="/accounts/profile">{% filter force_escape %}{% firstof user.userprofile.fullname user.username %}{% endfilter %}</a>
					{% for orgrole in user.orgroles.all %} &mdash; <a href="{{ orgrole.org.url }}">{{ orgrole.org.name|truncatewords:10 }}</a>{% endfor %}
					{% if user.legstaffrole %} &mdash; {{ user.legstaffrole.as_string|truncatewords:10 }}{% endif %}
				</p>
			</div>
			{% endif %}
		</div>
	</div><!-- e: head --> 
	
	<div id="page"> 
		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
		    {% endfor %}
		</ul>
		{% endif %}	
	
		{% block content %}
		{% endblock %}
		
		<div class="clear"> </div> 
	</div><!-- e: page --> 
	
	
	<div id="footer"> 
		<span class="legal"><a href="/about">Learn more about POPVOX</a> or <a href="/about/contact">contact us</a>.</span> 
		<ul> 
			<li><a href="/about">About</a></li> 
			<li><a href="/blog">Blog</a></li>
			<li><a href="/press">Press</a></li>
			<li><a href="/advertising">Advertising</a></li> 
			<li><a href="/jobs">Jobs</a></li>
			<li><a href="/legal">Privacy and Terms</a></li>
		</ul>
		
		{% if user.is_staff or user.username == "POPVOXTweets" or user.username == "demo_org_staffer" or user.username == "demo_leg_staffer" %}
		<ul>
			<li><a href="/accounts/switchuser/demo_user">demo_user</a></li>
			<li><a href="/accounts/switchuser/demo_leg_staffer">demo_leg_staffer</a></li>
			<li><a href="/accounts/switchuser/demo_org_staffer">demo_org_staffer</a></li>
		</ul>
		{% endif %}
		
		{% for sql in sql_queries %}
			{% if forloop.first %}
				<div>
				<table>
			{% endif %}
			<tr><td style="border-bottom: 1px solid black; padding-right: 2em">{{sql.time}}</td> <td style="border-bottom: 1px solid black">{{sql.sql}}</td></tr>
			{% if forloop.last %}
				</table>
				</div>
			{% endif %}
		{% endfor %}
	</div><!-- e: footer -->
		
</div><!-- e: wrap --> 
 
<script>
{% comment %}// http://www.badlydrawntoy.com/2009/03/03/replacing-target_blank-for-strict-xhtml-using-jquery-redux/ {% endcomment %}
$(function() {
	$("a[class=blank]").attr("target", "_blank");
});
</script>

</body> 
</html>

