{% load popvox_utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head profile="http://gmpg.org/xfn/11"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><!--[if lte IE 7]><meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]--> 
	<meta name="viewport" content="width=1000, initial-scale=1" />

	<!--
						  _                                      
		 _| _ _. _  _  __ |_.(_. _   _ _  _ . _  _ _ _. _  _   |_    
		(_|(-_)|(_)| )    |_|| |(_  (-| )(_)|| )(-(-| || )(_)  |_)\/ 
			   _/                       _/               _/      /  
		 ____            _ _                 _   _       _                        
		/ ___|  ___   __| (_)_   _ _ __ ___ | | | | __ _| | ___   __ _  ___ _ __  
		\___ \ / _ \ / _` | | | | | '_ ` _ \| |_| |/ _` | |/ _ \ / _` |/ _ \ '_ \ 
		 ___) | (_) | (_| | | |_| | | | | | |  _  | (_| | | (_) | (_| |  __/ | | |
		|____/ \___/ \__,_|_|\__,_|_| |_| |_|_| |_|\__,_|_|\___/ \__, |\___|_| |_|.com
																  |___/           
	--> 
		

	<title>{% block title %}{% endblock %}{% block title2 %} - POPVOX.com{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>

	<link rel="shortcut icon" href="/favicon.ico" />

	<meta property="og:site_name" content="POPVOX"/>
	<meta property="og:image" content="http://www.popvox.com/media/logo.png"/>
	<meta property="fb:app_id" content="150910028257528"/>
	
	<link rel="stylesheet" href="/media/master/reset.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/media/master/stylesheet.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/media/master/fonts.css" type="text/css" media="screen" /> 
	
	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
	<script>
		var csrf_token = "{{csrf_token}}";
		$('html').ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", csrf_token); });

		if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent)) { jQuery.fx.off = true; }
	</script>
	<script type="text/javascript" src="/media/js/ajaxforms.js"></script>
	
	<link href="/media/css/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css"/> <!-- autocomplete -->
	<script type="text/javascript" src="/media/js/jquery-ui-1.8.14.custom.min.js"></script>
	
	<link rel="stylesheet" href="/media/css/colorbox/colorbox.css" type="text/css" />
	<script src="/media/js/jquery.colorbox-min.js"></script>

	<script type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
	tinyMCE.init({
		mode : "none",
		plugins : "save",
		theme : "advanced",
		theme_advanced_buttons1 : "save,bold,italic,link,unlink,bullist,numlist,blockquote,undo,redo,removeformat,cleanup,code",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "", 
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		save_onsavecallback: "tinymce_save_callback"
		});
	function tinymce_save_callback() {
		if (tinyMCE.activeEditor.on_save)
			tinyMCE.activeEditor.on_save();
		else
			eval(tinyMCE.activeEditor.id + "_on_save()");
		return false;
	}
	
	var master_state_obj = null;
	var on_master_state_load = [];
	function master_state(func) {
		if (master_state_obj)
			func(master_state_obj);
		else
			on_master_state_load.push(func);
	}
	$.ajax({
		url: "/ajax/master-state",
		data: { url: window.location.pathname },
		dataType: "json",
		success: function(res) {
			master_state_obj = res;
			for (var i = 0; i < on_master_state_load.length; i++)
				on_master_state_load[i](res);
		},
		error: function() { alert("There was an error loading the page. Please try again."); }
	});
		
	
	var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
	$(document).keydown(function(e) {
		kkeys.push( e.keyCode );
		if ( kkeys.toString().indexOf( konami ) >= 0 ){
			$(document).unbind('keydown',arguments.callee);
			$('#wrap').append("<img src='/media/photos/easteregg.png' style='position: absolute; left: 150px; top: 200px; border: 1px solid black'/>");
		} else if (konami.indexOf(e.keyCode) == -1) {
			kkeys = [];
		}
	});	
	</script>
	
	{% comment %}{% include "feedback/header.html" %}{% endcomment %}
	<link rel="stylesheet" href="/media/feedback/main.css"/>
	<script src="/media/feedback/jquery.form.js"></script>
	<script src="/media/feedback/main.js"></script>

	<!--<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>-->
	
	<script>
	var login_redirect = "";
	{% block disable_login_redirect %}
	login_redirect = '?next=' + document.location.pathname + document.location.search;
	{% endblock %}
	</script>

	{% block head %}
	{% endblock %}

	{% if not debug %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18126194-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	{% comment %} this is disabled since cached pages don't know who the user is
	<script>
	_gaq.push(['_setCustomVar', 1, 'usertype', {% if not user.is_authenticated %}"anonymous"{% else %}{% if user.userprofile.is_leg_staff %}'legstaff'{% endif %}{% if user.userprofile.is_org_admin %}'orgstaff'{% endif %}{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}"individual"{% endif %}{% endif %}, 1]);
	</script>
	{% endcomment %}
	{% endif %}
</head>
<body {% block bodyattributes %}{% endblock %}>

{% block feedback_button %}
{% with "<p style='margin-bottom: 0'>Use this form to leave comments for <b>POPVOX staff</b> about the website. Do not leave comments about legislation here.</p>" as feedback_text %}
	{% include "feedback/button.html" %}
{% endwith %}
{% endblock %}

<div id="wrap"> 
	<div id="head"> 
		<a href="/" id="logo">POPVOX</a>
		<div id="beta">beta</div> 
		
		<div {% block navattributes %}id="content_head_r"{% endblock %}>
			<ul id="nav"> 
				{% block navbarlinks %}{% endblock %}
				<li class="last admin" style="display: none;"><a style="font-weight: bold; color: #FCC" href="/admin">ADMIN</a></li>
				{% block loginblock %}
				<li class="logoutlink" style="display: none;"><a href="/accounts/logout" onclick="document.location = '/accounts/logout' + login_redirect; return false;">Logout</a></li>
				<li class="loginlink" style="display: none;"><a href="/accounts/login" onclick="document.location = '/accounts/login' + login_redirect; return false;">Join or Login</a></li>
				{% endblock %}
				<li><a href="/blog">Blog</a></li>
				<li><a href="/press">Press</a></li>
				<li><a href="/about" class="last">About</a></li>
				{% if page == "homepage" %}
				<li>
					<div id="search_head" style="margin-top: 8px">
						<form method="get" action="/bills/search" onsubmit="return !$('#master_billsearch_q').hasClass('default')">
							<input type="text" value="" name="q" class="search" id="master_billsearch_q"><br />
							<input type="submit" value="Search" class="submit_search btn">
							<script>$('#master_billsearch_q').input_default("bill number or keywords");</script>
						</form>
					</div>
				</li>
				{% endif %}
			</ul>
			
			{% block head_r_content %}
				{% comment %} On the homepage, this is replaced by Verified, Quantified, ... {% endcomment %}
			<ul id="nav_2"> 
				<div class="legstaff_role" style="display: none;">
					<li class="{%block nav_legstaff_class_dashboard%}{%endblock%}"><a href="/home">Dashboard</a></li>
					<li class="{%block nav_legstaff_class_docket%}{%endblock%}"><a href="/docket">Docket</a></li>
					<li class="{%block nav_legstaff_class_comments%}{%endblock%}"><a href="/activity">Comments</a></li>
					<li class="last {%block nav_legstaff_class_orgs%}{%endblock%}"><a href="/orgs">Organizations</a></li>
					<li class="last {%block nav_legstaff_class_calendar%}{%endblock%}"><a href="/calendar">Calendar</a></li>
				</div>
				<div class="orgadmin_role" style="display: none;">
					<li class="{%block nav_orgadmin_class_dashboard%}{%endblock%}"><a href="/home">Home</a></li>
					<li id="master_profile_orglist_li" class="{%block nav_orgadmin_class_profile%}{%endblock%}">
						<a href="#">Profile</a>
						<div id="master_profile_orglist" style="display: none">
							<div style="height: 19px;"> </div> 
							<div class="orglist_li">
							</div>
						</div>					
					</li>
					<li class="{%block nav_orgadmin_class_reports%}{%endblock%}"><a href="/services/analytics">Analytics</a></li>
					<li class="last {%block nav_orgadmin_class_orgs%}{%endblock%}"><a href="/orgs">Find Orgs</a></li>
					<li class="last {%block nav_orgadmin_class_bills%}{%endblock%}"><a href="/bills">Find Bills</a></li>
					<li class="last {%block nav_orgadmin_class_calendar%}{%endblock%}"><a href="/calendar">Calendar</a></li>
				</div>
				<div class="individual_role" style="display: none;">
					<li class="homelink {%block nav_citzen_class_home%}{%endblock%}"><a href="/">Home</a></li>
					<li class="{%block nav_citzen_class_bills%}{%endblock%}"><a href="/bills">Bills in Congress</a></li> 
					<li class="last {%block nav_citzen_class_orgs%}{%endblock%}"><a href="/orgs">Organizations</a></li>
					<li class="analyticslink {%block nav_user_class_reports%}{%endblock%}" style="display: none"><a href="/services/analytics">Analytics</a></li>
				</div>
				<div id="search_head">
					<form method="get" action="/bills/search" onsubmit="return !$('#master_billsearch_q').hasClass('default')">
						<input type="text" value="" name="q" class="search" id="master_billsearch_q"><br />
						<input type="submit" value="Search" class="submit_search btn">
						<script>$('#master_billsearch_q').input_default("bill number or keywords");</script>
					</form>
				</div>
			</ul>
			{% endblock %}
			<div id="whoami">
				<p>
					<span style="display: none">
					Welcome, <a href="/accounts/profile"></a>
					</span>
					
					<script>if (document.cookie == "") document.write("NOTE: Many features of POPVOX will not work correctly when cookies are disabled.");</script>
					<noscript>NOTE: Many features of POPVOX will not work correctly with Javascript disabled.</noscript>
				</p>
			</div>
		</div>
	</div><!-- e: head --> 

	<script>master_state(function (res) {
		if (!res.user) {
			$('#nav .loginlink').show();
			$('#nav_2 .individual_role').show();
		} else {
			$('#nav .logoutlink').show();
			if (res.user.admin)
				$('#nav .admin').show();

			$('#whoami span').show();
			
			if (res.user.legstaffrole) {
				$('#nav_2 .legstaff_role').show();
				$('#whoami a').text(res.user.fullname);
			} else if (res.user.orgs.length > 0) {
				$('#nav_2 .orgadmin_role').show();
				if (res.user.orgs.length == 1) {
					$('#master_profile_orglist_li a').attr('href', res.user.orgs[0].url)
				} else {
					$('#master_profile_orglist_li a').attr('onclick', 'return false;');
					$('#master_profile_orglist_li').hover(function() {
						$('#master_profile_orglist').show();
					}, function() {
						$('#master_profile_orglist').fadeOut();
					});
					for (var i = 0; i < res.user.orgs.length; i++)
						$('#master_profile_orglist_li .orglist_li').append(
							$("<a href=''/>").attr('href', res.user.orgs[i].url)
								.text(res.user.orgs[i].name)
							);
				}
				$('#whoami a').text(res.user.fullname);
			} else {
				$('#nav_2 .individual_role').show();
				$('#nav_2 .individual_role .homelink a').attr('href', '/home');
				if (res.user.serviceaccounts.length > 0)
					$('#nav_2 .individual_role .analyticslink').show();
				$('#whoami a').text(res.user.screenname);
			}
		}
	});
	</script>
	
	<div id="page"> 
		{% block body %} {% comment %} the articles app uses 'content' for the article content, so we surround it here with 'body' so we kill "content" if a "body" is given {% endcomment %}
		{% block content %}
		{% endblock %}
		{% endblock %}
		
		<div class="clear"> </div> 
	</div><!-- e: page --> 
	
	
	<div id="footer"> 
		<span class="legal"><a href="/about">Learn more about POPVOX</a> or <a href="/about/contact">contact us</a>.
		<br/>Copyright © {% now "Y" %} POPVOX.</span> 
		<ul> 
			<li><a href="/about">About</a></li> 
			<li><a href="/blog">Blog</a></li>
			<li><a href="/press">Press</a></li>
			<li><a href="/advertising">Advertising</a></li> 
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/legal">Privacy and Terms</a></li>
		</ul>
		
		<ul id="staff_switch_user" style="display: none">
			<li><a href="/accounts/switchuser/demo_user">demo_user</a></li>
			<li><a href="/accounts/switchuser/demo_leg_staffer">demo_leg_staffer</a></li>
			<li><a href="/accounts/switchuser/demo_org_staffer">demo_org_staffer</a></li>
		</ul>
		<script>
		master_state(function(res) {
			if (!res.user) return;
			if (res.user.admin || res.user.screenname == "POPVOXTweets" || res.user.screenname == "demo_org_staffer" || res.user.screenname == "demo_leg_staffer")
				$('#staff_switch_user').show();
		});
		</script>

		{% block footer %}{% endblock %}
		
		{% if debug %}<div>Adserver targets: {{request.adserver_targets}}</div>{% endif %}
		{% for sql in sql_queries %}
			{% if forloop.first %}
				<div>
				<table>
			{% endif %}
			<tr><td style="border-bottom: 1px solid black; padding-right: 2em">{{sql.time}}</td> <td style="border-bottom: 1px solid black">{{sql.sql}}</td></tr>
			{% if forloop.last %}
				</table>
				</div>
			{% endif %}
		{% endfor %}
	</div><!-- e: footer -->
		
</div><!-- e: wrap --> 
 
<script>
{% comment %}// http://www.badlydrawntoy.com/2009/03/03/replacing-target_blank-for-strict-xhtml-using-jquery-redux/ {% endcomment %}
$(function() {
	$("a[class=blank]").attr("target", "_blank");
});
</script>

<!-- mixpanel -->
<script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('6db7097c351adc437da30e64e0d86d12'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
<script>
{% comment %}wont work on cached page...
mpmetrics.register({
	'user type': {% if not user.is_authenticated %}"anonymous"{% else %}{% if user.userprofile.is_leg_staff %}'legstaff'{% endif %}{% if user.userprofile.is_org_admin %}'orgstaff'{% endif %}{% if not user.userprofile.is_leg_staff and not user.userprofile.is_org_admin %}"individual"{% endif %}{% endif %}
});
{% if user.is_authenticated %}mpmetrics.identify("pv_uid_{{user.id}}");{% endif %}
{% with request.session.shorturl.target.meta as surlm %}
	{% if surlm.mixpanel_event %}
		mpmetrics.track("{{request.session.shorturl.target.meta.mixpanel_event|escapejs}}"{% if surlm.mixpanel_properties %}, {{surlm.mixpanel_properties|json}}{% endif %});
	{% endif %}
{% endwith %}
{% endcomment %}
</script>

{% if request.META.HTTP_DNT != 1 %}
<!-- Start of HubSpot Tracking Code -->
<script type="text/javascript" language="javascript"> var hs_portalid=119824; var hs_salog_version = "2.00"; var hs_ppa = "popvox1.app10.hubspot.com"; document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E")); </script>
<!-- End of HubSpot Tracking Code -->
{% endif %}

{% block finalscript %}{% endblock %}

</body> 
</html>

