{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Comments Map - United States - {% if bill %}{{bill}}{% else %}{{ regulation.agency }} - {{regulation.regnumber}}{% endif %}</title>
        <link rel="stylesheet" href="/media/master/map_style.css" type="text/css" media="screen" /> 

        <style>
            body {
                margin: 0;
                padding: 0;
                {% if bg %}background: {{bg}};{%endif%}
            }
            
            #mapdots .dots { display: none; }
        </style>
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-18126194-1', 'popvox.com');
            ga('send', 'pageview');

        </script>

        <!-- start Mixpanel -->
        <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
        typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
        b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
        mixpanel.init("6db7097c351adc437da30e64e0d86d1");
        </script><!-- end Mixpanel -->
        <script>
            var visible = false;
            var dot_x, dot_y;
            var shown = 0;

            /*var last_mouse_pos;
            function mousemove(event) {
                if (last_mouse_pos && visible && !showing) {
                    if (event.pageX > last_mouse_pos.pageX && dot_x > 252) {
                        if (!$('#infobox').hasClass("lefty")) {
                            $('#infobox').addClass("lefty");
                            $('#infobox').css({left: dot_x - 252});
                        }
                    } else {
                        if ($('#infobox').hasClass("lefty") && dot_x < 940-252-50-5) {
                            $('#infobox').removeClass("lefty");
                            $('#infobox').css({left: dot_x + 50+5});
                        }
                    }
                }
                last_mouse_pos = event;
            }
            $(document).mousemove(mousemove);*/

            function show(){
                var district = this.getAttribute("pv_district");
                var label = this.getAttribute("pv_label");
                var x = parseInt(this.getAttribute("pv_left"));
                var y = parseInt(this.getAttribute("pv_top"));
                
                $('#infobox').show();
                showing = true;

                /*if (district.substr(2) == "0"){
                    $('#infobox img').hide();
                } else {
                    $('#infobox img').show();
                    district2 = district.substr(0, 2) + (district.length == 3 ? "0" : "") + district.substr(2);
                    $('#infobox img').attr('src', 'https://s3.amazonaws.com/govtrackus/printabledistrictmaps/' + district2 + '_1200_context.png');
                }*/
                
                $('#infobox div').text(label);
                
                {% if bill or regulation or request.GET.point == "allcount" %}
                var support = parseFloat(this.getAttribute("pv_support"));
                var count = parseInt(this.getAttribute("pv_count"));
                $('#support').text(Math.round(support*100) + "%")
                $('#oppose').text(Math.round((1.0-support)*100) + "%")
                $('#activity').text("(" + count + " user" + (count > 1 ? "s" : "") + ")")
                {% endif %}
                
                $('#infobox').removeClass("lefty");
                dot_x = x;
                x += 50 + 5;
                if (x + 252 > {{width}}) {
                    $('#infobox').addClass("lefty");
                    x = x - 252 - 50 - 5;
                }

                y = y - 50;

                if (!visible) {
                    $('#infobox').css({left: x, top: y, opacity: 100});
                } else {
                    $('#infobox').stop();
                    $('#infobox').animate({left: x, top: y, opacity: 100});
                }

                shown++;
                visible = true;

                setTimeout("showing = false;", 500);
            }

            function hide() {
                setTimeout("if (shown==" + shown + ") $('#infobox').fadeOut(function() { visible = false; })", 500);
            }

            var curcolmode = "1";
            function togglecolors() {
                if (curcolmode == "1") {
                    curcolmode = "2";
                } else {
                    curcolmode = "1";
                }
                $('body').removeClass('colormode_1');
                $('body').removeClass('colormode_2');
                $('body').addClass('colormode_' + curcolmode);
                $('#colormode').text(curcolmode == "1" ? "Alternate Colors" : "Original Colors");
            }

            $(function() {
                $('#mapdots .dot_sz_1').fadeIn(4000);
                $('#mapdots .dot_sz_2').fadeIn(3000);
                $('#mapdots .dot_sz_3').fadeIn(2000);
                $('#mapdots .dot_sz_4').fadeIn(1000);
                $('#mapdots .dot_sz_5').fadeIn(0500);
            });
            
            /* totals: {{totals}} */
        </script>
    </head>
    {% if position and width == 274 %}
        <body class="colormode_1 width_{{width}} no_legend">
    {% else %}
    {% if regulation %}
        <body id="regulation-map" class="colormode_2 width_{{width}}">
    {% else %}
    {% if request.GET.client == 'anaap' or request.GET.client == 'anaap2' %}
    <body id="anaap" class="colormode_3 width_{{width}}">
    {% else %}
        {% if request.GET.client == 'lilly' or request.GET.client == 'lilly2' %}
            <body id="lilly" class="colormode_4 width_{{width}}">
        {% else %}
            <body class="colormode_1 width_{{width}}">
        {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
        <div id="mapdots">
        {% for district, count in data %}
            <a href="{{bill.url}}/report#{{count.href}}" target="_top"
                pv_district="{{district}}" pv_label="{{count.label}}"
                {% if bill or request.GET.point == "allcount" %}pv_support="{{count.sentiment}}" pv_count="{{count.count}}"{% endif %}
                pv_left="{{count.coord.left}}" pv_top="{{count.coord.top}}">
                <div style="position: absolute; left: {{count.coord.left}}px; top: {{count.coord.top}}px;" class="dots {{count.class}}"></div>
            </a>
        {% endfor %}
        <div id="infobox" style="display: none;">
            <div id="district"> </div>{% if position %} <span id="activity"> </span> {%else%}
            {% if bill or request.GET.point == "allcount" %}<p><span id="support"></span> <span id="oppose"> </span> <span id="activity"> </span></p>{% endif %}{% endif %}
        </div>
        </div>
        
        <script>
        {% if request.GET.hover != "0" %}
            $('#mapdots a').hover(show, hide);
            {% if request.GET.sac %}$('#mapdots a').click(function(event) { event.preventDefault(); });{% endif %}
        {% else %}
			{% if request.GET.width != "274" %}
				$('#mapdots a').click(show);
				$('#mapdots a').click(function(event) { event.preventDefault(); event.stopPropagation(); });
				$('#mapdots').click(hide);
			{% endif %}
        {% endif %}
        </script>
        
		{% if request.GET.width != "274" and not regulation %}
        <div id="colormode" title="Switch Colors" onclick="togglecolors()">Alternate Colors</div>
		{% endif %}
    
        {% if bill or request.GET.point == "allcount" %}
        {% if not position %}
        <div id="legend_clr">
            <div class="label first">{% if bill %}Support{% else %}D{% endif %}</div>
            <div class="dotholder">
            <div class="dots dot_sz_3 dot_clr_5"> </div>
            <div class="dots dot_sz_3 dot_clr_4"> </div>
            <div class="dots dot_sz_3 dot_clr_3"> </div>
            <div class="dots dot_sz_3 dot_clr_2"> </div>
            <div class="dots dot_sz_3 dot_clr_1"> </div>
            </div>
            <div class="label last">{% if bill %}Oppose{% else %}R{% endif %}</div>
        </div>
        {% endif %}
        {% endif %}
        {% if max_sz_num != min_sz_num %}
        <div id="legend_sz">
            <div class="label first">{{max_sz_num}} {% if bill %}User{% else %}Pos'n{% endif %}{{max_sz_num|pluralize}}</div>
            <div class="dotholder">
            <div class="dots dot_sz_5 dot_clr_3"> </div>
            <div class="dots dot_sz_4 dot_clr_3"> </div>
            <div class="dots dot_sz_2 dot_clr_3"> </div>
            <div class="dots dot_sz_1 dot_clr_3"> </div>
            </div>
            <div class="label last">{{min_sz_num}} {% if bill %}User{% else %}Pos'n{% endif %}{{min_sz_num|pluralize}}</div>
        </div>
        {% endif %}
        <div id="legend_text">
            Circles are Congressional Districts.
        </div>
        
        <div id="brought_to_you"> </div>
    <script type="text/javascript">
        $('body#regulation-map #mapdots a').on('click', function()
        {
            return false;
        });
    </script>
    </body>
</html>

