{% load humanize %}
{% load popvox_utils %}

{% if embed %}<!doctype html>
<html>
<head>
    <title>Testing</title>
    <link rel="stylesheet" href="/media/master/reset.css">
    <link rel="stylesheet" href="/media/master/style.css">
    <link rel="stylesheet" href="/media/widget/la_widget.css">
</head>{% endif %}
<body>
    <div id="wrapper" class="la_widget_pg {% if embed %}embed{% endif %}" >
            {% if not embed %}<div id="leg_header">
                <div class="l_head">
                    <h2>{{org.name}}{%if campaign%} - {{campaign.name}}{%endif%}</h2>
                    <h1>Legislative Agenda</h1>
                    <!-- <p>{%if campaign.description%}<p>{{campaign.description}}{%endif%}</p> -->
                </div>
                <div class="r_head">
                    <p class="powr">powered by <span><a href="https://popvox.com" target="_blank">POPVOX</a></span></p>
                    <p><a href="https://www.popvox.com/legal">privacy policy</a></p>
                </div>
                <div class="clear"> </div>
            </div>{% endif %}
            
            <table id="summary-table" summary="Table summary">
                <thead>
                    <tr class="proposal heading">
                        <th class="cell campaign">Campaign</th>
                        <th class="cell description">Priority Bills and Proposals</th>
                        <th class="cell sentiment">POPVOX Sentiment</th>
                        <th class="cell action_buttons">Take Action</th>
                    </tr>
                </thead>
                <tbody id="proposal_list">
        {% regroup positions by campaign as campaign_list %}
        {% for campaign in campaign_list %}
            {% for position in campaign.list %}
            {% with position.bill as bill %}
            {% with position.campaign as campaign %}
                {% bill_statistics bill as stats %}
                <tr class="proposal body" bill_id="{{bill.id}}" bill_url="{{bill.get_absolute_url}}" category="{{bill.topterm}}" sentiment="{{stats.total}}">
                    <td class="cell campaign"> 
                        <em>{%if campaign.name != "Campaign 1"%}{{campaign.name}}{%endif%}</em>
                        <span {%if bill.billtype == 'hc' or bill.billtype == 'sc' or bill.billtype == 'hj' or bill.billtype == 'sj' %} class="conres"{%endif%}><a class="fire_modal" href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555">{{bill.displaynumber}}</a></span>
                    </td>

                    <td class="cell description">
                        <div class="small">
                            <a class="i_eye fire_modal"  href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555">view</a>
                            <div class="title"><a href="">{{bill.title_no_number}}</a></div>                            
                        </div>

                        <div class="large">
                            <a class="i_eye fire_modal" href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555">view</a>
                            <div class="title"><a class="fire_modal" href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555">{{bill.nicename}}</a></div>
                            <div>{{position.comment|wraplines:"p style='margin-bottom: .5em'"|truncatewords_html:10}}</div> <a href="/orgs/{{org.slug}}/{{campaign.slug}}#{{org.slug}}-{{position.bill.billtypeslug}}-{{position.bill.billnumber}}-{% if position.position == "+" %}endorse{% endif %}{% if position.position == "-" %}oppose{% endif %}{% if position.position == "0" %}neutral{% endif %}" class="underline" target="_blank">view the full position statement</a></p>
                            
                            <p class="how_should_they_vote">Join {{org.name}} in {{position.ingverb}} {{bill.shortname}}</p>
                            <div class="action_buttons">
                                <a class="{{position.get_position_display|lower}} lg 
                                fire_modal" href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555">{{position.get_position_display}}</a>
                            </div>
                        </div>
                    </td>

                    <td class="cell sentiment">
                        <div>
                            <span class="sent_icon_pro"></span>
                            <span class="sent_icon_con"></span>
                        </div>
                        <div class="tooltip_sent">
                        	<p class="sentiment-percent">
                        		<span class="heart">{{ stats.pro_pct }}%</span>
                        		<span class="anti">{{ stats.con_pct }}%</span>
                        	</p>
                        	<p class="total">{{stats.total}} total users</p>
                        </div> 
                        <div class="bar_pro" style="width: {{ stats.pro_pct }}%"> </div>
                        <div class="bar_con" style="width: {{ stats.con_pct }}%"> </div>
                        <!--<div class="maplink">map</div>-->
                    </td>

                    <td class="cell action_buttons">
                        <a class="{{position.get_position_display|lower}} single {%if not bill.isAlive%}inactive{%endif%} fire_modal" href="/services/widgets/w/account/{{org.serviceaccount.api_key}}/writecongress?iframe=1&ocp={{position.id}}&franking=false&sbg=b36015&sbg2=e7e4dd&sfg=ffffff&lnk=cc6A11&bg=fafafa&fg=404045&fg2=555555" title="Join {{org.name}} in {{position.ingverb}} {{bill.shortname}}">{{position.get_position_display}}</a>
                    </td>
                </tr>
                {% endwith %}{% endwith %}
            {% endfor %}
        {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/media/js/qtip.js"></script>
    <script src="/media/js/jquery.fancybox.pack.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/media/js/main.js"></script>
</body>
</html>
