{% load humanize %}
{% load popvox_utils %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Bill Opinion Map - POPVOX</title> 

        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #E8E5DF;
            }
        </style> 
        <link rel="stylesheet" href="/media/master/reset.css" type="text/css" media="screen" /> 
        <link rel="stylesheet" href="/media/master/stylesheet.css" type="text/css" media="screen" /> 
        <link rel="stylesheet" href="/media/master/fonts.css" type="text/css" media="screen" /> 
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/highcharts.js"></script>

<div class="content">
    <div class="col_4_5 col_top col_last">
        <div class="mini-map">
            <h3>HR3 No Tax Payer Funding For Abortion</h3>
            <div class="map"></div>
            <div class="chart">
                <p class="chart_stats">
                    <span class="pie"></span><br />
                    <span class="bg_support">62% Support <!-- 8 --></span><br />
                    <span class="bg_oppose">38% Oppose <!-- 5 --></span><br />
                    <span class="users">(1790 total users)</span>
                </p>
            </div>
            <div id="chart_time_0">
                <p>put chart here</p>
            </div>
            <p class="foot_text">Real-time sentiment registered on <a href="http://www.popvox.com">www.popvox.com</a></p>	
                
        </div> 
    </div>
</div>
{% endblock %}
