{% load humanize %}
{% load popvox_utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><!--[if lte IE 7]><meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]--> 
		
	<title>write congress widget // POPVOX</title>
	
	<link rel="stylesheet" href="/media/master/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/widget/widget_writecongress.css" type="text/css" media="screen" />

	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="/media/js/ajaxforms.js"></script>
	
	<script>var bill_display_number = "{{bill.displaynumber|escapejs}}";</script>
	<script src="/media/js/lettertips.js"> </script>

	<style>
	{% if request.GET.iframe %}
	body {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	#widget_body {
		overflow: hidden;
	}
	{% endif %}

	{% if request.ua.ua_family == "Firefox" and request.ua.os_family != "Mac OSX" %}
	#comment_widget h1, #comment_widget h2 {
		text-shadow: none;
	}
	{% endif %}
	
	{% if "commentstream_theme" in permissions %}
	#comment_widget #widget_top {
		background: #{{request.GET.sbg}} url("comments_widget_head_grad.png") left top repeat-x;
		color: #{{request.GET.sfg}};
		border: #000;
		}
		
	#comment_widget #widget_body {
		background: #{{request.GET.bg}} url("bg_widget_comment_body_grad_2.png") repeat-x scroll left top;
		}
		
	#comment_widget h1,
	#comment_widget h2 {
		text-shadow: none;
		color: #{{request.GET.sfg}};
		}
		
	#comment_widget p.share a {	
		color: #{{request.GET.lnk}};
		}
	
	#comment_widget p {
		color: #{{request.GET.fg}};
		}
		
	#comment_widget .comment {
		border-bottom: none;
		}
		
	#comment_widget #widget_foot, #comment_widget #widget_foot p a {
		background: #{{request.GET.sbg}};
		color: #{{request.GET.sfg}};
		}
	{% endif %}
	
	</style>
	
	<script>
		$('html').ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); });
	
		var panel_width = 420;
		var current_panel = 1;
		
		function show_panel(idx) {
			$("#progress li").removeClass("active");
			$("#progress li").removeClass("complete");
			for (var i = 1; i < idx; i++)
				$("#progress li.tab_" + i).addClass("complete");
			$("#progress li.tab_" + idx).addClass("active");
			
			var cur = $($("#panel_holder .widget_panel")[current_panel-1]);
			var next = $($("#panel_holder .widget_panel")[idx-1]);
			
			var left = cur.css("left");
			
			cur.animate(
				{left: idx>current_panel ? -panel_width : panel_width},
				function() {
					cur.hide(); // if we don't hide it, then the user can tab through to its controls which causes scrolling
					current_panel = idx;
				}
			);
			
			next.show();
			next.css({ left: idx>current_panel ? panel_width : -panel_width });
			next.animate({left: left});
			
			return false;
		}
		
		var email_status = null;
		
		function check_email() {
			$("#panel_login .error").text("");
			
			var email = $('#email').val();
			if (email.indexOf("@") == -1) return false;
			
			$.ajax({
					url: window.location.pathname,
					data: {
						bill: {{bill.id}},
						action: "check-email",
						email: email
					},
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_login .error").text(data.msg);
							return;
						}
						
						email_status = data.status;

						$('#unregistered input, #registered_password input').attr("disabled", "1");
						$('#panel_login .check').hide();
						$('#b_next').addClass("disabled");
						
						if (data.status == "invalid-email") {
							$("#panel_login .error").text("That's not a valid email address.");
						} else if (data.status == "staff-cant-do-this") {
							$("#panel_login .error").text("That's a staff account. Use a different email address for personal comments to Congress.");
						} else if (data.status == "already-commented") {
							$("#panel_login .error").text("You've already left a comment on this bill. Thanks!");
						} else {
							$('#panel_login .check').show();
							$('#unregistered input, #registered_password input').attr("disabled", "");
							$('#b_next').removeClass("disabled");
							if (data.status == "not-registered") {
								$('#unregistered').show();
								$('#registered_password, #registered_sso').hide();
								$('#b_next').show();
							} else {
								$('#unregistered').hide();
								
								$('#registered_password, #b_next, #registered_sso').hide();
								
								if (data.has_password) {
									$('#registered_password, #b_next').show();
								} else if (data.sso_methods.length > 0) {
									$('#registered_sso').show();
								} // had better be one or the other, but give preference to password
								  
								$('#registered_sso .singlesignon li a').hide();
								for (var i = 0; i < data.sso_methods.length; i++)
									$('#registered_sso .singlesignon li a.social_' + data.sso_methods[i]).show();
							}
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_login .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
			return false;
		}
		
		var identity = null;
		
		function do_login() {
			if ($("#b_next").hasClass("disabled")) return false;
			
			var data;
			
			if (email_status != "registered") {
				// creating an account later on, but collectinig this information now
				if ($("#firstname").hasClass("default")) { alert("Enter your first name to continue."); return false; }
				if ($("#lastname").hasClass("default")) { alert("Enter your last name to continue."); return false; }
				if ($("#zipcode").hasClass("default")) { alert("Enter your zip code to continue."); return false; }
				
				data = {
					action: "newuser",
					email: $("#email").val(),
					firstname: $("#firstname").val(),
					lastname: $("#lastname").val(),
					zipcode: $("#zipcode").val()
					};
				
			} else {
				// only used if logging in with password
				if ($("#password").hasClass("default")) { alert("Enter your password to log in."); return false; }
			
				data = {
					action: "login",
					email: $("#email").val(),
					password: $("#password").val()
					};
			}

			$.ajax({
					url: window.location.pathname,
					data: data,
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_login .error").text(data.msg);
						} else {
							$("#panel_login .error").text("");
							identity = data.identity;
							show_address();
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_login .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
				return false;
		}
		
		{% if identity %}
		$(function() {
			identity = {{identity|safe}};
			$('#loggedinalready').show();
			$('#b_next').removeClass("disabled");
			show_address();
		});
		{% endif %}
		
		function logout() {
			identity = null;
			$('#login').show();
			$('#loggedinalready, #addressform').hide();
			$('#b_next').addClass("disabled");
			return false;
		}
		
		function show_address() {
			$('#login').hide();
			$('#addressform').show();
			$('#useraddress_firstname').text(identity.firstname);
			$('#useraddress_lastname').text(identity.lastname);
			$('#useraddress_state').text(identity.state);
			$('#useraddress_zipcode').text(identity.zipcode);
			$('#useraddress_prefix').val(identity.nameprefix);
			$('#useraddress_suffix').val(identity.namesuffix);
			$('#useraddress_address1').val(identity.address1);
			$('#useraddress_address2').val(identity.address2);
			$('#useraddress_city').val(identity.city);
			$('#useraddress_phonenumber').val(identity.phonenumber);
			
			// debugging
			if (!identity.nameprefix) {
				$('#useraddress_prefix').set_text("Mr.");
				$('#useraddress_address1').set_text("100 Debug Noname Street");
				$('#useraddress_city').set_text("Nowherevill Debug");
				$('#useraddress_phonenumber').set_text("(123) 456-7890 ext. Debug");
			}
			
		}
		
		var recipients;
		
		function do_address() {
			$.ajax({
					url: window.location.pathname,
					data: {
						bill: {{bill.id}},
						action: "address",
						id: identity.id ? identity.id : undefined,
						email: identity.email,
						useraddress_prefix: $("#useraddress_prefix").val(),
						useraddress_firstname: identity.firstname,
						useraddress_lastname: identity.lastname,
						useraddress_suffix: $("#useraddress_suffix").val(),
						useraddress_address1: $("#useraddress_address1").val(),
						useraddress_address2: $("#useraddress_address2").val(),
						useraddress_city: $("#useraddress_city").val(),
						useraddress_state: identity.state,
						useraddress_zipcode: identity.zipcode,
						useraddress_phonenumber: $("#useraddress_phonenumber").val()
					},
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_login .error").text(data.msg);
						} else {
							$("#panel_login .error").text("");
							identity = data.identity;
							recipients = data.recipients;
							if (recipients.length > 0)
								$('#msg_preview .greeting').text("Dear " + recipients.join(", ") + ":")
														
							show_panel(2);
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_login .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
				return false;
		}
		
		function do_preview() {
			// convert message text into a nicely paragraphed html preview
			var msghtml = "";
			var lines = $('#message').val().replace("\r", "\n").replace("\n\n", "\n").split("\n");
			for (var i = 0; i < lines.length; i++)
				msghtml += "<p>" + $('<div/>').text(lines[i]).html() + "</p>";
			
			$('#msg_preview .message').html(msghtml);
			$('#panel_preview .address .name, #msg_preview .name').text(identity.firstname + " " + identity.lastname);
			$('#msg_preview .location').text(identity.city + ", " + identity.state);
			$('#panel_preview .address .citystatezip').text(identity.city + ", " + identity.state + " " + identity.zipcode);
			show_panel(3); 
		}
		
		// debuggging
		{% if not identity %}
		$(function() {
			$('#email').set_text("debug@example.org");
			$('#firstname').set_text("John");
			$('#lastname').set_text("Debug");
			$('#zipcode').set_text("19104");
		});
		{% endif %}
	</script>
</head>
<body>
	<div id="wrap" class="w420">
		<div class="float_left">
			<div id="widget_top">
				<h1>Tell Congress that you {{verb}} {{bill.displaynumber}}</h1>
				<ul id="progress">
					<li class="tab_1 active">login</li>
					<li class="tab_2">write</li>
					<li class="tab_3">send</li>
					<li class="tab_4">share</li>
				</ul>
			</div>
			
			<div id="widget_body">
				
				<div id="panel_holder">
			
					<div id="panel_login" class="widget_panel">
						<form class="form" action="#" onsubmit="return false;"><br />
							<h3>Tell Congress who you are</h3>
							
							<div id="login">
								<input id="email" name="email" value="" size="25" maxlength="40" type="text"><span class="check" style="display: none">check</span><br />
	
								<div id="registered_sso" style="display: none" class="clear">
									<p>You&rsquo;ve created a POPVOX account already. We&rsquo;ll need you to log in.</p>
									{% with request.path as singlesignon_next %}
									{% with "&mode=compact" as singlesignon_params %}
										{% include "registration/login_singlesignon.html" %}
									{% endwith %}
									{% endwith %}
								</div>
								<div id="registered_password" style="display: none" class="clear">
									<p>Enter your POPVOX.com password:</p>
									<input id="password" value="" size="25" maxlength="40" type="password"><br />
									<p>forgot your password?</p>
								</div>
			
								<div id="unregistered">
									<input id="firstname" value="" size="25" maxlength="40" type="text"><br />
									<input id="lastname" value="" size="25" maxlength="40" type="text"><br />
									<input id="zipcode" value="" size="25" maxlength="40" type="text"><br />
								</div>
							</div>
							
							<div id="loggedinalready" style="display: none">
								<p>Welcome back <strong>{{screenname}}</strong>.<br />
									Check your address and then click Next to get started.</p>
								<p><a href="#" onclick="return logout();">Not you?</a>
							</div>
							
							<div id="addressform" style="display: none">
								<p>Provide the address of your residence where you intend to vote.<br />
								We cannot deliver your message to Congress without your complete contact information.</p>
							
								<label for="useraddress_prefix">Prefix</label>
								<select class="c2" id="useraddress_prefix">
									{% for prefix in useraddress_prefixes %}
									<option value="{{prefix}}" {% if useraddress.nameprefix == prefix %}selected{% endif %}>{{prefix}}{% if not prefix %}(select){% endif %}</option>
									{% endfor %}
								</select><br />
								
								<label for="useraddress_firstname">First Name</label>
								<span id="useraddress_firstname">...</span><br />
								
								<label for="useraddress_lastname">Last Name</label>
								<span id="useraddress_lastname">...</span><br />
								
								<label for="useraddress_suffix">Suffix</label>
								<select class="c2" id="useraddress_suffix">
									{% for suffix in useraddress_suffixes %}
									<option value="{{suffix}}" {% if useraddress.namesuffix == suffix %}selected{% endif %}>{{suffix}}{% if not suffix %}(none){% endif %}</option>
									{% endfor %}
								</select><br />
								
								<label for="useraddress_address1">Address Line 1</label>
								<input class="c3" id="useraddress_address1" type="text" value=""/><br />
								
								<label for="useraddress_address2">Address Line 2</label>
								<input class="c3" id="useraddress_address2" type="text" value=""/><br />
								
								<label for="useraddress_city">City</label>
								<input class="c2" id="useraddress_city" type="text" value=""/><br />
								
								<label for="useraddress_state">State</label>
								<span id="useraddress_state">...</span><br />
								
								<label for="useraddress_zipcode">ZIP Code</label>
								<span id="useraddress_zipcode">...</span><br />
								
								<label for="useraddress_phonenumber">Phone Number</label>
								<input class="c2" id="useraddress_phonenumber" type="text" value=""/><br />
							</div>

							<input value="next" id="b_next" class="btn disabled" onclick="return (!identity ? do_login() : do_address());" type="button">
							
							<p class="clear error"> </p>
								
						</form>
						
						<script>
							$('#email').input_default("enter your email address");
							$('#firstname').input_default("first name");
							$('#lastname').input_default("last name");
							$('#zipcode').input_default("zip code");
							$('#firstname, #lastname, #zipcode').attr("disabled", "1");
							$("#email").keyup_delayed(check_email);
						</script>
						
					</div> <!-- e: panel_login -->
					
					<div id="panel_write" class="widget_panel" style="display: none">
						<div id="panel_write_why_reason">
						<div class="why">
							<h3>Why should I {{verb}} {{bill.displaynumber}}?</h3>
							<a href="#" class="expand btn" onclick="return false;">expand</a>
						</div><div class="clear"> </div>
						<div class="reason" style="display: none">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						</div>
						<script>
							$('#panel_write_why_reason').hover(
								function() { $('#panel_write .reason').slideDown(); },
								function() { $('#panel_write .reason').slideUp(); } );
						</script>
										
						<h3 class="write">Write a Personal Message?</h3>
						<h4 class="{{verb}}">I {{verb}} {{bill.displaynumber}} because...</h4>
		
						<form id="msg" class="form" action="#" onsubmit="return false;">
		
							<textarea class="half" id="message" maxlength="500" type="text">I {{verb}} {{bill.displaynumber}} because...</textarea><br /> 
							
		<!--					<input value="Send My Support Without a Message" id="b_send_no_msg" type="button">-->
							<a class="back" href="#">back</a><input value="Preview" id="b_preview" type="button" onclick="return do_preview();">
							<div class="clear"> </div>
						</form>
						<div id="tips">
							<h3>Tips</h3>
							<p>When Members of Congress are undecided on a bill, they are most influenced by personal communications from constituents.</p>
							<p id="messagetip" style="color: black"></p>
							<p>There is no need to sign your name. We&rsquo;ll add that for you.</p>
						</div>
						<script>$('#message').textchange(function() { validate('message'); });</script>
						
						<div class="clear"> </div>
						
						
					</div><!-- e: panel_write -->
					
					<div id="panel_preview" class="widget_panel" style="display: none">
										
						<h3>Preview your message</h3>
		
						<div id="msg_preview">
							<p class="greeting">Dear Congressperson:</p>
							<p class="{{verb}}"><span></span> <div class="message"> </div></p>
							<p class="signature"><span class="name">Bob Smith</span><br /><span class="location">Jackson, TN</span> <br /><a href="#" onclick="return show_panel(2);">revise message</a></p>
							
						</div>	
						
						<p id="b_send_to_congress"><a class="btn" href="#" onclick="show_panel(4); return false;">Send your message to Congress</a></p>
						<div class="address">
							<p><span class="name">Bob Smith</span><br />
								<span class="address1">35 Morningside Dr.</span><br />
								<span class="citystatezip">Jackson, TN 38301</span><br />
								<a href="#" onclick="return show_panel(1);">edit address</a>
							</p>
						</div>			
						<div class="clear"> </div>
						
							<p class="note">Your letter will be sent to Congress <b>and</b> posted anonymously on POPVOX.com. {% if org %}We&rsquo;ll also provide a copy to {{org.name}}.{% endif %}</p>
					</div><!-- e: panel_preview -->
					
					
					<div id="panel_share" class="widget_panel" style="display: none">
										
						<h3 class="congrats">Congratulations, we sent your message to Congress!</h3>
		
						<div id="social_share">
							<h3>Tell your friends to {{verb}} this bill</h3>
							<ul class="social_share_btns">
								<li><a class="btn social_facebook" href="#" onclick="return share_tab('facebook')" title="Facebook">facebook</a></li>
								<li><a class="btn social_twitter" href="#" target="_blank" onclick="return share_tab('twitter')" title="Twitter">twitter</a></li>
								<li><a class="btn social_email" href="#" onclick="return share_tab('email')" title="Email">email</a></li>
								<li><a class="btn social_link" href="#" onclick="return share_tab('link')" title="Get a Short URL">get a link</a></li>
							</ul>	
							<div class="clear"> </div>				
						</div>	
						
						<h3 class="support">These bills also need your support</h3>
						<p class="temp_bills"></p>
		
						<h3 class="oppose">These bills also need your opposition</h3>
						<p class="temp_bills"></p>
						
						<div class="search">
							<h3>Search bills on POPVOX</h3>
							<p>search by bill number or issue area</p>
							<form id="search" class="form" action="#" method="post" name="login">
								<input name="search" value="" size="25" maxlength="40" type="text"><br />
							</form><div class="clear"> </div>
						</div>
						
					</div><!-- e: panel_share -->
					
					<div class="clear"> </div>
				
				</div> <!-- e: panel_holder -->
				
			</div><!-- e: body -->
			
			<div id="widget_foot">
				<p><a href="http://www.popvox.com" target="_blank">powered by <span>popvox.com</span></a></p>
			</div>
			
		</div><!-- e: widget -->
	</div><!-- e: wrap -->
</body>
</html>
