{% comment %} This is the lightbox that appears on the comment share page when we need to ask the user to set a screen name and password.{% endcomment %}
<div style="display: none">
	<div id="writecongress_followup" class="colorbox" style="width: 500px">
		<h1>Set Up A POPVOX Account</h1>

		{% if comment.referrers.all|length == 0 %}
			<h2>Thank you for using POPVOX&rsquo;s Write Congress tool to voice your comment.</h2>
		{% else %}
			<h2>{{comment.referrers.all.0.referrer}} is using POPVOX to help get your letter to Congress.</h2>
		{% endif %}
		
		<p>Setting up a POPVOX account lets you see when your comment is delivered, track the status of the bill and see what the rest of the nation thinks.</p>
		
		<form class="form" onsubmit="return do_submit_screename_password(false);">
			{% csrf_token %}
			<label for="email">email address</label>
			<input type="text" class="c3" id="email" name="email" value="{{user.email}}" disabled="1"/>
			<small>Your email address will not be shown publicly or shared with third parties.</small>
			
			<label for="password">password</label>
			<input type="password" class="c3" id="password"/><br />

			<label for="password2">password again</label>
			<input type="password" class="c3" id="password2"/><br />
			<div id="errorlabel_password" class="error"> </div>

			<label class="username" for="username">screen name</label>
			<input type="text" size="20" id="username" class="username" name="username" value="{{user.username}}"/>
			<small class="pad_btm_20">Other POPVOX users will know you by your screen name.</small>
			<div id="errorlabel_username" class="error"> </div>
			
			<p id="errorlabel" class="error" style="display: block">{{error}}</p>
			
			<input class="submit b_do_later" type="button" value="I'll do this later" onclick="$.colorbox.close();"/>
			<input class="submit b_continue" id="submitbutton" type="submit" value="Continue"/>
			
		</form>
	</div>
</div>
		
<script>
$('#username, #password, #password2').keyup_delayed(function() { do_submit(true) });

function do_submit_screename_password(validate) {
	if ($('#password').val() != $('#password2').val() && (!validate || $('#password2').val() != "")) {
		$('#errorlabel_password').show();
		$('#errorlabel_password').text("The two password fields don't match.");
		return false;
	}
	
	ajaxform("/ajax/accounts/profile/updatefields",
		{ "validate": (validate ? "validate" : "") },
		{
			"username": "#username",
			"password": "#password",
		},
		{
			statusfield: "errorlabel",
			savebutton: "submitbutton",
			success: function(res) {
				if (!validate)
					$.colorbox.close();
			}
		}
		);

	return false;	
}

$(function() {
	$.colorbox({inline: true, href:"#writecongress_followup", width: 620, height: 550, transition: "none" })
});
</script>

