{% load humanize %}
{% load popvox_utils %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><!--[if lte IE 7]><meta http-equiv="X-UA-Compatible" content="chrome=1"><![endif]--> 

	<base target="_top"/> <!-- important for single sign-on, Chrome loses track of the referer if we stay in the iframe -->		

	<title>write congress widget // POPVOX</title>
	
	<link rel="stylesheet" href="/media/master/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/widget/widget_writecongress.css" type="text/css" media="screen" />

	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="/media/js/ajaxforms.js"></script>
	
	<script type="text/javascript" src="/media/js/highcharts.js"></script>
	<script type="text/javascript" src="/media/js/charts.js"></script>
	
	<link type="text/css" href="/media/js/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="/media/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/media/js/mwheelIntent.js"></script>
	<script type="text/javascript" src="/media/js/jquery.jscrollpane.min.js"></script>	
	
	<script>var bill_display_number = "{{bill.displaynumber|escapejs}}";</script>
	<script src="/media/js/lettertips.js"> </script>

	<style>
	{% if request.GET.iframe %}
	body {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	#widget_body {
		overflow: hidden;
	}
	{% endif %}

	{% if request.ua.ua_family == "Firefox" and request.ua.os_family != "Mac OSX" %}
	#comment_widget h1, #comment_widget h2 {
		text-shadow: none;
	}
	{% endif %}
	
	{% if "commentstream_theme" in permissions %}
	#comment_widget #widget_top {
		background: #{{request.GET.sbg}} url("comments_widget_head_grad.png") left top repeat-x;
		color: #{{request.GET.sfg}};
		border: #000;
		}
		
	body {
		/*background: #{{request.GET.bg}} url("bg_widget_comment_body_grad_2.png") repeat-x scroll left top;*/
		color: #{{request.GET.fg}};
		}
		
	#comment_widget h1,
	#comment_widget h2 {
		text-shadow: none;
		color: #{{request.GET.sfg}};
		}
		
	a, a:hover, .address a, a.back {	
		color: #{{request.GET.lnk}};
		}
	
	#comment_widget .comment {
		border-bottom: none;
		}
		
	#comment_widget #widget_foot, #comment_widget #widget_foot p a {
		background: #{{request.GET.sbg}};
		color: #{{request.GET.sfg}};
		}
	{% endif %}
	
	</style>
	
	<script>
		$('html').ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); });
	
		var working = false;
		$('html').ajaxStart(function() { working = true; });
		$('html').ajaxStop(function() { working = false; });
	
		var panel_width = 420;
		var current_panel = 1;
		var sliding = false;
		function show_panel(idx) {
			if (sliding) return;
			sliding = true;
			
			$("#progress li").removeClass("active");
			$("#progress li").removeClass("complete");
			var tab_index = (idx == 1 ? idx : idx-1);
			for (var i = 1; i < tab_index; i++)
				$("#progress li.tab_" + i).addClass("complete");
			$("#progress li.tab_" + tab_index).addClass("active");
			
			var cur = $($("#panel_holder .widget_panel")[current_panel-1]);
			var next = $($("#panel_holder .widget_panel")[idx-1]);
			
			var left = cur.css("left");
			
			cur.animate(
				{left: idx>current_panel ? -panel_width : panel_width},
				function() {
					cur.hide(); // if we don't hide it, then the user can tab through to its controls which causes scrolling
					current_panel = idx;
					sliding = false;
				}
			);
			
			next.show();
			next.css({ left: idx>current_panel ? panel_width : -panel_width });
			next.animate({left: left});
			
			return false;
		}
		
		var demo = {% if not request.GET.demo %}false{% else %}true{% endif %};
		var email_status = null;
		
		function check_email() {
			if (working) return;
			
			$("#panel_login .error").text("");
			
			var email = $('#email').val();
			if (email.indexOf("@") == -1) return false;
			
			$.ajax({
					url: window.location.pathname,
					data: {
						bill: {{bill.id}},
						action: "check-email",
						email: email
					},
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_login .error").text(data.msg);
							return;
						}
						
						email_status = data.status;

						$('#unregistered input, #registered_password input').attr("disabled", "1");
						$('#panel_login .check').hide();
						$('#panel_login .next').addClass("disabled");
						
						if (data.status == "invalid-email") {
							$("#panel_login .error").text("That's not a valid email address.");
						} else if (data.status == "staff-cant-do-this") {
							$("#panel_login .error").text("That's a staff account. Use a different email address for personal comments to Congress.");
						} else if (data.status == "already-commented") {
							$("#panel_login .error").text("You've already left a comment on this bill. Thanks!");
						} else {
							$('#panel_login .check').show();
							$('#unregistered input, #registered_password input').attr("disabled", "");
							$('#panel_login .next').removeClass("disabled");
							if (data.status == "not-registered") {
								$('#unregistered').show();
								$('#registered_password, #registered_sso').hide();
								$('#panel_login .next').show();
							} else {
								$('#unregistered').hide();
								
								$('#registered_password, #panel_login .next, #registered_sso').hide();
								
								if (data.has_password) {
									$('#registered_password, #panel_login .next').show();
								} else if (data.sso_methods.length > 0) {
									$('#registered_sso').show();
								} // had better be one or the other, but give preference to password
								  
								$('#registered_sso .singlesignon li a').hide();
								for (var i = 0; i < data.sso_methods.length; i++)
									$('#registered_sso .singlesignon li a.social_' + data.sso_methods[i]).show();
							}
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_login .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
			return false;
		}
		
		var identity = null;
		
		function do_login() {
			if (working) return;
			if (identity) return show_address();
			
			if ($("#panel_login .next").hasClass("disabled")) return false;
			
			var data;
			
			if (email_status != "registered") {
				// creating an account later on, but collectinig this information now
				if ($("#firstname").hasClass("default")) { alert("Enter your first name to continue."); return false; }
				if ($("#lastname").hasClass("default")) { alert("Enter your last name to continue."); return false; }
				if ($("#zipcode").hasClass("default")) { alert("Enter your zip code to continue."); return false; }
				
				data = {
					{% if ocp %}ocp: {{ocp.id}},{% endif %}
					demo: demo,
					action: "newuser",
					email: $("#email").val(),
					firstname: $("#firstname").val(),
					lastname: $("#lastname").val(),
					zipcode: $("#zipcode").val()
					};
				
			} else {
				// only used if logging in with password
				if ($("#password").hasClass("default") || $('#password').val() == "") { alert("Enter your password to log in."); return false; }
			
				data = {
					action: "login",
					email: $("#email").val(),
					password: $("#password").val()
					};
			}

			$.ajax({
					url: window.location.pathname,
					data: data,
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_login .error").text(data.msg);
						} else {
							$("#panel_login .error").text("");
							identity = data.identity;
							show_address();
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_login .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
				return false;
		}
		
		{% if identity %}
		$(function() {
			identity = {{identity|safe}};
			$('#login').hide();
			$('#loggedinalready').show();
			$('#panel_login .next').removeClass("disabled");
		});
		{% endif %}
		
		function logout() {
			if (working) return;
			identity = null;
			$('#login').show();
			$('#loggedinalready').hide();
			$('#panel_login .next').addClass("disabled");
			return false;
		}
		
		function show_address() {
			show_panel(2);
			
			$('#useraddress_firstname').text(identity.firstname);
			$('#useraddress_lastname').text(identity.lastname);
			$('#useraddress_state').text(identity.state);
			$('#useraddress_zipcode').text(identity.zipcode);
			$('#useraddress_prefix').val(identity.nameprefix);
			$('#useraddress_suffix').val(identity.namesuffix);
			$('#useraddress_address1').val(identity.address1);
			$('#useraddress_address2').val(identity.address2);
			$('#useraddress_city').val(identity.city);
			$('#useraddress_phonenumber').val(identity.phonenumber);
			
			{% if request.GET.debug %}
			if (!identity.nameprefix) {
				$('#useraddress_prefix').set_text("Mr.");
				$('#useraddress_address1').set_text("100 Debug Noname Street");
				$('#useraddress_city').set_text("Nowherevill Debug");
				$('#useraddress_phonenumber').set_text("(123) 456-7890 x12");
			}
			{% endif %}
			
		}
		
		var recipients;
		var cdyne_response;
		
		function do_address() {
			if (working) return;
			
			$.ajax({
					url: window.location.pathname,
					data: {
						demo: demo,
						bill: {{bill.id}},
						{% if ocp %}ocp: {{ocp.id}},{% endif %}
						action: "address",
						userid: identity.id ? identity.id : undefined,
						email: identity.email,
						useraddress_prefix: $("#useraddress_prefix").val(),
						useraddress_firstname: identity.firstname,
						useraddress_lastname: identity.lastname,
						useraddress_suffix: $("#useraddress_suffix").val(),
						useraddress_address1: $("#useraddress_address1").val(),
						useraddress_address2: $("#useraddress_address2").val(),
						useraddress_city: $("#useraddress_city").val(),
						useraddress_state: identity.state,
						useraddress_zipcode: identity.zipcode,
						useraddress_phonenumber: $("#useraddress_phonenumber").val()
					},
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_addressform .error").text(data.msg);
						} else {
							$("#panel_addressform .error").text("");
							identity = data.identity;
							recipients = data.recipients;
							cdyne_response = data.cdyne_response;
							if (recipients.length > 0)
								$('#msg_preview .greeting').text("Dear " + recipients.join(", ") + ":"); // escape?
							else
								$('#msg_preview .greeting').text("Dear Congressperson");
														
							show_panel(3);
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_addressform .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});
			
				return false;
		}
		
		function do_preview() {
			if (working) return;
			
			// convert message text into a nicely paragraphed html preview
			var msghtml = "";
			if (!$('#message').hasClass("default")) {
				var lines = $('#message').val().replace("\r", "\n").replace("\n\n", "\n").split("\n");
				for (var i = 0; i < lines.length; i++)
					msghtml += "<p>" + $('<div/>').text(lines[i]).html() + "</p>";
			} else {
				msghtml = "<p><i>I {{verb}} {{bill.displaynumber}}.</i></p>";
			}
			
			$('#msg_preview .message').html(msghtml);
			$('#panel_preview .address .name, #msg_preview .name').text(identity.firstname + " " + identity.lastname);
			$('#panel_preview .address .address1').text(identity.address1);
			$('#msg_preview .location').text(identity.city + ", " + identity.state);
			$('#panel_preview .address .citystatezip').text(identity.city + ", " + identity.state + " " + identity.zipcode);
			show_panel(4);
			
			$('#msg_preview .scrolled').jScrollPane();
			
			return false;
		}
		
		function do_send() {
			if (working) return;
			
			$.ajax({
					url: window.location.pathname,
					data: {
						demo: demo,
						bill: {{bill.id}},
						position: "{{position}}",
						{% if ocp %}ocp: {{ocp.id}},{% endif %}
						action: "submit",
						userid: identity.id ? identity.id : undefined,
						email: identity.email,
						password: $("#password").val(), // resend
						useraddress_prefix: $("#useraddress_prefix").val(),
						useraddress_firstname: identity.firstname,
						useraddress_lastname: identity.lastname,
						useraddress_suffix: $("#useraddress_suffix").val(),
						useraddress_address1: $("#useraddress_address1").val(),
						useraddress_address2: $("#useraddress_address2").val(),
						useraddress_city: $("#useraddress_city").val(),
						useraddress_state: identity.state,
						useraddress_zipcode: identity.zipcode,
						useraddress_phonenumber: $("#useraddress_phonenumber").val(),
						message: !$('#message').hasClass("default") ? $('#message').val() : "",
						cdyne_response: cdyne_response
					},
					type: "POST",
					dataType: "json",
					success: function(data, textStatus, jqXHR) {
						if (data.status == "fail") {
							$("#panel_preview .error").text(data.msg);
						} else {
							$("#panel_preview .error").text("");
							
							if (data.status == "submitted") {
								$('h3.congrats').text('Your message will be sent!')
								$('h4.congrats').text('Thank you for taking the time to share your opinion.');
							} else if (data.status == "confirm-address") {
								$('h3.congrats').text('Check your email!');
								$('h4.congrats').text('We need to confirm your address before delivering your message.');
							} else if (data.status == "confirm-email") {
								$('h3.congrats').text('Check your email!');
								$('h4.congrats').text('We need to confirm your email address before delivering your message.');
								
							} else if (data.status == "demo-submitted") {
								$('h3.congrats').text('Your message will (NOT) be sent!')
								$('h4.congrats').text('This widget is in demo mode. No information was saved.');
							} else if (data.status == "demo-confirm-address") {
								$('h3.congrats').text('[DEMO] Check your email! [DEMO]');
								$('h4.congrats').text('We need to confirm your address before delivering your message.');
							} else if (data.status == "demo-confirm-email") {
								$('h3.congrats').text('[DEMO] Check your email! [DEMO]');
								$('h4.congrats').text('We need to confirm your email address before delivering your message.');
							}
							
							show_panel(5);
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#panel_preview .error").text("We're having some technical difficulty. Please try again soon.");
					}
				});

			return false;
		}
		
		function share_simple_open(url1, url2) {
			a = function() {
				if (!window.open(url1,"sharer","toolbar=0,status=0,resizable=1,width=626,height=436"))
					document.location.href=url2;
			}
			if (/Firefox/.test(navigator.userAgent))
				setTimeout(a,0);
			else
				a();
			return false;
		}
		function facebook_share_simple(targeturl, text) {
			// based on share bookmarklet: http://www.facebook.com/share_options.php
			var f="http://www.facebook.com/share";
			var p=".php?src=bm&v=4&i=1299162093&u=" + encodeURIComponent(targeturl) + "&t=" + encodeURIComponent(text);
			share_simple_open(f+"r"+p, f+p);
		}
		function twitter_share_simple(targeturl, text, hashtag) {
			if (text.indexOf(hashtag) == -1)
				text += " " + hashtag;
			text += " " + targeturl;
			var p1 = "http://twitter.com/intent/tweet?text=" + encodeURIComponent(text);
			var p2 = "http://twitter.com/home?status=" + encodeURIComponent(text);
			share_simple_open(p1, p2);
		}
		function link_share(targeturl, text, hashtag) {
			$('#social_share .link').html("<p>Copy and paste the following address to share this page with others:</p> <p><tt>" + $('<div/>').text(targeturl).html() + "</tt></p>");
			$('#social_share .link').slideDown();
			return false;
		}
		function do_share(method) {
			var f;
			if (method == "facebook") f = facebook_share_simple;
			if (method == "twitter") f = twitter_share_simple;
			if (method == "email") f = email_share;
			if (method == "link") f = link_share;
			f("{{url|escapejs}}", "{{verb|capfirst}} {{bill.title|truncatewords:7|escapejs}}", "{{bill.hashtag|escapejs}}");
			return false;
		}
		
		// debuggging
		{% if request.GET.debug and not identity %}
		$(function() {
			$('#email').set_text("debug@popvox.com");
			$('#firstname').set_text("John");
			$('#lastname').set_text("Debug");
			$('#zipcode').set_text("19104");
		});
		{% endif %}		
	</script>
</head>
<body>
	<div id="wrap" class="w420">
		<div class="float_left">
			<div id="widget_top">
				<h1>Tell Congress that you {{verb}} {{bill.displaynumber}}</h1>
				<ul id="progress">
					<li class="tab_1 active">login</li>
					<li class="tab_2">write</li>
					<li class="tab_3">send</li>
					<li class="tab_4">share</li>
				</ul>
			</div>
			
			<div id="widget_body">
				
				<div id="panel_holder">
			
					<div id="panel_login" class="widget_panel">
						<form class="form" action="#" onsubmit="return false;"><br />
							<h3>Tell Congress who you are</h3>
							
							<div id="login">
								<input id="email" name="email" value="" size="25" maxlength="40" type="text"><span class="check" style="display: none">check</span><br />
	
								<div id="registered_sso" style="display: none" class="clear">
									<p>You&rsquo;ve created a POPVOX account already. We&rsquo;ll need you to log in.</p>
									{% with request.META.HTTP_REFERER as singlesignon_next %}
										{% include "registration/login_singlesignon.html" %}
									{% endwith %}
								</div>
								<div id="registered_password" style="display: none" class="clear">
									<p>Enter your POPVOX.com password:</p>
									<input id="password" value="" size="25" maxlength="40" type="password"><br />
									<p><a href="https://www.popvox.com/registration/reset-password" target="_blank">forgot your password?</a></p>
								</div>
			
								<div id="unregistered">
									<input id="firstname" value="" size="25" maxlength="40" type="text"><br />
									<input id="lastname" value="" size="25" maxlength="40" type="text"><br />
									<input id="zipcode" value="" size="25" maxlength="40" type="text"><br />
								</div>
							</div>
							
							<div id="loggedinalready" style="display: none; margin-top: 1em;">
								<!-- can't say "welcome back" because on a login we reload the page and start over -->
								<p>Welcome <strong>{{displayname}}</strong>.</p>
								<p><a href="#" onclick="return logout();">Not you?</a>
							</div>
							
							<input value="next" class="btn next disabled" onclick="return do_login();" type="button"/>
							<script>$('#panel_login .next').hover(
								function() { if ($('#email').hasClass("default")) { $('#email').css({'font-weight': 'bold', 'color': 'red'}); } },
								function() { $('#email').css({'font-weight': '', 'color': ''}); }
							);</script>
							
							<p class="clear error" style="margin-top: 3em"> </p>
							
							{% if request.GET.demo %}
							<p class="clear" style="margin-top: 2em; font-style: italic">(This widget is in demo mode. No information will be recorded.)</p>
							{% endif %}
						</form>
						
						<script>
							$('#email').input_default("enter your email address");
							$('#firstname').input_default("first name");
							$('#lastname').input_default("last name");
							$('#zipcode').input_default("zip code");
							$('#firstname, #lastname, #zipcode').attr("disabled", "1");
							$("#email").keyup_delayed(check_email);
						</script>
						
					</div> <!-- e: panel_login -->

					<div id="panel_addressform" class="widget_panel" style="display: none">
						<form class="form" action="#" onsubmit="return false;"><br />
							<h3>Tell Congress who you are</h3>
							
								<p>Provide the address of your residence where you intend to vote.<br />
								Congressional offices only accept mail with complete contact information.</p>
							
								<label for="useraddress_prefix">Prefix</label>
								<select class="c2" id="useraddress_prefix">
									{% for prefix in useraddress_prefixes %}
									<option value="{{prefix}}" {% if useraddress.nameprefix == prefix %}selected{% endif %}>{{prefix}}{% if not prefix %}(select){% endif %}</option>
									{% endfor %}
								</select><br />
								
								<label for="useraddress_firstname">First Name</label>
								<span id="useraddress_firstname">...</span><br />
								
								<label for="useraddress_lastname">Last Name</label>
								<span id="useraddress_lastname">...</span><br />
								
								<label for="useraddress_suffix">Suffix</label>
								<select class="c2" id="useraddress_suffix">
									{% for suffix in useraddress_suffixes %}
									<option value="{{suffix}}" {% if useraddress.namesuffix == suffix %}selected{% endif %}>{{suffix}}{% if not suffix %}(none){% endif %}</option>
									{% endfor %}
								</select><br />
								
								<label for="useraddress_address1">Address Line 1</label>
								<input class="c3" id="useraddress_address1" type="text" value=""/><br />
								
								<label for="useraddress_address2">Address Line 2</label>
								<input class="c3" id="useraddress_address2" type="text" value=""/><br />
								
								<label for="useraddress_city">City</label>
								<input class="c2" id="useraddress_city" type="text" value=""/><br />
								
								<label for="useraddress_state">State</label>
								<span id="useraddress_state">...</span><br />
								
								<label for="useraddress_zipcode">ZIP Code</label>
								<span id="useraddress_zipcode">...</span><br />
								
								<label for="useraddress_phonenumber">Phone Number</label>
								<input class="c2" id="useraddress_phonenumber" type="text" value="" maxlength="18"/><br />
								<small>We only use your phone number when required on a Congressional message submission form.</small>
								
								<p class="clear error"> </p>
						</form>
						
						<input value="next" class="btn next" onclick="return do_address();" type="button">
					</div>
							
					<div id="panel_write" class="widget_panel" style="display: none">
						{% if reason %}
						<div id="panel_write_why_reason">
						<div class="why">
							<h3>Why should I {{verb}} {{bill.displaynumber}}?</h3>
							<a href="#" class="expand btn" onclick="return false;">expand</a>
						</div><div class="clear"> </div>
						<div class="reason" style="display: none">
							<p>{{reason}}</p>
						</div>
						</div>
						<script>
							$('#panel_write_why_reason').hover(
								function() { $('#panel_write .reason').slideDown(); },
								function() { $('#panel_write .reason').slideUp(); } );
						</script>
						{% endif %}
										
						<h3>Write a Personal Message?</h3>
						<h4 class="{{verb}}">I {{verb}} {{bill.displaynumber}} because...</h4>
		
						<form id="msg" class="form" action="#" onsubmit="return false;">
		
							<textarea class="half" id="message" maxlength="1024" type="text">I {{verb}} {{bill.displaynumber}} because...</textarea><br /> 
							
							<a href="#" class="back" onclick="return working ? false : show_panel(2);">back</a>
							
		<!--					<input value="Send My Support Without a Message" id="b_send_no_msg" type="button">-->
							<input value="Preview" id="b_preview" type="button" onclick="return do_preview();">
							<div class="clear"> </div>
						</form>
						<div id="tips">
							<h3>Tips</h3>
							<p>When Members of Congress are undecided on a bill, they are most influenced by personal communications from constituents.</p>
							<p id="messagetip" style="color: black"></p>
							<p>There is no need to sign your name. We&rsquo;ll add that for you.</p>
						</div>
						<script>
							$('#message').input_default();
							$('#message').textchange(function() { validate('message'); });
						</script>
						
						<div class="clear"> </div>
						
						<p style="margin-top: 1em; padding-right: 1em;">Your letter will be sent to your representative or senators <b>and</b> posted anonymously on POPVOX.com. {% if org %}We&rsquo;ll also provide a copy to {{org.name}}.{% endif %}</p>
						
					</div><!-- e: panel_write -->
					
					<div id="panel_preview" class="widget_panel" style="display: none">
										
						<h3>Preview your message</h3>
		
						<div id="msg_preview">
							<p class="greeting">Dear Congressperson:</p>
							<div class="scrolled">
							<p class="{{verb}}"><span></span> <div class="message"> </div></p>
							</div>
							<p class="signature"><span class="name">Bob Smith</span><br /><span class="location">Jackson, TN</span> <br /><a href="#" onclick="return working ? false : show_panel(3);">revise message</a></p>
							
						</div>	
						
						<p id="b_send_to_congress"><a class="btn" href="#" onclick="return do_send();">Send your message to Congress</a></p>
						<div class="address">
							<p><span class="name">Bob Smith</span><br />
								<span class="address1">35 Morningside Dr.</span><br />
								<span class="citystatezip">Jackson, TN 38301</span><br />
								<a href="#" onclick="return working ? false : show_panel(2);">edit address</a>
							</p>
						</div>
						
						<p class="clear error"> </p>
					</div><!-- e: panel_preview -->
					
					
					<div id="panel_share" class="widget_panel" style="display: none">
										
						<h3 class="congrats">Congratulations, we sent your message to Congress!</h3>
						<h4 class="congrats">More information on what happened!</h4>
		
						<div id="social_share">
							<h3>Tell your friends to {{verb}} this bill</h3>
							<ul class="social_share_btns">
								<li><a class="btn social_facebook" href="#" onclick="return do_share('facebook')" title="Facebook">facebook</a></li>
								<li><a class="btn social_twitter" href="#" target="_blank" onclick="return do_share('twitter')" title="Twitter">twitter</a></li>
								<!--<li><a class="btn social_email" href="#" onclick="return do_share('email')" title="Email">email</a></li>-->
								<li><a class="btn social_link" href="#" onclick="return do_share('link')" title="Get a Short URL">get a link</a></li>
							</ul>	
							<div class="clear"> </div>
							<p class="link" style="display: none"></p>
						</div>	
						
						{% for class, text, list in suggestions %}
							{% if list|length > 0 %}
								<h3 class="{{class}}">{{text}}</h3>
								
								{% for bill in list %}
									{% bill_statistics bill as stats %}
									{% with "1" as chart_no_links %}
									{% with "1" as chart_no_clear %}
									{% with "{bg: 'white'}" as chart_opts %}
									{% with "50" as chart_size %}
										{% include "popvox/bill_statistics_pie_simple.html" %}
									{% endwith %}
									{% endwith %}
									{% endwith %}
									{% endwith %}
									
									<p><a href="{{bill.url}}" target="_blank">{{bill.title|truncatewords:12}}</a></p>
									
									<div class="clear"> </div>
								{% endfor %}
							{% endif %}
						{% endfor %}
						
						{% if not ocp %}
						<div class="search">
							<h3>Search bills on POPVOX</h3>
							<p>search by bill number or issue area</p>
							<form id="search" class="form" action="https://www.popvox.com/bills/search" method="get" target="_blank">
								<input name="q" value="" size="25" maxlength="40" type="text"><br />
							</form><div class="clear"> </div>
						</div>
						{% endif %}
						
					</div><!-- e: panel_share -->
					
					<div class="clear"> </div>
				
				</div> <!-- e: panel_holder -->
				
			</div><!-- e: body -->
			
			<div id="widget_foot">
				<p><a href="http://www.popvox.com" target="_blank">powered by <span>popvox.com</span></a></p>
			</div>
			
		</div><!-- e: widget -->
	</div><!-- e: wrap -->
</body>
</html>
